[2017-01-19 19:37] pjedrzejewski commented on #7292
You should be able to paste the configuration (your last YML block) into ``app/config/config.yml`` and it should work. Please let us know if it does not! :) I would also consider renaming the method, because it suggests that return type is results already, while it is a query builder. I'd go with ``createListByChannelQueryBuilder``.

[2017-01-19 21:36] jupiter01 commented on #5392
Maybe I have the wrong idea on how this works, I thought by placing logo.png in mytheme/public it would replace the logo of the enabled theme.

[2017-01-19 21:40] igorjacon commented on #7292
I inserted that code in my app/config/config.yml and it still doesn't work :/

[2017-01-19 21:40] zacbrac commented on #5392
How I got this working was by placing it in `theme_dirAppBundle/public/shop/img`

[2017-01-19 22:09] pjedrzejewski commented on #7291
Yeah, I agree it makes sense to have it in the core. Had this on my list as well, just added it to our JIRA. I have noted that reason why it is not implemented yet is the following: We do not know which channel to use in the e-mail. ;) We could make it a dropdown with all channels (unless there is only 1) and pass the channel code to the controller.

[2017-01-20 08:15] GuillaumeSTEIN commented on #7292
Hi, I'm @igorjacon's coworker,
The issue is that we can't overwrite the driver section of the grid.
In the [documentation](http://docs.sylius.org/en/latest/customization/grid.html), there is example where we can edit the "fields" and "actions" block and it work in our project, but not for the "driver" block.

We think this is a bug.
Let us know if you need more informations.

[2017-01-20 08:42] psihius commented on #7291
@pjedrzejewski or write down the channel user registered from in his profile data. This, actually, can be very useful for marketing people, knowing what channel user came in through.

[2017-01-20 09:13] tuka217 commented on #7268
Hey, should the fields " "availableOn" and "availableUntil" form product be serialized?
Is there any use case for this?

[2017-01-20 09:42] kubrtj commented on #4590
This is not working in my current version of Sylius 1.0 beta. Is there any other solution for this version?

[2017-01-20 09:50] okwinza commented on #4590
@kubrtj request additional memory. 256mb for production is kinda funny.
Note that on php7 sylius uses only about 10-12mb in production mode, meaning that only container rebuilding requires such a vast amount of RAM. This is more symfony-related problem rather than sylius.

[2017-01-20 10:44] tuka217 opened #7298 "[API][RFC] Product availability - should stay or not?"
Hello folks,

does someone know an use case for fields from product: `availableOn` and `availableUntil`? Do they still needed? Maybe we should remove them from Product Model? Or just not serialize in API?

Please, tell me what you think.

[2017-01-20 10:49] okwinza commented on #7298
i'd say we remove it if we want to keep core as generic as possible.
It is quite simple feature overall so it won't be a problem for end-user to re-implement it.

[2017-01-20 11:31] pjedrzejewski commented on #7298
There are two options:

1. Remove them
2. Cover them with proper scenarios and implement this feature, because right now these are only fields, there is no logic assigned to them:

* On product page
* On product index (by taxon)
* Adding to the cart

These 3 places above should be considered when implementing this feature. If anyone is willing to take this task, I'd be grateful and happy to review

[2017-01-20 12:39] gabiudrescu commented on #7298
when I first saw this functionality, I was quite excited about it, but one year later, we never had to use it. so... although I find it interesting, it doesn't bring much value for our company.

[2017-01-20 13:13] lchrusciel opened #7301 "[RFC] [Order] Order item quantity lower than 1"
We are using a data mapper to convert quantity value into order item units. But symfony forms handles validation after mapping data to fields. In current implementation, quantity will never be lower than 1, because if value is negative, `OrderItemQuantityModifier` skips mapping.
The good news: We will never have order item quantity lower than 0
The bad news: If somebody will try to set the quantit

[2017-01-20 17:56] kubrtj commented on #4590
I try install Sylius in producton enviroment on shared webhosting with PHP option memory_limit 128MB, but it ending with Fatal error:  Allowed memory size of 134217728 bytes exhausted

Any idea how to solve it?

`php bin/console sylius:install --env=prod --no-debug
Installing Sylius...

Step 1 of 4. Checking system requirements.
+-----------------------------------------------+----------------+
|

[2017-01-20 18:14] mbabker commented on #7298
Personally, I think they could be useful if implemented right.  Consider:

- You're preparing to launch several products on the shop, using `availableOn` lets you schedule them all to launch at a given time
- You're running a limited time promotion, using `availableOn` and `availableUntil` lets you schedule that product's availability timeframe

They might not be fields that get heavy use, but the

[2017-01-20 20:22] gabiudrescu commented on #7298
@mbabker we are planning to develop at some point the functionality to have different prices availableOn and availableUntil.

basically, [price lists](https://www.orocommerce.com/blog/price-list-management-in-orocommerce). but that's related to pricing, not to product availability.

[2017-01-20 22:06] mbabker opened #7305 "Event Consistency"
So today I'm adding a feature for my app somewhat unrelated to the Sylius inner workings, but part of what I'm doing has me hooking into the various controller events to catch certain activities.  Looking at the base ResourceController, I'm noticing some potential inconsistencies.  Any particular reason for this?  Ideally I'd suggest things be consistent across the board and an event is always dis

[2017-01-21 02:10] okwinza commented on #4590
@kubrtj you need minimum 512MB for Sylius to install and run properly.

[2017-01-21 03:45] isometriks commented on #4590
I have gotten Symfony to run on a shared server once by compiling the container / setting up database locally then pushing the prod cache up to it by SFTP. You can dump your local database and just load the SQL as well. It's not a great solution but worth a try.

[2017-01-21 07:59] Soullivaneuh commented on #3281
This will be very necessary to bounce Sylius functionalities and project usages IMHO.

Did the core team decide of which RFC to choose? @tristanbes thread is already quite complete.

If we have some guidelines, at least an interface, it would be easier to contribute for carriers implementations.

[2017-01-21 10:00] pjedrzejewski commented on #4590
Sylius should be run on VPS or Dedicated Server. You can try Platform.sh (check our demo for config). Shared Hosting will not provide optimal user experience.

[2017-01-21 14:01] videni commented on #7027
@gabiudrescu , What I mean is making  the cart  editable, almost every e-commence site in China , such as taobao.com, JD.com,   customer can edit their cart, he can choose  2 of 3 products in cart  to pay like I described in question.

[2017-01-23 07:14] umutuluer commented on #281
It is my solution, i dont know it is correct but it works.

you can comment the code block

`if (isset($_SERVER['HTTP_CLIENT_IP'])
    || isset($_SERVER['HTTP_X_FORWARDED_FOR'])
    || !(in_array(@$_SERVER['REMOTE_ADDR'], ['127.0.0.1', '::1']) || php_sapi_name() === 'cli-server')
) {
    header('HTTP/1.0 403 Forbidden');
    exit('You are not allowed to access this file. Check '.basename(__FILE__)

[2017-01-23 10:15] lchrusciel opened #7306 "[RFC] Sorting products by price"
On #7272 @Niiko tries to resolve problem with `full_group_by` exception on PostgreSQL and newer version of MySQL. But this solution will introduce a bug or feature(you decide).
The mystical problem is with sorting on database level. Currently, we are sorting based on the first variant. If we add `channelPricing.price` to the `groupBy` clause we will sort on the cheapest/most expensive variant(depe

[2017-01-23 10:28] GuillaumeSTEIN commented on #7292
Hi,
What is the next phase for this ticket ?
Thanks

[2017-01-23 10:32] TheMadeleine commented on #7306
The problem is:
we have set of two products, each having 2 variants:

|   | Variant 1 Price | Variant 2 Price |
|---|---|---|
| **Product 1** | 50$ | 30$ |
| **Product 2** | 20$ | 125$ |

The product should be sorted:
A)
[code]

B)
[code]

[2017-01-23 10:37] lchrusciel commented on #7306
Same as @TheMadeleine with some example:

| Product | Variant | Price |
| ------------- | -------- | -----:|
| Jack Daniel's | Gentleman Jack | $50 |
| Jack Daniel's | Jack Daniel's Old No.7 | $30 |
| Johnnie Walker | Red Label | $20 |
| Johnnie Walker | Blue Label | $125 |

How should they be listed on product list when sorted?
Option A:
The cheapest first:

| Product | Price |
| ----------------

[2017-01-23 10:37] pamil commented on #7306
The first one makes no sense, we shall go with the second one.

[2017-01-23 10:39] lchrusciel commented on #7306
To do it we need a variant resolver that consider not only a product variant list, but also current sorting and channel.

[2017-01-23 10:49] lchrusciel commented on #7292
Isn't it related to #7095?

@GuillaumeSTEIN can you check this [solution](https://github.com/Sylius/Sylius/issues/7095#issuecomment-268904810)?

[2017-01-23 11:02] NeverResponse opened #7309 "[RFC] Non Toggleable Locales"
It seems there's a problem with the `Locale`s resolving that no one saw coming,
and now it bites our butts.

Issue:
=====
If you set a disabled locale as default in a channel, you'll break the whole shop.
Doesn't matter which locale is the customer using atm.

Possible solutions:
==============
Another resolver
-----------------
Which sole purpose of existence will be to fallback to the locale con

[2017-01-23 13:47] c-revillo opened #7314 "Can't add product to cart in a new channel created"
Here are the steps to reproduce this issue:
 - Install sylius-master as usual
 - Create a new channel (i set the code for it to "new_channel")
 - Add a product to this channel
 - Go to your new channel and try to edit that product to your cart.

A exception happens in this case with the following error
[code]

The error happens in the Shipping FlatRate Calculator
[code]

I exposed this in the #sup

[2017-01-23 13:51] lchrusciel commented on #7314
We need to add constraint to shipping method, that will not allow us to turn it on if price for given channel is not defined. Similar to product variant. @c-revillo will you try to fix it?

[2017-01-23 13:52] c-revillo commented on #7314
i'll try, but anyway, shouldn't we check also that "a least a shipping method" needs to be enabled for that channel?

[2017-01-23 14:07] pjedrzejewski commented on #7314
This is my guess, but problem may be in the DefaultShippingMethodProvider/Resolver. If you create a new channel, you need to fill in the shipping rate before enabling that shipping method for given channel. So in theory, it is impossible to get this kind of configuration. I tried it and can't save shipping method without filling the cost for newly added channel.

[2017-01-23 14:13] c-revillo commented on #7314
that's interesting because.. why would i need to add a price for a shipping method in a channel if i don't plan to use that shipping method in that channel?

I mean, by default you have 3 shipping methods, right? you add a channel, and you have not even edited any shipping method to make it available for that new channel... so... the check would need to be something like `at least one shipping met

[2017-01-23 14:14] GuillaumeSTEIN commented on #7292
@lchrusciel,
Thank you for your answer, it helped us.

Our first workaround was to edit the vendor folder.

But now we added this to the AppKernel file
[code]

And created the app/Resources/SyliusAdminBundle/config/grids/product.yml from the original and edited the driver section.

This work but we have to overwrite the entire file. If one day Sylius add new features in this file, we won't have th

[2017-01-23 14:20] GuillaumeSTEIN commented on #7292
We think a nice solution would be to put these values in the same config file that contains the sylius_product section.

We already have something like this :
[code]

If sylius could understand this, it would be awesome :
[code]

[2017-01-23 17:14] lchrusciel commented on #7292
@GuillaumeSTEIN we know, that it is not a proper solution, but should work for now. An original issue is still open, as we are looking for appropriate solution. Anyway, `%app_product_class%` should not be needed ;)

I don't even know how do you want to interpret your ideal config, but we probably won't go this way. You can define method on each action separately.

@pjedrzejewski this one probably

[2017-01-23 17:53] gabiudrescu commented on #7306
@pamil I agree to disagree :)

on our instance, we plan to implement the first option mentioned by @lchrusciel, but the pricing display for the product `Johnnie Walker` would be: from 20$.

if you go for the 2nd one, a product listing becomes actually a product variant listing, which is something you don't necessarily want, especially if you have lots of variants of a product.

imagine you have 10

[2017-01-23 18:11] gabiudrescu commented on #7215
@michalmarcinkowski and @c-revillo  we had that also at elefant.ro, but we solved it in another manner: two different products (not variants, but full parent products) tied together by an table similar to Product Associations. you can see it here:
 - http://www.elefant.ro/carti/fictiune/literatura-de-divertisment/chick-lit-romance/inainte-sa-te-cunosc-338142.html
 - http://www.elefant.ro/ebooks/fi

[2017-01-23 18:24] gabiudrescu commented on #7279
@okwinza I find your RFC written in a very inspiring manner. I mention this because I really mean it and it challenges me. But...

----

I agree to disagree with you. basically, after finishing it my reaction was like [this](https://www.youtube.com/watch?v=kxRX6LXDpWs) :grin: . the workflow described above is very good for digital goods, but not necessarily optimized for offline delivery. we all k

[2017-01-23 18:50] Niiko commented on #7306
I don't think that the behaviour choosen will induct in more products per page, in fact, it will always display 1 product (not matters on variants number), and the sorting will be on variants.

It's just a sorting issue :/

After reading your comment @gabiudrescu, i agree that the first option could be "reasonable" or "intuitive", but it's like when you push the elevator button "down" or "up".

Do

[2017-01-23 18:59] pamil opened #7321 "Switching admin's locale - incorrect scenario implementation"
`behat features/admin/switching_admins_locale.feature` works while `behat features/admin/switching_admins_locale.feature:47` fails with:

[code]

[2017-01-23 21:01] gabiudrescu commented on #7306
@Niiko imagine you have a perfume bottle on the website:
 - one of 50ml - 50€
 - one of 150ml - 100€

you sort by price ascending - cheapest first: you see the (parent) product with 50€ price
you sort by price descending - most expensive first: you see the (same parent) product with 100€ price

this doesn't make much sense for me, as a customer.

and yeah, "from XX€" might sound seducing at first,

[2017-01-24 05:33] okwinza commented on #7279
Much thanks for your feedback @gabiudrescu!

You're right, i really missed something there. And the thing is that we already know the country/city of a user before they even entered the checkout flow. This is done via ip2geo, cookies and some fancy popups asking for your city.

As for companies, this is really can be complicated and IMO it makes sense to have a slightly different flow for them. (

[2017-01-24 10:25] okwinza commented on #7309
+1 for last one.

[2017-01-24 12:35] gabiudrescu commented on #7279
I find the boolean flags breaking single responsibility principle. Why would a class implement two behaviors?

Others think the same:
 - https://phpmd.org/rules/cleancode.html#booleanargumentflag
- https://www.martinfowler.com/bliki/FlagArgument.html

[2017-01-24 12:56] okwinza commented on #7279
The links you've provided are describing boolean flag argument which is obvious violation of SRP, i agree.
Yet i still fail to see the problem in my case. Following your logic we should get rid of every `ToggableTrait` just because it contains a private boolean property.

The only alternative i see is to come up with some `ShipmentMethodConfiguration` class and resolve everything there, but it see

[2017-01-24 13:37] Niiko commented on #7306
@gabiudrescu I think it's also a customer point of view, i disagree a little bit with your example. You can also have a filter by a volume attribute to be more consistent in such case.

For me, it describes more a cheapest/most expensive by volume case (as it can be for price by weight for example). I see often that on supermarket's e-commerces.

I checked on Amazon, and they act like i describe.

[2017-01-25 09:24] jurv commented on #7199
@pjedrzejewski Shouldn't the argument given by @psihius be the one used in the grid's repository argument ? Using the channel's default locale as it currently is implemented leads to translation issues in the shop.

If I change the grid definition to:
[code]

everything works fine, products names and slugs are correctly translated.

I tried to override this in my own config, but as stated in issue

[2017-01-25 10:31] oatto opened #7336 "[Cart] All items is cleared when logging in with facebook"
_Step to produce:_

1. Guest add products to cart.
2. Guest logins with Facebook.
3. All Items in the cart has gone.

[2017-01-25 10:54] pjedrzejewski commented on #7199
@jurv I think you are right, the only problem is that there is no guarantee that products have names filled for these locales, so the products without translations in this locale will skipped. Still, I think that should be default behavior so it is not confusing and everyone can adjust the logic to their use-case when we fix the bug with overriding grid configs.

[2017-01-25 11:55] michalmarcinkowski commented on #7336
The eternal question: a bug or a missing feature? 😄

It's a known behavior. After login the cart is resolved by user and the cart from session is abandoned. To provide a better UX we would need to implement a mechanism to attach cart from session to a currently logged in user under the condition there is no cart already attached.

[2017-01-25 13:05] tchapi opened #7343 "When adding mainTaxon to product, an error appears"
Via the admin, when I add a mainTaxon to a product (I select it in the list), it fails 'This value is not valid' :

![screen shot 2017-01-25 at 14 04 07](https://cloud.githubusercontent.com/assets/1944007/22291533/2c575004-e307-11e6-97d6-415b4cd62363.png)

I'm on PHP 7.0, latest master.
Any ideas ?

[2017-01-26 14:16] stefandoorn commented on #7301
Stumbled into the same when I was trying to add validation on extra properties for the OrderItem entity.

[2017-01-27 09:32] Zales0123 commented on #7215
@gabiudrescu I don't like having too much boolean flags on model as well. However, in this case it's the simplest and most accurate way to provide built-in *virtual products* functionality. Things like **separate shipping method** or **different product variants** are for sure much more manageable, but we could not provide such a functionality as default in Sylius 😕  In this case a boolean flag is

[2017-01-27 09:53] NeverResponse commented on #6984
No matter what configuration i try, still can't reproduce.
Think this can be closed as it seems to be an extreme edge case (if at all).
/cc @michalmarcinkowski

[2017-01-27 10:51] #6984 closed

[2017-01-27 11:01] NeverResponse commented on #6993
Cannot reproduce.
\cc @michalmarcinkowski

[2017-01-27 11:07] #6993 closed

[2017-01-27 11:10] michalmarcinkowski commented on #5905
Fixed.

[2017-01-27 11:10] #5905 closed

[2017-01-27 11:11] michalmarcinkowski commented on #7197
Fixed in https://github.com/Sylius/Sylius/pull/7350, take a look at [the docs](http://docs.sylius.org/en/latest/customization/validation.html).

[2017-01-27 11:11] #7197 closed

[2017-01-27 12:22] michaelzangerle opened #7361 "Errors when adding attributes to products"
I was just playing around a bit with the latest version of Sylius (1.0.0-beta.1) and I discovered two (probably minor) issues when clicking the "add attributes"-button on while editing a product.

**Case 1**
Edit a product that has one or more attributes assigned and select the attributes tab. There just click on the add attributes button and it will produce following error message:

[code]

**Cas

[2017-01-27 13:54] devozanges commented on #7361
Idem for me, when I click on the add attributes button, loader turns ...and nothing happen.

[2017-01-27 16:02] smashou commented on #7343
I just tried it, with the last master, PHP 7.0 and it's working. Do you have more data to test ?

[2017-01-27 17:25] tchapi commented on #7343
I'll test it again asap and keep this issue up to date

[2017-01-27 17:30] c33s commented on #6380
personally i am a big symfony fan and often use it because of its flexibiltiy and the development spirit behind it. for me it stands for tested code, for best practices, quality, automated deployment (CI), having a stage and production server, ....

often i argue against wordpress because of not having this best practices which i find very important but wordpress is always a competitor against sym

[2017-01-27 17:31] c33s commented on #6380
https://github.com/Sylius/Sylius/issues/3720 would also be quite important.

[2017-01-27 18:23] okwinza commented on #6380
@c33s While i agree with you about the need of variant-specific images in core, i'd like to note that sylius is not woo/boo/whatever-commerce plugin or cms. Sylius is a framework, it is not supposed to include everything out of the box.

For example, variant-specific image feature can be implemented in like 1 hour, excluding tests.

Meanwhile, @pjedrzejewski, @michalmarcinkowski any plans on bring

[2017-01-27 21:02] baublet commented on #6380
I think it's ill-advised to feature freeze before adding the ability to associate images with variants in some way in core. Customers will be expecting to switch from something like Magento without much hassle, but if they have to build themselves something so fundamental to an eCommerce platform as variant images, I fear they will look elsewhere.

[2017-01-28 10:18] pjedrzejewski commented on #6380
Hey guys!

@c33s @baublet Thanks for sharing your thoughts! I agree about this feature being basic, even for a framework like Sylius and we will bring it back. I will add it to our backlog and hopefully it lands in master soon.

Regarding Sylius being a drop-in replacement for Woo, well maybe in the future, but the project is currently targeting more custom projects, which can afford to do few cus

[2017-01-28 11:44] psihius commented on #6380
I have to agree with #c33s and @baublet here - I i'd stayed on master-dev instead of beta tag, it would completely break my 2 project that i'm doing and fixing it would be quite problematic due to budget constraints.

Thank you @pjedrzejewski for timely response 👍

[2017-01-30 07:02] PyRowMan opened #7364 "[Resources] Error when overriding form"
Hey guys, i don't really know if it's a bug or just me doing it wrong, but as far as i read about it; it's not a normal behavior :

I'm trying to add a virtual currency to the Currency form by interpreting theses docs to my needs :

http://sylius-try.readthedocs.io/en/latest/bundles/general/overriding_forms.html
http://docs.sylius.org/en/latest/bundles/SyliusResourceBundle/forms.html

After a time

[2017-01-30 08:09] TheMadeleine commented on #7364
Hi.

1. http://docs.sylius.org/en/latest/customization/form.html These are the docs you should be following.
2. You are working with a wrong form type. `SyliusCurrencyBundle\Form\Type\CurrencyType` is the correct one to extend (to write an extension to).

[2017-01-30 08:28] Zales0123 commented on #7361
Both of this bugs should be already fix, check out [this PR](https://github.com/Sylius/Sylius/pull/7012) - now the `BadRequestHttpException` is throw if there is no new attributes passed to ajax action (and therefore no action is performed).

[2017-01-30 08:34] PyRowMan commented on #7364
Hello @TheMadeleine Thank you for your answer :)

I have already tried to make an extension of the currency bundle, but I don't know at all were i should call the extended form and actually how :/

here is the part were i have extended the form :

[code]
[code]

[2017-01-30 08:59] TheMadeleine commented on #7364
And @PyRowMan ? What happens when you do so? (just like above)

[2017-01-30 09:08] PyRowMan commented on #7364
@TheMadeleine Nothing :P

The form dosn't seem to be affected by the extension

[2017-01-30 09:39] michaelzangerle commented on #7361
I just updated my Sylius test project again but still the same error. You can also check it out in the demo project [http://demo.sylius.org/admin](http://demo.sylius.org/admin). It looks a bit different there but still errors ...

First click on the button:
![selection_009](https://cloud.githubusercontent.com/assets/1465587/22418209/49bb82c6-e6d8-11e6-8518-564be2242cca.png)

Second click on the bu

[2017-01-30 13:03] TheMadeleine commented on #7364
Do you render the fields in twig?

[2017-01-30 13:38] PyRowMan commented on #7364
Yes, it is the default currency add form : http://demo.sylius.org/admin/currencies/new

But by digging, I found out that the field was generated automatically with a subscriber event ("PreSetData")

I followed every step of the symfony documentation (since extending a FormType is a symfony task....

But it doesn't work, the class is not interpreted

here is what i tried now :
[code]
[code]

With t

[2017-01-30 14:41] PyRowMan commented on #7364
Thanks to @lchrusciel here is the solution :

Make a whole new CurrencyType Form by doing this :

[code]
Which is using your first CurrencyType Type :

[code]

Then configure it in the services :

[code]

And finaly declare it in your config.yml by doing so :

[code]

[2017-01-30 14:41] #7364 closed

[2017-01-30 16:17] gonzalovilaseca opened #7373 "Error when updating cart from different browser windows"
It's not a common case, but we've had a few, the way to reproduce it in http://demo.sylius.org is:
1) Add any 3 items to cart (`window1`)
2) Open a new browser window and navigate to cart page (`window2`).
3) Go back to `window1`, remove 2 items from cart.
4) Goto `window2`, change any item quantity and save cart, you should get "500 Internal Server Error".

Somehow symfony form transformation get

[2017-01-31 07:37] jrobeson commented on #7260
I think that was done just a few days ago.

[2017-01-31 08:05] michalmarcinkowski commented on #7260
Fixed in https://github.com/Sylius/Sylius/pull/7349

[2017-01-31 08:05] #7260 closed

[2017-01-31 10:21] Pitoune opened #7379 "[ReportBundle] Make it works with Sylius beta version"
I have forked [SyliusReportBundle](https://github.com/Pitoune/SyliusReportBundle) to make it works with Sylius beta version.
I did it quickly so the code is not the cleanest but it works.
Just let me know what you plan to do with this repository and I will be glad to help.

[2017-01-31 10:25] bendavies commented on #7379
same question for the settings bundle, really.

[2017-01-31 10:27] FatalError404 opened #7380 "Shop Register Form with Recaptcha"
Hello,

I follow the documentation to override the customer form type and the customer entity in order to add a recaptcha field.

The recaptcha is based on this bundle https://github.com/excelwebzone/EWZRecaptchaBundle

If we stricly follow the documentation we get a corrupted database, notally during the step 4 here : http://docs.sylius.org/en/latest/customization/model.html

You recommend to use

[2017-01-31 10:37] TheMadeleine commented on #7380
Migrations do not remove data. They reorganize the database structure to meet the new requirements, you have designed. If you modify models, you need to write your own migration, that actually does not touch the existing data.

[2017-01-31 10:48] FatalError404 commented on #7380
Hello TheMadeleine,

here is what we get executing migration:

➜  ann_mon_syl git:(develop) ✗ app/console doctrine:migrations:diff
Generated new migration class to "/data/users/jmo/ann_mon_syl/app/../vendor/sylius/sylius/app/migrations/Version20170131105225.php" from schema differences.
➜  ann_mon_syl git:(develop) ✗ app/console doctrine:migrations:migrate

                    Sylius Migrations

W

[2017-01-31 11:02] TheMadeleine commented on #7380
Okay, We see the problem. The migration you are trying to execute is your own migration you've done with `doctrine:migrations:diff`, true?

Then you need to know that `diff` compares the database with the metadata, in your project it does not have the metadata of **ez** ;)
Therefore to migrate data successfully on production, you need to write your own, custom migration, that will not touch the ez

[2017-01-31 11:08] FatalError404 commented on #7380
TheMadeleine,

What about this ?

 -> DROP TABLE sylius_customer
 -> DROP TABLE sylius_order_comment
 -> DROP TABLE sylius_product_variant_image

Actually, I have already users and orders, this migration impacts sylius model too, and drop customer table!

Anyway, this is not the topic here, the migration issue can be reverted (just recommend to dump database before ;)), the real topic of this issu

[2017-01-31 12:30] FatalError404 commented on #7380
TheMadeleine,

About asking on Stackoverflow, this issue may have impact on sylius core, adding recaptcha property into customer model, in order to "externally" securize customer forms. I guess there are some optimizations to do here:
* select appropriate recaptcha bundle (is EWZRecaptchaBundle  ok for you ?)
* check dependancies through composer processes (define compatible versions and update pa

[2017-01-31 13:55] lchrusciel commented on #7379
Probably [BundleSkeleton](https://github.com/Sylius/BundleSkeleton) and stand alone plugin will be best choice. Do you need any help with that? Probably together with @Zales0123 we would be glad to help.

Anyway, these bundles could be part of https://github.com/friendsofsylius

[2017-01-31 15:37] #7309 closed

[2017-01-31 15:47] mbabker opened #7383 "ResourceBundle's ResourceDeleteSubscriber seems a little over-eager"
Today in one of my projects I was dealing with an error removing an old entity to add a new one and found that the Exception was getting handled by the `ResourceDeleteSubscriber`.  This entity (actually, the entire bundle this code is in) isn't a Sylius resource type so it caught me a little off guard that this event subscriber was handling the event.  Could this subscriber be updated in a way tha

[2017-01-31 16:15] steffenbrem commented on #6051
I would like to address this again, since I saw this is still present. How do you think about making it at least configurable to clear the whole entity manager after loading 10 entities. Right now you cannot hold state between those cycles since entities become detached.

[2017-01-31 16:29] FatalError404 opened #7386 "Shipping Method Translation"
Hello,

# Configuration

I created 3 locales
* fr_FR
* en_GB
* it_IT

I created
* countries
* zones
* translated shipping method

Then I assigned shipping method into default channel

# Result

When I load the page _/shop/checkout/select-shipping_, with locale en_GB, according to the previous page which enables to define zone (shipping method) via selected country, I should read translated shippin

[2017-02-01 08:11] 4oXdev opened #7389 "Problem with get products list by taxon on MySQL 5.7"
When I testing Sylius with mysql 5.7, there is an error in Reports:

request.INFO: Matched route "sylius_shop_product_index". {"route":"sylius_shop_product_index","route_parameters":{"_controller":"sylius.controller.product:indexAction","_sylius":{"template":"@SyliusShop/Product/index.html.twig","grid":"sylius_shop_product"},"slug":"aem-induction","_route":"sylius_shop_product_index"},"request_uri

[2017-02-01 08:26] pamil commented on #7389
What MySQL version are you using?

[2017-02-01 08:26] pjedrzejewski commented on #7383
See #7351. Are you on dev-master or beta1 tag? :) It is solved on master.

[2017-02-01 08:28] 4oXdev commented on #7389
MySQL 5.7.15

[2017-02-01 08:32] c-revillo commented on #7389
We managed to solve this by changing a setting in the my.cnf file like this
[code]

My teammate @belaustegui knows the details better.

[2017-02-01 08:39] 4oXdev commented on #7389
I can turn off only_full_group_by. It is right way?

[2017-02-01 08:59] liverbool opened #7390 "[BUG] TaxonRepository::findNodesTreeSorted duplicate return."
https://github.com/Sylius/Sylius/blob/master/src/Sylius/Bundle/TaxonomyBundle/Doctrine/ORM/TaxonRepository.php#L89

[2017-02-01 09:18] Pitoune opened #7391 "ImageUploader is using wrong method according to ImageInterface"
According to [ImageInterface](https://github.com/Sylius/Sylius/blob/master/src/Sylius/Component/Core/Model/ImageInterface.php#L25) the method `getFile()` returns a `\SplFileInfo`.
But [ImageUploader](https://github.com/Sylius/Sylius/blob/master/src/Sylius/Component/Core/Uploader/ImageUploader.php#L47) is calling method `guessExtension` which does not exist in `\SplFileInfo`.
I guess that what Imag

[2017-02-01 09:28] Pitoune commented on #7379
I have seen that report bundle and report component are already part of https://github.com/friendsofsylius
I am totally OK to make my PR on these repositories. I am just wondering who is gonna read it as the group does not seem very active.

[2017-02-01 10:04] michaelzangerle opened #7393 "Grid option "position" unrecognized"
I just copy and pasted the configuration related to the position of a column in a grid from here http://docs.sylius.org/en/latest/customization/grid.html#how-to-modify-positions-of-fields-filters-and-actions-in-grid but then I get the following error:

[code]

It's also not defined in the configuration tree in GridBundle/DependencyInjection/Configuration.php.

[code]

Did I miss something?

[2017-02-01 12:51] Zales0123 commented on #7379
As @lchrusciel said, it would be wonderful to introduce _ReportBundle_ again (probably as a standalone Sylius plugin, as it definitely won't be implemented back to Core). I've seen that Fosyl organization already has Report component and bundle. Anyway, you can be 100% that wherever you're going to do some effort to make _ReportBundle_ compatible with Sylius, me and @lchrusciel would be glad to he

[2017-02-01 13:11] mbabker commented on #7383
Should be good then.  I was on master but hadn't updated in a few days and hit that issue before updating.  Thanks!

[2017-02-01 13:11] #7383 closed

[2017-02-01 14:57] petrkostelka opened #7395 "No mapping file found named 'Order.orm.xml'"
Hello,
I transfer my project in Sylius from localhost (on localhost work properly) to shared hosting and now on open /web/ show this error.

Any ideas what to do?

Thank you!

`Fatal error: Uncaught Doctrine\Common\Persistence\Mapping\MappingException: No mapping file found named 'Order.orm.xml' for class 'Sylius\Component\Core\Model\Order'. in /data/web/virtuals/153026/virtual/www/concept/sf7prow

[2017-02-01 19:49] tchapi commented on #7343
Still an error on my side and on a coworker side, in various virgin browsers, on the latest master. I don't know how it can work on your side.

The problem is only on the `mainTaxon` field, not on the `productTaxons` field. I've traced down the problem, and I think it is a bug in Sylius in `ProductTypeExtension.php` : the `choice_value` parameter on `mainTaxon` should be `id`, and not `code`, sinc

[2017-02-01 19:51] tchapi commented on #7343
This was introduced here I think : https://github.com/Sylius/Sylius/commit/4df87c99527968df5635ad08a1d6b2892e5a8730#diff-849c08d76f6f2e39a0eb0f5bd21b938aR48

[2017-02-02 10:44] rickmills commented on #549
"We will soon replace that with much simpler interface of our own, so you will be able to fully decouple from Doctrine."

Was this ever completed @pjedrzejewski ? Looking into the feasibility of using Sylius with Laravel and really dont want to have to bring Doctrine in.

[2017-02-02 10:55] pjedrzejewski commented on #549
@rickmills Unfortunately we stick to using ObjectManager interface so you need to add the``doctrine/common`` package, although it contains mostly interfaces, not actual ORM/ODM implementation.

[2017-02-02 13:08] Pitoune commented on #7379
Sounds great !
Thanks guys

[2017-02-02 14:56] starspire opened #7403 "[DOCS] Customizing Factories -> decoration pattern problem"
Hi,
following the [docs](http://docs.sylius.org/en/latest/customization/factory.html) I wanted to customize the ProductFactory. I did everything like in the docs and got an error that parameter 1 of constructor was TranslableFactory not one implementing the ProductFactoryInterface. So I changed my service definition to:
[code]
I decorated `sylius.custom_factory.product` not the` sylius.factory.pro

[2017-02-02 20:47] steffenbrem opened #7405 "[Bug] CoreBundle is dependant on ApiBundle, bug introduced by #7330"
Introduced by https://github.com/Sylius/Sylius/pull/7330, the `CoreBundle` is now coupled to `ApiBundle`. The fixture should only be loaded when the `SyliusApiBundle` is loaded too.

[2017-02-03 07:52] #7405 closed

[2017-02-03 07:53] #5812 closed

[2017-02-03 07:53] #6474 closed

[2017-02-03 08:24] steffenbrem commented on #6051
How about an options like this?

[code]

[2017-02-03 08:32] steffenbrem commented on #6051
Also we could maybe put most of the logic from `AbstractResourceFixture` into a completely separate listener, so that you get all the benefits of a listener. If something like that could be acceptable, that would also be a good implementation IMO.

[2017-02-03 10:36] RomainSanchez opened #7411 "(UIBundle) Missing translations"
Hi there, i have noticed missing `sylius.ui` translation messages here and there like `sylius.ui.set_as_default`.
I was about to make a PR with those but i noticed it is not only missing in french but in other languages as well.

So is there a file where the messages should be added for crowdin to update all languages or something or should i just add translations that i am missing in the messages

[2017-02-03 12:35] steffenbrem opened #7414 "[Bug] Validation for Channel taxCalculationStrategy field is not in a group"
The field `taxCalculationStrategy` of the `Channel` class is not in a validation group, is this intentional?

See: https://github.com/Sylius/Sylius/blob/master/src/Sylius/Bundle/CoreBundle/Resources/config/validation/Channel.xml#L32

[2017-02-03 15:38] #7414 closed

[2017-02-03 21:38] psren opened #7418 "Checkout-Layout duplicates normal layout instead of extending"
Hey there,

i adjusted some meta tags and noticed that it didn't work in the checkout.
```ShopBundle\Checkout\layout.html.twig``` is not extending ```ShopBundle\layout.html.twig``` which leads to duplication.

I'd suggest to use Twigs ```extend``` and override the unnecessary ```block``` tags.
This needs some adjustments in ```ShopBundle\layout.html.twig``` e.g. the topbar and the header are not i

[2017-02-06 09:29] starspire opened #7421 "[API] No oauth route"
Hello, there is probably a bug (or I miss something), because the ouath route dissapeared.
[code]
Response:
[code]

Why has it happened? Is there a posibility to fix that quickly? Because now I cannot use API at all due to lack of authorization.

[2017-02-06 09:50] lchrusciel commented on #7421
It is working for me. And we have tests for it also. Did you import `src/Sylius/Bundle/ApiBundle/Resources/config/routing.yml`?

[2017-02-06 10:26] TheMadeleine commented on #7393
Hi @michaelzangerle, what Sylius version are you on?
This feature is not available in beta-1. Update to `dev-master` :)

[2017-02-06 10:28] #7393 closed

[2017-02-06 10:34] TheMadeleine commented on #7403
Hi @starspire While doing everything like in the docs, where do you get the error? I mean, what are you doing?

Because I can't reproduce :<

[2017-02-06 10:44] TheMadeleine commented on #7411
I'm not sure what's the case here, but see https://crowdin.com/translate/sylius/352/en-fr#q=set_as_default the key you are missing exists. Also in french :)

Probably you are on the beta-1 varsion of Sylius, where that translation was still missing. It's already translated on `dev-master`. :)

Solution: Upgrade ⬆️  :)

[2017-02-06 10:47] #7411 closed

[2017-02-06 11:06] steffenbrem commented on #7389
Yes this is the right way, I use the `TRADITIONAL` sql mode in production myself.

[2017-02-06 12:48] plusdepseudo commented on #5591
Hi,
It would also allow to use ActionVoter to add resource based permission checking !

Best of all would be to modify the interface `AuthorizationCheckerInterface `to be compatible with Symfony's one
exemple:
`public function isGranted(RequestConfiguration $configuration, $permission);`
change to:
`public function isGranted($permission, $object = null);`
would then allow to use `Symfony\Component

[2017-02-06 13:10] ste93cry commented on #5591
I would directly use the `AuthorizationChecker` service to check the permissions by passing the retrieved resource and the permission set in the configuration of the resource

[2017-02-06 13:48] starspire commented on #7421
OK, I found the difference. I had got in `routing.yml` following code:
[code]

So I was importing `routing/main.yml` instead of `routing.yml`. But it was working on beta1 and was broken when I switched to dev-master. And there is nothing about it in `Upgrade.md `. Maybe we should add info about routing imports changes (if I'm right ofc)?

[2017-02-06 14:02] starspire commented on #7403
Hi @TheMadeleine,
I'll try to help you reproduce that - and maybe we will find a mistake in my understanding.
I get the following error:
[code]
When my `services.yml` is looking like yours:
[code]
I get this error even on homepage. When I change `sylius.factory.product` to `sylius.custom_factory.product` everything goes fine:
[code]

My product factory:
[code]

[2017-02-06 14:06] TheMadeleine commented on #7403
And the used version of Sylius is...? :)

[2017-02-06 14:08] lchrusciel commented on #7421
You are right. I have missed it in `UPGRADE.md`. Let's keep it open until someone will update upgrade

[2017-02-06 14:21] starspire commented on #7403
@TheMadeleine, I'm using `dev-master`.

[2017-02-06 14:26] TheMadeleine commented on #7403
Well... So our situation should be exactly the same. And I do not get the error you are describing. I'll update to today's master and see what happens.

One more question (not sure if it actually matters), but where do you define the factory service?

[2017-02-06 14:38] starspire commented on #7403
Lastly I'm doing that in `services.yml`, which is imported **as last** in `config.yml`. Then it should be able to override other service configurations

[2017-02-06 15:24] TheMadeleine commented on #7403
In fact... I have this issue also. :D
@pamil nailed it now :) It's a bug in Sylius. Prioritization problem.

[2017-02-06 15:28] starspire commented on #7403
@TheMadeleine At last :D It's not nice sylius has got a but, but at least we reproduce this :+1:

[2017-02-06 16:13] starspire opened #7427 "[API] Cannot add item to order"
I'm trying add an item to the order via the api method. I used following code (creating an order and listing products work fine):
[code]

Unfortunatelly I get 400 response:
[code]
The  "additional" field is `variant` which is nonsense and when I don't pass him I get 500 from database:
[code]
Is this bug easy to fix? If you need that I'd like to help you with API, but need a bit of guidance then :s

[2017-02-06 17:40] khalidahmada opened #7428 "product_from_taxon.yml"
I try to install Sylius but i have an error after projet installed

"/vendor/sylius/sylius/src/Sylius/Bund
    le/AdminBundle/Resources/config/grids/product_from_taxon.yml"
![capture d ecran 2017-02-06 a 15 57 14](https://cloud.githubusercontent.com/assets/2378611/22658397/d40bb310-ec91-11e6-999d-01ad214f5c69.png)

[2017-02-06 18:21] Itaelle opened #7429 "Why Twig ResourceExtension gone from Beta?"
Hello all! Thanks a lot for making Sylius such an awesome set of bundles! :)

Could you explain the following:
[Sylius Resource v0.19 Twig extension](https://github.com/Sylius/SyliusResourceBundle/tree/v0.19.0/Twig)
[Sylius Resource beta 1 twig extension: sad 404](https://github.com/Sylius/SyliusResourceBundle/tree/v1.0.0-beta.1/Twig)
This Twig extension was removed. I was personally a heavy user

[2017-02-06 19:40] lchrusciel commented on #7427
This feature is in development, you can check a PR with it #7297. Anyway, the API that we are working on is an Admin part. Shop API will be experimental.

[2017-02-07 08:38] leogout opened #7432 "Use DataTransformer in filter (v1.0.0-alpha.1)"
Hi, I am using a custom form type to filter products between a given price range. This form returns a string like `min-max`.
I have a `DoubleRangeToStringTransformer` which, when given `20-200`, returns a DoubleRange object with `$min = 20` and `$max = 200`.
However, this transformer isn't applied when I am in the [apply](https://github.com/Sylius/Sylius/blob/master/src/Sylius/Component/Grid/Filte

[2017-02-07 10:05] psihius commented on #7199
@pjedrzejewski I'm on current dev-master and now it broke the product listing completely, because of

[code]
in sylius/src/Sylius/Bundle/ShopBundle/Resources/config/grids/product.yml

You can't use a default locale for the channel, because it filters out any chance of getting the taxon by a translated string.
But I have an idea - why not use a subquery to find the taxon, and in the parent query se

[2017-02-07 10:08] pjedrzejewski commented on #7428
@khalidahmada Could you tell us more about your env, please? :)

[2017-02-07 10:08] #7427 closed

[2017-02-07 10:09] pjedrzejewski commented on #7418
@psren 👍

[2017-02-07 10:10] pjedrzejewski commented on #7199
@TheMadeleine WDYT about the query above? :)

[2017-02-07 10:13] pjedrzejewski commented on #7395
Hey @petrkostelka! Sylius is not meant to run on a shared hosting, you should use a vps/dedicated server. Can you tell us more about your env tho, maybe it is something simple we can fix.

[2017-02-07 10:18] pjedrzejewski commented on #7432
@leogout Please ask such questions on StackOverflow (remember to show the code of the filter, otherwise we can only guess) or join our Slack: https://slackinvite.me/to/sylius-devs. ;)

[2017-02-07 10:18] #7432 closed

[2017-02-07 10:37] Pitoune commented on #7391
any advice on this ?

[2017-02-07 12:15] pamil commented on #7199
Why won't we just change

[code]

into

[code]

[2017-02-07 12:21] pamil commented on #7428
@khalidahmada it's already fixed in `dev-master`, see #7000 :)

[2017-02-07 12:30] khalidahmada commented on #7428
@pjedrzejewski thank you fo your replay. Ok so i'm on MAC OS El capitan  PHP 5.6.27 Composer version 1.3.0

[2017-02-07 12:39] psihius commented on #7389
This is a change in MySQL, and going forward this will be required to change one or the other way. Otherwise people, who are not able to configure the mysql server itself, will not be able to run Sylius (and for that matter, anything else that has this kind of ORDER BY usage). I read a bit on it, for now I just also reconfigured mysql to run in less strict mode, but this is the new default, and so

[2017-02-07 14:38] pjedrzejewski commented on #7199
Only problem is that will hide products which do not contain translation for current locale. Unless we handle the fallback.

[2017-02-07 15:55] psihius commented on #7199
Well, we have the channel passed to the method anyway, we can pass the context locale code (ot the whole context service) and try the query approach I described earlier.
After thinking it through, I think this is actually a good solution, because if you add a translation, the validation does not allow you to leave fields empty in admin panel. And you cannot add a product without adding anything to

[2017-02-07 16:28] brunocombodo opened #7443 "pre_create & pre_update events are not triggered for product_variant"
Hello,
as I posted on [slack](https://sylius-devs.slack.com/archives/support/p1486479882004478),
it seems that the pre_create  & pre_update events are not triggered for product_variant.
I tested with this service :

[code]
the product trigger the event, but not the product_variant.

[2017-02-07 17:22] gorkalaucirica opened #7446 "ProductTaxon position is lost after editing a product"
Steps to reproduce
-------------------

1. Go to http://demo.sylius.org/admin/products
2. Select a taxon in the left menu
3. Edit product with position 0
4. Save
5. Now product that was at position 0 is the last one

![sylius-bug](https://cloud.githubusercontent.com/assets/1749891/22702823/485bb078-ed62-11e6-9202-f37685769b40.gif)

[2017-02-08 09:58] #7403 closed

[2017-02-08 09:59] pamil commented on #7403
@starspire let me know if it works as expected now :)

[2017-02-08 13:51] psren opened #7455 "[RFC] SonataBlockBundle in Standard-Edition"
Today there was a small discussion in the Slack-Channel (support).

If you want to add a widget or something to the Footer of your page you have to overwrite the template. If you want to make that "extendable" you can use "SonataBlockBundle" and use e.g.

[code]

To render the items at this position. E.g. there is a ```CommentBundle```. To use the comments on the product-page I have to touch the t

[2017-02-08 14:50] pjedrzejewski commented on #7455
Our Shop bundle is meant to be an example and inspiration for your own templates, I am not sure we want to make it as extenable, most of the time you implement your own frontend with Sylius anyway, unless you build a prototype.

This could be useful for admin tho, which is often customized, not overwritten entirely. I will have a look at sonata.

[2017-02-08 15:55] #7418 closed

[2017-02-08 19:46] #7421 closed

[2017-02-08 20:07] psren commented on #7455
@pjedrzejewski it's already used in the "[cms-bundle](https://packagist.org/packages/lakion/sylius-cms-bundle)" so you maybe know already ;-)

I know that, and for sure it's mostly the case. But in some cases you cane use them.
(For example the checkout is nice and can be used as is.)

In other shop systems like Magento/Shopware/whatever it's really common to use a "base theme" instead of reinvent

[2017-02-08 20:51] psren commented on #1685
Duplicated by https://github.com/Sylius/Sylius/issues/5288

[2017-02-08 20:54] psihius commented on #5288
I'd say client is just asking for trouble.
All experience points to the fact that you have to split it into steps, otherwise people just are unable to complete a checkout. Active client experience even, redoing one project majorly because of this - previous developers screwed royally on that part.

[2017-02-08 21:00] psren commented on #7455
Oh, maybe it's related to https://github.com/Sylius/Sylius/issues/2655 because of the "cache layer".
It provides an extra layer for setting the correct response headers (or at least a configurable fallback).

[2017-02-08 21:23] stefandoorn commented on #7455
I think this would be a great extra for Sylius.

In reality I think a lot of people do not want to implement their own front-end 100%. I prefer to use things from the base theme provided with Sylius. E.g. cart in header, base of cart page, checkout, etc.

Next to that, certain functionality would be perfect to share as a Bundle, but would need template integration by the developer integrating. The

[2017-02-09 02:30] jaesung2061 opened #7461 "Use composer-defined vendor directory when checking system requirements."
I have my `vendor` directory outside of my project root for performance reasons in my dev environment. I have the vendor path defined in my composer.json file.

    {
        "config": {
            "bin-dir": "bin",
            "vendor-dir": "/path/outside/project"
        }
    }

I can't install Sylius database because the check fails.

[2017-02-09 08:45] pjedrzejewski commented on #5288
I close this one, because #1685 has more infos. :)

[2017-02-09 08:45] #5288 closed

[2017-02-09 09:21] bruno-ds opened #7463 "OAuth tokens aren't updated on reconnection"
Hello,

OAuth tokens aren't updated on reconnexion,
I've debugged it and will post soon a pull request.

[2017-02-09 09:54] michalmarcinkowski commented on #7443
Probably when editing/creating simple product, @brunocombodo true?

[2017-02-09 09:56] michalmarcinkowski commented on #7428
Please try on `dev-master` branch and reopen if still occurs.

[2017-02-09 09:56] #7428 closed

[2017-02-09 10:01] michalmarcinkowski commented on #7391
@Pitoune is there any drawback of simply using `getExtension()` on `\SplFileInfo`? What is the benefit of `guessExtension()`?

[2017-02-09 16:36] krisElphenor opened #7471 "createReviewerMapping: wrong array key"
When overriding the customer entity mapping, especially the id field. The new value isn't 'seen' by the mapping of the review entity.

For example, let's say, we override the mapping of customer entity and we change 'id' to 'customer_id', we then expect the author_id of the review entity, which references the customer id, to reference the new field 'customer_id'. Unfortunately, that's not the case

[2017-02-10 07:48] starspire commented on #7403
Now, it's working as expected. Good work, @pamil :+1:

[2017-02-10 08:04] jrobeson commented on #4959
Sylius never promised BC back then, and since we're now in 1.x territory, then this bug is now irrelevant.

[2017-02-10 08:04] #4959 closed

[2017-02-10 08:55] pjedrzejewski commented on #7471
@krisElphenor Could you submit a PR with the fix, please? That would be super helpful! :)

[2017-02-10 09:07] michalmarcinkowski commented on #6051
We should definitely make it configurable and if it's easy I would go with per suite configuration, otherwise global is fine too. Regarding refactoring of `AbstractResourceFixture` I would say, go for it in a separate PR, we will discuss it there. /cc @pamil

[2017-02-10 09:10] pierrerigal commented on #1662
@bigfoot90 did you try something with this issue ?

Problem here in France, public price inc VAT (20%) is 0.45€, price can be store as 37 or 38 cents out of tax.

37 is rounded to 0.44€ inc taxes
38 is rounded to 0.46€ inc taxes

Impossible to sell something at 0.45€.

[2017-02-10 11:13] michalmarcinkowski commented on #1662
@pierrerigal if you configure the tax rate to be 20% included in price and set 0.45€ as a price on a product variant then it will work fine.

[2017-02-10 14:23] baublet commented on #917
Bumping this. It would be great if this were supported out of the box.

[2017-02-10 15:54] brunocombodo commented on #7443
sorry, it is my fault, I had suppressed the onHand from the template, but not from the from, oddly, I did not have an error message in the template because the error are shown on the faulty field using semantic-ui pop up, without the field, the error cannot be displayed.

[2017-02-10 15:54] #7443 closed

[2017-02-12 10:42] marmotz commented on #7178
In fact, it's not a feature request, but a bug:

Return the first enabled shipping method does not work if the first shipping method was not in current channel:
error in ajax/cart/add "{code: 500, message: "Notice: Undefined index: xxx"} caused by an undefined index error in Sylius\Component\Core\Shipping\Calculator\FlatRateCalculator:calculate() line 33

As a quick fix, you should add channel in

[2017-02-12 10:46] marmotz commented on #7314
In fact, it's a bug in DefaultShippingMethodResolver::getDefaultShippingMethod():

Return the first enabled shipping method does not work if the first shipping method was not in current channel:
error in ajax/cart/add "{code: 500, message: "Notice: Undefined index: xxx"} caused by an undefined index error in Sylius\Component\Core\Shipping\Calculator\FlatRateCalculator:calculate() line 33

As a qui

[2017-02-12 13:02] michalmarcinkowski commented on #7373
Fixed in #7406.

[2017-02-12 13:02] #7373 closed

[2017-02-12 13:04] michalmarcinkowski commented on #7262
Should be fixed by https://github.com/Sylius/Sylius/pull/7319.

[2017-02-12 13:04] #7262 closed

[2017-02-12 17:24] tisjames commented on #7215
Hello, I was just wondering if this feature will be part of Beta 2?

Some nice ideas in the discussion on alternate ways of approaching shipping for virtual products!

[2017-02-13 08:27] #7215 closed

[2017-02-13 08:52] krisElphenor commented on #7471
@pjedrzejewski Yes, of course !

https://github.com/Sylius/Sylius/pull/7490

[2017-02-13 09:01] bruno-ds opened #7491 "please make possible to inherit from templates instead of overwriting them"
Hello,

Sylius is a great tool, it is so easy to customize it!

One way to make this customisation process more pleasant would be to let us inherit your template and alter only required blocks instead of having to overwrite them.

it would be possible that way (for example)
- fooBarAbstract.html.twig
- fooBar.html.twig

with `fooBarAbstract.html.twig`containig all your current code
and `fooBar.htm

[2017-02-13 09:07] psren commented on #7491
@brunocombodo hey, the description is missing (think by accident).
What is "them"?

[2017-02-13 09:09] brunocombodo commented on #7491
@psren yes, sorry, I miss-types and submited the form too ealry

[2017-02-13 10:04] brunocombodo commented on #7017
please find a little feedback :
## 1 & 2
Whe had a formation by lakion, wee will manage this easily by customizing sylius.

## 3
https://github.com/Sylius/Sylius/pull/7276 solve this, thank you.

## 4
I'm using your doc about *HWIOAuthBundle* plus modifiying sylius in order to force the auth to be made using one oauth provider, it seem to work well, except a bug for whom I made a PR : https://gith

[2017-02-13 11:22] psren commented on #7491
@brunocombodo this is already possible? I did that for example in https://github.com/Sylius/Sylius/pull/7441/files

Sometimes some blocks are missing and you have to overwrite the complete template.
But the functionality is already given.

[2017-02-13 12:27] gorkalaucirica commented on #5694
Related: #7412

[2017-02-13 18:56] rvanlaak commented on #4993
ping @pjedrzejewski  ;)

We're starting on migrating to `moneyphp` now, so would be great to hear about any decision on this topic.

In case Sylius would decide to adopt `moneyphp` that would mean we will not even start looking into other solutions as well.

[2017-02-13 19:06] DmitriyTrt opened #7496 "Adding translations to Sylius entities"
I'm trying to add a translation class to the `Sylius\Component\Addressing\Model\Zone` with some custom fields. In order to achieve it I've added the following to my app/config/config.yml:
[code]
And I get an exception:
[code]

It doesn't seem to be possible due to the configuration tree defined by Addressing bundle without a `translation` child.

Is there a different way to add a translation suppo

[2017-02-13 22:33] mbabker commented on #7446
Possibly related?  Getting this error saving existing products:

[code]

[2017-02-14 06:16] liverbool commented on #7446
Critical Bug!!

[2017-02-14 14:16] pamil opened #7508 "CookieStorage - reduce listeners overhead"
Not a big deal now, but:

 - there is no need to listen for every request - we can get cookies from master request on demand
 - there is no need to listen for every response - we need it only when a cookie was set or removed

Taking a look at `Symfony\Component\Security\Http\Firewall\ContextListener::onKernelResponse` might be helpful.

[2017-02-14 16:53] smashou commented on #917
We have the same problem in our projects but with another constraint which is not loading all variants as there are almost 15000 variants per product.
Do you have any idea of how to do it ? maybe @jurv could git it a try ?

[2017-02-14 17:08] wadjeroudi opened #7509 "Admin tabs error messages"
Hey,

It may seems useless, but I think it's an important enhancement to show which tab have an error to the user.
The problem is that sylius didn't add a "tab manager" to the forms, the tabs are only twig templates.

Maybe we could  add a sonata like tab form management ?
Or a dirty working fix, could be a js solution (check if tab has error messages, if yes show some icon) ?

[2017-02-14 20:09] cirdan opened #7511 "Missing addTaxon method on product"
The doc (http://docs.sylius.org/en/latest/book/products/taxons.html) explains how to add a taxon to a product ($product->addTaxon($taxon))
But the product class doesn't implement this method (and hasn't to, has it doesn't implement TaxonsAwareInterface).
Is this an error in the documentation, or something not yet implemented ?

I tried to add a taxon on a product using ProductTaxon, but how can I

[2017-02-14 21:15] pjedrzejewski commented on #7511
/cc @TheMadeleine :)

[2017-02-14 21:16] pjedrzejewski commented on #917
@smashou Could you tell us more about the product? 15K variants sounds like a lot. Maybe there is a simpler design. :)

[2017-02-14 23:14] tchapi commented on #7343
Up ?

[2017-02-15 00:27] tchapi commented on #7511
Yo have to use `addProductTaxon()` because you're not adding a taxon to a product directly, you're adding a `ProductTaxon` to a `Product`. See `Sylius/Component/Core/Model/Product.php`

[2017-02-15 03:45] videni opened #7512 "can we add query hint to grid ?"
Doctrine query hint gives us a way to change generated sql, we can use this feature to add ACL and ownership check , just as Oro-platform does. this is a  fantastic feature.

[2017-02-15 05:48] cirdan commented on #7511
@tchapi : I agree with that (addProductTaxon is the way to go), and I began to do this, but, in my context, I didn't find the way to avoid the duplication of ProductTaxon when I update the product (I make a regular import of the products from an external source, with a command)
I would be glad to make a PR to correct the documentation, but I don't want to provide a semi-solution :-)

[2017-02-15 07:55] tchapi commented on #7511
There _might_ be a bug then

[2017-02-15 08:11] TheMadeleine commented on #7511
@cirdan Thanks for catching that bug! :) And... waiting for your PR with a fix then :+1:. Ping me if you need any help.

[2017-02-15 08:11] #5694 closed

[2017-02-15 08:28] jurv commented on #917
@pjedrzejewski the products are pieces of furniture that can have different decoration patterns, colors (main color and pattern color, 16 choices for each color), finitions (shiny / matte), positions (against the wall / island), ...

We created these as options for the pieces of furnitures. As there are a lot of options and values for each option, there is a lot of variants... Some products have m

[2017-02-15 08:32] cirdan commented on #7511
Hi @TheMadeleine. I will indeed need some help (not on the doc PR, but on the code before...)
There's need to perform a check around `addProductTaxon()` to avoid duplication. The first path I imagined was to make a query via the repository but there's no ProductTaxonRepository. (And I'm not sure that adding one is the "regular" way)
Maybe can you just point me in the right direction ?

[2017-02-15 08:49] okwinza commented on #7511
Hi @cirdan !
Could you please provide more info on this? Like some code samples to reproduce the bug and so on.
Thanks.

[2017-02-15 09:14] steffenbrem commented on #7511
@cirdan If I understand correctly you just want to check if the `Taxon` on the `ProductTaxon` is unique across existing `ProductTaxons`? In this case, there is no need for a repository. In `Product::hasProductTaxon`, loop over all `productTaxons` and check if those have the taxon. If so, there is no need to add the new `ProductTaxon` and you have prevented duplication! Hope it helps 😄

[2017-02-15 09:16] liverbool commented on #7446
@Sylius, we can't save update product!

ping @pjedrzejewski

[2017-02-15 09:21] okwinza commented on #7511
Or you can just `$product->filterProductTaxonsByTaxon($taxon)`

[2017-02-15 09:46] cirdan commented on #7511
@steffenbrem : If had thought of it (loop over `productTaxons`) but it seemed to me a bit overkill (maybe not for good reasons). I was thinking "this should already be implemented..." :-)
@okwinza : this seems to be a good one.

The following question will be about the duplication thing : is it a general rule that _we don't want to have twice the same taxon on a product_.
I haven't checked why, bu

[2017-02-15 10:37] #7511 closed

[2017-02-15 10:41] pjedrzejewski commented on #7446
@liverbool Fix incoming from @Arminek! :)

[2017-02-15 10:44] Pitoune commented on #7391
According to documentation the method `guessExtension()` determines it thanks to the file MIME type.
I had some issues by simply using `getExtension()` but I did not really figured out why.

[2017-02-15 10:50] pjedrzejewski commented on #917
Product Variants should usually represent what do you have physically in stock, I assume that the furniture is handmade according to the options selected. So you actually need something like https://github.com/Sylius/Sylius/issues/362, which we unfortunately do not support at the moment. That being said, I think you could customize it relatively easily. Let me know what do you think. If you have 1

[2017-02-15 10:55] pjedrzejewski commented on #7391
@Pitoune My first thought was to change the interface, but this couples Core with HttpFoundation from Symfony... So we would need to move the image uploader to CoreBundle, which is ok IMO, wdyt?

[2017-02-15 11:14] Pitoune commented on #7391
@pjedrzejewski it sounds good to me. I am going to work on it to make a pull request.

[2017-02-15 12:19] #3225 closed

[2017-02-15 15:05] Blueblazer172 commented on #281
if you comment that out you are having less security cause then the dev environment would be accessable from anyone who reaches the page. Definitely dont do that! Instead add your ip to the array ['127...', ''YOUR_IP']

[2017-02-15 16:43] brunocombodo commented on #7491
I'm rather new to symfony, so I can make a mistake, but from what I know, if you want to change for example the rendering of the products list in the shop, you have no choice than to create a file `/app/Resources/SyliusShopBundle/views/Product/index.html.twig` that completely overwrite `/vendor/sylius/sylius/src/Sylius/Bundle/ShopBundle/Resources/views/Product/index.html.twig`.

That is because th

[2017-02-16 07:46] alexchuin opened #7527 "Fatal on the homepage (dev-master)"
Hi Guys,

I've updated Sylius from BETA to dev-master.
I have the following error on the Homepage (admin and console is OK):

[code]

Any Idea ?

Thanks !

[2017-02-16 08:32] lchrusciel commented on #7527
did you update FOR RestBundle? Also, did you work on Sylius or Sylius-Standard?

[2017-02-16 08:52] alexchuin commented on #7527
Hi,

FOS RestBundle was updated by this commit:
https://github.com/Sylius/Sylius/commit/defa24759afd5a5857d91af2bfdcc6252589a4b8

I'm using standard edition.

Thanks for your help.

[2017-02-16 09:15] pjedrzejewski commented on #7446
Fixed in #7516, could you confirm @liverbool @gorkalaucirica?

[2017-02-16 09:15] #7446 closed

[2017-02-16 10:31] lchrusciel commented on #7527
@alexchuin can you tell me wich version of Sylius-Standard are you using? It should be fixed after [ aa46d22](https://github.com/Sylius/Sylius-Standard/commit/aa46d22e4b9797c1f60f392e805e84e20e115127)

[2017-02-16 10:49] gagarine commented on #1346
Multi/Single-everything. To be able to cover all scenarios we need multi-store and multi-seller than can be combined with single-store, single-seller. For example, multi-seller can have access to their store (each seller have their own store, like amazon storefront) or to one store but manage their inventory (airbnb). You also want to be able to sell one product on different store (ebay, amazon)..

[2017-02-16 11:01] blacknoir commented on #7389
@psihius fully agree. We are building an e-commerce with 1.0-beta + mysql 5.7 and faced the issue. Years of experience told me clearly, that as more explicit (non 'guessable') and strict behavior the system has in each of its part, more stable and bulletproof it is general. So hoping that Sylius will match the new mysql behavior for the first  release :)

[2017-02-16 11:06] brunocombodo opened #7529 "grid action type links : the customization fail"
Hello,

I'm triing to customize the sylius_admin_product grid.

when I try this :
[code]
and add `{% dump %}` in the `UiBundle/Resources/views/Grid/Action/links.html.twig`, I've got this result :
![image](https://cloud.githubusercontent.com/assets/22890131/23018886/0a5ad13e-f440-11e6-85ed-df4d1ba2e43b.png)

the node `0 => false` under the `option` node represent the yaml `visible: false` => instea

[2017-02-16 12:32] kurakin-oleksandr commented on #7527
Try to add into `./app/config/config.yml`
[code]

[2017-02-16 12:34] pamil commented on #7527
Only this part is required to tackle this issue:

[code]

[2017-02-16 13:58] pjedrzejewski commented on #7527
We confirmed on Slack this ^ fixes the issue, please reopen if still a problem.

[2017-02-16 13:58] #7527 closed

[2017-02-16 15:10] #7095 closed

[2017-02-16 15:24] gorkalaucirica commented on #7079
Related #7530

[2017-02-16 15:33] bpolaszek opened #7536 "[SyliusUiBundle] Decouple from the Sylius stack"
Hello everyone,

Tl;DR:
-----
**SyliusUiBundle** misses a few refactoring steps to be used as a standalone in conjunction with **SyliusResourceBundle** and **SyliusGridBundle**. These 3 bundles could be used in any Symfony project to create a fully-functionnal back office with a modern and responsive user interface in a few steps.

The main point
-----

I'm currently creating a big admin project f

[2017-02-16 16:35] gorkalaucirica commented on #7446
I tried to reproduce the bug in master and it seems fixed. I will keep an eye on it an report back if we see same strange behavior.

Thanks!!!

[2017-02-16 21:20] pearlwithbanana opened #7538 "private $channels field in ShippingMethod model"
I was trying to override the ShippingMethod model to add cashOnDelivery flag but for some reason the $channels field is private and while updating the database I am getting the

error. Am I doing something wrong while overriding the entity?

My new ShippingMethod entity class looks quite simple:

[code]

[2017-02-17 00:00] Zales0123 commented on #7538
What version of **Sylius** do you use? It was fixed in https://github.com/Sylius/Sylius/pull/7109.

[2017-02-17 07:57] pearlwithbanana commented on #7538
The v1.0.0-beta.1 one.

[2017-02-17 08:10] michalmarcinkowski commented on #7538
It's already fixed on master.

[2017-02-17 08:10] #7538 closed

[2017-02-17 08:23] #7509 closed

[2017-02-17 15:49] thiriet commented on #1346
Hi @pjedrzejewski, any news regarding the multi-store / marketplace features?

[2017-02-17 19:00] michalmarcinkowski commented on #605
It is already fixed and covered with Behat scenarios (see https://github.com/Sylius/Sylius/pull/7187/files).

[2017-02-17 19:00] #605 closed

[2017-02-17 19:04] michalmarcinkowski commented on #2270
Fixed already, for crucial API endpoints.

[2017-02-17 19:04] #2270 closed

[2017-02-17 19:18] michalmarcinkowski commented on #3522
Right now we can't set lower than 0 quantity.

[2017-02-17 19:18] #3522 closed

[2017-02-17 19:20] michalmarcinkowski commented on #3896
I think it's not. Please reopen if still relevant.

[2017-02-17 19:20] #3896 closed

[2017-02-17 19:22] michalmarcinkowski commented on #3955
@bendavies is it still an issue?

[2017-02-17 19:23] #4018 closed

[2017-02-17 19:34] michalmarcinkowski commented on #4381
Fixed already.

[2017-02-17 19:34] #4381 closed

[2017-02-17 19:35] michalmarcinkowski commented on #4585
No longer an issue with Sylius.

[2017-02-17 19:35] #4585 closed

[2017-02-17 19:37] michalmarcinkowski commented on #4628
I think it's already resolved. /cc @lchrusciel

[2017-02-17 19:37] #4628 closed

[2017-02-17 19:40] michalmarcinkowski commented on #5171
The issue should be resolved already, please reopen if still relevant.

[2017-02-17 19:40] #5171 closed

[2017-02-17 19:43] michalmarcinkowski commented on #7536
Related issues https://github.com/Sylius/Sylius/issues/5236, https://github.com/Sylius/Sylius/issues/6473.

[2017-02-17 19:44] michalmarcinkowski commented on #5883
@pamil @NeverResponse is it still an issue?

[2017-02-18 13:21] c-revillo commented on #7446
Hello, i still have the error @mbabker has pointed out... is there any other issue for this?

[2017-02-19 16:14] tchapi opened #7551 "[Checkout] Shipping/ShippingTax Adjustments in the cart"
Hi,
Is it possible to have no shipping adjustment (_and no related shipping tax adjustment too_) in the first step of the checkout (cart) ?

It's really confusing for the customers to see a shipping method price when they have not selected any shipping method yet. Hiding the shipping price in the cart _does not work_ since tax is applied to the shipping price, and thus the total tax price is wrong

[2017-02-20 05:09] #5828 closed

[2017-02-20 08:16] alcaeus opened #7553 "[Resource] Forms create resource objects without factories"
I've initially mentioned this in #7547 but wanted to get it out into its own ticket.

When submitting a form with no data given, the forms `empty_data` closure creates the correct data object before setting data. Unfortunately, this means that for all resources implementing `TranslatableInterface`, they won't have a locale injected, which is normally done by the `TranslatableFactory`.

I think the

[2017-02-20 08:18] pjedrzejewski commented on #7553
But it works just fine in the admin UI, you got some issues in the API?

[2017-02-20 08:24] alcaeus commented on #7553
That was quick, thanks!

The issue appears in the product options API, see the following test case: https://github.com/Sylius/Sylius/pull/7547/files#diff-8a036ee49b21796b22c16f8e5017ac28R100

When adding `getValue` as virtual property in the `ProductOptionValue` serializer configuration (see the above PR for an example), this causes an error because the `ProductOptionValue` object was not created

[2017-02-20 09:24] bendavies commented on #3955
@michalmarcinkowski i have never used it, only noticed it was broken when it was fixing the `ORMTranslatableListener`.

Just having a look, `ODMTranslatableListener` isn't currently defined as a service...so yes, it looks broken.

[2017-02-20 09:29] stefandoorn commented on #7455
Another thing that crosses my mind are features like integration of Google Tag Manager. You don't necessarily want to override the full thank you page template, but only insert some stuff in there. If this could be done from an extension without overriding all, that would be great imo.

[2017-02-20 10:32] Zales0123 commented on #7361
@michaelzangerle can you confirm it's still an issue on `dev-master`? I've just checked it on the newest version and it works well for me. On each call it just throws `400 Bad Request`, which is a desired behaviour (as we handle this exception and stop js function).

First call:
![zrzut ekranu 2017-02-20 o 11 29 07](https://cloud.githubusercontent.com/assets/6212718/23121301/23e55d04-f760-11e6-83c

[2017-02-20 12:16] psihius opened #7557 "[ResourceBundle] Pagination override does not work as stated in the docs"
So I was battling the issue that I saw only 10 taxons in the product Taxonomy form in the admin panel and noticed that it paginates it 10 items at a time and ignores the limit=1000 in the URL.
So, I went in to try to override it, and after reading http://docs.sylius.org/en/latest/bundles/SyliusResourceBundle/index_resources.html I set
[code]

And got a 404.
Then I just left the limit: 1000 - still

[2017-02-20 14:19] michalmarcinkowski commented on #7551
@tchapi you can override the `DefaulShippingMethodResolver` and just throw `UnresolvedDefaultShippingMethodException`.  Then it should not assign the default shipping to the cart.

[2017-02-20 14:20] michalmarcinkowski commented on #3955
Ok, thanks!

[2017-02-20 14:32] psihius commented on #7199
Well, scratch my previous hint on CASE WHEN - that actually does not work with WHERE - it filters out languages if taxon slug is different in all languages, maybe it will work with having, but I found it easier just do a subquery like this.
What I actually came to right now and that works correctly for taxons, is this
[code]
Same, probably, goes for every translatable entity.

Maybe, actually, we

[2017-02-20 16:59] stefandoorn commented on #7491
I think this would make templating + upgrading way easier. Now we need to overwrite a full template, but it would be great just to use some extends and not break everything when an upgrade has to be performed. I also walked into this problem trying to adjust the main layout. The only solution it to fully overwrite it as far as I see, with the current set-up.

[2017-02-20 18:56] tchapi commented on #7551
Ok thanks, I'll try that asap !

[2017-02-20 20:06] tchapi commented on #7551
Is the following correct ? It looks like my custom resolver is never called, maybe I skipped a step :

[code]

[code]

Thanks again !

[2017-02-21 03:46] michalmarcinkowski commented on #7551
Try this definition:
[code]

[2017-02-21 07:45] tchapi commented on #7551
Yeah, works better with you fix, but then It prevents me from selecting the shipping method later in the checkout process. Ultimately, this seems the correct way to do :

[code]

With

[code]

[2017-02-21 08:10] mozzymoz opened #7562 "How to setup a test database?"
Hello there,

I just made a fresh install of Sylius without any modifications and ran `bin/console sylius:install --env=dev` which worked fine, however when I run it for the test environment I get the following errors:

[code]

After a bit of trying around I found that there is a custom driver configured in the `config_test.yml`.
Removing that driver results in the install to run through fine.

No

[2017-02-21 08:16] Zales0123 commented on #7562
`config_test.yml` is a file that is crucial for **test** environment. To run Behat tests you need to have test database configured. It **cannot** be the same database as for **dev** as it's purged after every scenario (to have all scenarios tested on proper data).
To create test database you just need to run `bin/console doctrine:database:create --env=test` and create its schema with `bin/console

[2017-02-21 08:23] mozzymoz commented on #7562
I am aware that dev and test databases should be different.
This does not solve my problem

[2017-02-21 08:28] mozzymoz commented on #7562
Thanks, running the commands with doctrine worked.
However I am still curious to as why there is a custom driver defined in the `config_test.yml`

I think you also missunderstood my problem description, I am not setting up a test database with the dev environment; I was setting up a dev environment and a test environment, no a test environment with the dev database.

[2017-02-21 10:42] BenoitLeveque opened #7565 "no style and js error after a new install of sylius"
I've followed the installation guide from [https://github.com/Sylius/Sylius#installation](https://github.com/Sylius/Sylius#installation). Sylius run by using `server:run`

When i go to the homepage, i get a page with no style (style are loaded in 200).
I got javascript error in this page

[code]

I tried using the latest beta version and the dev-master version

[2017-02-21 10:46] TheMadeleine commented on #7565
Hi @BenoitLeveque. Are you sure you have followed **ALL** the steps from the installation guide? Because your assets are not installed (with ``gulp``).

[2017-02-21 10:56] BenoitLeveque commented on #7565
here is what i've done (history and console output) : https://gist.github.com/BenoitLeveque/422f344d1ccaea0f4b1d3ade090dd240

here is what i get when i open my browser

![capture d ecran 2017-02-21 a 11 54 22](https://cloud.githubusercontent.com/assets/242870/23162013/a8f449c0-f82c-11e6-9080-dcc6f3b676c1.png)

So i think you have an issue in your installation process...

[2017-02-21 11:07] TheMadeleine commented on #7565
I am quite sure we do not have an issue, just in the README `gulp` is done before `sylius:install`, and these two commands write to the same directories, what causes your error. At least in the docs, it is okay. Do it the way it is described in the article I've linked and you will have everything working. :)

[2017-02-21 11:15] BenoitLeveque commented on #7565
still the same issue by following this page : http://docs.sylius.org/en/latest/book/installation/installation.html

I think the issue is related to my version of node (7.5 the latest)

[2017-02-21 11:43] TheMadeleine commented on #7565
I've got Node version 4.1.2, no issues. I'll update and see what happens.

[2017-02-21 12:06] michaelzangerle commented on #7361
@Zales0123 Yes I still get the same error on dev-master for this request

[code]

Stack trace:

[code]

I just saw that you have another symfony version in you screenshots than me so here are my composer dependencies.

[code]

[2017-02-21 12:43] pjedrzejewski commented on #7343
@Arminek This and #6859 are fixed, right?

[2017-02-21 12:49] lchrusciel commented on #7553
@alcaeus As I told you before, we should not use virtual properties on translatable properties, just expose all translations. Current locale and fallback locales are not stored in the database, so it is not a problem to create `ProductOptionValues` and persist them without these values. The problem that you have encountered appears because `getName` and `getValue` requires these values if no argum

[2017-02-21 12:55] alcaeus commented on #7553
Thanks for your reply, Łukasz. "Persist and reload the object from the database" is not a solution, it's a workaround, especially if it's not something I can't control. In this case, the form creates an object and returns it, I don't expect to have to reload it from the database in order to be able to fully use it. After all, the [Sylius docs on creating resources](http://docs.sylius.org/en/latest

[2017-02-21 12:58] Arminek commented on #7343
yes, it is fixed.

[2017-02-21 14:01] lchrusciel commented on #7553
@alcaeus, of course, you are right. The problem didn't raise earlier because for most of the cases we are providing a properly created object to form factory(which is more convenient) and for the rest of objects, that are translatable and created within the collection(which is rare) we actually do the persist and reload(save and redirect). What I am saying is that it is pretty late for this change

[2017-02-21 14:22] #7565 closed

[2017-02-21 14:26] pamil commented on #7565
This should not be closed, it happens for every Node version because of unlocked dependencies in NPM, kind of critical though :)

[2017-02-21 14:29] BenoitLeveque commented on #7565
@pjedrzejewski that's a real issue, i can't use your project without a proper fix

[2017-02-21 14:30] TheMadeleine commented on #7565
@BenoitLeveque - downgrading your node should help for now. But please reopen this issue.

[2017-02-21 14:32] BenoitLeveque commented on #7565
i can't reopen it, doesn't have the button in github :(

[2017-02-21 14:47] pamil commented on #7565
@BenoitLeveque can you tell if solution given in #7569 works for you?

[2017-02-21 15:01] BenoitLeveque commented on #7565
@pamil yes, with your PR, everything work fine for me

[2017-02-21 15:15] pamil commented on #7553
IMHO we can replace `$dataClass` from the constructor definition with `FactoryInterface $factory`. `data_class` option can be computed by `get_class($factory->createNew())` and then `empty_data` option will be a closure using that factory.

But is it a quite big BC break though.

[2017-02-21 15:25] alcaeus commented on #7553
Yes, the BC break is the issue. Of course, this could be avoided by making the factory optional (while still specifying them for every default resource), but that could still cause issues for users.

Another downside of not using factories is that the forms (e.g. the `ProductOptionValueType`) will disregard any changes to the resource class. Overriding the `ProductOptionValue` class in the resourc

[2017-02-21 15:44] #7306 closed

[2017-02-21 15:46] #7343 closed

[2017-02-21 15:46] #6859 closed

[2017-02-21 17:23] kurakin-oleksandr opened #7570 "Payment method issue"
I have an issue with payment method (admin page is broken). Looks like table `sylius_gateway_config` should be filled in with some data and it does not. What should be there?
It happened after merging PR https://github.com/Sylius/Sylius/pull/7237

[2017-02-21 17:25] stefandoorn opened #7571 "Semantic.min.js missing from semantic-ui-css:2.2.8"
Today we ran into some issues with the Semantic JS minified file not loading and therefore breaking JS functionality on the basic shop. It seems that in the last release of Semantic UI CSS ('css only' split) (2.2.8) the minified file got left out, which is breaking things:

https://github.com/Semantic-Org/Semantic-UI-CSS/commit/b6e97c923ab35886b93af0b2d65f93aea3bcc57f

Either we can limit it curre

[2017-02-21 17:37] stefandoorn commented on #7571
From their repository: https://github.com/Semantic-Org/Semantic-UI-CSS/issues/29

[2017-02-21 18:23] pjedrzejewski commented on #7570
/cc @Zales0123

[2017-02-21 19:20] jlukic commented on #7571
I'll fix this later tonight

[2017-02-21 22:26] mbabker commented on #7570
If you create a stub record with at least the `factory_name` (looks like it should match the Payum factory name, i.e. `paypal_express_checkout`) and the `gateway_name` (this can be anything I think, I didn't see any validation it has to match a pattern but the code makes it a "code" version of the method's translated name) that'll get you in and you'll just have to configure the gateway fresh thro

[2017-02-21 23:24] tchapi commented on #7570
It still needs to make its way into the UPGRADE file to avoid frustration ....

[2017-02-22 03:36] michalmarcinkowski commented on #7212
The cart is recalculated on each refresh and through the whole checkout process. Right now if the order has changed just before we placed it, we will display a flash message that something changed and the customer will be able to review the order once again before placing. We are not be able to place an invalid order anymore, so I assume this can be closed.

[2017-02-22 07:40] Zales0123 commented on #7570
It for sure should be in `UPGRADE.md` file 👍  @mbabker are you willing to open a pull request about it? Or should I do it?

[2017-02-22 08:01] DylanGD commented on #7565
Got the same issue following the readme.

**Solved** with :
`yarn install
yarn run gulp`

Thanks guys !

[2017-02-22 10:35] #6999 closed

[2017-02-22 13:38] mbabker commented on #7570
If there's a better upgrade path than "go into the database and add these stubs then edit your existing methods to reintegrate the data" then someone else should probably write it, that was the working solution I came up with for myself yesterday 😄

[2017-02-22 14:45] #7231 closed

[2017-02-22 14:45] #7314 closed

[2017-02-22 16:36] psren opened #7579 "Can't override Channel-Model from AppBundle"
Hey there. I'm not quite sure if this is a bug in the code, a bug in the [Documentation](http://docs.sylius.org/en/latest/customization/model.html) or I failed :-D

I want to override Channel from my app.

I created an entity

[code]

Then i places my mapping-file

[code]

Location-Model and Mapping exists, but I leave that out here because I don't think it's relevant for this issue.

Following th

[2017-02-22 17:00] pamil commented on #7579
It looks like you forgot the third instruction from that documentation.

[2017-02-22 17:48] psren commented on #7579
Oh damn, i had a typo in it. Sorry for the hassle!

[2017-02-22 17:48] #7579 closed

[2017-02-22 19:11] #5883 closed

[2017-02-22 20:16] psren opened #7580 "Combined buttons look strange with translations"
Some languages have longer words for "or", for example the german "oder" looks strange in the buttons in the Admin-UI.

Possibly there are other languages with even longer words.

![bildschirmfoto 2017-02-22 um 21 13 49](https://cloud.githubusercontent.com/assets/1016798/23230411/1992009c-f944-11e6-9a72-db8c0215ed0c.png)

[2017-02-23 04:34] inssein opened #7581 "[CoreBundle] Cannot be used without ApiBundle"
`CoreBundle\Resources\config\app\config.yml` contains:
[code]

The `sylius.normalizer.camel_keys` service is defined by ApiBundle.

Edit: Whoops, just saw a PR that will fix this (https://github.com/Sylius/Sylius/pull/7556). Will keep ticket open until PR is merged.

[2017-02-23 07:34] inssein opened #7582 "[PayumBundle] Gateway Config"
I've been looking at gateway configuration so far, and now that it is web based, it is way less powerful, and I don't know if overriding each of the Form type's and adding the information in the Admin UI is necessarily the right way to go.

For example, for Stripe Checkout, I override two main parameters: `payum.template.obtain_token` (to customize look and feel) and `payum.action.convert_payment`

[2017-02-23 08:17] pjedrzejewski commented on #7582
/cc @Zales0123 Can you have a look? Maybe we should go with the select for these templates, choices populated via parameter.

[2017-02-23 08:18] #7581 closed

[2017-02-23 09:29] gorkalaucirica opened #7584 "PromotionProcessor should take into account previously applied promotions"
Don't now if this is a bug or expected feature.

**Steps to reproduce**
1. Create two promotions, a 50% discount coupon (priority 1) and a free shipping (priority 0) only for orders over 60€
2. Go to shop and add two items with a total amount of 70€
3. Apply the coupon to get 50% discount
4. See the order total is 35€
5. See that you get free shipping (customer should be charged shipping)

**The i

[2017-02-23 10:39] DmitriyTrt opened #7585 "Using nested sets for taxons sorting"
The nested sets are useful when you're retrieving the whole tree as a flat list (to show the tree in a paginated result, give it to the frontend via API, etc), but it appears that current implementation uses Sortable doctrine extension (`position` field) even for children sorting. It means we can't manage order of taxons in the tree, as nodes place in the tree doesn't change when you move taxon th

[2017-02-23 12:13] GSadee commented on #7529
I have no idea why we have `visible` property under `options` in `SyliusUiBundle:Grid/Action:links.html.twig`, because we don't have this in our docs. Instead of this, we have a property `enabled` for fields, filters and actions in grid (http://docs.sylius.org/en/latest/customization/grid.html#how-to-remove-an-action-from-a-grid).

However, I have noticed that it doesn't work with main actions, so

[2017-02-23 13:16] stefandoorn commented on #7571
Works again!

[2017-02-23 13:16] #7571 closed

[2017-02-23 15:41] rmNyro opened #7597 "Unable to display the list of root taxons"
Hi everyone,

I need to display the list of taxons ([or is it taxonomies ?](http://guides.spreecommerce.org/user/configuring_taxonomies.html)) on the site's homepage we're building.

[According to the doc](http://docs.sylius.org/en/latest/cookbook/taxons-menu.html) : "The findChildrenAsTreeByRootCode method of TaxonRepository takes either a code or null. If the code is null it returns the whole tr

[2017-02-23 15:56] #7529 closed

[2017-02-23 17:53] Pitoune opened #7599 "[Payment-Stripe] How to create Stripe Customer on payment ?"
I am looking for a clean way to create a stripe customer and store its token when doing a payment on stripe.

So far, I have overridden the [CapturePaymentAction](https://github.com/Sylius/Sylius/blob/master/src/Sylius/Bundle/PayumBundle/Action/CapturePaymentAction.php#L62) that way:
[code]

Now I am gonna override [UpdatePaymentStateExtension](https://github.com/Sylius/Sylius/blob/master/src/Syli

[2017-02-23 20:39] tchapi commented on #7582
This is really blocking and is really is less powerful. Why did this configuration go in the UI in the first place ? Another problem is that now administrators can easily wreak havoc if they fiddle with the values in the backend, whereas before the payment configuration was far safer as it was out of reach for admin users to modify..

[2017-02-23 20:42] tchapi commented on #7582
And more : a password stored **in plain text** in the DB ... I mean, really guys ?

[2017-02-23 22:33] pjedrzejewski commented on #7582
@tchapi You are right and I really appreciate the feedback you are giving us, but your demanding attitude is really demotivating, at least to me. So, when you some good idea or remark (and seems like you do), please put in a bit nicer form or even better, a PR. Thanks.

@makasim What do you think about security issue raised here, with the GatewayConfig?

[2017-02-23 22:44] inssein commented on #7582
@pjedrzejewski I was thinking about the security implications, and I do think its a serious issue. Currently I have an encrypted vault (like credstash) that un-encrypts secrets and puts them in the environment.

I think at the very least, we can use the symfony secret, and at least password encrypt the sensitive information in the database.

Furthermore, we also have to figure out how we can provi

[2017-02-23 22:57] tchapi commented on #7582
@pjedrzejewski I'm trying, but understand that sometimes all the BC breaks are really demotivating too, on our side. It's hard to keep up with the project - don't forget we don't have the full view like you have on the master plan for the Sylius releases, just a few blog posts; and the breaking PRs come, and we try our best to accomodate our code so that we can get the bug fixes and still use Syli

[2017-02-24 08:11] Zales0123 commented on #7582
@inssein Thank you very much for your feedback, it's really helpful :) Yes, managing payment gateways in UI is a big change, the main reason for that was to allow administrator to configure multiple paypal/stripe/etc. accounts for gateways without the need to change a code. We'll definitely process about them and consider your suggestions to make this feature as much useful and secure as it can be

[2017-02-24 11:23] #2776 closed

[2017-02-24 12:36] #7471 closed

[2017-02-24 13:08] davidangel commented on #6696
I would like to take a shot at addressing this issue. Do we think truncating the product title with an ellipsis?

While we're on the topic, I kind of expected the product title to link to the product admin page, instead of the storefront's detail page. Should this behavior be changed?

[2017-02-24 13:54] brunocombodo opened #7605 "[Sylius/Sylius-Standard] autoload psr-4 in composer.json"
Hello,

I'm using `Sylius/Sylius-Standard`,

I'm new to symfony & composer, so I spent a lot of time figuring out why my custom bundles wasn't autoloaded, this reason is because in the [composer.json](https://github.com/Sylius/Sylius-Standard/blob/master/composer.json) of `Sylius/Sylius-Standard`, the autoload section is :
[code]
I think it should have a `"": "src/"` like this :
[code]

or even :

[2017-02-24 14:02] pjedrzejewski commented on #7605
@brunocombodo Can you open this issue on Sylius-Standard, please? Thanks!

[2017-02-24 14:03] pjedrzejewski commented on #6696
@davidangel +1 for truncating it and displaying a full name in title of the link. Regarding the link itself, it should point to the admin page, especially that our admin should be decoupled from shop, so its a bug if that's the case. :)

[2017-02-24 16:06] davidangel commented on #7188
@krisElphenor – I'm unable to reproduce this problem. Is it still an issue? If so, can tell me what OS/Browser versions you've experienced this on?

[2017-02-25 09:58] #6696 closed

[2017-02-26 14:40] pamil commented on #7605
It will affect the Composer autoloader performance (without dumped classmap) - looking for class `Symfony\Foo` it would check `src/Symfony/Foo.php` first and then `vendor/symfony/symfony/src/Symfony/Foo.php`.

However it is the way Symfony-Standard handles it, so we might want to do the same in order to be more similar to them.

[2017-02-26 16:14] Mrkisha opened #7620 "All beta bundles require version 1"
I'm trying to add TaxationBundle beta1 version, how ever composer throws errors because TaxationBundle require other components to be ver 1.

Is there a way to install this bundle without changing other components?

[2017-02-27 01:31] wughvor opened #7622 "Command "doctrine:generate:entity" is not defined."
Hi, when I follow the install steps to create project on local dev, (base on vagrant homestead environment), I get the error message:
   [InvalidArgumentException]
    The XML file "/home/vagrant/Code/symfony_project/acme/vendor/sylius/sylius/                                                              src/Sylius/Bundle/MoneyBundle/DependencyInjection/../Resources/config/servi

[2017-02-27 02:40] #7622 closed

[2017-02-27 02:51] thailandjerry opened #7623 "Create administrator in command line would lost username field"
When I have created database in production env. I should create administraor in command line.

input:

`$ php bin/console sylius:install:setup `

output:

[code]

The username field lost, so I cannot log into backend dashboard.

Please confirm. Thanks a lot.

Jerry Song from KL Malaysia.

[2017-02-27 07:27] Zales0123 commented on #7623
Have you tried to log in with your email (admin@modain.com) as it's used as username?

[2017-02-27 07:53] thailandjerry commented on #7623
Yes, I tried it. But failure also.

[2017-02-27 08:12] TheMadeleine commented on #7623
But why?

While installing Sylius, when you do not provide your administrator data, the default account will be created.

And what do you mean by failure?

[2017-02-27 08:16] brunocombodo commented on #7605
@pjedrzejewski : done => https://github.com/Sylius/Sylius-Standard/issues/163

[2017-02-27 08:16] #7605 closed

[2017-02-27 10:29] thailandjerry commented on #7623
I means that is failure if I login with admin email and password.

[2017-02-27 10:36] Zales0123 commented on #7623
Could you please provide any more information? Maybe some stack trace or screenshoots?

[2017-02-27 11:54] thailandjerry commented on #7623
`jerry@jerry-Latitude-E6510 ~/Code/BvShop $ php bin/console sylius:install --env=prod
Installing Sylius...

Step 1 of 4. Checking system requirements.
Success! Your system can run Sylius properly.

Step 2 of 4. Setting up the database.
Creating Sylius database for environment prod.
It appears that your database already exists. Would you like to reset it? (y/N) y
 5/5 [||||||||||||||||||||||||||||]

[2017-02-28 03:10] inssein opened #7631 "[ResourceBundle] Events"
Just opening up this issue to keep track of this feature request which was initially proposed in the sylius-dev slack channel.

Currently there is no way to hook into the ResourceBundle to keep track of certain things. For example, lets say I wanted to keep track of abandoned carts that were cleared up through the `ExpiredCartRemover`. There is currently no way of doing it.

The discussion on slac

[2017-02-28 08:05] TheMadeleine commented on #7623
I think we can close this @pjedrzejewski, @michalmarcinkowski :)

[2017-02-28 08:58] kurakin-oleksandr opened #7634 "[API] Customer info"
How can I get current customer info (ID) using API?
My use case:
I should display customer's orders, current path is `/api/v1/customers/{id}/orders`.
Customer logins and gets bearer token, but how can I get customer ID?

[2017-02-28 10:33] #7623 closed

[2017-02-28 11:08] #7634 closed

[2017-02-28 19:44] alcaeus commented on #7553
@pamil @pjedrzejewski @lchrusciel any suggestions on how to proceed? It would be good if we could solve this without a BC break. I can work on it, I just need an indication on the solution you'd prefer.

[2017-03-01 16:41] inssein commented on #7582
@Zales0123 any updates?

By the way I was mistaken above, the `sandbox` variable should definitely not be defined in code, but be an option in the GatewayConfig for PayPal. That said, we do need to find a way to merge certain code-based configuration overrides (for templates, actions, etc) with what comes out of the database.

As for the security issue, I read the code for Payum's dynamic registry

[2017-03-02 12:02] makasim commented on #7582
I am not sure I understand the enc problem .

Why these values have to be encrypted?
What can an attacker do with them?

Maybe I miss something.

No need to overwrite DynamicRegistry. It is possible to provide a "custom" storage for gateway configs (which could be a decorator for real one) which takes care of encryption stuff.

[2017-03-02 12:04] pjedrzejewski commented on #7582
@makasim If he knows paypal credentials of your merchant account, he can charge on your behalf, am I right? :/

[2017-03-02 12:05] makasim commented on #7582
@pjedrzejewski but money goes to your merchant account. What's the point?

[2017-03-02 12:07] makasim commented on #7582
One case that I see for one is possibility to "hack" notification process. If you know the secret you can sign a exploite request with the correct hash. That's why Payum uses token for every payment.
As long as you use them you are safe even if the secret is stolen.

[2017-03-02 12:08] makasim commented on #7582
Also if an attacker was able to get into your database it is most likely he has an access to your code and can edit it, and can get secret data there. or from parameters.yml if it is stored there.

[2017-03-02 12:18] pjedrzejewski commented on #7582
@inssein WDYT? @makasim Do you know if other eCommerce solutions encrypt these? I recall some do.

[2017-03-02 12:21] psihius opened #7654 "FOS\RestBundle exception on payment capture"
Git dev-master commit: b01c34a3fc1a835404ff849e6ebf6d725797f6d6

After adding a custom gateway in the admin panel, on payment capture I get an error when using this gateway. It does not look like it even gets to my custom payment bundle and errors out way earlier

[code]

Form Type for admin panel looks like this:
[code]

Service registration
[code]

[2017-03-02 12:40] psihius commented on #7654
No, looks like this is something related to the gateway implementation - PayPal gateway works fine.

Here is my gateway factory file.
Do I need to somehow register somewhere the gateways in the config or not in a new system?
The bundle is registered in the KernelApp.php, the only thing I added to configs is the  sylius.form.type.gateway_configuration.transactpro registration

[code]

[2017-03-02 12:44] makasim commented on #7582
JMSPaymentBundle does it.

[2017-03-02 13:41] lasotaartur opened #7655 "Change local in shop don't work"
Steps to reproduce

1. Add locale in Configuration -> Locales in admin
2. Select old and new locale in channel in Configuration -> Channels -> Edit (first one) -> Locales in admin
3. Change default locale to new locale in shop - default locale is still selected

I tested it on dev-master

[2017-03-02 13:58] pjedrzejewski commented on #7655
I swear I was playing with the app today and it worked just fine. :/

[2017-03-02 14:00] pamil commented on #7655
I just have checked it out and I couldn't reproduce it.

[2017-03-02 14:22] psihius commented on #7654
Close the issue, this was related to gateway configuration. You are still required to add the factory configuration for the Payum to the app/config/config.yml and src/AppBundle/services.yml
Maybe it's a good idea to add this to the docs to the section about adding a custom gateway

config.yml
[code]

services.yml
[code]

[2017-03-02 14:47] pjedrzejewski commented on #7654
@TheMadeleine I think we should mention this in the docs, hm? About Gateways, which do not have bridge available. And refer to the extension development guide, so that such bridges can be created. :)

[2017-03-02 16:41] inssein commented on #7582
@makasim I don't think its true to say that if an attacker has access to your database, they have access to your files. A lot of the recent data breaches are all related to getting access to your database through other means (SQL Injection, finding a backup at rest that is not encrypted, etc). I think the encryption would be worth while, especially since its a fairly low effort task.

As for what

[2017-03-02 16:46] makasim commented on #7582
@inssein Your arguments makes sense to me. It would be good to have such storage in Payum.

[2017-03-02 17:31] samanmohamadi opened #7658 "index route throws Rout Not Found Exception"
I created a resource named article and  added a route for  indexing articles in frontend:
[code]
Route is visible in debug:
[code]

But when I visit **/articles** I get This :

changing path from /articles to anything else (like /articles1) works without problem.
[code]

[2017-03-02 18:50] pjedrzejewski commented on #7658
I think it has to do with the ``/`` at the end of the path you tried to access.

[2017-03-02 18:54] samanmohamadi commented on #7658
Thanks @pjedrzejewski Adding the `/` to end of the path solved the problem.
[code]

[2017-03-02 18:54] #7658 closed

[2017-03-03 08:37] pjedrzejewski opened #7661 "Document promotion rule/action configurations"
We need:

1. Example of creating a promotion rule/action programmatically.
2. Reference of all configurations available for both rules & actions.

[2017-03-03 09:37] lasotaartur commented on #7655
It works. :)

[2017-03-03 10:38] michalmarcinkowski commented on #7655
Closing then 😉

[2017-03-03 10:38] #7655 closed

[2017-03-03 15:05] anned20 opened #7671 "How to get inventory from API"
Our use case is very specific. We need to get the data from a live API called TecDoc.

This API sends us data about car parts and fitments. We then need to order that part via TecCom.

So the inventory has to be from TecDoc and all orders have to be send to TecCom.

Now we kinda figured out how to get our orders to TecCom but have no clue on how to get the data from TecDoc in our inventory.

The f

[2017-03-03 16:39] RomainSanchez opened #7672 "AddressChoiceType hardcoded 'customer'"
In `AddressChoiceType.php` the call to retrieve addresses is made with `$this->addressRepository->findBy(['customer' => $options['customer']]);`

This hardcoded 'customer' relation prevents from replacing Sylius' Customer and address entities as the relationship is forced to be called customer.

If it was `$this->addressRepository->findByCustomer($options['customer']);`   we could easily replace t

[2017-03-03 17:16] paullla opened #7673 "[QUESTION]One step checkout without summary page"
Hi,

Is it possible to make one page checkout with state machines? I managed to link address, shipping and payment, but can't skip summary page where user places order. Is it possible to go directly to thank you page after user populates all order data?

This is state machine I made with 2 steps, and I would like to skip 'complete' step:
[code]

[2017-03-03 19:47] Cathmor opened #7674 "Sylius install"
Hi! Really excited to use Sylius!
I'm running through the sylius-standard install just like in download page on the site and I ran into a db error.

It is not creating all of the columns for table sylius_channel. When I look at the xml in the channel bundle it's columns that it's trying to find are missing. Am I missing some xml or is doctrine not combining xml files?

One thing of note, I'm on ms

[2017-03-03 22:41] pjedrzejewski commented on #7674
Hi @Cathmor! We never tested Sylius with mssql. Can you maybe post here part of the sql that ``doctrine:schema:create --dump-sql`` generates? (part with sylius_channel table) That would give us some hint perhaps, thanks!

[2017-03-03 22:45] pjedrzejewski commented on #7672
@RomainSanchez Makes sense to me, I will be happy to merge such PR! 👍

[2017-03-04 02:06] thailandjerry opened #7676 "How to config PayPal payment pro on sylius?"
Excuse me, If someone could tell me how to add PayPal payment pro as a payment method.

Thanks.

[2017-03-04 04:13] okwinza commented on #7673
In fact, you don't quite need the state machine in your case. I'd recommend implementing your custom `CheckoutController` and resolve everything there.

[2017-03-04 19:50] Cathmor commented on #7674
I can when I get a chance to run an new install in a day or two. I think I hacked and edited too many xml files to be able to give you accurate troubleshooting info.

But after some editing I was able to get the shop and admin up and running and there is 1 MAJOR issue with mssql compatibility. There are several cascade on delete that may cause cycles or multiple cascade paths in mssql and will not

[2017-03-04 20:29] langladed opened #7678 "change url"
Hello
I configured Sylius with the url localhost and I try using this with aws.
I would like to use the public dns of the instance (and not localhost).
Unfortunetly I don't find where and how change this url.
Could you please help me ?
Thanks

[2017-03-04 20:45] langladed commented on #7678
ok sorry i just understand php bin/console server:start [url here]

[2017-03-04 20:45] #7678 closed

[2017-03-06 08:09] lchrusciel commented on #7673
Or if you decide to keep state machine it should be enough to remove `order_populated` and make a transition directly from `cart` state to the `completed` state. Because if I understand you correctly, you just want to skip `order_populated` (so middle step, where one will confirm the data) rather than `complete` which will create an order from the cart.

[2017-03-06 11:00] maxthev opened #7684 "ProductBundle Installation Problem"
Hi !

I'm trying to use Sylius OrderBundle and ProductBundle in a project and I encounter a problem when  I install ProductBundle :

[code]

I tried adding LocaleBundle in AppKernel.php like this:

[code]

And i got :

[code]

So i tried adding the parameter in config.yml:

[code]

and this time i got :

[code]

Here I am, i really don't know what to do to resolve this problem. Thank you in advanc

[2017-03-06 11:08] TheMadeleine commented on #7684
What versions of these bundles are you using? :)

[2017-03-06 11:11] maxthev commented on #7684
I use dev-master versions (the last stable versions 0.19.0 are for Symfony 2.8 ...)

[code]

[2017-03-06 12:32] TheMadeleine commented on #7684
First of all, I am pretty sure you do not need this part:

[code]
in your config.

But you can try adding:

[code]

[2017-03-06 13:01] maxthev commented on #7684
Same issue :

[code]

I also found this thread but it didn't help me:

https://github.com/Sylius/Sylius/issues/6125

[2017-03-06 13:02] #7672 closed

[2017-03-06 13:03] #7654 closed

[2017-03-06 13:38] RomainSanchez opened #7687 "No Symfony 2.8 support"
Hi again, i was trying to update sylius to dev-master to take advantage of the changes of #7683 but composer says sylius requires Symfony 3.2.
Sylius doesn't support 2.8 anymore?

[2017-03-06 13:54] psihius opened #7689 "[Shipping methods] [Discussion] Introducing "Shipping Provider""
Moving discussion here because Slack is not the best medium for a thoughtful discussion including lots of people and long reads 👍

Basic idea: Introduce a "Carrier" or "Shipping Provider".
Reason: Many shipping providers are international and you can use a single shipping provider to ship across half of the world (or in my case - across the whole EU).
Problem: Because for each shipping method adde

[2017-03-06 14:07] okwinza commented on #7687
AFAIK Sylius moved to symfony 3.x since beta.
Could you link the commit hash from which you're trying to update?

[2017-03-06 14:09] RomainSanchez commented on #7687
https://github.com/Sylius/Sylius/commit/983966a6b7fa491ccf218477c6fba8e654ade3d1

[2017-03-06 14:17] okwinza commented on #7687
Well, the thing is that composer.json was updated in november in https://github.com/Sylius/Sylius/commit/eaeaf3d3b8ad7271f4e89e2c35d472bf34ad5714 so if you are trying to do a rebase in a project with earlier revision of sylius' master branch - it will fail.

Otherwise it wouldn't be an issue.

[2017-03-06 14:19] okwinza commented on #7687
So you have to be compatible with that composer version restriction somehow.

[2017-03-06 14:20] RomainSanchez commented on #7687
Couldn't you make a tag of the last commit alowing 2.8 ?

[2017-03-06 14:24] okwinza commented on #7687
You're looking for this one: https://github.com/Sylius/Sylius/releases/tag/v1.0.0-alpha.2

[2017-03-06 14:26] RomainSanchez commented on #7687
Thanks

[2017-03-06 14:32] RomainSanchez commented on #7687
And would it be possible to cherry-pick https://github.com/Sylius/Sylius/commit/983966a6b7fa491ccf218477c6fba8e654ade3d1 into alpha 2 ?

[2017-03-06 14:40] okwinza commented on #7687
IMO i don't think it makes sense to support both 2.8 and 3.x at this point.
/cc @michalmarcinkowski

[2017-03-06 14:51] pamil commented on #7687
We already use features introduced in Symfony 3.1 & 3.2, so it won't be easy.

[2017-03-06 14:58] okwinza commented on #7687
@pamil in theory, we could maintain a second branch based on that alpha2 tag and backport  things from master from time to time but it would really weird.

[2017-03-06 15:06] lchrusciel commented on #7687
@okwinza @pamil eZ community wants to maintain a version of Sylius with Symfony2.8 compatibility, but I don't know what is the state of that.

[2017-03-06 15:24] RomainSanchez commented on #7687
@okwinza that's what i had in mind

[2017-03-06 15:45] pjedrzejewski commented on #7687
Let's continue discussions here: https://github.com/pjedrzejewski/SyliusSymfony28. We do not officially support it, so it's up to the community.

[2017-03-06 15:45] #7687 closed

[2017-03-06 15:48] #7661 closed

[2017-03-06 16:08] Cathmor commented on #7674
Hi, after a couple of installs from composer and running `sylius:install` a couple times (on empty dbs) and `doctrine:schema:create --dump-sql` to look at what was running I was unable to recreate my original issue of missing columns. Must have been something I've done or and issue with my db. Sorry for the false alarm.

[2017-03-06 16:08] #7674 closed

[2017-03-06 17:10] antonioperic commented on #7673
@Ichrusciel yes, but you will still need to confirm form to get redirected to thank you page, as complete step creates order, gives you token then redirects you to payment step and redirect back to thankyou

@pjedrzejewski what is your suggestion?

[2017-03-07 07:40] lchrusciel commented on #7673
If I understand you correctly, you want to display an address step(maybe with some additional fields) and then go straight to the `thankyou` page. If so, you can use this POC:

[code]

[code]

[code]

Of course, it doesn't solve all problems and I didn't add any shipping or payment related fields, but it works.

[2017-03-07 08:52] lchrusciel opened #7694 "[Promotion] Bug with nulling the priority"
Steps to reproduce:
[code]
Instead of notification the `HTTP 500 Error` is thrown.

The question is how should it be fixed. Not null validation on a field? But during creation null is a valid value... Do you have any idea?

[2017-03-07 09:16] tuka217 opened #7696 "[API][ProductAttribute] ProductAttribute (select) with numbers as values"
Hello,
if we want to create a product with productAttribute type select we must pass the value of selected option. Now it is the number of the value and it is little misleading. During creating of product the proper config for attribute looks that:
![screen shot 2017-03-07 at 10 11 18](https://cloud.githubusercontent.com/assets/8963048/23649372/8726e5f8-031e-11e7-8104-407c8fc329fc.png)
Also the de

[2017-03-07 10:50] GSadee commented on #7361
I've also just checked it on the newest master and it works well for me.

[2017-03-07 13:33] DmitriyTrt opened #7699 "Removed images aren't deleted from the filesystem"
How to reproduce:
- Upload an image to taxon or product
- Delete it through admin UI without adding any replacement

The file will still be there, while the DB record is deleted properly. It's important to not upload a replacement, because otherwise the file is removed properly. There is a chance we broke something with customizations, but I can't see the code in Sylius responsible for such a file

[2017-03-07 14:14] DmitriyTrt opened #7700 "Default order confirmation e-mail is coupled with the Shop bundle"
Turning off the Shop bundle makes the "create" order transition to fail with an exception:

I guess Core template shouldn't use the route from the Shop bundle.

[2017-03-07 16:45] pjedrzejewski commented on #7700
Yes, the template should be in ShopBundle, and seems like the listener and everything related too.

[2017-03-07 16:47] #7361 closed

[2017-03-07 16:47] pjedrzejewski commented on #7361
Please reopen if still an issue.

[2017-03-07 16:49] #7232 closed

[2017-03-07 16:49] pjedrzejewski commented on #7674
@Cathmor Thanks for closing the issue!

[2017-03-08 08:11] maxthev commented on #7684
Still no solution for this problem, does someone have an idea ?

[2017-03-08 09:23] ascameron1 commented on #5623
Am i missing something in the test_config? Cannot see where to specify the factory.

[2017-03-08 09:30] Zales0123 commented on #5623
@ascameron1 there was some changes since closing this issue, now payment's gateways configuration is managed in Admin panel - see https://github.com/Sylius/Sylius/pull/7237

[2017-03-08 09:33] ascameron1 commented on #5623
Ahhh Ok... thank you and ill take a look :)

[2017-03-08 10:26] lchrusciel commented on #7684
@maxthev the last version with support for Symfony 2.8 is [alpha2](https://github.com/Sylius/Sylius/releases/tag/v1.0.0-alpha.2) release. Can you check which one do you use?
Can you try with locale 'fr_FR'?
[code]

But probably without XDebug you won't be able to resolve this issue. We need to know which contexts are available and why they are failing.

[2017-03-08 10:28] lchrusciel commented on #7673
Can we close this one? Anyway, this one could be moved to SO /cc @paullla @antonioperic @pjedrzejewski @michalmarcinkowski

[2017-03-08 10:49] paullla commented on #7673
Yes, we used custom OrderController, and it worked great. Thank you.

[2017-03-08 11:02] #7673 closed

[2017-03-08 12:50] gorkalaucirica opened #7707 "Cannot retry payment due to out of stock due to my own order"
**Steps to reproduce**

1. Add to cart a product variant with 1 unit left on stock
2. Proceed to checkout and select Paypal for example, as a payment method
3. Cancel paypal payment and return to order show page
4. Retry with paypal.
5. Get "Product does not have sufficient stock" error

**Investigation**

We see that after checkout is completed that product is marked as "onHold" and therefore is

[2017-03-08 12:58] gorkalaucirica opened #7708 "Payment events are not triggered"
In the [payment events docs](http://docs.sylius.org/en/latest/book/orders/payments.html#payment-complete-events) there are two events mentioned `sylius.payment.pre_complete` and `sylius.payment.post_complete` but even we are listening to them they are never triggered.

Didn't find anything in the code about them and I guess they are triggered somehow inside thee ResourceBundle.

Don't now if the i

[2017-03-08 14:35] pamil commented on #7562
@mozzymoz the custom driver is only used for performance reasons (to avoid connecting with database on every scenario)

[2017-03-08 14:41] psihius commented on #7707
Second this, it would be great if this could be handled, as I have this exact requirement from a client :) We planned just to cancel the previous orders, but this would make it way easier and more appropriate.

[2017-03-08 19:56] zdenektopic opened #7712 "Inventory - suppliers stock"
It would be nice if Inventory component would also support supplier stock keeping information so we can show information to the user that the product can be shipped in 3 days or something like that.

[2017-03-08 21:44] MichaelMackus commented on #4791
:+1: for a CartManager-esque service like @nakashu says. In my experience, the ItemResolver has always been a pain point in Sylius - although I know its since been removed since Alpha. But it would still be nice to have a service that we can call add/remove/update on without worrying about all the infrastructure-level details.

[2017-03-08 23:22] mozzymoz commented on #7562
This kind of makes sense, thank you for clarification :)

[2017-03-08 23:22] #7562 closed

[2017-03-09 12:07] #7700 closed

[2017-03-09 12:10] pjedrzejewski commented on #7712
Sounds like a good idea, although it will need to wait for 1.1. :)

[2017-03-09 12:10] #4506 closed

[2017-03-09 12:12] pjedrzejewski commented on #7708
It's bug with the docs. The events like these are used for actions taken directly by user via UI/API. What is your use case? Maybe you should use state machine's callbacks?

[2017-03-09 12:20] zdenektopic opened #7714 "SyliusThemeBundle - setting theme per request, not for whole application"
Hello guys,

I was thinking of running Sylius under reactphp webserver for performance, I already know it is possible with plain Symfony SE (https://gnugat.github.io/2016/04/13/super-speed-sf-react-php.html).

However I need to implement ThemeContextInterface service in a way that returns the Theme based on request which I am not sure how to do since it has just simple getter method. Setting reque

[2017-03-09 12:22] zdenektopic commented on #7712
Great, also this would have effect in orders as orders would have shipping state of something like "waiting for stock/product/supplier"

[2017-03-09 12:36] gorkalaucirica commented on #7708
Yes, we were using the state machine in beta1 to send an email when payment was completed. But after updated to master we thought the best practice was to use event listeners to send emails (see order listeners).

We will rollback that, thanks @pjedrzejewski!!!

I will keep this issue open as I guess some action needs to be taken in docs. Feel fee to close when you consider

[2017-03-09 12:41] zdenektopic commented on #7707
Wouldnt it be better to put stock unit onHold right when order status changes to "new"? You dont need to worry about stock units after that - its doesnt matter how user is going to pay, you are sure and the user is sure that the product is reserved for him.

[2017-03-09 12:43] zdenektopic commented on #7689
👍 I second this, same issue here

[2017-03-09 12:52] jeroendesloovere commented on #5803
Hi @DanPhyxius any news about a braintree Bundle for Sylius?

[2017-03-09 12:57] pamil commented on #7714
I don't know if I understood correctly, but you can inject Symfony's `RequestStack` to your custom `ThemeContextInterface` implementation and then resolve the theme based on request retrieved by `$this->requestStack->getMasterRequest()`.

[2017-03-09 14:34] pjedrzejewski commented on #7708
@gorkalaucirica Wait wait, don't rollback it yet! You are right, this even should be called in admin, on the order summary. So it's a bug on our side. And it would be correct to use an listener to send out an e-mail there. The problem with sending e-mail on state machine callbacks is that while callback will work, then can be exception later, before the flush. So the e-mail will go to spool and go

[2017-03-09 14:53] gorkalaucirica commented on #6380
Closed by #7530

[2017-03-09 14:53] #6380 closed

[2017-03-09 14:59] zdenektopic commented on #7714
Well `RequestStack` is also service isnt it? It means it is stateful, if i have more master requests processing concurrently it will mess with it, probably.

[2017-03-09 15:20] maxthev commented on #7684
@lchrusciel Hi, i'm using Symfony 3.2 with ProductBundle dev-master/1.0.x-dev.

The parameter change nothing.

For the rest, it's juste a fresh 3.2 Symfony with Sylius OrderBundle and ProductBundle installation, nothing more. It's a new "from scratch" project.

[2017-03-09 17:46] DanPhyxius commented on #5803
Hi @jeroendesloovere,

we integrated BT without a real bundle but with a custom service in our platform, so not actually used a braintree bundle! :)

[2017-03-09 19:58] DmitriyTrt commented on #3855
I got a similar issue on current Sylius v1.0.0-beta.1, it's even reproducible on a demo website.

Steps to reproduce on a demo website:
- Make a new root taxon.
- Add root child 1
- Add root child 2
- Add child of the child 1
- Delete child 1

Child 2 is also deleted.

We also got a messed up tree on the test website, but I can't reproduce it yet. This is a quite critical issue, as it results in u

[2017-03-10 09:52] pjedrzejewski commented on #7671
Hi Anne!

So, you basically need to load products from external system into Sylius? You can do that in many ways, use Sylius API to create them from a separate app, which consumes TecCom API. Or you can create some Symfony commands, that will load data from TecCom API and create products programmatically. (have a look at docs and fixture's code)

[2017-03-10 09:53] pjedrzejewski commented on #7676
@thailandjerry There is no PayPal Payment Pro support in the core itself, although it a good idea for a plugin. :)

[2017-03-10 09:53] ascameron1 opened #7728 "PayPap express checkout working out of the box"
Ive done a new installation of the project using the documentation provided.

I am trying to set a new PayPal payment method using the cookbook documentation [Here](http://docs.sylius.org/en/latest/cookbook/paypal.html).

When trying to access the route provided, i am getting the error:

No route found for "GET /admin/payment-methods/new/paypal_express_checkout"

Also, there is no PayPal gateway w

[2017-03-10 10:00] TheMadeleine commented on #7728
What version of Sylius are you using @ascameron1 ?

[2017-03-10 10:02] ascameron1 commented on #7728
Hi @TheMadeleine

sylius/sylius-standard (v1.0.0-beta.1)

[2017-03-10 10:03] TheMadeleine commented on #7728
Is it possible for you to upgrade to `dev-master`?

[2017-03-10 10:03] pjedrzejewski commented on #7631
We have added events to the expired cart remover. These events are used for UI/API operations performed by user/client. If you want to be certain that things happen on delete/persist/update, you should use doctrine orm events. There is no other way. :)

[2017-03-10 10:03] #7631 closed

[2017-03-10 10:05] #6466 closed

[2017-03-10 10:05] pjedrzejewski commented on #6466
Fixed.

[2017-03-10 10:06] ascameron1 commented on #7728
I could try yes. I do that by updating my composer.json file? Currently I'm set to;

`"require": {
        "php": ">=5.5.9",
        "sylius/sylius": "^0.18@dev",
        "sensio/generator-bundle": "^2.3",
        "sensio/distribution-bundle": "^3.0"
}`

Thank you

[2017-03-10 10:09] TheMadeleine commented on #7728
Yes, exactly. you need to change the `"sylius/sylius": "^0.18@dev"` to `"sylius/sylius": "dev-master"`, make sure your min stablility is dev `"minimum-stability": "dev"`,
an then run `composer update sylius/sylius --with-dependencies` :)

[2017-03-10 10:09] #955 closed

[2017-03-10 10:11] pjedrzejewski opened #7729 "Rework the UPGRADE file"
Some of the upgrade file notes are CHANGELOG and this is something we generate. We should have something similar to: https://github.com/symfony/symfony/blob/master/UPGRADE-3.0.md With before/after for everything.

[2017-03-10 10:18] pjedrzejewski opened #7730 "Rename ApiBundle to RestApiBundle / AdminApiBundle?"
Hi!

This has been following me for a long time and seems like it is last minute to do this. Sylius currently provide RESTful API for the most important entities and operations, like checkout & cart. That being said, they are done as AdminUser, not the Customer. So it is an Admin API.

I plan to introduce a ShopAPI that will provide a different type of API, suitable for SPAs & mobile devices, etc.

[2017-03-10 10:33] ascameron1 commented on #7728
Hey,

Sorry for the delay, run into a couple of issue during update but sorted them now.... and it has worked. Thank you for taking time to answer my questions. I really appreciate it 👍 .

[2017-03-10 10:40] maxthev commented on #7684
Ok I think it work now. I reinstalled all Sylius bundles with "^1.0@beta" instead of "dev-master".
After this, i had to remove

[code]

from the AppKernel.php

[2017-03-10 10:50] TheMadeleine commented on #7728
@ascameron1 Is it working then? Can we close the issue? :)

[2017-03-10 10:50] psihius commented on #7728
I updated recently to the new gateway management and it worked flawlessly for PayPal for me without any issues 👍

[2017-03-10 10:53] ascameron1 commented on #7728
@TheMadeleine Yes this is working... thank you for all your help.

[2017-03-10 10:53] #7728 closed

[2017-03-10 11:00] #6484 closed

[2017-03-10 11:22] psihius opened #7732 "Checkout Form Extensions: constraints/validation looks like is not fired / ignored"
Here is a minimal use-case that shows that it does not work.

- Get a fresh sylius install with dev-master or apply to existing project that does not have any modification to Address components
- Create file `src/AppBundle/Form/Extension/AddressTypeExtension.php` and copy contents bellow into it

[code]
- Add to `src/AppBundle/Resources/config/services.yml` configuration
[code]
- Place a product i

[2017-03-10 14:43] #7684 closed

[2017-03-10 14:58] maxthev opened #7734 "HowTo - Use OrderBundle and ProductBundle together ?"
Hi,

I now have a Symfony 3.2 with Sylius OrderBundle and ProductBundle, but i don't understand how to make them work together.

I mean, i can create orders with orderitems, but how do i "link" this with a product ?

In the documentation of OrderBundle, there is this paragraph :

But there is no "setVariant" function/setter in the OrderItem class or OrderItemInterface.

I have the feeling that I m

[2017-03-10 15:03] kurakin-oleksandr commented on #7730
I vote for `AdminApiBundle`

[2017-03-10 18:43] crevillo opened #7735 "Variant name lost when editing the product"
Hi. Strange thing when editing a product with only one variant. Here are the steps to reproduce this issue.
 - Do a fresh sylius install
 - go to admin and go the product list
 - find a product with only one variant
 - list variants of that product, take note of the name of the variant
 - edit and save the product
 - go to the list of variants of the product

You'll see the variant name has change

[2017-03-10 21:28] anned20 commented on #7671
Well the problem is not loading the data in the database. It's way too much data to store. They have to be fetched in realtime.

[2017-03-11 09:38] leogout opened #7736 "[ResourceBundle] (beta.1) Class "form" is not configured for resource "my.resource"."
Hi, I got this error on a fresh install of ResourceBundle beta.1 with a resource configured like the following :
[code]
As you can see, I didn't configured the form:default field, as in Alpha.1 the [DefaultFormbuilder](https://github.com/Sylius/Sylius/blob/v1.0.0-alpha.2/src/Sylius/Bundle/ResourceBundle/Doctrine/ORM/Form/Builder/DefaultFormBuilder.php) should have guessed what to do. I can't see t

[2017-03-11 10:39] okwinza commented on #7671
The Sylius core won't suit for that usecase you've decribed. I advice you to come up with your own solution based on standalone Sylius Bundles.

[2017-03-11 12:46] plozmun commented on #7735
Name variant is not mandatory. It takes from product name if it not set. Maybe a placeholder with product name in blank field could be a good solution

[2017-03-11 12:47] crevillo commented on #7735
hola :). Yeah, is not mandatory, but question is why it gets lost once you edit the product. it should be maintained i think. it's maintained when you have more than one variant.

[2017-03-11 12:55] plozmun commented on #7735
It's true, if there is one variant the name change

[2017-03-11 14:41] plozmun commented on #7735
This is cause because it is a Simple Product. You can prevent this adding
`$form->get('variant')->remove('name');`
after this https://github.com/Sylius/Sylius/blob/master/src/Sylius/Bundle/ProductBundle/Form/EventSubscriber/SimpleProductSubscriber.php#L51-L56

[2017-03-11 14:54] crevillo commented on #7735
great!.

[2017-03-12 19:27] pjedrzejewski commented on #7732
Well, that's because:

1. required => true is merely an indication for the html rendered.
2. We use ``sylius`` validation group, so that ``NotBlank`` from your second example would work only if you add it with ``validation_groups => ['sylius']``.

[2017-03-13 07:34] Zales0123 commented on #7730
If we want to indicate the separateness of `Admin*` and `Shop*` APIs concepts, then `AdminApiBundle` is the best choice 👍

[2017-03-13 07:39] Zales0123 commented on #7734
Hello @maxthev!

I think it's a small problem with documentation. `setVariant` method is introduced in `Core`, as it couples `OrderBundle` with `ProductBundle`. If you use them as separate components (not with *Sylius* as a whole application), you'll probably need to introduce some of functionality by your own. The thing is, `OrderBundle` cannot contain product-related functionality because of bun

[2017-03-13 08:19] DmitriyTrt opened #7739 "Product info template of the Admin bundle is coupled wih the Shop bundle"
The `AdminBundle/Resources/views/Product/_info.html.twig` template references `sylius_shop_product_show` route, which breaks the order administration page while Shop bundle is disabled.

[2017-03-13 08:23] Zales0123 commented on #7739
Which version of *Sylius* do you use? I believe it's fixed after https://github.com/Sylius/Sylius/commit/0334d78c05721799dcc24f2bac8cbe5b1f6ca5a0

[2017-03-13 08:31] DmitriyTrt commented on #7739
Sorry, haven't checked the latest code. You're right, should be fixed already.

[2017-03-13 08:31] #7739 closed

[2017-03-13 08:38] lchrusciel commented on #7736
We had to remove this class to bring Symfony3 support in Beta1, but it has been brought back in #7185. You can use current dev-master to use it or wait for Beta2 which should be released in a few days. The docs are up-to-date.

[2017-03-13 08:41] leogout commented on #7736
Okay, my bad... Thanks for your time !

[2017-03-13 08:41] #7736 closed

[2017-03-13 08:43] lchrusciel commented on #7730
`AdminApiBundle` + 1

[2017-03-13 09:06] psihius commented on #7732
@pjedrzejewski adding the validation_group does not help, I forgot to add this to the initial report.
It still does not validate and allows to go through.

[code]

[2017-03-13 11:00] bruno-ds opened #7741 "CompositeCartContext : cart is empty after login"
Hello,

the ̀Sylius\Component\Order\Context\CompositeCartContext ̀ handles the fact that multiple cart candidate may exists.
If
- you are not logued in and have a cart with items
- have an empty cart in the database associated with your login

once you log in, the (empty) cart stored in the database  has a priority higher and you loss your cart.
I see two solutions :
- change the priorities => I'd

[2017-03-13 14:55] psihius commented on #7732
Okay, I think I figured it out. It's a bit more complex than just making a new form - you actually have to combine the http://docs.sylius.org/en/latest/customization/form.html and http://docs.sylius.org/en/latest/customization/validation.html - I think you can't even define constraints in the form extension - you have to go the config file way, and that's kind'a a blocker for dynamic validation wh

[2017-03-13 21:48] #7730 closed

[2017-03-14 05:11] ardani opened #7752 "Missing Attribute on Products API list"
i try sylius product API but i see missing object on list API
but when i call Product API details attribute fine
![screenshot at mar 14 12-04-53](https://cloud.githubusercontent.com/assets/2499777/23886661/332e211e-08af-11e7-8e4b-8ec6c3f3170c.png)

any solution for that
thanks

[2017-03-14 06:01] inssein commented on #7582
@pjedrzejewski @Zales0123 while you guys figure out the encryption issue, could I get some pointers on to how Sylius would address the issue of not being able to override specific code-related variables?

I was thinking maybe a decorator, like so:
[code]
Note: Not sure why sylius chose to fetch the gateway by name (which doesn't even show up in admin as its translatable) instead of something like

[2017-03-14 07:50] lchrusciel commented on #7752
It seems that you are missing the serialization for attributes. AFAIK it has been resolved in the newest master, so you can either update to dev-maser or declare attributes serialization by your own.

[2017-03-14 10:56] #7584 closed

[2017-03-14 13:15] #7298 closed

[2017-03-14 14:44] bruno-ds commented on #7741
Or maybe it could merge the two carts (the current one and the one stored in the database).

If the cart is merged or replaced, it would be appréciable to display a message to the customer.

[2017-03-14 14:54] #7694 closed

[2017-03-14 14:55] #4916 closed

[2017-03-14 14:56] #7390 closed

[2017-03-14 15:20] mrgrt commented on #7570
@mbabker  I attempted to add a new payment method  (through the UI and directly in the database) but when I went to /admin/payment-methods I'm still getting an error. Was there anything

[2017-03-14 18:04] gdecorbiac opened #7761 "Make shipping category requirements configurable"
**Use case** : I have a shipping method available for a shipment that must not exceed 500 grams.

As for now, there is only three options written in `Sylius\Component\Shipping\Model\ShippingMethodInterface` :

- `ShippingMethodInterface::CATEGORY_REQUIREMENT_MATCH_NONE`
- `ShippingMethodInterface::CATEGORY_REQUIREMENT_MATCH_ANY`
- `ShippingMethodInterface::CATEGORY_REQUIREMENT_MATCH_ALL`

It seems

[2017-03-15 05:21] inssein commented on #7582
I saw that for `PaypalGatewayConfigurationType` you guys used:
[code]

However, I don't think that is a good enough solution as the gateway config would have to be re-saved.

[2017-03-15 05:35] inssein opened #7763 "Disabling order confirmation email"
On beta1, emails were sent using the state machine, which wasn't perfect, but it allowed me to disable the order confirmation email, and send out my own payment confirmation email.

Currently there are a few issues:

- I initially thought it was the event `sylius.order.post_payment`, but its not. It should be renamed `sylius.order.post_select_payment`
- The event that it is supposed to be (`sylius

[2017-03-15 09:20] pamil commented on #7735
Same happens with **available on** and **available after**.

[2017-03-15 11:15] crevillo commented on #7763
while i see the point on not sending emails until the payment is complete, i doubt how we should proceed then in case payment method is somehting like `cash on delivery` or `bank transfer`...  you don't receive the payment at that time there but still you need to notify the user and maybe the shop about the order.

[2017-03-15 11:17] crevillo opened #7765 "Error trying to order payment methods by gatewayname"
Hi. In the Payment Methods grid in the admin, it looks you can order those by gateway name, but clicking that action throws a exception
[code]
We can choose between not allowing ordering by that field or modify the thing a little bit to allow this kind of order. i'm working in a PR for the second option.

[2017-03-15 11:50] pamil commented on #7763
When I buy something online I often get two messages:
 - one that I have placed an order
 - another one that the order has been paid

Isn't it the most flexible solution?

[2017-03-15 12:05] c-revillo commented on #7763
well, same here, but normally that second one is sent by the payment gatewy. for instnace, if i buy something for dinner tonight and pay with paypal i normally get an email from the commerce and another one from paypal...

About receiving an email when placing order i still have my doubts. if should be carefully thinking what we tell the customer there to avoid missunderstandings.

[2017-03-15 13:47] #7765 closed

[2017-03-15 14:48] #7752 closed

[2017-03-15 15:36] inssein commented on #7763
@pamil that has not been my experience, but I do see the value. That said, if a payment framework had one of them, I'd imagine it would be payment confirmation.

Like @c-revillo mentioned above, I have a hard time understanding what an order confirmation email would have for most online stores. I do understand Cash on Delivery and Pay in store, but those seem like special cases to me.

[2017-03-15 16:08] c-revillo commented on #7763
well, maybe we can add a new level of complication :). depending on payment mode you could send the email once the order is placed or once the order is paid...

[2017-03-15 16:20] bruno-ds commented on #3096
Hello,
is this on track for the 1.0 stable release?

[2017-03-16 11:58] stefandoorn opened #7774 "Error when going back to address step in checkout"
What I did:

* Add item to cart
* Go to checkout
* Enter information and go to next step (I have skipping shipping step enabled, so I go directly to the payment step)
* Click on the 'Address' block (from the checkout steps) to go back to address information page
* Get error

Checked it also in another browser with a fresh cookie, same behavior.

Sylius version: dev-master d33ce31

Beginning of the

[2017-03-16 14:26] mbabker opened #7775 "Partial Refund Support in Admin UI"
Researching a client question yesterday, I found that the Order data model and state machine already have support for partial refunds but it doesn't seem there's a way to do this with the AdminBundle UI (the refund button on the order page issues a full refund).

Is there a plan to integrate this into the UI?

[2017-03-16 18:34] zdenektopic commented on #7763
why would you disable order confirmation email? for unregistered user it doesnt make sense, you want to get email with information about your order and also email that order status has changed - eg. payment received and some others

[2017-03-16 20:36] zdenektopic opened #7777 "Controller embedding performance"
Hi,

I have looked into profiler and located possible issue with controller embedding. It takes a lot time to embed controller because symfony goes through whole kernel process and all listeners and events. It would be wiser to rework this into some widgets or something like that.

[2017-03-16 23:11] zdenektopic commented on #7777
It is also not a good idea to pass Doctrine repository references to service constructors/factories because as repository is initialized it also deserializes entity metadata.

[2017-03-17 16:21] RomainSanchez opened #7784 "Overriding interfaces"
I have a bundle with an entity `Contact` thas has (among others) the `addAddress() ` method.
Now i want to replace the `Customer` entity with `Contact` but to do so i need to implement `CustomerInterface` wich also provides an `addAddress` method.
And i CAN'T rename my method.

Is there any way to override one of the interfaces of sylius ?

[2017-03-19 01:50] inssein commented on #7763
@zdenektopic because we prefer to send the order confirmation email after payment has been made. No point sending two emails, and especially in our case, the order confirmation is quite meaningless until it has been paid for.

[2017-03-19 10:32] zdenektopic commented on #7763
I see, this should be allowed in sylius for easy customization

[2017-03-19 15:52] Mrkisha commented on #7620
Has anyone tried to install standalone bundles? Have you encountered same problem as me?

[2017-03-20 00:02] shaunroot opened #7786 "Deleting a taxon breaks admin edit and product view"
To reproduce, open a Sylius demo installation and delete a taxon through the admin interface. Then, browse to a product that had that taxon in the admin section or user front end.

**admin/products/[id]/edit**
`An exception has been thrown during the rendering of a template ("Entity of type 'Sylius\Component\Core\Model\Taxon' for IDs id(2) was not found") in @SyliusAdmin/Product/Tab/_taxonomy.html

[2017-03-20 10:42] maxthev commented on #7734
Okey so, if i understand well, The whole Sylius application is nearly "ready to use"; but using separate components are just "a base" with some Sylius function and Sylius entities managment ?

[2017-03-20 13:29] pamil commented on #7774
I can't reproduce it on the newest master, can you provide a failing Behat scenario?

[2017-03-20 13:30] stefandoorn commented on #7774
I will try to upgrade to dev-master later this week and see if it's still reproducible.

[2017-03-20 15:09] kurakin-oleksandr opened #7787 "[Shop] Can not set both sorting and limit"
Can not set both sorting and limit for displaying products on a taxon page.

[2017-03-20 22:32] mrjingles commented on #7361
For me the solution was to rebuild/reinstall assets via gulp/yarn.

[2017-03-21 06:18] Cathmor commented on #7786
What do you mean by Sylius demo installation? I was unable to reproduce this issue.

I went through `composer create-project -s dev sylius/sylius`  and `composer create-project -s beta sylius/sylius-standard acme`and installed sample data and tried deleting the mens t-shirt taxon and I got an error flash message. It wouldn't let me delete it.

Should there be a `on-delete="SET NULL"` in the Produc

[2017-03-21 09:08] tvequaud opened #7791 "Class 'Sylius\Component\Product\Model\ProductAssociationTypeInterface' does not exist"
Hi there,

First time on Sylius (I want to manage products within a Symfony 3.2 app) and tried to start with this guideline : http://docs.sylius.org/en/latest/bundles/SyliusProductBundle/installation.html

And I got this error "Class 'Sylius\Component\Product\Model\ProductAssociationTypeInterface' does not exist" during the doctrine:schema:update ...

in app/AppKernel.php :

		$bundles = [
			// S

[2017-03-21 09:51] mvar opened #7794 "Documentation for grid sorting is incomplete"
Configuration example from the current documentation:

[code]

I have set up my grid like this:

[code]

And I get exception about invalid SQL query:

[code]

As you can see, SQL query does not have a name of field by which I'm trying to sort. Following examples in Sylius code I have figured out that I need to configure `sortable`:

[code]

First, documentation could inform about `sortable`. Secon

[2017-03-21 10:24] stefandoorn opened #7795 "Images on Entity - adding one item"
The docs describe 'It needs to have the images field as a CollectionType. If you want to give the possibility to add more than one image to the entity set the allow_add option to true.' at http://docs.sylius.org/en/latest/cookbook/images-on-entity.html.

Unfortunately setting this `allow_add` to `false` means users can add zero images, so there is no option to just add a single image.

I'm using d

[2017-03-21 11:17] mvar opened #7796 "Unhandled resource configuration exception"
When I have configuration like this:

[code]

I get this unhandled exception:

[code]

This is not actual error. Handling of actual error failed and entire application crashed (printed message above). Actual error was this (not printed for the user):

[code]

I think this is Symfony issue and I have opened issue in Symfony project (symfony/symfony#22072) yesterday. I was not able to reproduce it o

[2017-03-21 12:11] mvar commented on #7794
Maybe it should not require `sortable` at all? I just wanted to set default sorting and now I have sortable ID column.

[2017-03-21 14:19] pamil commented on #7707
Solution proposed by @zdenektopic looks good, does anyone know any disadvantages of this approach?

[2017-03-21 14:44] pamil commented on #7582
*References:*
 - Payum/Payum#634 (issue on Payum about encrypting gateway configuration)
 - Payum/Payum#635 (PR for Payum, introducing encrypted storage)
 - Payum/PayumBundle#414 (PR for PayumBundle, introducing encryption configuration to the bundle)
 - #7721 (PR for Sylius, handling encryption in form types)

[2017-03-21 14:52] pamil commented on #7131
I'm sharing the same concerns as @sweoggy, we should define what is the default stack for Sylius and configure the default distribution specifically for it (and supporting other stacks if possible).

@tchapi, can you provide a quick POC to see what changes are required for `utf8mb4` support?

[2017-03-21 14:57] pamil commented on #7763
It's quite similar to #7707.

What about having two emails configured to be sent (one after placing order, one after successful payment) and allowing them to be disabled by some configuration (at what level? channel? application? any ideas?)?

[2017-03-21 15:00] pjedrzejewski commented on #7794
Docs are up-to-date with dev-master. Did you try it on the latest version?

[2017-03-21 15:01] pjedrzejewski commented on #7796
The exception is correct, it should be scalar value (prefix for templates, not array of templates). Please reopen if still an issue. :)

[2017-03-21 15:01] #7796 closed

[2017-03-21 15:01] pjedrzejewski commented on #7795
Related to #7790. Let's continue discussion there.

[2017-03-21 15:01] #7795 closed

[2017-03-21 15:13] mvar commented on #7796
@pjedrzejewski second exception is correct, but as I said, it's not shown for the user. I have extracted it using xdebug. User gets very primitive exception screen of the Symfony (that gray one which occurs only on unhandled exceptions, without toolbar).

When user provides invalid resource configuration he gets "Header may not contain more than a single header, new line detected" which does not e

[2017-03-21 15:17] mvar commented on #7794
@pjedrzejewski at the moment I'm not able to test it with the master branch.

[2017-03-21 15:33] tvequaud commented on #7791
I tried to install with the latest version of sylius/product-bundle (^1.0) and now I have `[Symfony\Component\Debug\Exception\ContextErrorException] Warning: class_implements(): Class Sylius\Component\Product\Model\ProductVariantTranslation does not exist and could not be loaded`

[2017-03-21 17:47] shaunroot commented on #7786
I am also unable to reproduce from a fresh DB with sample data. I will continue testing and start a new ticket when I have more information.

[2017-03-21 17:47] #7786 closed

[2017-03-21 21:15] tchapi commented on #7131
Hi @pamil

As @sweoggy pointed out, Sylius doesn't require MySQL as I understand, so the only improvement we could easily do without touching the code is add a few lines in the docs stating that if one uses the MySQL DBMS, one should make sure to use the `barracuda` file format and the `utf8mb4` table charset to avoid any _potential_ text truncating issues with out-of-range characters (namely four

[2017-03-21 21:20] nietzscheson opened #7799 "[SyliusResourceBundle]: Call to a member function addPrefix() on null"
I'm using SyliusResources v1.0.0-beta.1 on Symfony 3.2. I followed the [documentation](http://docs.sylius.org/en/latest/bundles/SyliusResourceBundle/) to create resources. All good, even when I have needed to exclude some of the routes of the resource:
[code]
It throws me the following:
[code]

[2017-03-22 08:57] #7735 closed

[2017-03-22 09:07] tvequaud commented on #7791
New retry with Symfony downgraded to 2.8 + sylius/product-bundle 0.19... And new error.

` [Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException]
  You have requested a non-existent service "sylius.factory.product_variant".`

Is that really possible to use Sylius with separate bundles ?

[2017-03-22 09:18] tvequaud opened #7803 "Sylius/product-bundle : You have requested a non-existent service "sylius.factory.product_variant""
Hi there,

New retry to install with composer sylius/product-bundle 0.19 into an existing project downgraded to Symfony 2.8 with this guideline : http://docs.sylius.org/en/latest/bundles/SyliusProductBundle/installation.html

Composer step is OK.
AppKernel step is OK.
But the doctrine:schema:update command triggers an exception :
[Symfony\Component\DependencyInjection\Exception\ServiceNotFoundExce

[2017-03-22 09:41] ste93cry opened #7804 "[ResourceBundle] Unable to customize the data passed to the view"
There seems to be no easy way to customize the data passed to the view from the actions of the `ResourceController` class. The `$view` variable is populated and then just returned to the view handler. If a user wants to pass additional data to the view he has to override the whole method. There should be at least an event dispatched after the view is populated with data, or, feeling this overkill,

[2017-03-22 09:49] lasotaartur opened #7805 "No translation in flash admin message"
After updating the record in any admin module it appears success flash message ie. in polish "Customer został pomyślnie uaktualniony.". Should be "Klient został pomyślnie uaktualniony.".

[2017-03-22 09:51] ste93cry commented on #5591
@pjedrzejewski any thoughts on this? I see no reason to have another `AuthorizationCheckerInterface`, we should just use the Symfony's authorization checker by passing as attribute the permission name and as subject the resource

[2017-03-22 10:13] ste93cry commented on #7305
This is somehow related to #7804

[2017-03-22 12:25] pamil commented on #7131
Thanks @tchapi! @TheMadeleine what will be the best place to mention it in the docs?

[2017-03-22 13:07] pjedrzejewski commented on #7131
Cookbook?

[2017-03-22 13:11] pjedrzejewski commented on #7805
Flash messages need to be translated manually, they are automatically generated for English, because we have the resource name already. For other languages, keys need to be translated. I am not sure if it is possible now on Crowdin to add keys without their English counterparts, I will check.

[2017-03-22 13:13] pjedrzejewski commented on #7803
0.19 is no longer supported, please use ``stability`` flag set to ``dev`` when using Composer and it will install latest version for you.

[2017-03-22 13:13] #7803 closed

[2017-03-22 14:26] mvar commented on #7305
I see that `updateAction()` now supports custom response by setting it to the event ([code here](https://github.com/Sylius/Sylius/commit/ca4412060c375832ce63d527ad3a24585d7ccd4c#diff-2ea8b7aa90421224fb0d96dd92b4f960R326)).

IMHO, `createAction()` should follow the same pattern.

[2017-03-22 14:54] pamil commented on #3096
Is anyone with more API knowledge willing to take this one? :)

[2017-03-22 14:54] tvequaud commented on #7803
`[Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException]
  The service "sylius.controller.product" has a dependency on a non-existent
  service "sylius.resource_registry".̀  `

...

[2017-03-22 15:43] pamil commented on #7707
I'm on it! :)

[2017-03-22 15:59] tvequaud commented on #7803
@pjedrzejewski I finally fixed it by installing sylius/sylius. You should seriously think about updating the documentation.

Here is my final composer.json, with flag `minimum-stability` set to `dev` - I really don't like it - so I added a flag `prefere-stable`  :
`
[...]
{
	"minimum-stability" : "dev",
	"prefer-stable" : true,
	"require" : {
		"php" : "^7.0",
		"sylius/sylius" : "^1.0@beta",
		"f

[2017-03-22 16:14] #7791 closed

[2017-03-22 20:16] liverbool opened #7810 "[Grid] Sorting by DQL HIDDEN field."
[code]

For now we can't sort the grid with `applyings` field.

WDYT about this?

[code]

grid config

[code]

[2017-03-22 21:30] isometriks commented on #7804
Could return the view directly so you can get it from the parent method and then use the `kernel.view` event to use the ViewHandler to transform the view into a response.

[2017-03-23 08:48] stefandoorn opened #7812 "[RFC] Improve breadcrumbs in ShopBundle"
The AdminBundle is using a pretty proper way to build and show breadcrumbs, using several macro’s and clean syntax to add items to the breadcrumbs. The ShopBundle doesn’t leverage the same mechanism, but uses a more ‘by hand’ mechanism to define breadcrumbs and show them. In case you want to adjust the syntax of the breadcrumbs lay-out, currently several views need to be adjusted while preferably

[2017-03-23 10:44] mrjingles opened #7813 "Cannot add variant to cart except the first one"
Since my last update on master, I cannot add any product variant to cart except the first one in the option list. Form is showing me up that the value is invalid. I tried to debug, but couldn't find any answer for that. :-\

UPDATE: Also in the admin if I edit a product variant having more than one option, the pre-selected options are not correct. If I create a new Variant.

UPDATE: I found in the

[2017-03-23 12:57] #7774 closed

[2017-03-23 13:18] bruno-ds commented on #3096
following those steps seem sufficient: I've done it and don't see any drawback, but I'm not an expert :
https://github.com/willdurand/Hateoas/issues/141#issuecomment-104926272
https://github.com/willdurand/Hateoas/issues/141#issuecomment-37234651
https://github.com/willdurand/Hateoas/issues/141#issuecomment-287052292

NB : just think that in case of inheritance, all class have to me mapped (you ca

[2017-03-23 13:46] hdwebpros opened #7815 "Users can not see what items are in a category in order to delete it"
We've built a shop and imported over from Magento.

The client wants to delete a category. It shows as empty, but says the taxon is in use.

The category page does not display items which have a category set in the main category spot but not in the tree.

How is this alleviated without having to dig into the DB?

[2017-03-23 14:11] mbabker opened #7817 "UX Issue with "Main Taxon" in Admin Bundle"
Navigating to the `sylius_admin_product_per_taxon_index` route, you get a list of all items assigned to a taxon.  This works pretty well, but it doesn't include items where an item is assigned to a taxon with the "Main taxon" field but not in the overall tree selection area below.  Which makes sense once you grasp the difference between these two fields.

However, it does present a mild usability

[2017-03-23 14:20] pamil commented on #7817
Looks to be the same issue as #7815.

[2017-03-23 14:22] mbabker commented on #7817
Yep.  We were talking about it before I drove to the office, didn't realize he put one in before I got here.

[2017-03-23 14:22] #7817 closed

[2017-03-23 14:24] tvequaud opened #7818 "Customizing model "Product" => The table with name 'sylius.sylius_product_options' already exists."
Hi there,

I was trying to integrate the Sylius product approach within my Product entity following this guideline : http://docs.sylius.org/en/latest/customization/model.html

This guideline explains that I have to extend either the Component or Core model and that I have to check this state with the commande `php bin/console debug:container --parameter=sylius.model.product.class`

Here is the res

[2017-03-23 14:52] tvequaud commented on #7818
The same when I try with the Country Entity in AppBundle just like in the guideline... Same result : `The table with name 'dynaweb.sylius_country' already exists.̀`

[2017-03-23 14:55] pamil commented on #7818
CoreBundle needs to have its configuration imported using:

[code]

Like Sylius have in `app/config/config.yml`.

[2017-03-23 15:03] tvequaud commented on #7818
Just figured it out that I commented the line importing my Sylius config... I changed so any things to make it working that I forgot that... Damn ! :/

[2017-03-23 15:05] tvequaud commented on #7818
It seems to work like that without including the Core config... I keep that in mind... Thanks pamil for your help.

[2017-03-23 15:05] #7818 closed

[2017-03-23 17:39] mrjingles opened #7820 "Price on product page is first one not selected one"
If I enter the product page, the shown price is not the one of the selected variant (combination) but the first one from the hidden price list.

[2017-03-23 17:41] pamil commented on #7799
I can't reproduce it on master, are you sure that Sylius is causing the issue? Can you provide a stacktrace?

[2017-03-23 17:45] pamil commented on #3096
@bruno-ds would you like to contribute it to Sylius? :)

[2017-03-23 18:21] tadcka opened #7821 "Plan release beta2"
When you plan to release beta2?

[2017-03-23 19:16] pjedrzejewski commented on #7799
@nietzcheson Please reopen if you reproduce it on master.

[2017-03-23 19:17] #7707 closed

[2017-03-23 20:17] samanmohamadi opened #7822 "different locale in admin and shop"
I use different locale in admin(EN) and shop(fa_IR), So all taxons needs to be  created in fa_IR locale .
the problem is when I want to choose a taxon for a product it search and shows me only taxons in EN locale, because the locale of sylius context in admin is EN.
I think locale should not be involved in searching for resources in admin.

[2017-03-23 21:05] bruno-ds commented on #3096
@pamil : this gist https://gist.github.com/dsbaars/56be85286ebf4f89e4d4 contains each files except the conf. Telling JMS serializer to look for a custom dir for a given namespace.

As Liverbol asked : is it to be put in the core?

[2017-03-23 21:56] khusseini opened #7823 "Implement OPTIONS for REST API"
Hi there,

I am tinkering around with the AdminApiBundle and while I was trying out a PHP client I noticed that when creating resources one would have to know the right fields for the request.

Here is how I am doing the client server communication:

1. Create Sylius Resource Programatically (Component Models)
2. Normalize Object into Array (Symfony Serializer)
3. Send request using Guzzle or Laki

[2017-03-23 22:05] lchrusciel commented on #7799
Not sure if relevant, but the snippet above is wrong
[code]
We cannot declare redirect to the route which is excluded from routeing generation.

[2017-03-24 08:43] sweoggy commented on #7821
https://github.com/Sylius/Sylius/milestone/10

[2017-03-24 09:12] mvar commented on #7796
@pjedrzejewski did you understand what is the problem I was talking about?

Just add route like this and you will see error message which does not explain anything:

[code]

[2017-03-24 09:16] pjedrzejewski commented on #7763
We will either make it configurable or write a cookbook how to disable certain e-mails. Not a blocker for the release.

[2017-03-24 09:17] lchrusciel commented on #3096
This issue is related more to HATEOAS and reconfigured serialization of pagination, then to Sylius itself. The same way we would override current Sylius mapping. In general, groups are working(we have tests for that). Probably can be closed and some FAQ section would be a good place for this thread.

[2017-03-24 09:20] tvequaud opened #7827 "ORM mapping option"
The model customization needs to put some Doctrine mapping configuration.
=> http://docs.sylius.org/en/latest/customization/model.html

But my Symfony project is entirely base on Doctrine annotations... Is there a way to use my annotations instead of refactoring my entire project models ????

[2017-03-24 09:23] pamil commented on #7796
Anyway, it's a Symfony bug (assuming all exceptions message does not contain new line characters), not a Sylius one.

[2017-03-24 09:23] pjedrzejewski commented on #7827
I am pretty sure you can use annotations. Did you try it? We recommend YML/XML though. Please reopen if still a problem.

[2017-03-24 09:23] #7827 closed

[2017-03-24 09:36] tvequaud commented on #7827
@pjedrzejewski I tried yesterday... Just cleaned the cache and renamed the Yml file and... It works without the mapping... Damn ! Thank you for your quick answer.

[2017-03-24 16:44] stefandoorn opened #7833 "Calculate prices excluding tax, show them including tax"
I'm currently having some custom calculators to calculate the price of variants based on the variant itself but also on some additional information supplied on the OrderItem (sizes). I calculated everything excluding taxes, and had set the 'is_included_in_price' setting for the tax category to 0. Works fine, until I figured out that on the front-end my prices are still shown without tax in the car

[2017-03-25 03:28] liverbool opened #7834 "[Grid] missing `notEquals` string filter."
not found case for `not_equal` filter.

see
[code]

[2017-03-27 07:52] psihius opened #7836 "[Promotions] Not longer eligible for promotion at checkout-complete with "Order total" rule"
⚠️ 🛣 **This issue is a part of the** [Sylius Public Roadmap](https://github.com/orgs/Sylius/projects/2) 🛣 ⚠️

* Create a promotion coupon, configure it as "Order total" X sum and "Order discount" 50%
* Add a products, so the total cart sum is just over "X" (or at least when discount is applied, the resulting sum is bellow "X").
* Apply the coupon in the cart
* Proceed with the checkout
* When pres

[2017-03-27 11:01] psihius commented on #7833
I definitely second the ability to show prices in the product listings with or without the tax depending on the some setting - I'm building a multi-channel store myself and I need to show prices with tax conditionally - people from some countries pay VAT tax, other's don't.
As taxes may change, it is inconvenient to set a price with tax included, especially when there are many channels.

The tax a

[2017-03-27 12:49] mvar opened #7838 "[BC Break] Unify naming of tag attributes"
Current Sylius configuration:

[code]

Please note `form-type`.

In Symfony all attributes follows underscore naming convention. As Sylius is highly dependent on Symfony, it would be nice to see the same coding style too. I suggest to find and replace all similar places before first RC.

[2017-03-27 14:14] ste93cry commented on #7804
This would be indeed a good solution to fix the problem, although we would lose the ability to create a custom response

Nice idea, but if I'm not wrong this feature is available only on Symfony 3+ while the bundle supports Symfony 2.8

[2017-03-27 16:17] #7834 closed

[2017-03-27 16:42] isometriks commented on #7804
You could still use a custom response, the kernel.view event would only check to see if the controllers return value is an instance of View, if it's not then the response would just get sent as is, similar to using the @Template annotation and returning an array.

[2017-03-27 16:57] ste93cry commented on #7804
Sure, it's just that creating a listener, checking for the controller, see if that controller is what you want, etc just to maybe customize a header of a certain route seems overcomplicated.

[2017-03-27 22:33] zdenektopic opened #7841 "Taxons broken"
Hi, I found issue where I cant move some sub-taxon to another parent.
heres screenshot from admin.
<img width="1146" alt="snimek obrazovky 2017-03-28 v 0 32 19" src="https://cloud.githubusercontent.com/assets/2551911/24380948/1e47af00-134e-11e7-883f-c14e2e377b6e.png">

[2017-03-28 07:07] mvar commented on #5399
`allowed_paginate` doesn't seem to be used either.

[2017-03-28 08:11] bruno-ds opened #7844 "new product/Variant : use a transaction and commit after the state_machine execution"
Hello,

I've put some logic in the state machine : when a product and an extension are added, it create some additional tables.
But sometimes, my process fail and the tables are not created, but the product/variant are created eitehr way.
So thoses products are bugged and cannot be correctly processed when sold.

Would it be possible to add a transaction who cover from the product/variant creation

[2017-03-28 08:19] tvequaud opened #7845 "SyliusLocale : Locale not found"
Hi,

After the ProductBundle install, I had to integrate the form... Within my twig I added this piece of twig :
[code]

`SyliusUiBundle:Form:imagesTheme.html.twig` seems dependent from the locale and the currency (I found a call to twig extension sylius_locale_name and sylius_currency_name in the admin product form).
So when I add `new \Sylius\Bundle\LocaleBundle\SyliusLocaleBundle(),` in my AppK

[2017-03-28 08:26] tvequaud commented on #7845
In addition, I just ran a doctrine:schema:update... And added in database a row with code = 'fr_FR' and enabled = 1.

But still the same exception...

[2017-03-28 08:28] pjedrzejewski commented on #7844
Why do you need to create these tables? That is my first thought. :) Because maybe there is a simpler solution to the problem, which does not involve the transaction.

[2017-03-28 08:29] #7813 closed

[2017-03-28 08:35] tvequaud commented on #7845
More about my install/configuration (maybe I did something wrong in there) : http://stackoverflow.com/questions/43047851/sylius-product-customized-model-fields-not-showed-in-form

[2017-03-28 09:06] pamil commented on #7841
Looks to be working correctly for me: https://youtu.be/z2e6xOqwJ4w

[2017-03-28 15:52] wodor commented on #7841
@zdenektopic  It looks like `Parent` list is loaded with ajax call like this `admin/ajax/taxons/search?phrase=&_=1490716168562`, can you check if it is successful in browser inspection ?
I must admin that it loads for me after 1-2s delay sometimes, after I click it. So this might be js related issue.

[2017-03-28 16:05] gorkalaucirica opened #7850 "OrderItem can be removed after order has been completed"
This happened with one of our customers, is a rare use case but can happen.

**Steps to reproduce**

Tested on master (91da139)

1. Add a product to cart
2. Open the cart in another window
3. Complete the checkout in the first window until you reach the thank you page
4. Go back to the cart (second window) that still shows the product.
5. Remove it from cart

<img width="755" alt="captura de panta

[2017-03-28 17:53] inssein commented on #7763
@pjedrzejewski I thought it was a blocker because there was no trivial way to disable certain emails. Am I missing something simple?

[2017-03-28 18:30] pjedrzejewski commented on #7763
Remove listener services/their tags? :) @TheMadeleine We need a coobook that will describe this, can be the confirmation e-mail.

[2017-03-28 19:20] stefandoorn opened #7851 "Docs about 'SyliusPluginTrait'"
The current docs do not describe anything about using the `SyliusPluginTrait` yet, also the Sylius skeleton bundle doesn't use it. I would write them myself, but I'm not 100% sure yet how it is intended to be used. Besides that, I think there was also some discussion whether it should be Plugin or Bundle suffix, which is probably decided upon using this trait.

Related commit: https://github.com/S

[2017-03-29 06:54] pjedrzejewski commented on #7851
@TheMadeleine @lchrusciel Can you have a look, please? We definitely need that. :)

[2017-03-29 09:13] tvequaud opened #7853 "Feedback doc ProductBundle"
Just installed a fresh brand new Symfony 3.2 to test the ProductBundle installation guide : http://docs.sylius.org/en/latest/bundles/SyliusProductBundle/installation.html
Here is my feedback.

1. You should update the documentation to advice developers to use the dev-master branch with composer by this way
`composer require sylius/produc-bundle dev-master`
or in composer.json, add or update the 2

[2017-03-29 09:18] TheMadeleine commented on #7853
Hi @tvequaud :) Thanks for your feedback, although... it is not an issue.

Since the docs are prepared and written (kind of upfront) for the oncoming stable release, then they assume that you are using the latest version available. Which is `dev-master` indeed.

[2017-03-29 09:25] tvequaud commented on #7853
@TheMadeleine : I knew you'll answer that :p  it's not obvious for a beginner. And symfony is delivered in stable so by default newcomers will have a bad first impression (like I had). Even if it's only for few days/weeks.

Anyway I'm using the dev-master branch and got the exception in the second point.

[2017-03-29 09:30] venyii opened #7854 "[API] Create Cart via API without customer"
The data model allows to create a cart without a customer, but the API requires a customer. Why is that? It was introduced in https://github.com/Sylius/Sylius/commit/b436a680056713289c6a55de80c33988c255c451#diff-455d94adb41079888103c5229c1e8384R56

Maybe @lchrusciel can shed some light on this? I could create a PR if necessary.

Thanks!

[2017-03-29 09:33] TheMadeleine commented on #7853
We'll discuss the version mentioning problem at Sylius today, I promise :)

Regarding the exception you've got - did you check if the class exists in the project? Cleared the cache? If your project is clear, maybe recreating the database will help.

[2017-03-29 09:42] tvequaud commented on #7853
Actually the error in console says that some astract methods are not implemented...

I opened the `/vendor/sylius/product/Model/Product.php` class and, indeed, 5 methods implemented in `Component\Product\Model\ProductInterface` are missing :

[code]

[2017-03-29 10:02] tvequaud commented on #7853
I finally had to force the update of all sylius/* packages in dev-master too : `composer update sylius/*`

but got another issue :
[code]

I fixed this issue by installing LocaleBundle :
`thomas@debian> composer require sylius/locale-bundle dev-master`

and in AppKernel.php, I added the line in bold :
[code]

[2017-03-29 11:40] lchrusciel commented on #7854
The data model allows to create a Cart without a customer, but the order has to have a customer assigned. As cart endpoints allow to process an order from Admin perspective it was required to add a customer to the cart at the during creation action. Remember, that this is not a ShopAPI.

[2017-03-29 12:09] tvequaud commented on #7845
same error when I try with a brand new Symfony install : https://github.com/Sylius/Sylius/issues/7853

[2017-03-29 13:12] #7850 closed

[2017-03-29 13:12] wyllyjon opened #7856 "Custom grid filter restriction does not take into account the 'OR' options"
Hello all,

I have created a custom filter in my grid using this doc http://docs.sylius.org/en/latest/bundles/SyliusGridBundle/custom_filter.html
The problem is that I cannot have a "OR" condition in my request.
Using `$expressionBuilder->OrX()` method or `$dataSource->restrict($expression, DataSourceInterface::CONDITION_OR);` always create a sql request with "AND" conditions.

Here is my Filter a

[2017-03-29 13:51] #7582 closed

[2017-03-29 14:37] lchrusciel commented on #7851
Plugin update should wait for beta2 release probably, but as soon as #7858 will be merged issue can be closed probably.

@stefandoorn thanks for reporting :)

[2017-03-29 14:48] stefandoorn commented on #7851
Yw :)

One thing I'm a bit in doubt about is not having the 'Sylius' name prefix the plugin, e.g. not `SyliusPdfInvoicePlugin` but `PdfInvoicePlugin`. Problem is that just based on the name nobody can distinguish that it's a specific plugin to Sylius.

It can only be recognised based on the type in the composer.json file and I think naming the repository could still have `sylius` in it (e.g. syliu

[2017-03-29 15:26] venyii commented on #7854
But while the order is in the `cart` state, the customer can be `null`? I'd expect a validator (or sth. else) to make sure that the order has a customer if I try to continue with the cart, but while it's just a cart I should be able to update its customer via `PATCH` in my opinion.

[2017-03-29 18:10] khusseini opened #7859 "Possible bug in Grid for REST API"
I have created a cart with customer `example@example.com` and made a full checkout with it.
When I try to curl the admin API with

[code]

I am getting
[code]

And in logs:
[code]

I am at f2d5c991, without any modifications and using the demo data

[2017-03-30 06:06] inssein opened #7860 "Gateway configuration needs more extensability"
I know Sylius is in a crunch to get beta2 out, but there are currently a few problems with payment gateway configuration that need to be addressed first (IMO).

1. `PaypalGatewayConfigurationType` is missing the  `sandbox` parameter
2. `StripeGatewayConfigurationType` is missing the `test_mode` parameter
3. There needs to be an easy way to override not only template, but other gateway configuratio

[2017-03-30 08:06] ascameron1 opened #7861 "Unable to generate a URL for the named route "payum_capture_do" as such route does not exist."
I have configured Paypal Express Checkout according to [this](http://docs.sylius.org/en/latest/cookbook/paypal.html).

However I'm getting this error after complete order:

`RouteNotFoundException in appDevDebugProjectContainerUrlGenerator.php line 343:
Unable to generate a URL for the named route "payum_capture_do" as such route does not exist.
in appDevDebugProjectContainerUrlGenerator.php line

[2017-03-30 08:18] pamil commented on #7861
https://github.com/Sylius/Sylius/blob/master/UPGRADE.md#configuration

[2017-03-30 08:23] stefandoorn opened #7862 "Form extension dynamic constraints get ignored"
I'm trying to add dynamic constraints to a form extension, using an event subscriber (preSetData). It seems that the 'constraints' option is totally ignored. The 'attr' etc. are added to the form:

[code]

Submitting the form and looking into the profiler, under the 'constraints' key none are registered. The 'step' of 1 and 'required' are visible though on the form.

The validation groups look to

[2017-03-30 08:30] pamil commented on #7862
@stefandoorn add `'groups' => ['sylius']` to `Range` configuration array :)

[2017-03-30 08:36] stefandoorn commented on #7862
Great, does the job :) Shall I submit a PR to add this to the docs? It's a powerful feature I think to be used.

[2017-03-30 08:41] pamil commented on #7862
Yeah, I think it may be quite a common case, wdyt @TheMadeleine? :)

[2017-03-30 09:12] ascameron1 commented on #7861
Thank you :)

[2017-03-30 09:12] #7861 closed

[2017-03-30 09:53] #7851 closed

[2017-03-30 11:24] psihius commented on #7862
This is relevant #7732 - I might be not entirely correct there, but I did find that even groups may not work.

[2017-03-30 11:25] pamil commented on #7732
@psihius have you tried something like:

[code]

[2017-03-30 11:55] psihius commented on #7732
@pamil I will try and report tomorrow. Thanks!

[2017-03-30 12:01] pjedrzejewski commented on #7860
First 2 should be added to the form types IMO. We could consider the template and other settings too, and populate choices via parameter. WDYT?

[2017-03-30 12:10] makasim commented on #7860
those could be set as a string `@servic_id` later it will be resolved by core gateway factory to a service. If it failed to resolve it leaves a string value.

Some thoughts on how dynamic gateways could be extended: https://github.com/Payum/Core/pull/4

[2017-03-30 12:42] stefandoorn opened #7866 "Disable ORM Purger for fixtures"
I have the impression it is not possible to disable the ORM Purger when using fixtures (only to configure them). Sometimes it might become handy to keep data in the database, but only adding e.g. extra products for testing purposes. Is it possible to disable the ORM purger e.g.?

[2017-03-30 13:00] stefandoorn opened #7867 "Asset install commands naming inconsistent"
[code]

One is called `install:assets` and the other one `assets:install`.

[2017-03-30 15:35] inssein commented on #7860
I like the second option (PayumBuilder::addGatewayFactoryConfig). Maybe it is sufficient to write up a cookbook entry on how to do that. I can try and get to that this weekend.

@pjedrzejewski not a fan of template strings / populating choices via parameter, because they can't be changed with simple code deploys. Having to write a migration for a change is the template path doesn't seem like a gre

[2017-03-30 15:39] makasim commented on #7860
@inssein basically you have to add a method call to `payum.builder` service definition via compiler pass or "by decoration".

[2017-03-31 09:05] #7859 closed

[2017-03-31 09:07] #7729 closed

[2017-03-31 11:57] Persata opened #7871 "Template events throw UndefinedOptionsException"
Hello all,

I noticed when trying to utilise the recently added Sonata events for customising templates that those events which pass extra data, e.g. the `resource` here:

[code]

will throw an `UndefinedOptionsException` because those keys are not permitted:

[code]

This causes the default Sonata template to be rendered instead of the custom template you have specified.

I've come across two pos

[2017-03-31 12:23] pjedrzejewski commented on #7871
@Persata Thanks for reporting this! The problem with solution 1. is that it would need to be configured for all block types (block classes). :/ Second one is nice, but requires reworking all templates and also can be a bit annoying to have this extra ``attr`` reference.

@GSadee How did it work with ``resource`` for you without this configuration?

[2017-03-31 12:33] NeverResponse commented on #7708
@gorkalaucirica @pjedrzejewski

As the documentation is written based on the `master` branch, and the events in question are already present there, it definitely is not a blocker for the next release, moreover it's resolved automatically upon release, so that's something.

That said, if someone would like to have this feature while *pre-beta*, I can think of at least two ways to make it work:

1.

[2017-03-31 13:14] GSadee commented on #7871
@pjedrzejewski unfortunately I didn't test that with a `resource` attribute 😞

[2017-03-31 13:39] Persata commented on #7871
@pjedrzejewski No problem!

Wouldn't it just need to be configured for `Sonata\BlockBundle\Model\Block` since that's the class that's always instantiated inside Sylius's `Sylius\Bundle\UiBundle\Block\BlockEventListener` class?

If that's not suitable, an alternative to option 1 would be to use Sonata's `settingsByType` instead of `settingsByClass`, so the config would look like this:

[code]

It a

[2017-03-31 13:49] stefandoorn opened #7872 "Template events do not render properly"
I'm trying to load a template:

[code]

Template exists in `src/AppBundle/Resources/views/delivery_week.html.twig` with a single `<div>` in it.

Output in the frontend:

[code]

I think I followed the instructions from http://docs.sylius.org/en/latest/customization/template.html#how-to-use-template-events-for-customizations exactly..

[2017-03-31 13:52] kurakin-oleksandr commented on #7872
It's duplicate of https://github.com/Sylius/Sylius/issues/7871

[2017-03-31 13:54] stefandoorn commented on #7872
Hm, I saw it but I thought it was different as I'm not getting any error.

[2017-03-31 13:55] stefandoorn commented on #7872
Can confirm it does work when the 'product' var is not added from the template. Duplicate.

[2017-03-31 13:55] #7872 closed

[2017-03-31 16:01] stefandoorn commented on #7851
@pjedrzejewski What about the last question regarding naming repositories when open-sourcing things?

[2017-04-01 09:20] gorkalaucirica commented on #7708
@NeverResponse So right now in master payment events are triggered? When I opened the PR we were working on master, moving events callback for sending mails from state machine to event subscribers. The issue is also discussed in #7763. Basically we do not want emails until payment is completed.

It's not very clear (at least for me) how to make the events work.  Maybe more insight in this topic wo

[2017-04-01 10:41] wyllyjon opened #7875 "Impossible to add media on a product ?"
Hello !

I don't know if I miss something as I didn't found any user doc on Sylius.org, but I can't see how to add media on a new product.
![media](https://cloud.githubusercontent.com/assets/26768253/24578017/6124eb16-16d8-11e7-8dbe-2d3845cfde10.png)
There is no button to add any media...

[2017-04-02 08:48] ascameron1 opened #7877 "Trouble with How to change a redirect after the add to cart action?"
Hi,

I am new to sylius and php in generally and I'm having trouble with the redirect after adding to the car. I have followed the cookbook tutorial but not sure what is meant at the end by handling this on the front end?

What I've tried:

I've tried to implement what is set out in the tutorial and set the redirect link to:

    $newUrl = $this->router->generate('sylius_shop_product_index', ['slu

[2017-04-02 11:08] NeverResponse commented on #7708
@gorkalaucirica Rechecked it a few times, and yeah, they are.
And as for how the events work, there's [this doc](http://docs.sylius.org/en/latest/book/architecture/events.html) with the sole basics; etc. how resource based events work, or at least what to listen to and such.

I couldn't find anything more advanced, etc. the one You are referring to, or frankly, any reference to `::applyStateMachin

[2017-04-02 12:51] gorkalaucirica commented on #7708
Thanks @NeverResponse, I was missing that events can be triggered by declaring them in routing. I can't find though where `sylius.payment.pre_complete` and `sylius.payment.post_complete` are triggered after completing the payment using one of the Payum gateways. I guess that this is handled inside Sylius/PayumBundle. State transition is applied but no events are triggered.

[2017-04-02 13:15] tykzz opened #7878 "[LocaleBundle] Locale twig extension is not using translated locale names"
The `convertCodeToName` method in `LocaleHelper` doesn't pass the admin current locale as a parameter to the `LocaleConverter`, therefore locale names are always displayed in English.
![screenshot](https://cloud.githubusercontent.com/assets/9462146/24587420/5c6fc832-17b6-11e7-8a12-4d9301911d5f.png)

[2017-04-02 17:20] NeverResponse commented on #7708
Ok, i wasn't taking Payum into account. In which case, scratch all I wrote above.

Payum-based payments seem to go a completely different route, disregarding `ResourceController` and going through `UpdatePaymentStateExtension` of the PayumBundle.
And since the extension uses only state machine, there is no event dispatched. And I don't think changing the route will do anything at all. So this is i

[2017-04-03 07:09] pjedrzejewski commented on #7708
It's not a bug! :)

Events are for user interactions, modifying the responses, etc. For business logic, you should use state machine callbacks, which will be triggered no matter if you click in backend or pay via PayPal, etc. We have updated the docs to highlight that difference: http://docs.sylius.org/en/latest/book/architecture/events.html

[2017-04-03 07:13] #7696 closed

[2017-04-03 07:14] #7708 closed

[2017-04-03 07:14] pjedrzejewski commented on #7708
Please reopen if still unclear. :)

[2017-04-03 08:10] tuka217 opened #7879 "[UI] Mapping violation on attributeValue"
Currently, when we have more than one attribute with values the violations are not attached to a proper value field.  For example here:
![screen shot 2017-04-03 at 10 03 27](https://cloud.githubusercontent.com/assets/8963048/24600462/165ec682-1855-11e7-8ad3-f7ee7c43da72.png)
![screen shot 2017-04-03 at 10 03 38](https://cloud.githubusercontent.com/assets/8963048/24600464/1937fd10-1855-11e7-948f-4c

[2017-04-03 08:35] TheMadeleine commented on #7875
![image](https://cloud.githubusercontent.com/assets/13198869/24601447/388750e0-1859-11e7-9738-ff125857af3b.png)

I can;t reproduce you issue. Maybe try `yarn install` and `yarn run gulp` once more?

[2017-04-03 09:39] NoResponseMate opened #7880 "[Checkout] Doubled email validation error on addressing"
![screen shot 2017-04-03 at 11 33 25](https://cloud.githubusercontent.com/assets/9448101/24603556/92a4ae44-1861-11e7-8c2b-e9b998ee351c.png)
![screen shot 2017-04-03 at 11 33 46](https://cloud.githubusercontent.com/assets/9448101/24603561/96d93e76-1861-11e7-8f0e-a911df195e2f.png)

Only validation for the email gets duplicated, everything else is fine.

[2017-04-03 17:25] stefandoorn commented on #7867
@pjedrzejewski What about using sylius:theme:install:assets?

[2017-04-04 07:12] Zales0123 commented on #7879
Btw, `datetime` attribute looks like sadness and wasted dreams 😢

[2017-04-04 07:54] betaglop opened #7886 "Inconsistency in the API doc between Orders, Checkouts and Product Variants"
Orders and Checkouts docs present the Variants structure with ``on_hold`` and ``on_hand`` properties, as the Product Variants doc refers to ``onHold`` and ``onHand``. As I am only a reader of the Sylius API Documentation, I cannot propose a pull request, because I cannot know which one is the good representation (even if I can imagine the ``onHold`` and ``onHand`` are the straighter denomination c

[2017-04-04 08:55] pjedrzejewski commented on #7886
Hey @betaglop! Thanks for reporting this, it's a small bug in the docs, the correct is camelCased one: ``onHold`` & ``onHand``.

[2017-04-04 09:51] pjedrzejewski commented on #7815
Ouch, this one is tough as I don't see a clean solution. Possibly a listener that removes it from all products, just before deletion. (finds all products which have this taxon as main taxon, set to null, then should work)

Far from perfect but I am pretty sure it will resolve the issue. WDYT?

[2017-04-04 10:50] betaglop commented on #7886
Ok thanks for the advise ... I'll propose a pull request then.

[2017-04-04 11:01] tuka217 commented on #7820
Hello,
I created a product with variants with options like this: color[red, yellow, green], size[s,m,l] and set them prices. When I went to show page of this product I could see the current price of the variant for selected options combination (for example Red S). So, could you check if this issue will have still happened after you'll update to the current Sylius master? (Or maybe you have already

[2017-04-04 11:28] mrjingles commented on #7820
Situation was the following. The first variant I created wasn't the first combination of options. In your example red/s. I created for example yellow/m at first variant. When I visit product show page it shows selected red/s as default but the price was from the variant (yellow/m). As I remember it was fixed in latest master, I cannot reproduce right now.

[2017-04-04 11:29] DmitriyTrt opened #7890 "Not truly random token generator"
The [token generator](https://github.com/Sylius/Sylius/blob/master/src/Sylius/Component/User/Security/Generator/UniqueTokenGenerator.php#L73) used for password reset and e-mail verification doesn't look secure to me.

It's enough to know the time of the request and you get more than 1/(40*1000) chance to guess the token. The configuration seems to provide a way to use longer tokens, but due to the

[2017-04-04 11:56] gorkalaucirica opened #7891 "TaxRateResolverInterface only allows returning one tax"
It's kind of RFC to talk about one of the issues we have faced. We have a workaround but we had to extend multiple clases.

By definition TaxRateResolverInterface returns `null|TaxRateInterface`. Due to some business requirements in one of our B2B shops we need to have multiple taxes applied to some of our products.

If `TaxRateResolver` could return multiple taxes we could easily code a custom `T

[2017-04-04 12:10] pjedrzejewski commented on #7890
@NeverResponse Can you have a look at this?

[2017-04-04 12:34] hdwebpros commented on #7815
My $0.02, it's confusing that there's a main taxon tree and a completely separate main taxon. But, let's move on and get a good solution here.

Why isn't it recommended to show items that have the main taxon as the taxon you are viewing? Is there a good reason for not showing those items? By simply showing those items, you'd alleviate this issue.

Your solution works too, but it changes taxons of

[2017-04-04 12:58] khusseini opened #7894 "Cannot use bundle with name `AppBundle`"
Hello there,

I have another (possible) bug report, I searched the issues for `AppBundle` but couldn't find something similar (unless I am blind again).

I am using the latest master fbe8c348, on a cloned project with the `SensioGeneratorBundle`.
When I generate a bundle named `AppBundle` I won't be able to use it as I get the following error:

[code]

[2017-04-04 19:54] tchapi opened #7895 "Locale code not in available locales"
Hi all - I have a very weird behaviour with locales.

I have defined a service that takes the container as an argument.

[code]
In this service, if I do :

[code]

I have the following result :

    Locale is fr
    All locales : fr_FR

I don't understand how this works.. The underlying problem is that I don't have a correct locale (I've asked a question on SO about that [here](https://stackoverfl

[2017-04-04 21:45] cv65kr commented on #7895
Hi,
What you see in sylius profiler ( http://docs.sylius.org/en/latest/_images/toolbar.png ).
I guess in admin panel, locale section you choice from the list language "French" who is assigned to only "fr" code. On list you have more options of languages who have correctly format for You, just look  on this screenshot http://screenshot.sh/m7XZxanvwPVQg

[2017-04-04 22:05] liverbool opened #7896 "Symfony 3.3 - BC break due to changed routing loading logic"
Can Sylius update to Symfony 3.3?

cc. @pamil @pjedrzejewski

[2017-04-05 06:44] leonmex opened #7897 "Error in Edit product section"
In the  section Edit product section
Tab *Attributes*
If you click Add Attribute you get :
Warning: Invalid argument supplied for foreach() in /app/vendor/sylius/sylius/src/Sylius/Bundle/ProductBundle/Controller/ProductAttributeController.php on line 78

Notice: Undefined variable: forms in /app/vendor/sylius/sylius/src/Sylius/Bundle/ProductBundle/Controller/ProductAttributeController.php on line

[2017-04-05 07:21] tchapi commented on #7895
No no, I only have one locale in the backend, and it's `fr_FR`, as per what `getAvailableLocalesCodes();` correctly returns...

[2017-04-05 08:56] tvequaud opened #7898 "Product API : images path missing within the products collection"
My goal is to list products with its default image on the front office of my ecommerce website.

Following the doc http://docs.sylius.org/en/latest/api/products.html, the GET method (collections of products) does not permit to get the images path (only the id and name... Which are not really useful)

So, right now, I have to iterate on each product to GET it via the API /api/v1/products/{code}...

[2017-04-05 09:06] alexdrupal opened #7899 "How to get sylius parameter in controller"
Hello

I need to read Order entity class name in my bundle. My bundle is depending on Sylius, but I want to make it as independent as possible. I want to get class name which is used for Order entity in my bundle. I want to do that via something like `getParameter('sylius_order.resources.order.classes.model')`
I want to put this code into my repository class in my bundle. What is the right method

[2017-04-05 10:21] tvequaud opened #7901 "[Features request] API Product : filter enabled products within the collection"
My goal is to list enabled products on the front office of my ecommerce website.

Following the doc http://docs.sylius.org/en/latest/api/products.html, the GET method (collections of products) does not permit to filter by "enabled" state

[2017-04-05 10:24] tvequaud opened #7902 "[Feature request] API Product : filter products collection by channel"
My goal is to list products from a specific channel onto different ecommerce websites.

Following the doc http://docs.sylius.org/en/latest/api/products.html, the GET method (collections of products) does not permit to filter by "channel".

Tried to call GET /api/v1/products/?criteria[enabled]=true&criteria[channel]=default&criteria[taxon]=parcs_de_loisirs but no filtering...

[2017-04-05 11:13] ishapkin opened #7903 "Can't override css or js files in my custom theme"
Hi! I created custom theme `app/themes/SplatensisTheme/`.
I added composer.json and install this in admin channel path and can override html template, for like this:
`app/themes/SplatensisTheme/SyliusShopBundle/views/login.html.twig`
It is works great!
But, for override shop bundle style.css  and app.js i have problems.
In yours documentation i find this:

I find in assets folder file
`shop/css/st

[2017-04-05 12:51] tvequaud commented on #7901
Finally found how to do this by crawling source code of the AdminBundle...

We have to call  GET /api/v1/products/?criteria[enabled]=true|false
Should be documented in the Product API.

[2017-04-05 12:56] tvequaud opened #7904 "[Feature request] API Product : filter products collection by taxon code"
My goal is to list products belonging to a taxon...

Following the doc http://docs.sylius.org/en/latest/api/products.html, the GET method (collections of products) does not permit to filter by "taxon" code.

Tried to call GET /api/v1/products/?criteria[enabled]=true&criteria[channel]=default&criteria[taxon]=parcs_de_loisirs but no filtering...

[2017-04-05 12:56] venyii commented on #7901
FYI this is the case for (most?) of the APIs, it also has its own doc page: http://docs.sylius.org/en/latest/api/sorting_and_filtration.html (last page in The REST API Reference)

[2017-04-05 13:00] tvequaud commented on #7901
Actually they indicate to use the format GET /api/v1/products/?criteria[enabled][type]=equal|contains&criteria[enabled][value]=true which doesn't work

[2017-04-06 05:54] inssein opened #7906 "[Payum] Re-saving payment gateway without modification breaks gateway config"
After turning on gateway config encryption, the way to actually encrypt previously un-encrypted configuration is to go to admin, and re-save the payment method.

However, if you don't change any of the fields while doing so, you actually end up breaking the configuration.

Because the form component doesn't detect a change, it doesn't call `GatewayConfig::setConfig` and thus `GateywayConfig::decry

[2017-04-06 09:00] stefandoorn opened #7908 "ProductExampleFactory attributes not working"
I'm at dev-master@f2d5c99.

When using the fixtures (e.g. the mug_product one) I get an error when loading the product attributes, see error below.

When looking better at it, it seems that `$code` is set to the array index (0) instead of 'mug_material' somewhere, but I have no clue where and how to resolve it..

[code]

[code]

[2017-04-06 10:03] tvequaud opened #7910 "Product Variants API : originalPrice absent from channelPricings"
My goal is to show a product with its variants and their prices. The variant price is in the response but not the originalPrice... So I cannot calculate and show the discount amount.

Request :  `GET /api/v1/products/4743/variants/4743`
Response received :
[code]

[2017-04-06 14:11] psihius opened #7911 "[Payum Bundle] Integration and extendability issues discussion"
Hello,

# **DISCLAIMER**
**This is a discussion issue, as I can provide a proper PR in a short time, as I did around 80-90% of the actual implementation already for my project. What I want to know if this stuff is acceptable, is inline with the vision and has place in the Sylius core (I think yes, as this is pretty basic low-level functionality that if done on a per-project basis, overrides quite

[2017-04-06 14:29] makasim commented on #7911
Great work.

That's indeed a must have feature.

We can replace currently used `capture` term with more generic `purchase`. Introduce a purchase request and action (in terms of payum). Add use one or another strategy internally. In any case it must be supported out of the box.

[2017-04-06 14:37] makasim commented on #7911
In terms of Payum `GetStatus` request is extendable.

The valid case: One creates a new `GetStatus` with a markXXX and isXXX methods. The class extends the one from Payum (or Sylius). There is an action that supports this extended request.

[2017-04-06 14:44] psihius commented on #7911
The problem with GetStatus is not that it's not extendable - it is. It's the fact that in Sylius\PayumBundle\Controller\PayumController it is loaded via use, so it always uses the one from the bundle and to use your extended one, you have to override the controller completely due to it being **final**

[2017-04-06 14:45] makasim commented on #7911
I see. There must be a factory for it.

[2017-04-07 01:59] shaunroot opened #7913 "[Feature request] Automatically select shipping/payment when possible"
If there is only 1 shipping or payment option, it should automatically be selected in the back end and the user be taken directly to the next page. The user should not need to hit the "Next" button on a page that has no options to select.

<img width="933" alt="sylius-feature-request-001" src="https://cloud.githubusercontent.com/assets/3654817/24782442/4a2100e0-1b14-11e7-8862-c8c803ba8aa2.png">

[2017-04-07 06:55] stefandoorn opened #7914 "Adding property to translatable model results in fatal ORM error"
I followed exactly these instructions (http://docs.sylius.org/en/latest/customization/model.html#how-to-customize-translatable-fields-of-a-translatable-model) to add a `slogan` field to the Product model (translatable).

It seems to function fine, but when running fixtures I run into the error below unfortunately. In the admin / shop I don't see things running into errors.

[code]

Extended entity