[2021-09-08 17:48] devfive commented on #12832
@mbabker thanks, this worked for us!

[2021-09-09 08:41] veloxy commented on #7741
@bruno-ds I've just noticed this issue too, after logging in in the checkout process the cart is replaced. It's very weird behavior, how did you end up solving this?

Merging the cart without any notice would still be very weird to a customer who was on their way to check out their cart, only valid option I see from a usability standpoint would be to keep the cart and throw the database cart away

[2021-09-09 12:46] bruno-ds commented on #7741
Our sale team weirdly asked us to remove the cart and to force the user to make a purchase per product.
As a side effect, we did not suffer from this probleme ever since.

PS: the issue is closed, I'm not sure it will be reopened, maybe you should create a new issue (and link to this one is you want to give a little more context).

[2021-09-09 20:05] veloxy commented on #7741
@bruno-ds thank you for the response, even though it's an old issue! I did notice after my comment that there already a host of other similar tickets, I don't think the behavior will be changed. Though I found a comment somewhere where it said it was possible to change priority on the carts - will probably go with that route.

[2021-09-09 20:07] CoderMaggie commented on #12861
Could you confirm if this bug still exists @tugrulgencoglu?
It might've been fixed after this 👉🏼  https://github.com/Sylius/SyliusGridBundle/pull/68

[2021-09-09 20:27] CoderMaggie commented on #13024
**Sylius** issues should be used to report bugs, propose new features, discuss new functionalities. For everything else, please, use our [Slack channel](http://sylius.org/slack) or [stackoverflow](https://stackoverflow.com/questions/tagged/sylius) ;)

[2021-09-09 20:27] #13024 closed

[2021-09-09 21:40] gencoglutugrul commented on #12861
I checked it with clean installation and yes problem fixed!
Thanks for your works.

[2021-09-10 05:34] ftasca commented on #13053
Moved to [Sylius/PayPalPlugin](https://github.com/Sylius/PayPalPlugin/issues/207) issues.

[2021-09-10 05:36] #13053 closed

[2021-09-10 15:45] olimination commented on #7925
I'm facing the same issue and have opened a new issue in the appropriate Sylius/PluginSkeleton project: https://github.com/Sylius/PluginSkeleton/issues/297

[2021-09-13 10:35] Tcharlyson commented on #11562
Any news about this ?

[2021-09-13 10:48] bellu opened #13095 "Unable to remove image from ProductVariant programmatically"
**Sylius version affected**: 1.10.0

**Description**
I'm trying to remove some Image from a product variant from a console command.
I got no errors, but the image is still there in the backend.

**Steps to reproduce**

[code]

[2021-09-13 11:01] stloyd commented on #13095
This is not bug, it's support question & you should use either Discussions or Slack channel.

If the code above is exactly what you have then you didn't call removal on entity manager.

[code]

That should be placed in that loop and after loop you should do `flush()` on entity manager.

[2021-09-13 13:05] lortuno commented on #13051
@CoderMaggie I'm having the same issue with lastest version of sylius. I have my testing db as SQLite and there are admin sections I cannot functionally test due to this db restriction, which is in a final class, so I cannot even override the method. Is there any solution scheduled any time soon?

[2021-09-13 13:50] bellu commented on #13095
Sorry @stloyd for using the wrong channel.
Now it's working fine, even if i didn't understand why for adding i didn't need to use the entityManager directly.

[2021-09-13 15:00] mbabker commented on #13095
`$productVariant->removeImage($oldImage)` is only going to remove the relation between the variant and an image (in SQL it's basically `DELETE FROM sylius_product_image_product_variants WHERE image_id = ? AND variant_id = ?` which is only updating the mapping table for the variant and images relationship), that's not going to delete the image from the database on its own and to do that you have to

[2021-09-14 07:38] bellu commented on #13095
Thanks @mbabker for the clarification.

[2021-09-14 07:38] #13095 closed

[2021-09-14 08:12] vvasiloi opened #13099 "[API] ProductVariantNormalizer doesn't handle channel not found exception"
**Sylius version affected**: 1.11

**Description**
In https://github.com/Sylius/Sylius/pull/13035 the call to the channel context was moved outside the try-catch block, so the exception is not caught anymore:
https://github.com/Sylius/Sylius/blob/e602281396c5c17939102169283ba1c1ecb6a324/src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantNormalizer.php#L67-L75

Also, the calculator throws `Sylius

[2021-09-14 09:35] gabiudrescu commented on #11428
@pamil @CoderMaggie
![image](https://user-images.githubusercontent.com/5156054/133233590-53fdc89a-1f6c-4998-97f6-631d9b621bb8.png)

[2021-09-14 13:38] lchrusciel commented on #12991
Hey folks, can you check if #605 solved your issues?

[2021-09-14 20:36] vvasiloi opened #13106 "[API] Order not found after addressing"
**Sylius version affected**: 1.9 and above

**Description**
After the order is addressed, it becomes unusable.
Some routes will return 404 Not Found, other 500 Internal Server Error.

**Steps to reproduce**

1. Pick up a new cart

[code]

2. Add a product to the cart

[code]

3. Address

[code]

4. Get the order

[code]

Any other order endpoint can be used at point 4, the result will be the same:

[2021-09-15 09:27] gaetanbuellet commented on #13000
Just test it again : doesn't works on sylius 1.10 but seems working on the next release (1.11.0)

[2021-09-16 14:27] ikanaweb commented on #10659
I found a workaround to prevent this error.

The issue comes from `\Sylius\Bundle\ReviewBundle\EventListener\ReviewChangeListener::postRemove` called on each removed `ReviewInterface`.
This method calls `\Sylius\Bundle\ReviewBundle\Updater\AverageRatingUpdater::modifyReviewSubjectAverageRating` which in the end calls `flush` again.

I'm not sure how it happens but in the end the `Product` entity w

[2021-09-16 17:38] mdevlamynck commented on #12554
There is a similar issue with taxes where the incorrect shipping method is selected:
#### Steps to reproduce
1. Create a shipping method A with "order total sum <= 29.99" and another B with "order total sum >= 30.00".
2. Create a cart where the total without taxes is bellow 29.99 and the total with taxes is above 30.00.
3. On the shipping method form the shipping method B is proposed and not A (si

[2021-09-17 13:51] andrehoffmann30 opened #13120 "[API] the endpoint GET ​/api​/v2​/shop​/shipments​/{id} responses with a 404 for an exiting shipment"
**Sylius version affected**: 1.10.1

**Description**
I am trying to building a simple react app for an sylius based shop for one of our customers. The app already allows the complete checkout of a product in on go form choosing the product to completing the order. Now I am working on allowing the user to go back in the checkout process to adjust the data. When the user gos back to the shipment sel

[2021-09-20 08:30] lukomwro commented on #12017
I've upgraded to the 1.10 and everything works fine. I'm closing this issue. Thx

[2021-09-20 08:30] #12017 closed

[2021-09-20 10:02] mdevlamynck opened #13123 "Incoherent total price in OrderTotalRuleChecker"
**Sylius version affected**: 1.8, 1.9, 1.0

**Description**
The rules `OrderTotalGreaterThanOrEqualRuleChecker` and `OrderTotalGreaterThanOrEqualRuleChecker` use the order total to check if a shipping method is available. Depending on when the rule is called, the total can be different for the same cart. For example:

* When computing the list of shipping method for the checkout form the price is

[2021-09-20 11:19] loevgaard commented on #13123
Yes, this is a known problem and I am afraid I was the one who didn't think about this in time :( The solution is to create your own rule checker, i.e. `OrderItemsTotalGreaterThanOrEqualRuleChecker`.

Would be great with a PR ❤️

[2021-09-20 12:50] ahawkclint opened #13125 "Fresh install no fixtures - 500 error when add to cart"
**Sylius version affected**: 1.10.2

**Description**
When adding an item to the cart a 500 error is returned.   No shipping on the item.  Fresh install with a single item.  The same happened with the fixtures.

[code]
![Screenshot from 2021-09-21 09-37-05](https://user-images.githubusercontent.com/78910552/134090367-681ec332-4f2f-45f1-bafa-6cdb32607931.png)

[2021-09-20 14:19] mdevlamynck commented on #13123
@loevgaard Done :)

[2021-09-20 16:17] #12861 closed

[2021-09-20 20:11] chalasr commented on #11412
Regarding languages, https://github.com/symfony/symfony/pull/43108 should help.

[2021-09-20 22:13] pjurasek commented on #5399
I run in the same issue in few days ago as @peteward. I assume the same behavior after set `default_page_size` that the max per page would alter with that value. The term `paginate` is a bit misleading, that would set the max per page in pagination.

[2021-09-21 05:09] ahawkclint commented on #13125
Solved it--nginx stripped the query strings from the ajax routes.

Here is the correct config

[code]

[2021-09-21 05:09] #13125 closed

[2021-09-21 08:26] BaThor opened #13127 "Overriding default xml or yml files"
Hello,
how can I override, extend or add  xml files. For example in CoreBundle/Resources/config/services/checkout.xml, I want to add few arguments to one of service, also I want to create my own xml file inside /services. How can I do it?
I was trying to recreate folder paths in app/Resources/SyliusCoreBundle/config/... but it did not work :/

I would be very grateful for your help.
Cheers

[2021-09-22 06:37] Zales0123 commented on #13127
Hello @BaThor and welcome to the community! 🚀 **Sylius** issues should be used to report bugs, propose new features, discuss new functionalities. For everything else, please, use our [Slack](http://sylius.com/slack) (preferred) or [forum](https://forum.sylius.com/) ;) We have a very active, developed community, I'm sure someone will be able to help you with your problem. Good luck 🖖

[2021-09-22 06:37] #13127 closed

[2021-09-22 15:14] oleg-andreyev opened #13134 "Short locale notation altering search to zero-results."
**Sylius version affected**: 1.10.2

**Description**
- Go to "Admin Panel"
- Go to "My Account"
- Change Language Preferences and select "English" and not "English (United States)" or something else.
- Save
- Got to "Products" in the admin panel
- Try to search by "name"
- Empty result

This is because all transactions are stored using full local notation en_US, lv_LV and etc.

[code]

here `local

[2021-09-23 11:10] vvasiloi commented on #13134
How about that: an admin should see all resources in all locales, regardless of the account language, which should be mostly used for translating the interface.

[2021-09-23 12:18] pawellen opened #13139 "How can I set channel programmatically?"
How can I set channel context programmatically?

[2021-09-24 09:07] Zales0123 commented on #13139
Hello Paweł and welcome to the community! 🚀 **Sylius** issues should be used to report bugs, propose new features, discuss new functionalities. For everything else, please, use our [Slack](http://sylius.com/slack) (preferred) or [forum](https://forum.sylius.com/) ;) We have a very active, developed community, I'm sure someone will be able to help you with your problem. Good luck :)

[2021-09-24 09:07] #13139 closed

[2021-09-27 09:53] diimpp commented on #13134
This problem appeared through the app multiple times (ajax requests for autocomplete, taxon tree) and was solved by introducing search without specifying locale code.

I guess it's time for grid search filter fix now :)

Though my information may be out of date.
https://github.com/Sylius/Sylius/blob/1cb2981a4ccd89af9928822d8cc86547ed91f03c/src/Sylius/Bundle/AdminBundle/Resources/config/routing/aja

[2021-09-27 14:14] mamazu opened #13143 "[RFC] Removing the sylius/theme-bundle from the admin package"
**The proposal**
Removing the theming functionality for headless Sylius shops. The current move in Sylius is more and more towards a headless approach and making everything exposed via an API. This means that in the core of Sylius we don't need theming support. This is only needed for shops that have a front-end which is based on Sylius.

**Additional context**
The changes that needed to be made a

[2021-09-27 14:40] morgan-blondellet opened #13144 "Guest Checkout > Can't disable it when disabling localised urls"
**Sylius version affected**: 1.10.2

**Description**
I disabled localised urls on my shop and tried to disabled guest checkout via access_control. I can still access the checkout process though.

**Steps to reproduce**
I followed those 2 documentation pages :
[https://docs.sylius.com/en/1.10/cookbook/shop/disabling-guest-checkout.html](url)
[https://docs.sylius.com/en/1.10/cookbook/shop/disabling-

[2021-09-28 09:50] leflings opened #13149 "Performance: Usage of RequestStack::getMasterRequest has significant performance impact"
**Sylius version affected**: 1.9+

**Description**
The continued usage of `RequestStack::getMasterRequest` in various places has significant performance impact when running on Symfony 5.

Below is a screenshot from a Blackfire profile from a production environment:

![get_master_request_profile](https://user-images.githubusercontent.com/658790/135063101-4fce1e9e-b7f2-4bc2-8b42-a3a5412449e0.PNG)

H

[2021-09-29 14:27] mbabker commented on #13149
In general I'm 👍 on anything that reduces the deprecation count in a Sylius app.  Even with the current 1.10 build on Symfony 4.4, I find it hard to manage deprecations with over 170 of them being logged (and the vast majority coming from things like Sylius' Mailer and Resource bundles).

[2021-09-30 09:22] olimination opened #13158 "[ShopBundle] Incorrect price display after product option selection and page refresh"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Sylius version   | 1.10.2

How to reproduce:

1. Open https://demo.sylius.com/en_US/products/sport-basic-white-t-shirt
2. Select some product option, e.g. select "XL" or "L"
3. Remember the initially displayed price above the product options
4. Reload

[2021-10-04 15:51] andrehoffmann30 opened #13167 "[API] Description is not exposed in endpoint GET ​/api​/v2​/admin​/products​/{code}"
**Sylius version affected**: 1.10.2

**Description**
The api endpoint GET ​/api​/v2​/admin​/products​/{code} does not provide description data although the documentation states, the this endpoint should expose the description data like the corresponding endpoint GET ​/api​/v2​/shop​/products​/{code}

**Steps to reproduce**

- Login as admin via the endpoint POST ​/api​/v2​/admin​/authentication-to

[2021-10-06 13:43] andrehoffmann30 opened #13176 "[API] Phone number and company name can not be added to the address via the endpoint PATCH ​/api​/v2​/shop​/orders​/{tokenValue}​/address"
**Sylius version affected**: 1.10.2

**Description**
When adding an Adresse to an Order the values for phone number and company name are not added to the address when using the endpoint PATCH ​/api​/v2​/shop​/orders​/{tokenValue}​/address

**Steps to reproduce**

1. Create a cart via the api
2. Add a product via the api
3. Add the billing address data with phone number and company name via the end

[2021-10-08 13:38] stloyd opened #13188 "BC Break | All migrations are hardly bound to MySQL"
**Sylius version affected**: every?

**Description**
All migrations that are shipped in Sylius are not usable for other database than MySQL ones (MariaDB works as it's same family), so you cannot use them on i.e. Postgresql, yet all those migrations are marked as "not limited" to MySQL

**Steps to reproduce**
For example recent one about catalog promotions:
https://github.com/Sylius/Sylius/blob/ma

[2021-10-12 10:03] mcsky opened #13193 "[New-API] - Checking user role don't use the Symfony AuthorizationChecker"
**Sylius version affected**: `^1.8`

**Description**
I'm using the `new-api` with API Platform. In our application, we customized our role_hierarchy to add a `ROLE_API` role, that has `ROLE_API_ACCESS` and other roles. I'm getting 404 status code on many endpoints

**Steps to reproduce**

Add a new role to your role hierarchy

`ROLE_API: [ ROLE_YOLO, ROLE_API_ACCESS ]`

Create a user with the role

[2021-10-12 12:44] SebastienTediber opened #13197 "[Checkout] Allow user to choose the default address (billing or delivery)"
With 1.7 update came this [feature](https://github.com/Sylius/Sylius/commit/457fc91c155fa9562d3bc7126ab6d2f68ab11d25).
I came to understand, it was added because in certain countries, you would ask for billing address first and if the delivery address is different, it would be asked later.

Unfortunately, in France we are used to ask for the delivery address first and the billing one later if it's

[2021-10-12 14:10] adwil13 opened #13198 "Payment capture links redirect to main page when system locale mismatches channel locale"
**Sylius version affected**: 1.9-1.10

**Description**
When browser locale is set to locale that is not available in current shop channel then payment capture links like `/payment/capture/{payum_token}` redirect to channel's main page.
It's because those do not include locale so `NonChannelLocaleListener::restrictRequestLocale` redirects user to main page.

**Steps to reproduce**
My system and bro

[2021-10-13 15:05] acornforth opened #13201 "Insert duplicate Customer on checkout for repeating guest customers."
**Sylius version affected**: 1.7 | 1.8 | 1.9 | 1.10

**Description**
At checkout, repeat guest customers who enter their email address with a different spelling results in a 500 error due to attempting to insert duplicate record (email)

**Steps to reproduce**
- Checkout as guest entering the email address with a single capital letter.
- Checkout as guest again with the same email, this time all l

[2021-10-13 17:18] adpeyre opened #13203 "Deprecations problem"
Hi,

I've installed today Sylius 1.10 with symfony 5.3.
There are a lot of deprecations: >10 000 !

This number of deprecations results in a very long page load and a debug bar load fail.

Do you have a solution ? Maybe need to disable deprecations errors ? I already tried a lot of things.

Thanks for your help

[2021-10-14 14:43] freakpol opened #13205 "One step checkout"
I haven't seen all the issues here, and a quick search give me no result, so may be this was asked before.
Is there any plan to add support for one step checkout ?

[2021-10-15 09:34] Roshyo commented on #13203
Hi there.

I don't think this is a real problem. Deprecation notices are only for dev environment. They are here to remind you that the version won't be compatible with next Major release of w/e plugin/framework it was thrown from.

If log is growing too fast, then remove the folder.

[2021-10-15 12:36] Roshyo commented on #13203
I'm running a project under Symfony 5.3 and Sylius 1.10, and even with 16 000 deprecation (most of them being `User Deprecated: Since symfony/http-foundation 5.3: "Symfony\Component\HttpFoundation\RequestStack::getMasterRequest()" is deprecated, use "getMainRequest()" instead.`), it is running fast.

And under a fresh Sylius install, it loads in 900ms.

What is your OS and your local setup ?

[2021-10-15 15:47] adpeyre commented on #13203
@Roshyo  In dev environement with debug enabled ?

[2021-10-18 08:20] delyriand opened #13211 "Unknown column type "json_array""
**Sylius version affected**: 1.9, 1.10

**Description**

During the migration, we have an error on unknown column type "json_array":

[code]

**Steps to reproduce**

Install/update your dependencies and run the `doctrine:migration:migrate` command

(your tests failed with the same error: https://github.com/Sylius/Sylius/pull/13210/checks?check_run_id=3922340759)

**Possible Solution**

Add a confl

[2021-10-19 13:00] molabs commented on #13134
I see it like @vvasiloi, the language in the backend shouldn't have any effect on the product list etc.

[2021-10-20 15:11] aleho opened #13224 "OrderShipmentTaxesApplicator uses all adjustments"
**Sylius version affected**: 1.9+

**Description**

OrderShipmentTaxesApplicator uses `$shipment->getAdjustmentsTotal()` instead of a sum of `SHIPPING_ADJUSTMENT` and `ORDER_SHIPPING_PROMOTION_ADJUSTMENT`. I don't think this is correct.

https://github.com/Sylius/Sylius/blob/dc9a42a66e04d55d555dcdac3698ded1ca112f61/src/Sylius/Component/Core/Taxation/Applicator/OrderShipmentTaxesApplicator.php#L64

[2021-10-21 13:38] Prometee commented on #9520
@CoderMaggie It's steal a bug, the quantity field will display the validation error on a product page, but when changing it in the cart summary page it won't be displayed.
What it's also awkward is the cart summary will display the updated prices even if the cart form has errors.

What can be done first is to display the error under each quantity field in the cart page :
https://github.com/Sylius/

[2021-10-21 14:04] Prometee commented on #9520
@sanpii I'm sure you figured out since then.
From my side I ended up creating the `Constraint` I need with a `OnlyOneCustomProductOrderItemValidator` which is doing exactly what you needed with `$min = 1;`.
Then I decorated `sylius.order_item_quantity_modifier.limiting` to create a new `LimitingOrderItemQuantityModifier` service which set quantity to 1 when the custom product quantity will change.

[2021-10-21 19:02] zairigimad opened #13233 "Replace knpGaufretteBundle with the FlySystemBundle to support all Cloud providers"
**Sylius docs version**: 1.x / latest

I think with FlysystemBundle in the Doc this will cover not only AWS but all the cloud providers that have Flysystem Adapters.
Also, the FlysystemBundle contains a lot of other features and is using async-aws and HttpClient from Symfony wich is good for performance.

**Description**
<!-- Describe what is missing or where exactly is the bug/typo/issue located.

[2021-10-26 10:56] loevgaard opened #13250 "Cost price on product variant entity"
I would ❤️ to have cost price on the product variant. Would this be something you would be interested in if I create a PR?

[2021-10-27 12:31] #13211 closed, assigned to nobody

[2021-10-27 17:12] zairigimad opened #13254 "Install new App with Docker not working"
**Sylius version affected**: 1.10
<img width="517" alt="Capture d’écran 2021-10-27 à 18 08 51" src="https://user-images.githubusercontent.com/9056839/139113796-bf1d6ab7-3796-416f-82c2-32d7ca8e06c5.png">

**Description**
Hello,

following the documentation, I cannot Install Sylius with docker approach.

the error in screenshot

[2021-10-28 10:12] stefantalen opened #13257 "Require Symfony components with versions as recommended"
Right now the `composer.json` (and for Sylius-Standard) does not follow the Symfony recommended pattern for their components, allowing for other version to be installed.
[code]
This will also allow for installing 5.3 components.

**Describe the proposed solution**
By setting the version requirements as recommended, there won't be any unexpected installs.
[code]
When used in combination with the `e

[2021-11-02 16:15] mkifia commented on #13023
Same issue

`
$orders = $this->getDoctrine()
            ->getRepository(\Sylius\Component\Core\Model\Order::class)
            ->findBy(['customer' => $customerId], ['updatedAt' => 'DESC'])
        ;

return $this->json($orders);
`

A circular reference has been detected when serializing the object of class "Proxies\__CG__\Sylius\Component\Product\Model\ProductAttribute" (configured limit: 1).

[2021-11-02 21:49] igormukhingmailcom opened #13269 "NthOrderRuleChecker has wrong logic"
**Sylius version affected**: 1.10

**Description**
At these lines we expect that the Customer is always attached to the Order, otherwise, it always returns false:
https://github.com/Sylius/Sylius/blame/dc9a42a66e04d55d555dcdac3698ded1ca112f61/src/Sylius/Component/Core/Promotion/Checker/Rule/NthOrderRuleChecker.php#L47-L52

But correct logic is:
[code]

**Steps to reproduce**

- Load fixture like t

[2021-11-02 21:58] igormukhingmailcom commented on #13269
## For strangers came here from Google

- `src/Kernel.php`

[code]

- `src/DependencyInjection/Compiler/ReplaceClassAtTaggedServicesPass.php`
[code]

- `src/Promotion/Checker/Rule/NthOrderRuleChecker.php`:
[code]

- Check it replaced correctly:

[code]

[2021-11-03 15:32] veloxy commented on #7095
A little late, but in case someone is going down the same rabbit hole as us, this worked for me https://github.com/Sylius/Sylius/issues/12788#issuecomment-876159901

[2021-11-03 15:35] lchrusciel commented on #12462
If I understood you correctly change in macro call + UPGRADE.md documentation should be enough for people to easily and safely upgarde. Is that correct?

[2021-11-04 10:54] Loocos commented on #12377
I just meet a similar issue.
If you're logged as a user and you try to edit your personnal information. If you change your email address it will throw an error 500 by giving the same error "The identifier id is missing for a query of App\Entity\Customer\Customer"

[2021-11-04 13:26] Neirda24 commented on #9443
Hey @alanpoulain : In the end was a plugin developped ? We may have the same use case and other people landing on this issue could find useful to have a link to this plugin if it exists.

[2021-11-04 18:09] Sklico opened #13272 "[API] Retrieve payment configuration endpoint returns 500 error"
**Sylius version affected**: 1.10.4

**Description**
API endpoint "Retrieve payment method configuration" (GET ​/api​/v2​/shop​/orders​/{tokenValue}​/payments​/{paymentId}​/configuration) returns an 500 error with message:

`Argument 2 passed to Sylius\\Bundle\\CoreBundle\\Doctrine\\ORM\\PaymentRepository::findOneByOrderToken() must be of type string, null given, called in vendor/sylius/sylius/src

[2021-11-05 16:11] loic425 opened #13274 "Symfony 6 support"
### Internal Packages

- [x] Addressing
- [x] Attribute
- [x] Channel
- [x] Core
    - [x] Sylius/Sylius#14078
- [x] Currency
- [x] Customer
- [x] Inventory
- [x] Locale
- [x] Order
- [x] Payment
- [x] Product
- [x] Promotion
- [x] Review
- [x] Shipping
- [x] Taxation
- [x] Taxonomy
- [x] User
    - [x] Sylius/Sylius#14068

### Internal Bundle

- [x] AddressingBundle https://github.com/Sylius/Syli

[2021-11-05 18:38] bellu opened #13276 "Unable to extend Form TaxonTranslationTypeExtension"
**Sylius version affected**: 1.10.0

**Description**
Following these docs:
[https://docs.sylius.com/en/latest/customization/form.html](https://docs.sylius.com/en/latest/customization/form.html)
[https://docs.sylius.com/en/latest/customization/model.html#how-to-customize-translatable-fields-of-a-translatable-model](https://docs.sylius.com/en/latest/customization/model.html#how-to-customize-translat

[2021-11-06 08:00] vvasiloi commented on #13276
The extension should extend `Symfony\Component\Form\AbstractTypeExtension`.

More info:
- https://docs.sylius.com/en/latest/customization/form.html
- https://symfony.com/doc/current/form/create_form_type_extension.html

[2021-11-08 08:48] bellu commented on #13276
@vvasiloi Thanks for pointing me out. I was using the wrong class.

[2021-11-08 13:36] Snowbaha commented on #13123
I have the same issue, I spent to many hours to search the origin and i have the same result.
All my searches in french on the slack :
https://app.slack.com/client/T3EQ9BVL2/CBP79GKJS/thread/CBP79GKJS-1636366512.078100

[2021-11-08 15:33] Prometee commented on #10611
@andriusvo I'm also facing this issue trying to comply to the new EU regulation regarding VAT OSS.

For example, the EU zone for VAT OSS is very complicated because it must include some particular areas like Northern Ireland, Italy (without Livigno, Campione d’Italia and the territorial waters of Lake Lugano), France DOM, etc... Trying to make a zone become nearly impossible with what Sylius is pr

[2021-11-09 19:49] istgin opened #13284 "yarn install error"
**Sylius version affected**: 1.10.5

**Description**
00h00m00s 0/0: : ERROR: [Errno 2] No such file or directory: 'install'

**Steps to reproduce**
Follow standard installation guide on site
yarn --version
gives 0.32

**Possible Solution**
...

[2021-11-09 21:55] loicpe9 opened #13285 "[AttributeOverride] Sylius Customer Model"
Hey,
I am having a problem rewriting attributes on the Customer class.
Actually, `email` property is unique in vendor doctrine mapping but i d'ont want it.

Here is my model schema:
= Sylius\Component\Customer\Model\Customer => MappedSuperClass
== App\Entity\Customer => Single table inheritance
==== App\Entity\Parent
==== App\Entity\Student
==== App\Entity\Teacher

In vendor, mapping is declared o

[2021-11-11 11:03] igormukhingmailcom commented on #10466
Some more fixes.
Should be placed at `templates/bundles/SyliusUiBundle/Form/theme.html.twig` of your app:

[code]

[2021-11-12 13:17] stloyd commented on #13274
Pagerfanta got release [`3.4.0`](https://github.com/BabDev/PagerfantaBundle/blob/3.x/CHANGELOG.md#340-2021-11-09) with support for Symfony 6

[2021-11-12 13:50] stloyd commented on #13274
SyliusGridBundle: https://github.com/Sylius/SyliusGridBundle/pull/192 (but requires also: https://github.com/SyliusLabs/PolyfillSymfonyEventDispatcher/pull/1)

[2021-11-12 15:38] mbabker commented on #13274
friendsofsymfony/rest-bundle 🦀 https://github.com/FriendsOfSymfony/FOSRestBundle/pull/2340
jms/serializer-bundle ✅  released (Requires Sylius to add support for `^4.0`)
knplabs/knp-menu-bundle ✅  released
lexik/jwt-authentication-bundle ✅  released
stof/doctrine-extensions-bundle ✅ https://github.com/stof/StofDoctrineExtensionsBundle/pull/431 (merged, pending release)
sylius/mailer-bundle 🦀 https:

[2021-11-16 15:58] jakubtobiasz opened #13296 "[AdminBundle] Product isn't displaying if the translation for the current locale is missing"
**Sylius version affected**: As far as I know - all versions
**Description**

If the product has not defined translation for the current locale it isn't displayed on the products list in AdminPanel.

Let's say we have 2 active locales in our shop en_US and pl_PL. We have defined translations for the both locales for the all products. We want to add de_DE locale. We add de_DE locale in AdminPanel,

[2021-11-17 08:54] loic425 commented on #13274
thanks @mbabker I edited the first post to update the informations.

[2021-11-17 10:07] bellu commented on #9364
I'm using Sylius 1.10 and the problem is still here.
The only solution that works is the @Takeno one.

[2021-11-17 10:12] hknkrts commented on #13144
I get the same error after shop user registration.

I applied the documentation steps to disable localised URL.

[https://docs.sylius.com/en/1.10/cookbook/shop/disabling-localised-urls.html](https://docs.sylius.com/en/1.10/cookbook/shop/disabling-localised-urls.html)

Except shop user registration, everything works fine.
regex fix #13178 is not working. I got the same error.

[2021-11-17 12:19] tsogoo opened #13300 "Need Accosiated product on New Api."
**Describe the proposed solution**
Add Associated Products related resources and serializations on api_platform. Now there is only AssociationType resource for AdminApi.

[2021-11-20 14:44] antonioperic opened #13312 "User token not setup to null after reset password (security issue)"
**Sylius version affected**: 1.10

**Description**
Using API, on password reset password reset tokoen is not set to null (this is security issue, as anyone with token can change the password at any time while token is valid, even if user already changed the password

**Steps to reproduce**
Request token via API for user password reset, resert password, check db

**Possible Solution**
in ResetPassw

[2021-11-22 15:36] stloyd commented on #13274
We have now:
- https://github.com/stof/StofDoctrineExtensionsBundle/releases/tag/v1.7.0

[2021-11-22 15:51] tsogoo commented on #13205
There is a paid plugin.
https://store.sylius.com/products/onepagecheckoutplugin-by-bitbag

[2021-11-22 17:33] ehibes commented on #10487
Same issue here.  Let's say we have 3 calculator methods, and the second one contains a form with a collectionForm field.
Making a new shipping method, you choose the second calculator method, the add button is not bound, and no event is fired (normally collection form event are bound).

[2021-11-23 09:14] fykyx521 opened #13321 "sylius/resource composer.json php version Conflicts"
**Sylius version affected**: 1.10.5

**Description**
https://packagist.org/packages/sylius/resource#v1.7.1
require php7.3
but  sylius require php7.4 | php8.0

[2021-11-23 10:18] jacquesbh commented on #13321
Hi,

Sylius doesn't use the `sylius/resource` anymore, it uses the `sylius/resource-bundle`: https://github.com/Sylius/SyliusResourceBundle

[2021-11-23 10:24] jacquesbh opened #13323 "Too many constraints force composer to stay on 1.10.4 for PHP 8"
**Sylius version affected**: 1.10.5

**Description**

Since composer always tries to have the most up-to-date packages installed, with all the conflicts in Sylius 1.10.5 it will always go for 1.10.4 if you require `sylius/sylius=^1.10`, which is the case for Sylius-Standard.

**So right now if you install Sylius using `composer create-project` you will get a sylius 1.10.4, and therefore get the #1

[2021-11-23 10:31] fykyx521 commented on #13321
"sylius/resource": "^1.7",

in https://github.com/Sylius/Sylius/blob/v1.10.5/composer.json

[2021-11-23 10:49] fykyx521 commented on #13321
only use sylius/product component

composer require sylius/product  in php8
Problem 1
    - sylius/product[v1.10.0, ..., v1.10.4] require sylius/resource ^1.7 -> satisfiable by sylius/resource[v1.7.0, v1.7.1].
    - sylius/resource[v1.7.0, ..., v1.7.1] require php ^7.3 -> your php version (8.0.11) does not satisfy that requirement.
    - Root composer.json requires sylius/product ^1.10 -> satisfia

[2021-11-23 17:45] mbabker commented on #13321
Did someone stop the `git subsplit` for the standalone `sylius/resource` package?  https://github.com/Sylius/Resource is a few commits behind https://github.com/Sylius/SyliusResourceBundle/tree/master/src/Component and none of the 1.8 tags from the https://github.com/Sylius/SyliusResourceBundle repo are in the split repo.

[2021-11-23 17:48] mbabker commented on #13321
Also, just to point out here, the reason this hasn't come up sooner in the context of a full Sylius app install is that `sylius/resource-bundle` replaces `sylius/resource`.  So the right version of the Resource component code gets installed into a Sylius application but only because the code isn't being installed from the split repo (which, isn't up-to-date).

[2021-11-24 02:18] fykyx521 commented on #13321
i only use sylius/product sylius/promotion sylius/order in my laravel project

[2021-11-24 02:24] fykyx521 commented on #13321
我该怎么做
What shall I do?

[2021-11-24 09:46] delyriand opened #13326 "We cannot apply all the options selected for an attribute of type multiple select"
**Sylius version affected**: 1.10

**Description**

If we use an attribute of type multiple select and we choose apply to all translate value, only the first option is applied:

https://user-images.githubusercontent.com/465524/143214031-1134f5ce-4f6d-423f-9c4f-e9f479eb73bd.mov

**Steps to reproduce**

- Create an attribute of type select
- Add more than one option
- Enable the "multiple"
- Add thi

[2021-11-25 10:25] endelwar commented on #12481
NodeJs 10 is not even in  maintenance see https://nodejs.org/en/about/releases/
I think that Sylius should run on NodeJS supported version (v16 would be good, as is the active LTS version)

[2021-11-25 14:44] Nek- commented on #11216
Experimenting the same issue and no idea why, because it looks pretty much exactly like what happens in the sylius example:

Currencies defined here:
https://github.com/Sylius/Sylius/blob/f2a6c1dbd5213e3f10154642937deae78826b711/src/Sylius/Bundle/CoreBundle/Resources/config/app/fixtures/shop_configuration.yaml#L25

Reused here:
https://github.com/Sylius/Sylius/blob/f2a6c1dbd5213e3f10154642937deae7

[2021-11-25 17:44] suhugong commented on #13254
Check https://github.com/Sylius/Sylius-Standard/pull/622/files for a fix

[2021-11-26 10:48] maximehuran commented on #13323
We have the same issue in our plugins.
The first time, it installs 1.10.5 :

<img width="482" alt="image" src="https://user-images.githubusercontent.com/11380627/143569178-961d451f-6e0b-407a-bd9e-7f3a4ab5919e.png">

The second time, everything is updated to 1.10.4 dependencies :

<img width="361" alt="image" src="https://user-images.githubusercontent.com/11380627/143569238-38238885-4660-4854-8928-

[2021-11-26 11:10] #11163 closed

[2021-11-26 16:18] petrjuraseko opened #13336 "Could be Filters trasnlatable?"
https://github.com/Sylius/Sylius/blob/c01dfc4d5036f14acdf3acf0b318ca38f301860e/src/Sylius/Bundle/PromotionBundle/Form/Type/Action/UnitPercentageDiscountConfigurationType.php#L44

Actually I see Filters have no translatable label, cloud be there added line with label?

[2021-11-29 18:24] bellu opened #13341 "Unable to retrieve Product translations"
**Sylius version affected**: 1.10.5

**Description**
I'm trying to retrieve all the translations available for a product.
But using `$product->getTranslation('en')` return the translations only for the currentLocale.

ps: i've this product available in two languages with the codes: 'it' and 'en'.

[2021-11-29 22:07] pawelkeska opened #13342 "Security bundle new version (5.4) problem"
I tried install today Sylius and after installation i've got error:

The service "security.authorization_checker" has a dependency on a non-existent service "security.authentication_manager". Did you mean one of these:  "security.authorization_checker", "security.authentication_utils", "security.authentication.manager", "security.authentication.guard_handler"?

When i downgrade package symfony/sec

[2021-11-30 13:45] bigboss86 commented on #13342
@Zales0123 @lchrusciel

[2021-11-30 13:49] Zales0123 commented on #13342
Hello @pawelkeska! We're already working on proper support for Symfony 5.4. Right now, indeed, it's safer to use Sylius with Symfony 5.2 & 5.3 🖖

[2021-11-30 13:53] BigChicChicken commented on #13342
@pawelkeska How did you downgrade "ymfony/security-bundle" ?

[2021-11-30 16:48] loic425 commented on #13274
@stloyd thx, I updated the first post

[2021-12-01 07:39] BigChicChicken commented on #13342
I found another incompatibility with "symfony/twig-bridge", so i downgrade all symfony's packages to 5.3
In composer.json:
`
    "extra": {
        "symfony": {
            "allow-contrib": false,
            "require": "5.3.*"
        }
    }
`

[2021-12-01 10:45] rimas-kudelis opened #13346 "1.8: API is documented as disabled by default, but isn't"
In `UPGRADE-API-1.8.md`, one of the first lines states that the new API is disabled by default and one has to explicitly enable it:
https://github.com/Sylius/Sylius/blob/a50e720c25ec79f8aa95116c811744a070440596/UPGRADE-API-1.8.md?plain=1#L3

But this is not true: in fact, the API is enabled, and the documented flag does not exist at all and causes an exception if used.
I don't know which way it wa

[2021-12-01 12:00] dsbe-ak commented on #13323
Facing the same issue, 1.10.5 won't install for "^1.10", only by forcing "v1.10.5" (which is not an option in my opinion).

[2021-12-02 07:40] wadjeroudi commented on #11244
@leflings @lchrusciel got the same issue on a multi channel & multi locales store.
decided to increase the priority of RequestLocaleSetter, seems to work so far.

[2021-12-02 09:15] wadjeroudi commented on #13342
one possible solution for those who really need 5.4 support, remove from app security.yaml
[code]
not sure of all consequences, possibly if you change a user role, he will need to disconnect and reconnect to reload the roles.

[2021-12-02 09:42] alwintje commented on #13342
The following worked for me:

* Add an alias in services.yaml
[code]
* In security.yaml, encoders is replaced for password_hashers. So I added the following:
[code]
* Symfony uses now the cache provider of Doctrine instead of their own. In config/packages/prod/doctrine.yaml:
[code]

* In composer.json I did the following:
[code]

[2021-12-06 13:53] bigboss86 opened #13359 "[Admin] Products routes id requirements"
**Sylius version affected**: 1.9

**Description**
In products admin routes, the id parameter has no requirements.

**Steps to reproduce**
[code]

**Possible Solution**
[code]

[2021-12-06 14:01] mynameisbogdan commented on #13341
How about `$product->getTranslations()`?

It's defined in `Sylius\Component\Resource\Model\TranslatableInterface`.

[2021-12-06 14:16] bellu commented on #13341
I have already tried, `$product->getTranslations()` returns an array of translations with only the current locale.

[2021-12-06 14:27] mynameisbogdan commented on #13341
That happened to me when there's a `->andWhere('translation.locale = :locale')` or `->innerJoin('o.translations', 'translation', 'WITH', 'translation.locale = :locale')` in query builder.

Can you check if there's a restriction by locale for the translation in the repository method you're using to fetch the products?

[2021-12-06 21:42] TheDevilOnLine opened #13362 "Incompatible symfony/password-hasher version"
**Sylius version affected**: master

**Description**
When you install master, update all depedencies, follow the installation instructions and try to login to the admin panel you get the error `No password hasher has been configured for account "[username]".`

**Possible Solution**
Implement `PasswordAuthenticatedUserInterface` on `src/Sylius/Component/User/Model/User.php`

[2021-12-08 09:27] dsbe-ak commented on #13323
Seems to be fixed with sylius version 1.10.6!

[2021-12-08 09:48] laurentdabbb commented on #12111
Hi,
+1 for first proposed solution

[2021-12-08 10:11] laurentdabbb commented on #11585
Hi,

Please consider this as a bug.

**Bug is on the getSubtotal() method on OrderItem**.
This method return ```$this->getDiscountedUnitPrice() * $this->quantity;```

The problem is that **getDiscountedUnitPrice()** only retrieve discounted price from the **first** orderItem unit.

I encountered same issue with a new custom type of promotion "percentage discount on the Nth cheapest article".
This

[2021-12-08 11:24] laurentdabbb opened #13371 "Wrong total on cumulative promotions (product + order promotions)"
**Sylius version affected**: 1.10.6 and lower

**Description**
When applying an order discount, adjustments are split among all order item units.
Then, if you apply a product discount bigger than the remaining amount of the unit ( 100% discount for example ), unit adjustments are superior to unit price and a part of adjustment is lost for the customer.
For the customer the discount on the order ap

[2021-12-09 17:02] jbator commented on #12307
Anyone have a problem with Admin js issue with dirtyForms jquery plugin when using Webpack:

`"ss(...).dirtyForms is not a function" error on every admin page`

Issue is caused by this line of code from app.js in AdminBundle

`$(`${formsList}, .check-unsaved`).dirtyForms();`

[2021-12-09 17:13] wadjeroudi commented on #12307
@jbator https://github.com/Setono/SyliusPluginSkeleton/issues/21

[2021-12-09 17:22] jbator commented on #12307
@wadjeroudi Thanks man, it does the trick :+1:

[2021-12-11 22:20] 450Oucema commented on #13284
I think that it is a Yarn issue instead of Sylius.
If you are on Ubuntu, it could be because Ubuntu's APT installs a package named "cmdtest". You can uninstall these two and install yarn globally with npm.

[code]

[2021-12-13 20:35] rimas-kudelis opened #13384 "Swagger documentation normalizers don't work with Api Platform 2.6"
**Sylius version affected**: current master

**Description**
Sylius ships for decorating documentation normalizers which are meant to improve some bits in swagger UI. They don't work with Api Platform 2.6 though.

**Steps to reproduce**
1. Install Sylius 1.10 anew, make sure that composer installs Api Platform 2.6 along with it.
2. Enable and open api docs
3. Observe how none of the changes are ma

[2021-12-14 14:57] michalsemelka commented on #10997
Hi @pamil

sorry if it does not belong here, but I was wondering how can I reproduce such behavior like in the EE plugin https://github.com/stefandoorn/sylius-google-tag-manager-enhanced-ecommerce-plugin/blob/v0.10.0/src/EventListener/ProductShowBlockAfterProductHeaderListener.php since you deprecated `Sylius\Bundle\UiBundle\Block\BlockEventListener`?

We use this listener to add additional data o

[2021-12-15 07:32] stloyd commented on #13188
@lchrusciel This was fixed by #13379 & #13380, thanks!

[2021-12-15 07:32] #13188 closed

[2021-12-15 08:23] stefantalen opened #13395 "Confusing Doctrine Migrations configuration"
**Sylius version affected**: 1.8.0 and higher

**Description**
While upgrading our 1.6 installation up to 1.9 I came across some confusing configuration.

When doing a clean install for 1.9.0 using the `sylius-standard` repo one gets the following [doctrine_migrations.yaml](https://github.com/Sylius/Sylius-Standard/blob/1.9/config/packages/doctrine_migrations.yaml):
[code]
However, when reading th

[2021-12-17 13:45] sabat24 opened #13404 "Make optionsResolver property protected in fixtures examples factories or pass $options by reference"
**Describe the proposed solution**
My use case:

I want to add new property to customized product Entity and set some default value. To do that I need to extend the `ProductExampleFactory` and configure my new options for fixtures

[code]

Then I need to use my default value in `create` method

[code]

**Describe alternatives you've considered**
Other way would be to pass the `$options` by referen

[2021-12-21 09:51] lchrusciel commented on #13188
Hopefully, we can support PostgreSQL better in a near future as well :)

[2021-12-21 13:23] BigBadBassMan commented on #11513
As a mild update, [fomatic-ui](https://fomantic-ui.com/) could be used as a drop-in to semantic-ui, runs rather well on my end with an npm-override.

This would have the benefit of switching to a somewhat supported and current version, while not doing any BC-Breaks. Should I open a PR for this?

[2021-12-21 13:54] 4c0n commented on #11513
I have tried this in the past, but I remember it not exactly being a drop-in replacement and the layout being broken in places. Although I think it would be better than having Semantic-UI, I also think the big plan is to have completely separated UI once the new API is fully operational and have Sylius be truly headless.

[2021-12-21 14:07] lruozzi9 opened #13413 "Add Address unique entity validator"
Why not add a unique entity validator on the Address entity? The AddressComparator will do his work after finishing the checkout step by adding only new addresses to the customer address book, and this is great. But, at the same time, from the address book in my account, you will be able to create a new address with the same identical data from an already existing address. Of course, in a b2c shop

[2021-12-21 14:52] BigBadBassMan commented on #11513
there are 3 components missing from fomantic-ui-css:
- "colorize"
- "video"
- "visit"

Apart from that, I have seen no mangled or misformatted pages, and I'm using fomantic for almost 2 years now.
The only problem the missing components cause is that webpack does not run anymore, since these are hard requirements from AdminBundle and ShopBundle scripts. Using traditional yarn yields no errors.

IM

[2021-12-21 15:06] 4c0n commented on #11513
Give it a try if you want, it's really not up to me. I don't think there is a long term stable roadmap that defines this.
Just saying that this issue is already 2 years old, so I don't think it'll be a priority anytime soon. Also because the bigger plan seems to involve overhauling/mordernizing the UI completely and the team is already quite busy with other things and their opinion seems to be tha

[2021-12-21 15:08] BigBadBassMan commented on #11513
ok, will give it a shot, worst that could happen is that it will be declined. ;-)

[2021-12-21 15:19] laurentdabbb opened #13414 "[API] managing product attributes from API"
Hi,

Sorry in advance, if I missed an already opened issue about managing productAttribute from API.
I can't figure how to retrieve a productAttribute value from API. This feature seems to be actually missing.

I think this should be added to the #11250 roadmap about features requested to the community.

Complete CRUD features would be nice, but in a first time simply retrieving productAttribute v

[2021-12-22 07:21] rimas-kudelis opened #13416 "[API] Use PATCH requests where PUT are used"
**Describe the proposed solution**
It seems like Api Platform are planning to change the way PUT requests work, see api-platform/core#4344. The way they currently work is essentially that of PATCH, and the idea is to implement them propertly, while retaining the current functionality as PATCH proper.

Thus I think it might make sense for Sylius to move to PATCH before the new API gains wide adopti

[2021-12-22 11:36] CoderMaggie commented on #5846
Hi! As it seems that the customization solution has been found I am closing this issue.

Please reopen if needed 🖖🏻

[2021-12-22 11:36] #5846 closed

[2021-12-22 11:42] CoderMaggie commented on #7301
It seems that the described behavior stayed with us until today, thus I'm closing the issue 😅 . Please reopen if needed.

[2021-12-22 11:42] #7301 closed

[2021-12-22 11:56] CoderMaggie commented on #7833
![image](https://user-images.githubusercontent.com/13198869/147089029-3083f13d-c5eb-41c3-ad30-87117f43918f.png)

Hello! Long time no update on this issue, while in Sylius we've had major changes regarding the order summaries and taxes display (last year, I believe).

How do you feel after these changes? Is anything more still required?

[2021-12-22 11:59] lchrusciel commented on #7833
Should be fixed together with: https://github.com/Sylius/Sylius/issues/10261

[2021-12-22 12:01] CoderMaggie commented on #8051
I consider this a very minor issue, but there are potential solutions to this issue. Like having two flashbags instead of one?

Leaving open as the issue still exists. ✌🏻

[2021-12-22 12:07] CoderMaggie commented on #8113
@kulczy any thoughts on this one?

[2021-12-22 12:07] #13384 closed

[2021-12-22 12:13] Zales0123 commented on #8950
Hi guys! To be honest, the best thing I can recommend is to move to [PayPalPlugin](https://github.com/Sylius/PayPalPlugin) as our official PayPal integration. The Express Checkout is deprecated and we will probably not invest in it... Let me know if it's a way to process this issue for you :) 🖖

[2021-12-22 12:13] #8950 closed

[2021-12-22 12:18] lchrusciel commented on #8406
Hey folks,

This issue is with us for a long, long time. A lot have changed in dev world. One thing, I'm sure nowadays, is that we won't be interested in work over current js/jquery system. We should improve encore integration, perhaps move to newest stack(headless/symfony UX). Nonetheless, I would say, that keeping this PR open makes some unspoken promise, which would be lie.

[2021-12-22 12:18] #8406 closed

[2021-12-22 12:21] CoderMaggie commented on #9120
Well, it is indeed a great idea but it is not on our current (nor foreseeable) roadmap 😢  I encourage you to create something on your own, especially in a plugin 🖖🏻

[2021-12-22 12:21] #9120 closed

[2021-12-22 12:29] CoderMaggie commented on #9214
As the [Plugins Development Guide](https://docs.sylius.com/en/latest/book/plugins/guide/index.html) is already there, could any of you check if it solves this issue? :)

[2021-12-22 12:36] CoderMaggie commented on #9288
With the API v2 we have moved to Symfony Serializer, therefore I'm closing this issue. ✌🏻

[2021-12-22 12:36] #9288 closed

[2021-12-22 12:39] Roshyo commented on #9288
@CoderMaggie that is not completely true. As in the admin, for ResourceAutocomplete, we still use JMS Serializer. Should we create a new issue ? Or reopen this one ?

[2021-12-22 12:46] Zales0123 commented on #9305
Event though we will probably be thinking what we should do with Sylius-Standard in the future, I believe this issue can be closed 🖖

[2021-12-22 12:46] #9305 closed

[2021-12-22 12:47] CoderMaggie commented on #9348
Closing as a duplicate of https://github.com/Sylius/Sylius/issues/9220

[2021-12-22 12:47] #9348 closed

[2021-12-22 12:48] lchrusciel commented on #9297
Hey folks!

I can confirm, that bug exists. The solution is as simple, as adding empty field to the list of possible choices, however we would need scenario for that. In addition, we should probably add some possibility to declare on the form level, if empty field should be possible(but can be skipped for the first iteration)

[2021-12-22 14:38] #9214 closed

[2021-12-22 15:06] vvasiloi commented on #7833
@CoderMaggie  @lchrusciel this issue is not about displaying the prices in the admin section, but in the shop section, specifically outside the checkout process, i.e. the catalog.
This is especially important for B2B shops.
However, it's a complex problem... as it is always with taxes.
As I said before, it's probably better to isolate the uses cases and provide dedicated solutions through plugins,

[2021-12-22 21:03] bigboss86 opened #13418 "Deprecated EncoderAwareInterface since Symfony 5.3"
**Sylius version affected**: 1.10.0

**Description**
Symfony\Component\Security\Core\Encoder\EncoderAwareInterface is marked deprecated since Symfony 5.3

**Steps to reproduce**
Implement Sylius\Component\User\Model\UserInterface

**Possible Solution**
Since Symfony 5.3, use Symfony\Component\PasswordHasher\Hasher\PasswordHasherAwareInterface instead.

[2021-12-24 09:44] lruozzi9 commented on #13413
That's not completely true. This constraint will agree with the customer address create/edit page but not with the checkout addressing step. If you choose to bill and ship the order to the same address the validator will fail due to this constraint. The solution could be using a different validation group between the address form type and the checkout address form type.
Or, In an even more invasiv

[2021-12-28 10:26] kiakahaDZ opened #13424 "web profiler does not work"
**Sylius version affected**: 1.10

**Description**
An error occurred while loading the web debug toolbar.
Return value of Symfony\Component\HttpKernel\DataCollector\MemoryDataCollector::getMemoryLimit() must be of the type int, float returned

![image](https://user-images.githubusercontent.com/46278484/147556586-22cff6f9-fe04-4e59-b303-87854f7fdeaf.png)

**Steps to reproduce**
Just Install Sylius

[2021-12-28 12:29] jakubtobiasz commented on #13424
It seems to be a Symfony's bug itself. Can you tell me what's your value of `memory_limit`? This error is related with converting the `memory_limit` value to bytes. I've tried to reproduce this error but on my side everything is working properly.

[2021-12-28 12:33] kiakahaDZ commented on #13424
@jakubtobiasz thinks for the response, `memory_limit = 2G` and also i tried `memory_limit = 128M` i use windows 64 bits.

[2021-12-28 12:43] Zales0123 commented on #13424
Hello @kiakahaDZ 🖖 Thank you for the report, but as @jakubtobiasz says, it's definitely not a Sylius specific bug. If it was fixed in Symfony, I'm sure a new patch version will be released soon :)

[2021-12-28 12:43] #13424 closed

[2021-12-28 12:45] kiakahaDZ commented on #13424
@Zales0123 thinks for the response but sylius built on symfony hope that doesn't take much time and the composer update does the job if it's fixed by symfony right?

[2021-12-28 12:48] jakubtobiasz commented on #13424
Symfony hasn't released the fix yet. Try setting `memory_limit` to values such `256M`, `512M` or `-1`. On macOS every value except `128M` is working with the fresh sylius installation. Unless Symfony release the next version including the fix Sylius team can't do anything with it.

[2021-12-28 12:51] kiakahaDZ commented on #13424
okay, I will wait for the new version of Symfony, I tried different values for the `memory_limit` but the problem doesn't solve.

[2021-12-28 19:18] zorn-v opened #13425 "composer create-project sylius/sylius-standard make unworkable docker project"
Now it create `composer.json` with require `"php": "^7.4 || ^8.0"`, but Dockerfile build image with `ARG PHP_VERSION=7.3`
If just change 7.3 to 7.4 you get a error `configure: error: unrecognized options: --with-jpeg-dir, --with-png-dir, --with-webp-dir, --with-freetype-dir` while build image.

[2021-12-30 11:59] Zales0123 commented on #12891
We can consider it done 🖖

[2021-12-30 11:59] #12891 closed

[2021-12-30 17:16] foxou33 opened #13429 "Docker / composer PHP versions"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Sylius version   | 1.x.y

After doing a simple :
`composer create-project sylius/sylius-standard MyFirstShop`

When trying to build and start Sylius using :
`docker-compose up -d`

We get the error :
_ERROR: Service 'php' failed to build: The command

[2021-12-31 17:00] remoteclient commented on #11851
Same issue here on v1.10.1 working with PostgreSQL, but my errors are others.
![Bildschirmfoto von 2021-12-31 17-58-48](https://user-images.githubusercontent.com/8590822/147833293-04fdb0b0-7aeb-4795-92f6-6c9912fb11fa.png)

[2021-12-31 18:44] remoteclient commented on #11851
Setting
[code]
and changed `doctrine.yaml` to:
[code]
fixed the installtion issue.

But logging into the backend gives the same error like in version 1.8:
[code]

This is more than annoying. Does someone know how toi fix this?

[2021-12-31 18:46] remoteclient commented on #12049
Can you please fix this? The issue also appears in the current version 1.10.

[2022-01-03 11:22] TheDevilOnLine opened #13434 "Reversed parameters for "Assert::allOneOf" in "Sylius\Behat\Context\Api\Admin\ManagingTaxonsContext""
**Sylius version affected**: 1.11 (probably earlier versions too)

**Description**
The "iShouldSeeTheTaxonNamedAnd" behat test in "Sylius\Behat\Context\Api\Admin\ManagingTaxonsContext" seems to have their parameters reversed.

This causes the code to loop over the existing Taxons, and verify if they're in the given arguments, instead of the other way around.

**Steps to reproduce**
When there are

[2022-01-03 11:44] TheDevilOnLine commented on #13434
Confirmed that 1.10 is affected to, so will write fix for 1.10.

The mentioned location seems to be the only place where the assert is used in relation to Taxons. Might still be worth checking out other API contexts as well.

[2022-01-03 16:30] vvasiloi commented on #13359
Hey @bigboss86, as I commented on the PR, some choose to use UUIDs instead of integer IDs.
As the famous saying goes: It's not a bug, it's a feature.

[2022-01-03 16:30] #13359 closed

[2022-01-04 11:10] #13434 closed

[2022-01-04 11:12] Zales0123 commented on #13418
Hello Damian! Indeed, it should be changed, however, on Sylius 1.10 and 1.11 we still support Symfony 4.4. Therefore, we should probably conditionally implement a new interface based on the installed Symfony version. Are you willing to open a PR with such a change? Thanks in advance! 🎉 🖖

[2022-01-04 11:15] Zales0123 commented on #13416
Thanks @rimas-kudelis! We should definitely consider it. @lchrusciel, I think this one is for you ;)

[2022-01-04 11:19] Zales0123 commented on #13414
Hello @laurentdabbb. Indeed, it would be great to do it :) However, we're currently focusing on Shop API, so it's not a priority for us now. **However**, if you would like to give it a try and open a PR with such a change, we would be happy to merge it and/or help with potential problems. Tip: regarding different structures for different types, you can take a look at CatalogPromotion's API, as thi

[2022-01-04 11:27] Zales0123 commented on #13404
Hello @sabat24! Indeed, it's a pain in the back 😅 I would vote for making `$optionsResolver` **protected** in every example factory. We could with no problems release a patch 1.10.9 with such a fix 🖖

[2022-01-04 11:31] laurentdabbb commented on #13414
OK, thanks for your feedback.
I implemented a new endpoint specifically to what I need, so not enought generic to open a PR ;-)
I will take a look to CatalogPromotion's API.

Thx

[2022-01-04 11:47] Zales0123 commented on #13371
Hi @laurentdabbb 🖖 I understand your case, however, proper priorities should generally resolve this issue. From our side, maybe it would be good to add information in docs about what happens if priorities are not set. Or, even better, highlight that **when the promotions order is important for you, always set their priorieties**. I understand it's important on your side, but by default, it would b

[2022-01-04 11:49] #13371 closed

[2022-01-04 11:50] #13362 closed

[2022-01-04 12:02] Zales0123 commented on #13346
Hello Rimas! That's... true 😅 Somehow this change was merged after 1.8.12, so it's not included in the latest version before the support for 1.8 ended. We will figure out how to handle this problem properly, thank you for the report 🖖

[2022-01-04 12:03] Zales0123 commented on #13342
I think it should be working now :) 🖖

[2022-01-04 12:03] #13342 closed

[2022-01-04 12:06] Zales0123 commented on #13341
Hello @bellu? Have you managed to figure out what is going on? Maybe the tip from @mynameisbogdan worked for you? Please, give us an update :)

[2022-01-04 12:07] Zales0123 commented on #13336
Hello @petrjuraseko! Yes, it would be a nice improvement :) Would you give it a try and open a PR? Thanks! 🖖

[2022-01-04 12:10] Zales0123 commented on #13326
It's a nasty bug, indeed 😈  cc @kulczy @SirDomin

[2022-01-04 12:11] Zales0123 commented on #13323
Indeed, it seems to be fixed 🎉 @jacquesbh please, reopen if it's still an issue :) 🖖

[2022-01-04 12:11] #13323 closed

[2022-01-04 12:27] Zales0123 commented on #13321
@fykyx521 sorry for the long response. I've just split missing tags for `sylius/resource` component (https://github.com/Sylius/Resource/releases/tag/v1.8.2) and it should be fine :) Please, reopen if the problem still exist

[2022-01-04 12:27] #13321 closed

[2022-01-04 13:22] lchrusciel commented on #13416
Hey Rimas, thanks for pointing it out. I think, that API Platform team made a great decision with going into this direction. My first thought, was to leave it as it is and take an advantage of PUT operation to be able to declare identifiers of objects during creation. However, it rise some concerns about the structure of endpoints, serialization, security etc... Therefore, the simplest solution wo

[2022-01-04 13:31] rimas-kudelis commented on #13416
I guess I could yeah.

I'm not convinced about the exception though. Looking at [the docs](https://master.demo.sylius.com/api/v2/docs), it seems to update just a few fields of the cart, all of which except couponCode will be returned when GETting the cart. Why this difference then?

[2022-01-04 14:00] rimas-kudelis commented on #13416
PATCH works like this: if you skip a value, it's supposed to be left left untouched, but if you send it as `null`, it's supposed to be deleted. At least that's how it's described in [the RFC](https://www.rfc-editor.org/rfc/rfc7396.html).

Differentiating between unset and null is indeed somewhat difficult, but it is possible. Not sure about a case with a command, but if it's just a simple entity,

[2022-01-04 15:21] lchrusciel commented on #13416
Makes sense, we can try to rework Order PUT to PATCH as well

[2022-01-05 09:29] LucaGallinari opened #13442 "Cancel unpaid orders command should not cancel refunded/partially refunded order"
**Sylius version affected**: 1.x

**Description**
The command "sylius:cancel-unpaid-orders" cancels orders that are refunded or partially refunded due to this query [here](https://github.com/Sylius/Sylius/blob/b37023df400d4c76cacab5612f1803c2fe7c2852/src/Sylius/Bundle/CoreBundle/Doctrine/ORM/OrderRepository.php#L310): it takes all orders that doesn't have "paid" status for "paymentState" field, bu

[2022-01-05 16:15] tsogoo opened #13444 "JWT Token not found for New Sylius Admin Api"
**Sylius version affected**: 1.10.0 and 1.11.0-dev and 1.12.0-dev

**Description**
Admin Api responds 401. JWT Token not found for correct Admin Tokens.

**Steps to reproduce**
I got Admin tokens:
for 1.12.0-dev:
curl -X 'POST' \
  'https://master.demo.sylius.com/api/v2/admin/authentication-token' \
  -H 'accept: application/json' \
  -H 'Content-Type: application/json' \
  -d '{
  "email": "api@e

[2022-01-05 20:19] pjurasek commented on #13336
Hello @Zales0123 ! I give it a try. Can you review the PR? Thanks. :hand:

[2022-01-06 07:59] tsogoo commented on #13444
Well, I needed to write Authorization: Bearer ADMIN_TOKEN

curl -X 'GET'
'https://demo.sylius.com/api/v2/admin/taxons?page=1&itemsPerPage=30'
-H 'accept: application/json'
-H 'Authorization: Bearer ADMIN_TOKEN'

So Swagger's curl execution missing 'Bearer'

[2022-01-06 08:00] jakubtobiasz commented on #13444
Hi 👋!

When you paste your token in swagger just add Bearer before.

[2022-01-06 08:08] jakubtobiasz commented on #13296
@Zales0123 Hi, would you mind take a look and try to help me choose a right solution for this problem?

I can fix this but I'd like to hear your opinion before I start to prevent doing the same job twice 👊🏻.

[2022-01-06 08:31] #13444 closed

[2022-01-06 08:33] tsogoo commented on #13444
Yeah! Everybody except me doing this. haha. thanks @jakubtobiasz

[2022-01-06 10:57] petrjuraseko opened #13447 "[Promotion] When added a new rule to promotion in console is an js error"
**Sylius version affected**: v1.12.0-DEV

**Description**
On promotions add a new rule there is an javascript error logged in the console. The rule Cart Quantity is not showing the part with Quantity etc.

In console I see:
Uncaught TypeError: e is null

**Steps to reproduce issue**

1. Go to Sylius demo https://master.demo.sylius.com/admin/
2. Select Next release feature (v1.12.0-DEV)
3. Go to Ca

[2022-01-06 16:04] JinbeiStudio commented on #12554
A solution less drastic than changing your services order, is to call manually the service OrderPricesRecalculator on your order entity in the checker so it will have the correct amount for the total.

$order = $shippingSubject->getOrder();
$this->orderPricesRecalculator->process($order);
$total = $order->getItemsTotal();

[2022-01-07 12:41] rimas-kudelis opened #13450 "[CoreBundle] form type extensions should specify a priority"
I tried to remove a field added by a `FormTypeExtension` in the CoreBundle (namely the `themeName` field in `ChannelType` form), and autowiring the extension just didn't cut it: I had to specifically use a negative priority to ensure that my extension applies its effect after the core one.

Thus I think it would make sense for CoreBundle FormTypeExtensions to specify an explicit positive priority.

[2022-01-07 16:04] rimas-kudelis opened #13452 "[API] authentication-token routes should be configurable"
I noticed that there's a new `sylius.security.new_api_user_account_route` (and matching `_regex`) parameter in 1.11, which is great.

I believe it would make sense to configure `authentication-token` routes in the same way as well, for at least two reasons:
- there is no need to keep them hardcoded.
- users may need to multiply them, for example, when adding social login functionality to their sho

[2022-01-10 12:17] TheDevilOnLine opened #13457 "Behat tests don't work with strict typing"
**Sylius version affected**: 1.11, probably 1.10 as well

**Description**
`Sylius\Behat\Context\Setup\ProductContext::theProductChangedItsPriceTo` expects the price to be an integer, but the way the test is formatted, the price variable is always within a string, and this results in them being a string.

The `declare(strict_types=1);` line at the top of the file, prevents the string to be casted i

[2022-01-10 13:36] TheDevilOnLine commented on #13457
Option 4: Write a `Transform` context

[2022-01-11 07:42] rimas-kudelis opened #13463 "[AdminBundle]: BUG: "Add rule" in cart promotions no longer opens full rule form"
After catalog promotions were merged and rules renamed to scopes, the "New rule" button in Cart promotion management window opens an incomplete rule form. This happens because when catalog promotion rules were renamed to scopes, the respective JS snippet (which I guess worked for both Catalog and Cart rules) was also modified without being duplicated first (see the changes to app.js in 821247f972e

[2022-01-11 09:50] laurentdabbb opened #13467 "Add a position property on optionValues"
Hi,

I was wondering if there was a reason why there was no "position" field on optionValues ?
There is one on productOptions, but not on optionValues.

**Describe the proposed solution**
Option values can't always be sorted alphabetically (ex: colors). So in order to present values always in the same order on all variants, I think it would be good to add a position field on optionValues.

I think

[2022-01-11 09:57] vvasiloi commented on #13467
Hey @laurentdabbb, I don't know why this features wasn't implemented, but I think it would be a great addition.
There were several requests for it our Slack channel in the past few years.
Would you like to try and implement this feature?

[2022-01-11 10:03] laurentdabbb commented on #13467
@vvasiloi I have already partially implemented this feature (without admin part).
Unfortunately I'm pressed for time to get our new Sylius store out on time.
But as soon as it is done, I will come and contribute to suggest improvements ;-)

[2022-01-11 10:27] vvasiloi commented on #13467
Good luck with your project! I hope it's not a one time thing and we will be seeing you around more!

[2022-01-11 10:28] laurentdabbb commented on #13467
For sure ;-)

[2022-01-11 15:44] lchrusciel opened #13470 "Remove ACL layer need for MasterRequest to MainRequest renaming"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Sylius version   | 1.12

- [x] Bump Symfony requirement to 5.4 on master
- [x] Remove all if/else statements introduced in https://github.com/Sylius/Sylius/pull/13251/

Ref: https://github.com/Sylius/Sylius/pull/13251#discussion_r778107488

[2022-01-12 06:51] Roshyo commented on #13274
@loic425 could you also add a reference to this: https://github.com/Sylius/Sylius/pull/13251 (remove MasterRequest calls when we switch to Symfony >6)

[2022-01-12 08:38] loic425 commented on #13274
Added :) And I added Sylius/Sylius#13289 too

[2022-01-12 11:49] lruozzi9 opened #13474 "Incompatibility with payum/payum ^1.7"
**Sylius version affected**: 1.10.y

**Description**
By using a payum/payum version greater than 1.7 (packages says that the latest version is [1.8](https://packagist.org/packages/payum/payum) but in GH the latest is [1.7](https://github.com/Payum/Payum/releases) 🤔 ) there is an error with the doctrine schema mappings:

` [ERROR] The database schema is not in sync with the current mapping file.`

[2022-01-12 11:55] lruozzi9 commented on #13474
[This](https://github.com/Payum/Payum/commit/da5b9256190aa07c27a342a285f34000540e5383#diff-2aee1c71a69ca6332b9fa64e75f24daf4f858d7f2ed4e5b21a881623eba906ac) is the incriminated commit! This change will lead to an error if you are using MySQL, don't know for other DBMS.

[2022-01-12 11:59] lruozzi9 commented on #13474
Already noticed here:https://github.com/Sylius/Sylius/pull/13214#issuecomment-1007502528.

[2022-01-12 11:59] #13474 closed

[2022-01-12 13:21] loevgaard opened #13475 "Allow administrators to archive promotions"
**Describe the proposed solution**
![image](https://user-images.githubusercontent.com/2412177/149148178-2682f2f7-a28a-4c41-9b1c-9181d00ce010.png)

**Additional context**
I have a customer who has hundreds of promotions and because they either have expiry dates or usage limits, they are not relevant anymore and this feature would make a lot of sense.

[2022-01-12 13:28] vvasiloi commented on #13475
There's should be a way to still view the archived promotions if necessary. Maybe with a grid filter.

[2022-01-12 14:22] maximehuran opened #13476 "Hide Impersonate button in customer admin if account is locked"
Actually the button is displayed even if the account is `locked`.

<img width="748" alt="image" src="https://user-images.githubusercontent.com/11380627/149157915-e4046b51-c24b-47c0-9cbe-167e8c0aa7e0.png">

It could be better to add some conditions to display it.

[2022-01-13 14:52] Creeperface01 opened #13481 "Add support for fixed amount promotions to be calculated for total order price"
I found that promotions don't work well with taxes. At least from my (or here in 🇨🇿) point of view it's important for the regular customer to know the final price including all the taxes. What I'm facing is that promotions are being calculated from the price without taxes so for instance having coupon for fixed order discount of 100 $ doesn't actually mean that the final price will be 100 $ less.

[2022-01-13 22:35] CoderMaggie commented on #13475
Oh, so many entities could have this feature added 😓

One day guys, one day 😅

[2022-01-13 23:08] CoderMaggie commented on #13447
Thanks for reporting! ✌🏻

Closing this as there is another issue with that in progress: #13463

[2022-01-14 07:42] vvasiloi commented on #13475
@CoderMaggie can you make a list with those entities in a separate issue?

[2022-01-14 07:50] loevgaard commented on #13475
Products and variants would be on that list :D

[2022-01-14 07:59] vvasiloi commented on #13475
And maybe locales... since there's currently no way to delete them from admin panel and users keep installing the default fixtures in production environments, having a lot of locales they don't need...

[2022-01-14 08:02] loevgaard commented on #13475
You are right that it's a mess to actually remove a locale. A lot of manual sql queries :D Not sure it would be just as easy as with promos and products to fulfil.

[2022-01-14 15:26] Nek- commented on #12893
I'm not sure `gulp-dart-sass` is required. `sass` package is enough (it stands as the replacement for `node-sass`).

The changes required for the upgrade to gulp-sass 5.x are described here : https://github.com/dlmanning/gulp-sass/tree/master#migrating-to-version-5

And this seems to be fine:

[code]

[2022-01-17 17:12] laurentdabbb commented on #8695
Hi,

This request is closed for 4 years ago...so sorry...

But, I think it would always be a good thing to translate name and description.
Everybody don't need this features, so I understand you don't implement it.

However, like @lchrusciel said, we can implement it on our project following the cookbook...but **it's not totally true** (I think)...
Promotion is a Sylius resource. to Attach a trans

[2022-01-17 17:17] vvasiloi commented on #8695
@laurentdabbb although bundles have configuration for their resources, you can also configure those resources directly though the resource bundle configuration using the same resource alias.
Let me know if you need more details.

[2022-01-18 09:19] laurentdabbb commented on #8695
Thank you @vvasiloi  !

I had tested this solution, but I had not correctly overloaded the whole configuration.
Because the resource bundle define default values for resources we have to correctly redefine "interface", "repository" and "form" entries with Promotion ones.

Your answer got me back on track.

Here is my configuration `sylius_resource.yaml` if anyone has the same need ;-)

[code]

[2022-01-18 11:06] SirDomin commented on #13481
Hey @Creeperface01, we are aware of this, could you provide working behat scenario?

[2022-01-18 11:09] SirDomin commented on #13476
Hey @maximehuran, could you explain what means "locked"?

[2022-01-18 11:10] SirDomin commented on #13476
If you mean disabled customer we want to leave it like it is (to be able to login as disabled customer)

[2022-01-18 11:19] SirDomin commented on #13457
Hey @TheDevilOnLine When you create scenario without currency it wont get to `LexicalContext`, where it needs to be formatted as a currency value (for example  `And this product's price is "$10.00"`)

[2022-01-18 11:19] #13457 closed

[2022-01-18 11:21] SirDomin commented on #13452
Seems fair, feel free to open new PR :)

[2022-01-18 11:23] SirDomin commented on #13450
Good idea to add these priorities, default extension should be 0. Feel free to open PR and we will see 🎸

[2022-01-18 11:25] SirDomin commented on #13442
Hey @LucaGallinari you are right, we are on it 🚀 .

[2022-01-18 11:28] SirDomin commented on #13300
Hey @tsogoo it is part of https://github.com/Sylius/Sylius/issues/11250, feel free to open a pull request 🎸.

[2022-01-18 11:35] SirDomin commented on #12754
@stefandoorn i created a product with placeholder image and all seems to be fine. This may be a problem of your server settings? If you still have that problem with loading placeholders, you can download them and use links directly to your server.
![image](https://user-images.githubusercontent.com/22825722/149929608-57b6ad3d-9696-4982-9293-e0f202b475dc.png)

[2022-01-18 11:38] SirDomin commented on #12738
Thanks for providing the PR, we will take a look on it 🐴

[2022-01-18 11:41] SirDomin commented on #12735
Hey @hdasdoria that is correct, admin responses are not in our current focus. You can open pr with solution with contract tests 💃 .

[2022-01-18 11:47] SirDomin commented on #12727
Hello @olehpatrushev, sorry for the long response, it seems to be working well now, feel free to reopen this if you still encounter that problem.
![image](https://user-images.githubusercontent.com/22825722/149931934-9cf2f548-8b1d-4ec1-91ad-5456d301e31c.png)

[2022-01-18 11:47] #12727 closed

[2022-01-18 11:51] SirDomin commented on #12705
Hey, we cant really remove it atm as it would be a BC. We could deprecate it, feel free to create pull request :)

[2022-01-18 11:53] SirDomin commented on #12691
Yes, thats a good idea, feel free to open a PR with these values and contract tests for them :)

[2022-01-18 11:54] lchrusciel commented on #12705
Will be fixed by #13500

[2022-01-18 11:57] SirDomin commented on #12678
Hey @antonioperic, we are aware of the issue, this is caused because orders are coupled with productVariants, it wont be possible until we create snapshot of products in orders. In future we are planning to fix it.

[2022-01-18 12:57] Looouuu opened #13503 ""Integrity constraint violation: 1048 Column 'locale' cannot be null" on Product API"
**Sylius version affected**: 1.10.8, 1.11.0-ALPHA.1

**Description**
Hello !

I'm trying to use the API, but I cannot create or update product translations. I'm getting
`An exception occurred while executing 'INSERT INTO sylius_product_translation (name, slug, description, meta_keywords, meta_description, short_description, locale, translatable_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?)' with params [\"s

[2022-01-18 13:11] olehpatrushev commented on #12727
Hi @SirDomin I've found that sometimes locale codes and country codes differs. e.g.
Estonia ISO country code is EE https://laendercode.net/en/country/ee
And Estonian locale code is ET

[2022-01-18 13:23] vvasiloi commented on #12727
@olehpatrushev Sylius only displays flags for countries now, because languages have no flags.
I did it myself in this PR: https://github.com/Sylius/Sylius/pull/10553
There's another open PR to fix a case I missed: https://github.com/Sylius/Sylius/pull/13334
Can you point us to where the issue occurs (perhaps with a screenshot)?

[2022-01-18 14:04] maximehuran commented on #13476
Hey @SirDomin ! Thank you for your reply.
I am talking about the column `locked` in the shop user :

<img width="69" alt="image" src="https://user-images.githubusercontent.com/11380627/149951092-90575330-a0b0-437c-81c5-7fbcdd9a93dd.png">

If it's set to `1` I have a redirection loop on the store after clicked "Impersonate" :

<img width="1366" alt="image" src="https://user-images.githubusercontent

[2022-01-18 14:36] #12705 closed

[2022-01-18 15:56] olehpatrushev commented on #12727
@vvasiloi Sorry I guess not, Im now working with Sylius currently

[2022-01-18 18:56] stloyd opened #13505 "Bug | OAuth tokens can be bigger than 255 characters"
**Sylius version affected**: all

**Description**
OAuth tokens can be bigger than 255 characters, so database column cannot be simple `varchar(255)`.

**Steps to reproduce**
Integrate i.e. LinkedIn OAuth.

**Possible Solution**
Change `access_token` & `refresh_token` fields to be bigger than than `varchar(255)`.

[2022-01-18 19:25] vvasiloi commented on #13505
For reference: https://docs.microsoft.com/en-us/linkedin/shared/authentication/authorization-code-flow?context=linkedin%2Fcontext&tabs=HTTPS#access-token-response

[2022-01-19 06:42] Roshyo opened #13508 "[Docs][Plugin] Overriding template path"
As pointed out here: https://sylius-devs.slack.com/archives/C3E4EBKUZ/p1642570918002300

The path in the documentation about overriding a template is wrong.

It currently is `tests/Application/templates/SyliusAdminBundle/`
It should be `tests/Application/templates/bundles/SyliusAdminBundle/`

[2022-01-19 08:29] pawellen commented on #13139
Tried but I am getting this information on my email:

![obraz](https://user-images.githubusercontent.com/4718380/150092817-b0cb9ab0-0ed9-4004-9747-d8c7055eebd7.png)

:(

[2022-01-19 08:39] vvasiloi commented on #13139
@pawellen try a different email client. However, I will make an exception and answer you here.
To set a channel programmatically, you need to add a new channel context, which will have a way to set the current channel, like a `setChannel` method. You can then inject this particular context where you need to set the channel and use the method to do so. If you need additional help, please use the su

[2022-01-19 09:54] Roshyo opened #13509 "[Docs][Customizing] Document better the "@!" syntax for overriding templates"

[2022-01-19 10:08] vvasiloi opened #13510 "[DX][Frontend] Common DX inquiries related to frontend development in Sylius"
The goal of this issue is to collect feedback and aggregate issues concerning the frontend development in Sylius.
To not mix things, this is going to be only about backend rendering based on Twig templates.
For feedback related to JavaScript based frontends, please open separate issues.

Please leave your feedback in comments and we will later pick it up an structure it in the issue's description.

[2022-01-19 10:24] Roshyo commented on #13510
One of the main issues I've seen is regarding folder structure.

Sylius' way it to put inside `templates/bundles/xxxBundle/` every overridden template. And inside `templates/xxx` any custom-made template. (see screen)
![image (6)](https://user-images.githubusercontent.com/9363039/150111183-c4ec4087-e325-4dbb-9088-dba78a151312.png)

But that way means that any FE dev that needs to work on the proje

[2022-01-19 20:43] zairigimad commented on #11250
Hello, Is there a plan to add the Inventory to the API?

[2022-01-20 10:47] AurelienWishibam commented on #8695
Hello guys,

In the file vendor/sylius/sylius/src/Sylius/Bundle/PromotionBundle/DependencyInjection/Configuration.php, there is no parsing of translations for the promotion entity.
So, when we use the previous configuration code submitted by @laurentdabbb, we thave the following error :
`Unrecognized option "translation" under "sylius_promotion.resources.promotion". Available options are "classes"

[2022-01-20 11:49] vvasiloi commented on #8695
@AurelienWishibam I gave the solution in my previous answer: https://github.com/Sylius/Sylius/issues/8695#issuecomment-1014752405
The config @laurentdabbb posted goes under:
[code]

[2022-01-20 19:49] bigboss86 commented on #13418
Hi @Zales0123. It's more complicated than just changing the interface, because it uses another method signature. I think we should also change the User.php class and the User.orm.xml models.
What do you suggest?

[2022-01-21 12:17] #13463 closed

[2022-01-21 12:33] rimas-kudelis commented on #13447
Heads up: the fix has now been merged in.

[2022-01-21 15:26] #13508 closed

[2022-01-24 08:33] mmenozzi opened #13524 "Remove old Kernel class from core bundle"
The old Kernel class `Sylius\Bundle\CoreBundle\Application\Kernel` is deprecated since  Sylius 1.3. This class uses symbols from old dependencies, some of them discontinued.
With #10664 we had to whitelist the [those symbols](https://github.com/Sylius/Sylius/commit/30c42ff5a45e593e894d13060c6593178f27888b) due to this old Kernel class.

It's true that removing this class would be a BC break but it

[2022-01-24 08:56] mmenozzi opened #13525 "Remove symfony/http-kernel 4 symbols usage"
Like said on #10664, the class `Sylius\Bundle\CoreBundle\EventListener\CircularDependencyBreakingExceptionListener` uses symbols from `symfony/http-kernel` version 4. Sylius does not support Symfony 4 anymore so this class must be fixed to not use those symbols.

Then, symbols added [here](https://github.com/Sylius/Sylius/commit/e09551c016752eff03339cc90ab678afabc3765d) in the ComposerRequireCheck

[2022-01-24 08:59] mmenozzi opened #13526 "Create separate plugin to allow Facebook Login"
Like said on #10664, it could be useful to extract the Facebook Login feature and its optional dependencies (like the `hwi/oauth-bundle`) in a separate plugin.

[2022-01-24 09:09] Zales0123 commented on #13525
Absolutely 👍 We generally need to go through the code and remove/fix all the references to not supported Symfony 4 💪 🚀

[2022-01-24 09:22] laurentdabbb commented on #8695
You're right, I edit my post to remove confusion ;-)

[2022-01-24 09:23] mmenozzi commented on #13525
👍

[2022-01-24 12:35] vvasiloi opened #13532 "[Bug] Inaccurate order item subtotal with uneven unit level promotion adjustments"
**Sylius version affected**: 1.10+

**Description**
Inaccurate order item subtotal displays in cart summary when it has uneven unit level promotion adjustments.
It's the same issue described in https://github.com/Sylius/Sylius/issues/11112, but it's was only fixed in admin panel.

**Steps to reproduce**
The issue occurred in a custom promotion action.
The scenario is as follows:
Given the store ha

[2022-01-24 12:46] laurentdabbb commented on #13532
+1

Already described here too : #11585

[2022-01-24 13:08] vvasiloi commented on #13532
@Roshyo is https://github.com/Sylius/Sylius/issues/11585 about (1) item subtotal or just (2) order's item total or both?

![image](https://user-images.githubusercontent.com/7114562/150788330-41166676-f4b1-4540-9ed8-37ee7e353037.png)

[2022-01-24 15:10] maximehuran commented on #11617
It cannot work because some data can be sent (select with required value for example).

[code]

[2022-01-24 15:15] Roshyo commented on #13532
@vvasiloi this issue was about the `3` :laughing: where you can see that the total 323.89 should be 323.87.

So then also `1` since this `Beige strappy summer dress` should be $71.40 + $71.39 + $71.39 (values in DB)

[2022-01-24 16:48] vvasiloi commented on #13532
Alright, I will propose a fix this week, stay tuned.

[2022-01-25 19:23] gabiudrescu commented on #10997
+1 at the question asked by @michalsemelka

cc @CoderMaggie since @pamil watch has ended.

[2022-01-26 00:03] vvasiloi commented on #9987
The solution @Prometee suggested should work.
I suggested something similar  to @mickaellosiewicz not long ago and he confirmed it works.

It has the following elements:
1. A `ChannelAwareCommandInterface` and an abstract `ChannelAwareCommand` (or a  `ChannelAwareCommandTrait`) implementing it, with a `--sylius-channel=channel_code` configured.
2. A new channel context with a way to set the curren

[2022-01-26 08:49] GSadee commented on #13447
I'm reopening this issue as it looks like it still exists 🕵🏻

[2022-01-26 09:28] #13525 closed

[2022-01-26 12:48] acornforth opened #13549 "CoreBundle OrderRepository wrong constructor type-hint (EntityManager instead of EntityManagerInterface)"
https://github.com/Sylius/Sylius/blob/ff02e5c88bc8df5b16434d4bc02568b47274ef3e/src/Sylius/Bundle/CoreBundle/Doctrine/ORM/OrderRepository.php#L36

Should use `EntityManagerInterface` instead.

This is preventing the use of EntityManagerDecorator to inject custom overridden entitymanagers

It shouldn't be a breaking change, and therefore potentially a fix could be rolled out for all recent enough ve

[2022-01-26 19:22] lchrusciel commented on #13296
Hey Jakub!

It would be superb to have this fix finally in codebase! I'm wondering how much impact will this have for the code and performance. We can skip later until we will provide some tooling for that. The first part is more important. I can see, that we've been using leftjoin until 2017. You can find this change
![image](https://user-images.githubusercontent.com/6213903/151231234-7120f66a-a4

[2022-01-27 08:47] lchrusciel commented on #9987
Hey folks!

I would like to add my 2 cents here. Contexts by design should be considered as stateful services. They reference to session, current request etc. As a result they should be used mostly in HTTP Controllers or as close as possible to them.

As a result all CLI and or MessengerHandlers should be context free. Still, this is a recommendation and not whole code is supporting this case, lik

[2022-01-27 10:14] #13447 closed

[2022-01-27 10:14] mdevlamynck opened #13554 "Changing the parent of a taxon does not update ProductTaxon tree"
**Sylius version affected**: 1.8-1.10 (reproduced on our project on 1.8 and on the demo site which is on 1.10 if I'm not mistaken).

**Description**
Changing the parent taxon of a taxon should update the products contained in that taxon. The main taxon is correctly updated but not the `ProductTaxon` tree.

**Steps to reproduce**
1. Create a taxon tree like the following:
    * root
      * parent

[2022-01-27 11:11] vvasiloi commented on #9987
@lchrusciel for that to work, Sylius would need to separate all of it's business logic from the HTTP layer and get the channel as an argument instead of relying on channel context everywhere. Respectively, the channel context should only be used in the HTTP layer to get the current channel and pass it downstream to the application's business layer.
The road to achieve that is long... probably even

[2022-01-27 14:32] lchrusciel commented on #9987
Yes, you are correct - but I wanted to share generic perspective for them. I didn't say, that we didn't make any mistake or misuse with them. But the truth is, that they are stateful and therefore can make a lot of problems. Perhaps, we should just provide good default values for CLI and other not request based executions.

[2022-01-27 18:36] jakubtobiasz commented on #13296
I've checked this and it does... only if translation for the fallback language is provided... :D.

![CleanShot 2022-01-27 at 6 35 35@2x](https://user-images.githubusercontent.com/80641364/151412926-683a7aeb-a05f-4834-a8cf-4108b59e8a55.png)
![CleanShot 2022-01-27 at 6 36 18](https://user-images.githubusercontent.com/80641364/151413010-4b1bb0c9-21b4-478d-b76f-c2cac13cc16f.png)

Without any change (e

[2022-01-27 22:12] vvasiloi commented on #13296
How about this: https://github.com/Sylius/Sylius/issues/13134#issuecomment-925715024

If not, then there's another solution: remove `->addSelect('translations')` and hydrate the translations afterwards or just let Doctrine do it on the fly.

[2022-01-28 10:32] valentin-harrang commented on #12377
Same issue for Sylius 1.10.7. I tried this suggestion: https://github.com/Sylius/Sylius/issues/8801#issuecomment-408051758 but it doesn't change anything

[2022-01-28 12:07] acornforth commented on #13549
@Zales0123 I see your PR has been merged.

I'm happy to submit a PR for the fix here, but not sure which branch to base off, i guess it depends which Sylius version will pull in the changes to AssociationHydrator?

I anyone can advise me, i will get on the case :)

[2022-01-31 15:55] benjamin-vauchel opened #13571 "[UI][Admin] Wrong values displayed in autocomplete choice type"
**Sylius version affected**: 1.10.4

**Description**
When multiple `ResourceAutocompleteChoiceType` are used with the same `choice_value` (eg `id`), displayed values are overridden by the last saved one in session storage by semantic ui dropdown component.

**Steps to reproduce**
Create an entity `Tag` with a relation ManyToMany to `Product`
Create an entity `Label` with a relation ManyToMany to `

[2022-02-01 11:06] GSadee commented on #13285
Hello @loicpe9! 🚀 **Sylius** issues should be used to report bugs, propose new features, discuss new functionalities. For everything else, please, use our [Slack](http://sylius.com/slack) (preferred) ;) We have a very active, developed community, I'm sure someone will be able to help you with your problem. Good luck :)

[2022-02-01 11:06] #13285 closed

[2022-02-01 11:14] GSadee commented on #13284
Hello @istgin, I'm closing the issue as the answer from @450Oucema should help with your problem, feel free to reopen an issue if it still exists 🖖🏻

[2022-02-01 11:16] #13276 closed

[2022-02-01 11:19] SirDomin commented on #13272
Hey @Sklico We are aware of existing problem with getting payment configuration, i'm working on this issue.

[2022-02-01 11:44] GSadee commented on #13205
Hello @freakpol, we are not planning to do that in the UI, but we would like to improve API to be able to perform checkout in any order.

[2022-02-01 11:44] #13205 closed

[2022-02-01 11:46] stloyd commented on #13233
I would not close this RFC, IMHO it has quite a lot of sense due to fact that Fly is way better maintained than the Gaufrette.

Releases:
- gaufette: `0.7.9` in 2019,
- fly: `2.2` in 2022.

[2022-02-01 11:54] GSadee commented on #13198
Hello @adwil13, thank you for reporting an issue, probably you're right, we will investigate the issue 😃

[2022-02-02 13:52] loic425 opened #13586 "missing some Phpspec tests for HasEnabledEntityValidator"
**Sylius version affected**: 1.11

**Description**
`src/Sylius/Bundle/CoreBundle/Validator/Constraints/HasEnabledEntityValidator.php` has no real specs with Phpspec.

[the current phpspec class](https://github.com/Sylius/Sylius/blob/master/src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/HasEnabledEntityValidatorSpec.php)

[2022-02-02 15:53] wadjeroudi commented on #9296
linked discussion for those interested: https://github.com/Sylius/Sylius/issues/9987

[2022-02-04 09:49] stefandoorn commented on #12754
I guess it was a temporary problem (they announced switching over) but I guess too many complaints and then a switchback :-)

[2022-02-04 10:26] stefandoorn opened #13598 "Better email validation - customer@gmailcom now passes validation"
In https://github.com/Sylius/Sylius/issues/9116 the `strict` mode for email validation has been introduced. This works fine for most cases, but we still see customers using forms with emailaddresses like `customer@gmailcom`. The `strict` email validator accepts that, as by RFC it's valid. But in reality in e-commerce, it's useless.

Changing the `mode` from `strict` to `html5` seems like an option

[2022-02-04 10:58] rimas-kudelis commented on #13598
I believe `html5` is the right way to go. The `html5` mode the "official" HTML5 email validation regex, which probably covers 100% of all email addresses used in real life (well, okay, let's say it's 99.9%).

On the other hand, `strict`, while sounding "stricter", in reality "strictly" adheres to the relevant RFC, which is quite "loose" by accepting a lot of things that are hardly ever used in pra

[2022-02-04 11:02] vvasiloi commented on #13598
My opinion is that the `strict` mode RFC validation should remain as is.
In practice the most common issues that concern the businesses can be detected with additional validation and are:

1. Typos
    Which can be detected using:
        - DNS check (included [egulias/email-validator](https://github.com/egulias/EmailValidator))
        - Spoof checking (included in [egulias/email-validator](https

[2022-02-04 11:03] rimas-kudelis commented on #13598
@vvasiloi I find it very hard to resist from interrogating you why you think `html5` is not a better option,

[2022-02-04 11:08] #13450 closed

[2022-02-04 11:29] vvasiloi commented on #13598
@rimas-kudelis I don't believe in email validation using RegEx. I don't think it's reliable enough.
For example, the `html5` email validator allow emails like `customer@gmailcom`, from Stefan's example.
While the `strict` validator, despite Stefan's claim, doesn't allow it (it can be quickly tested on https://demo.sylius.com/en_US/register).
That's why for a better user experience I prefer soft va

[2022-02-04 11:45] vvasiloi commented on #13598
Correction, the `html5` mode doesn't allow  emails like `customer@gmailcom`.
I tested with the RegEx used in [HTML](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/email#basic_validation), but the one used in Symfony has a `+` at the end instead of a `*`, which enforces a TLD.

[2022-02-04 12:12] vvasiloi commented on #13598
Additionally, while discussing with Rimas in private, I remembered another reason why the `html5` validation is bad: it doesn't support unicode / internationalized email addresses, which are very common in many countries that are not native English speaking or don't use the Latin alphabet.

[2022-02-04 13:28] rimas-kudelis commented on #13598
So, apparently:
- Symfony's `html5` validation regex does not in fact match the one specified in HTML5 "living standard", at least its current version. _It would be interesting to see whether the regex was changed in HTML5 itself, or if it was an intentional divergence from the standard in Symfony, but the specification in whatwg/html is all in one file too big for GitHb to handle, so I'm not gonn

[2022-02-04 18:46] zangarmarsh commented on #10204
Sorry to ping to a stale issue, did you guys find out a solution for this issue? Is moneyphp really a viable solution?

[2022-02-04 20:42] vvasiloi commented on #10204
@mbabker I saw this https://github.com/BabDev/MoneyBundle recently and I was wandering if you used it with Sylius?

[2022-02-04 20:57] mbabker commented on #10204
Not with Sylius, no.  If you're looking to move toward https://github.com/moneyphp/money then my bundle definitely helps with that integration, plus it provides a few extra features (i.e. serializing `Money` objects and validation constraints), but it'd be incompatible with Sylius' current pricing data model.

[2022-02-04 21:36] vvasiloi commented on #10204
Thanks! I'm not yet actively looking to do that, but maybe one day...

[2022-02-06 10:20] vvasiloi commented on #13233
Fair enough. We can probably easily provide a BC layer, since both libs have adapters for each other.

[2022-02-07 05:54] rimas-kudelis commented on #11493
Like I ranted on Slack a couple times already, Crowdin translations seem barely maintained. Just look at the screenshot of below: other then `master`, the last available version is 1.7, AND the only substantially translated version is 1.0. To an extent, same trend applies to all other locales I've checked, including `sr`, `sr_RS`, and even `pl`. I refuse to believe that 1.1 was such a big change t

[2022-02-07 06:47] rimas-kudelis commented on #13296
I don't feel like it's even a question worth asking. I'd say that bug is a duplicate of this one, and it's pretty obvious that admin's preferred locale should not act as an automatic filter of what that admin sees.

[2022-02-07 07:50] jakubtobiasz commented on #13296
@vvasiloi I feel my question is more like ask "which way is preferred" 😅. Maybe in a few days I'm going to try generate more product data and check the performance.

[2022-02-07 07:56] vvasiloi commented on #13296
@jakubtobiasz the preferred way is the one with best performance. It would be great If you could do a test with at least 100k products, otherwise just wait for me to do it, but I keep moving it from one day to another on my todo list. 😞

[2022-02-07 08:08] rimas-kudelis commented on #13296
I don't think you can guarantee that there will always be a translation in the default locale, can you?

I'd suggest something different: a toggle to "only select current locale" (if a toggle is necessary at all), which would mean that in both cases a left join would be used, but with `feature off` all translations would be selected automatically, and with `feature on`, only the "active" translati

[2022-02-07 08:49] vvasiloi commented on #11493
I also don't like how Crowdin integration works now (it mostly doesn't work).
For example, the `sylius.ui.name` (EN: `Name`) was translated in Romanian as `Product name`, so now you see `Product name` all other the admin panel.
I took me an awful amount of time to find an change the translation in Crowdin and I don't even remember how long ago it was.
Anyway, It's still wasn't update and now I can

[2022-02-07 08:53] vvasiloi commented on #13296
In normal conditions, when using the AP to add the translation, there's a validation for that.
However, one can add the translation without using the AP and validation.

[2022-02-07 09:00] rimas-kudelis commented on #13296
Also, you can probably change your default locale midway, so "a translation in some locale will certainly exist" is just a grounded assumption at best.

[2022-02-07 09:21] lchrusciel commented on #12462
Done in #13588

[2022-02-07 09:21] #12462 closed

[2022-02-09 10:20] loic425 opened #13621 "Fixtures using zenstruck/foundry package"
## Battle plan to kill the fixtures bundle ☠️

Sylius Fixtures Bundle was initialy created to have configurable fixtures for Symfony applications years ago. Most of the code with Resource system is actually outside this bundle and be part of Sylius Core bundle.

The customization experience is not up to what can usually be done with Sylius. To write your own fixtures, there are too much code to wr

[2022-02-11 08:57] kptLucek opened #13640 "Empty ProductVariant's name causes 500 on frontend"
**Sylius version affected**: 1.10.0

**Description**
Empty product's variant name causes `500` on product page.
[code]

**Steps to reproduce**

1. Product has to has at least 2 variants,
2. Access product variant form from Admin Panel,
3. Clear it's name,
4. Save variant,
5. Edit product, change `Variant selection method` to `Variant choice`
6. Access product's page

**Possible Solution**

Fallbac

[2022-02-14 09:36] aleho opened #13645 "[Shop] Unchecked sorting parameter causes QueryException / server error"
**Sylius version affected**: 1.any?

**Description**
Some SQL injection scripts seem to detect a sorting query parameter and try to exploit and attack vector.
This won't work with the query builder, but passing an unchecked sort string to Doctrine will still result in a `QueryException`.

(Shop template `_sorting.html.twig` is also affected, because it expects values to always be either `desc` or

[2022-02-15 16:20] vvasiloi commented on #13296
That doesn't mean the resource has a translation in the default locale.
It can be missing when:
1. The default locale is changed and the resource has no translation for the new one
2. The resource was created bypassing the validation that requires a translation for the default locale

[2022-02-15 17:00] vvasiloi commented on #13296
It's fine as long as the solution doesn't make that assumption.
For the performance test, it also matters a lot how many translations the products have (multiple locales).

[2022-02-16 11:49] petrjuraseko opened #13648 "[API][ApiBundle][ProductReview] Invalid group on item operation"
https://github.com/Sylius/Sylius/blob/56bf4199f4c63e0c9101b1e3eb42bd5e4553583a/src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml#L64

Actually the group on this line is `admin:product_review:read`. I expect that the group should be
`shop:product_review:read`

[2022-02-16 11:57] petrjuraseko opened #13649 "[API][ApiBundle][ProductReivew] Shop collection operation missing the normalization_context"
https://github.com/Sylius/Sylius/blob/56bf4199f4c63e0c9101b1e3eb42bd5e4553583a/src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml#L41

On the shop collection operation is missing `normalization_context`. I would expected there:
[code]

[2022-02-17 11:00] lchrusciel commented on #13296
So, folks, I've tested proposals given proposals and sample solutions you may found in related PoCs.

I've run performance tests for following numbers:

Amount of | Amount
-- | --
Products: | 100k
Products per page: | 50
Iterations in profile: | 10
Translations per product: | 8

Here are numbers:
Profile | Total time | Network time | Memory usage | Amount of queries
-- | -- | -- | -- | --
 Referen

[2022-02-17 13:55] bigboss86 opened #13662 "[Admin] Form action update admin configurable"
**Describe the proposed solution**
Make configurable the action of the update admin form

[code]

**Describe alternatives you've considered**
[code]

**Additional context**
filepath: src/Sylius/Bundle/AdminBundle/Resources/views/Crud/Update/_content.html.twig

[2022-02-18 16:09] gigamarr opened #13667 "[API] resources aren't translated based on `_locale` query parameter"
**Sylius version affected**: 1.11.0

**Description**
API doesn't translate resources based on `_locale` query parameter

**Steps to reproduce**
1. In a sylius store with more than one locale create a resource and assign translations.
2. Query the given resource using the new API and provide `_locale` query parameter with value of non-default locale code, for example: `/api/v2/shop/taxons?_locale=k

[2022-02-18 17:29] gigamarr opened #13668 "[Docs][Customization][API] Example of "Removing a field from a response" in "How to customize serialization" works on a field that doesn't exist anymore"
**Sylius docs version**: 1.11.0

**Description**
It's better if example works on a field that is there
[Removing a field from a response](https://docs.sylius.com/en/1.11/customization/api/serialization_customization.html#removing-a-field-from-a-response)

[2022-02-19 20:28] ToghrolRc opened #13669 "syntax error, unexpected token "declare""
Hi there. i pretty new to Backend actually so i'm sorry if my question is kinda strange.
i had Sylius on my laptop before and it worked correctly.  i copied the "acme" folder to have a backup in my Flash Drive. after that i changed my windows to Windows11 and now when i want to run my sylius project in new windows , im getting this error:
https://ibb.co/DKb6p6y

also i have my previous DB back up.

[2022-02-20 12:05] jakubtobiasz commented on #13296
@lchrusciel

I was thinking over this problem. I think left join/any other of mentioned options are not an exact solution. E.g. left joining just solves the problem with not appearing products but doesn't solve problem with empty name column. We have `sylius_locale.locale` which under the hood is an alias to `locale` property which should be considered as a default locale (at least in my opinion).

[2022-02-20 18:31] salamichel opened #13670 "Unable to associate picture for variant"
**Sylius version affected**: 1.11.0

**Description**

Hi, I'm unable to associate picture to a specific variant

**Steps to reproduce**

![image](https://user-images.githubusercontent.com/3256040/154858126-49f69e3d-111a-40cc-a1b7-547cd62f2903.png)

**Possible Solution**

[2022-02-20 18:37] salamichel opened #13671 "Product option - no result found"
**Sylius version affected**: 1.11.0 (docker version)

**Description**

No result return on page "Product option" even after create some.

**Steps to reproduce**

* install from docler
* blank project run with "sylius:install:setup"
  Reset = Y
  Sample data = N
  Currency = EUR
  locale = fr_FR
* then create new option

![image](https://user-images.githubusercontent.com/3256040/154858369-b2f9c05a-

[2022-02-20 21:05] salamichel commented on #13670
NO BUG.... I need to put `locale: fr_FR` in `services.yml` has explainned

[2022-02-20 21:05] #13670 closed

[2022-02-20 21:06] salamichel commented on #13671
NO BUG.... I need to put `locale: fr_FR` in `services.yml` has explainned

[2022-02-20 21:06] #13671 closed

[2022-02-21 13:03] lchrusciel commented on #13296
If it works, let's go with it. What you've described is exactly, what we want to achieve. We still need to cover new cases sorting and filtering for mixed translation, but that should be manageable. Can you open a PR with your proposal, so we can see the build?

Nonetheless, I'm wondering what is the change between your proposal and mine (#13653) that your works and mine not (despite fact, that I

[2022-02-21 17:18] JinbeiStudio opened #13674 "[Admin] Promotion amount incorrect on summary"
**Sylius version affected**: 1.10.2

**Description**
When using a coupon that combine an orderPromotionAdjustment and a unitPromotionAdjustment, the amount displayed does not sum the two amount of both adjustment, but instead display only one adjustment. This is because of the merge native function of twig that you use in _totalPromotions.html.twig

**Steps to reproduce**
Use a coupon that is link

[2022-02-21 17:29] benjaminmal opened #13675 "`sylius:install:sample-data` doesn't print exception message in console"
**Sylius version affected**: 1.10.9

**Description**
While writing a custom fixture which throws a exception, I tried to run `bin/console sylius:install:sample-data` and I get this error:

**Expected output**

**Steps to reproduce**
- Write an `ExampleFactory` and throw exception in `ExampleFactory::create()`
- `bin/console sylius:install:sample-data`

**Debugging**
I found out that when Symfony t

[2022-02-22 07:51] JinbeiStudio commented on #13674
<img width="1712" alt="Capture d’écran 2022-02-21 à 17 17 45" src="https://user-images.githubusercontent.com/62211509/155086613-ad5d36e6-f455-4536-8d2b-43c7fa18bf2f.png">

[2022-02-22 08:16] lruozzi9 opened #13677 "[Bug][Channel] The hostname resolver does not check for the channel status"
**Sylius version affected**: 1.*

**Description**
The HostnameBasedRequestResolver searches the channel using the findOneByHostname method of the Channel Repository, but this method or the resolver itself does not check for the channel status (enabled/disabled). So a disabled channel can be navigated.

**Possible Solution**
Add check for status in the repository (new method findOneActiveByHostname

[2022-02-22 09:11] gigamarr opened #13678 "[Docs][Book][Products][Pricing] Minor typo 'definded'"
**Sylius docs version**: 1.11

**Description**
There's minor typo for word `defined` in docs and messages of admin panel (product variant channel pricings). I'll submit a PR today

[2022-02-22 12:44] #13442 closed

[2022-02-22 13:22] petrjuraseko opened #13681 "[ApiBundle] The parameter should be tokenValue"
https://github.com/Sylius/Sylius/blob/ddb01caaf04843d5ff68c04ab3a70ffc1af7ddf2/src/Sylius/Bundle/ApiBundle/Controller/Payment/GetPaymentConfiguration.php#L37

Instead of an `id` it should be `tokenValue`.

[2022-02-23 06:05] andriusvo opened #13686 "Remove Placehold.it images resolving"
**Sylius version affected**: All versions

**Description**

Started profiling why our Behat tests became very slow. Find out, that `Mink` is waiting for whole page to be loaded. It was waited for `https://placehold.it/50x50`, but ATM (2022-02-23) this page is not working, so it was failed and page loaded after some time.

**Steps to reproduce**
Run behat tests which includes any picture from `http

[2022-02-23 09:03] #12594 closed

[2022-02-23 10:54] AymLaf opened #13688 "[CoreBundle] WinzouStateMachine -> sylius_order.yml -> wrong wording"
https://github.com/Sylius/Sylius/blob/1b0aa43ae8d2983a0c29675fbdb4398dafebdb56/src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_order.yml#L95

Instead of `sylis_cancel_order` it shoud be `sylius_cancel_order`

[2022-02-23 10:58] vvasiloi commented on #13688
Thank you @AymLaf! There's an open PR to fix this issue: https://github.com/Sylius/Sylius/pull/12762!

[2022-02-25 03:37] timching opened #13701 "`UniqueConstraintViolationException` from Doctrine when updating zone"
**Sylius version affected**: ^1.9.0

**Description**
In Edit zone page
if users want to remove all members in that zone, then they would like to click delete for all members without saving them immediately
then they tried to add some new members to that zone and start to add them one by one
finally, they will get a 500 (probably `Doctrine\DBAL\Exception\UniqueConstraintViolationException`) error

[2022-02-25 03:47] timching opened #13702 "Zone shouldn't filter disabled countries by default"
**Describe the proposed solution**
https://github.com/Sylius/Sylius/blob/561cd2742275ff10d15b344f8bc15526fc74853e/src/Sylius/Bundle/AddressingBundle/Form/Type/ZoneType.php#L104
above settting should be
[code]
but I'm not sure is there any/lots of code depending on this ZoneType setting

**Describe alternatives you've considered**
zones should be able to select all country codes although it's disab

[2022-02-28 10:33] Tragllk opened #13707 "Adjustments Order_Item_Id is always Null"
**Sylius version affected**: 1.9

**Description**
We noticed that our cart takes a lot of time to load (Approx 2s) as soon as we had more than 1 different item in cart.
It's not noticeable if you have a small db, but you can still check in it.

When creating adjustments, they are added to order item unit, and never added to order items, due to that, there are no order_item_id in sylius_adjustment.

[2022-02-28 14:00] kgonella opened #13713 "The breadcrumb on product does not handle the main taxon disabled case"
**Sylius version affected**: > 1.8

**Description**
The breadcrumb on product handle the case if an ancestor taxon is disabled and remove the link. But nothing is done if the main taxon is disabled.

**Steps to reproduce**
Choose a main taxon on a product.
Disable the main taxon.
Go to the product page.
The main taxon is linked in breadcrumb and lead to a "not found exception".

**Possible Solutio

[2022-03-02 14:46] morgan-blondellet commented on #12097
@SylvanoTombo I found your issue while looking for the same error.

I managed to fix this by adding this to my grid config

[code]

The repository is the important part here.

Then you need to add this method in your repository class to join the translations with your entity.

[code]

I hope this can help someone !

[2022-03-03 06:59] #13678 closed

[2022-03-04 17:18] tsogoo opened #13726 "Order Products by productTaxons.position (filter by taxon)"
**Sylius version affected**: 1.11.0

**Description**

I want to order product by productTaxons.position in `shop/products` api.

**Steps to reproduce**

In Product.xml:
[code]

Error shows:
`Cannot select distinct identifiers from query with LIMIT and ORDER BY on a column from a fetch joined to-many association. Use output walkers.`

[2022-03-07 12:17] CoderMaggie commented on #13250
Hi! In 1.11 we have added the "Minimum Price" field on the Product Variant's channel pricing.
I believe it may be used as the cost price also. At Sylius we are not planning to add any other similar fields to the pricing at the moment.

Please reopen if you have any remarks 🖖🏻

[2022-03-07 13:11] loevgaard commented on #13250
Could you reopen this issue, Maggie? Minimum price has nothing to do with cost price. If you never want to add a cost price, then please don't reopen, but I think for such a simple field that maybe 90-95% shops will have on all their products, it is bad prioritization. At least I would to hear the arguments against such a property.

[2022-03-07 13:20] CoderMaggie commented on #13250
Sure, reopened. 👌🏻  In my opinion "cost price" (as I understand it) can have a lot to do with "minimum price". But it all depends on the use-cases and these no one has mentioned in this issue yet.

Could you give some more context then?
Especially on what is this price used for?

Any examples from other platforms maybe?

[2022-03-07 14:07] vvasiloi commented on #13250
Just adding a property is a good start, but ideally it should also be used in the order processing.
Example from real project:
- Each SKU has a cost (like purchasing or manufacturing price)
- There are processing costs
- There are shipping costs
- There are order processor that calculate and save those costs (just like `Sylius\Component\Core\OrderProcessing\OrderPricesRecalculator` does with the p

[2022-03-08 11:26] CoderMaggie commented on #13250
Okay, I would suggest making a plugin out of it. Like a `ProfitsPlugin`? That would not only have the cost price field but also a module to calculate and report the profits.

In my opinion, this is not something 70-90% of shops would use as it often happens in other systems.

[2022-03-08 15:15] ulinskas opened #13742 "Reaching memory limit when creating configurable product."
**Sylius version affected**: 1.10.7

**Description**
Reaching memory limit when creating configurable product.
When creating new configurable product, sylius tries to load all existing product options at once and by doing that you can reach your memory limit.

**Steps to reproduce**
Create multiple options in you DB table `sylius_product_option`
Visit `sylius_admin_product_create` route
If you cre

[2022-03-08 22:24] Leobaillard commented on #12554
Hi! Is there any current plans to address this?

This seems to me like something that would be used commonly in e-commerce applications. Maybe the people actually doing this are using third-party plugins?

[2022-03-09 08:55] aleho commented on #13224
I see this issue has been assigned.

Is there any comment or progress to report?

[2022-03-10 10:41] benjamin-vauchel opened #13749 "[Admin][UI] Taxon slug generation broken"
**Sylius version affected**: 1.10

**Description**
Taxon slug field does not handle taxon parent field to generate slug.

**Steps to reproduce**
You can try on Sylius demo : https://demo.sylius.com/admin/taxons/65190/edit

- Slug of `Jeans > Men` category is `jeans/men`
- Parent of `Men` category is `Category / Jean`
- But if you unlock slug field and change taxon name by `Test`
- Slug field is `t

[2022-03-10 12:54] GSadee commented on #13686
Fixed by #13750

[2022-03-10 12:54] #13686 closed

[2022-03-10 13:07] GSadee commented on #12754
It seems that the problem has been resolved by this PR: https://github.com/Sylius/Sylius/pull/13750 as we've removed the usage of placeholders from the external page in favour of our own placeholders.

[2022-03-10 13:07] #12754 closed

[2022-03-10 21:28] EmmanuelR30 opened #13758 "Problems with taxon to retrieve specific products (/api/v2/shop/products?taxon=)"
**Sylius version affected**: 1.11.0

**Description**
When I want to get products with a specific taxon (for example, jeans for women), I used the following request :

http://192.168.100.16:8000/api/v2/shop/products?taxon=%2Fapi%2Fv2%2Fshop%2Ftaxons%2Fwomens_jeans

With 1.10.9, it works fine and all products have the same value for the mainTaxon field (/api/v2/shop/taxons/womens_jeans)
With 1.11.0,

[2022-03-11 08:55] #12049 closed

[2022-03-11 10:04] paskuale75 opened #13760 "more one coupon on same article in shop"
**Describe the proposed solution**
----

**Describe alternatives you've considered**
There's possibility of applying more than one discount on the item through the use of multiple coupons ?

**Additional context**
![Schermata 2022-03-11 alle 10 53 58](https://user-images.githubusercontent.com/9800/157845974-51c1893d-77c4-44a1-b55e-7166d0b7edd5.png)

[2022-03-11 14:52] gigamarr commented on #13758
Try replacing `taxon` query parameter with `ProductTaxons.taxon.code`

[2022-03-14 13:23] vvasiloi opened #13764 "[Docs] Add image on entity"
**Sylius docs version**:  latest

**Description**
Describe how to add one-to-one image on entity, either in https://docs.sylius.com/en/latest/cookbook/images/images-on-entity.html or separately,

[2022-03-15 12:39] Ferror opened #13773 "Ability to run Behat JS tests"

[2022-03-16 09:03] CoderMaggie commented on #12554
@Leobaillard @aleho @mdevlamynck we're on it, see #13769 🚀

[2022-03-17 17:41] FlorentinGarnier opened #13780 "Is this parameter is used or required ?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Sylius version   | 1.9

https://github.com/Sylius/Sylius/blob/6650e5726eb81ed37343dd0e628408e0ebcac1e0/src/Sylius/Bundle/OrderBundle/NumberGenerator/OrderNumberGeneratorInterface.php#L20

After evaluation, it seems that this parameter is never used in

[2022-03-17 18:00] vvasiloi commented on #13780
Hi @FlorentinGarnier, as I already [commented on the PR](https://github.com/Sylius/Sylius/pull/13781#issuecomment-1071153790), it was deliberately made this way.

[2022-03-17 18:00] #13780 closed

[2022-03-17 18:06] vvasiloi commented on #13780
For additional information, see [this PR](https://github.com/Sylius/Sylius/pull/5562) where the parameter was introduced, because it wasn't there from the start. There's a comment made by @pjedrzejewski explaining why it was added.

[2022-03-17 19:46] rimas-kudelis opened #13783 "`StringInflector::nameToCode()` is too lax"
**Sylius version affected**: 1.11.0

**Description**
`StringInflector::nameToCode()` only replaces a very limited set of characters with underscores, leaving all other characters intact:
https://github.com/Sylius/Sylius/blob/6650e5726eb81ed37343dd0e628408e0ebcac1e0/src/Sylius/Component/Core/Formatter/StringInflector.php#L26-L29

This is problematic, because even Sylius' own default fixtures contai

[2022-03-17 19:57] vvasiloi commented on #13783
Maybe it should use https://symfony.com/doc/current/components/string.html#slugger with `_` as separator?

[2022-03-18 06:32] EditaG opened #13784 "[ApiBundle] ProductImageNormalizer throws an exception when executing from CLI"
**Sylius version affected**: 1.11

**Description**
ProductImageNormalizer has no section check in `supportsNormalization` method so it gets executed everytime we want to serialize product image entity, even outside API context. In our case it's Symfony command. `resolvePath` method gets current request and tries to access query parameter without checking if requests exists.

**Possible Solution**

[2022-03-18 13:06] #12554 closed

[2022-03-19 19:58] vvasiloi commented on #13532
@zangarmarsh On it, thank you for reminding.

[2022-03-24 09:42] loevgaard commented on #13250
So what Victor is suggesting, Maggie, is a great idea, but as you can see it starts with the cost price on the variant ;)

Victor suggested I create PRs to Sylius instead of creating plugins all the time (not entirely what he said :D). Would you accept a PR for the cost price? :)

[2022-03-24 09:58] michaelKaefer commented on #9407
It still is a problem.

[2022-03-24 11:55] loevgaard opened #13797 "ResourceController: Dispatch event with data before giving it to `render()`"
Here is the `showAction` from the `ResourceController`:

[code]

What if it looked something like this:

[code]

This would allow users to provide more data to the template without having to override `ResourceController` or using Twig functions to get what they need.

[2022-03-24 16:17] #13296 closed

[2022-03-25 14:28] gbere opened #13800 "Opcache preload fatal error"
**Sylius version affected**: 1.11.x

**Description**
When use opcache.preload:
[code]

**Possible Solution**
Remove Symfony\Bundle\FrameworkBundle\Templating\EngineInterface. Templating component was deprecated on Symfony 4.3 and removed on 5.0 and Sylius 1.11.x requires Symfony 5.4

[2022-03-26 06:27] vvasiloi commented on #13800
Hi @gbere, there's a [PR](https://github.com/Sylius/Sylius/pull/13709) by @mamazu that would solve the issue.
However, the fix won't land in Sylius 1.11, because it still supports Symfony 4.4.
If you want to use preloading with Sylius 1.11, you will have to upgrade to PHP 8.1.

[2022-03-26 12:12] gigamarr commented on #13758
Hi @EmmanuelR30 I have fixed this with custom `TaxonFilter` (it's just a tiny adjustment to the one in the core)

`config/api_platform/Product.xml`
[code]

`src/Filter/TaxonFilter.php`
[code]

NOTE: if your custom `Product.xml` is not being picked up it's most likely because you need to add a forward slash to path mapping that points to your `config/api_platform` directory in `config/packages/api_

[2022-03-26 16:03] mamazu commented on #13800
The merge request is from @mmenozzi but close enough. :D

[2022-03-26 17:12] vvasiloi commented on #13800
Oops, my bad. 😅

[2022-03-26 20:01] mmenozzi commented on #13800
@vvasiloi Sylius 1.11 does not support symfony 4. My PR should land in Sylius 1.11

[2022-03-26 20:32] vvasiloi commented on #13800
@mmenozzi I see it does: https://github.com/Sylius/Sylius/blob/0d825301a70dceaa13aad0e7659e7718989a8bb1/composer.json#L73-L112

[2022-03-26 20:54] mmenozzi commented on #13800
Uhm... You're right I always thought that Symfony 4 support was removed in Sylius 1.11. It's written here for example: https://github.com/Sylius/Sylius/blob/master/CHANGELOG-1.11.md#tldr-4

[2022-03-29 08:02] Roshyo commented on #13250
In my opinion, even if it would be nice to provide this costPrice in Core feature, it would make 0 sense without what Victor proposed as well. Just remember the `originalPrice` feature when it was not used anywhere (not even in templates).

But having those features in the core would be nice. I agree @CoderMaggie that not all the store would need that. But then thinking this way, you can remove a

[2022-03-29 08:06] loevgaard commented on #13250
@Roshyo: It's a bold statement to say it makes 0 sense to have the cost price without anything else :D I, on the contrary, think it makes perfect sense 🎉

[2022-03-29 09:00] vvasiloi commented on #13250
I agree with Stephane on this one. Adding just the property will have the same effects as the original price.
It will create confusion, a lot of questions on support channels, issues and PRs trying to make it work and at least 3 community plugins
I would either add at least a minimal foundation for using the property or not add anything at all.

[2022-03-29 12:12] lchrusciel commented on #13760
Hey @paskuale75,

unfortunately, there is no possibility to add more than one coupon code - by design, we are holding only one of it on the Order entity. In case you need it, you have to implement it on your own, e.g. by extending the order to hold a collection of them, changing add coupon logic and adding new logic of coupon removals.

it is not what we plan to have at the core at the moment of w

[2022-03-29 12:12] #13760 closed

[2022-03-29 12:28] SirDomin commented on #13749
Hey @benjamin-vauchel is there any chance you could provide PR with this solution?

[2022-03-29 12:50] ernestWarwas commented on #13742
Hi @ulinskas, I have some questions about this issue. How many options do you have in your DB? What was your memory limit? There is any chance would you provide us a solution with some tests and performance tests? We know that using findAll() here is not good at all but right now it is not our priority.

[2022-03-29 13:06] ulinskas commented on #13742
Hi @ernestWarwas,
We had a lot of options. I can't give you exact number now. But cleaning up helps.
About memory limit - 1GB

I'll try to come up with a nice solution.

[2022-03-29 15:55] Nek- commented on #11853
This issue can be closed, @athos7933 answered correctly here.

[2022-03-30 05:33] GSadee commented on #13784
Hello @EditaG! Thank you for reporting an issue, however, our serialization is API-oriented and implemented specifically for API right now, so we won't fix that, at least in the near future. I suggest you fix it on your side 😃

[2022-03-30 05:33] #13784 closed

[2022-03-30 05:53] GSadee commented on #13326
I'm closing the issue as it should be already fixed by https://github.com/Sylius/Sylius/pull/13803

[2022-03-30 05:53] #13326 closed

[2022-03-30 09:24] timching commented on #13099
Hi, I saw this issue when I am working on some pricing-related features.
maybe also need to catch the `Sylius\Component\Core\Exception\MissingChannelConfigurationException` as you said.

but anyone knows is there any reason why we are only catching the `ChannelNotFoundException` exception?

[2022-03-30 10:58] CoderMaggie commented on #13250
This ☝🏻 should be done based on the minimum price of a variant 😅

---
- the profit report is a must for this field to be useful, I agree. We could maybe add it to the dashboard, wdyt?
- binding it with the suppliers (which we also don't have, and it would totally make sense to wrap it in a plugin 😅)  - for having a cost per supplier?
- is this channel-agnostic? I mean is the cost price global or p

[2022-03-30 13:34] vvasiloi commented on #13702
Do you want add disabled countries to zones?

[2022-03-31 07:48] timching commented on #13702
Hi vvasiloi, thanks for replying.
I just reviewed my previous issue, I think the above-proposed solution I posted before was improper.
Let me explain more about our case & what's the problem first.

in our case we used & updated the zone & countries quite often,
it always shows the following error when an existing zone has some disabled countries inside while trying to update the zone
<img width="

[2022-03-31 09:06] loevgaard commented on #13250
I would love to add this property along with the small report card on the order.

Imo it should be channel agnostic. It should be on the product variant.

[2022-03-31 11:30] vvasiloi commented on #13702
Right now it's only an issue at the form level, because when a country is disabled, it still remains attached to the zone.

[2022-04-04 12:12] Nek- opened #13821 "[RFC] No floaters, at all (in prices and critical calculation)"
I figured out that TaxRate is stored as a float. This leads developers to make calculation in floats (something like price / 100 * taxRate) which is not recommended. [The associated calculator is also highly dangerous](https://github.com/Sylius/Sylius/blob/66348ff2e9e2ea12faef489950898ef351a305a0/src/Sylius/Component/Taxation/Calculator/DefaultCalculator.php#L20-L27) and will give a lot of wrong r

[2022-04-04 14:55] mbabker commented on #13821
As tax rates are usually a percentage, how do you store them without losing decimal precision?  Even if through the database schema they're stored in `VARCHAR` fields as strings and the PHP data model treats those values as strings, ultimately you're going to end up with some kind of arithmetic operation that uses a floating point number.

[2022-04-04 15:40] Nek- commented on #13821
Any calculation should be done using a math library:
- [bcmath](https://www.php.net/manual/fr/function.bcmul) : use a string (not a float) as input
- [brik/math](https://github.com/brick/math) accept string in construct `BigNumber::of($stringValue)`
- [gmp](https://www.php.net/manual/fr/function.gmp-mul.php) : accept strings or int (not floats)

So yes, you are going to do arithmetic, but it mostl

[2022-04-04 17:27] mbabker commented on #13821
Having that helps.  I read this at first and thought you were saying just to change the data types (which seemed like change for the sake of it without the extra context), I didn't realize you were also suggesting internal changes as well.

[2022-04-04 18:54] vvasiloi commented on #13821
Here's a relevant issue reported via Slack ([full thread](https://sylius-devs.slack.com/archives/C3EGDG9LY/p1648827780599519)):
![image](https://user-images.githubusercontent.com/7114562/161611854-734113d7-52a7-4b82-92b8-0031c6e7a120.png)
And a POC I made attempting to solve the issue within the current constraints: https://github.com/Sylius/Sylius/compare/master...vvasiloi:decimal-precision-tax

[2022-04-04 18:57] tsogoo commented on #13667
And emails. For example confirmation email, password reset email, account registration confirmation email etc.

[2022-04-05 09:37] mamazu opened #13826 "[Admin] 500 when trying to access a cart in the order list"
**Sylius version affected**
`>1.10.9` and probably more

**Description**
When trying to access a cart in the order listing in the admin panel, Sylius throws a 500. There is no check in the code that checks if the order is actually completed in the `sylius_order_show` route.

**Steps to reproduce**
* Create a cart in the shop and don't do the checkout
* Look into the database and take the id of the

[2022-04-06 11:04] lchrusciel commented on #13821
The idea is neat but requires probably deep research. Some problems with it would be solved if decide to incorporate MoneyPHP. Keeping percentage in the DB as ints is ok, but won't change too much for me on its own. Some specialized math lib is probably even more important

According to the issue @vvasiloi mentioned, for me, it could be solved with more precision on money counting - like with 4 di

[2022-04-06 14:09] Nek- commented on #13821
TL;DR: string will work with everything, this is why string should be used here IMO.

The suggestion here is string (btw MoneyPHP is one more string addict library) on purpose; the percentage needs to be as many decimals as we want. The suggestion of string is not innocent at all, it's what math libraries use in PHP for storage (as explained before).

[2022-04-06 22:46] xEndLe commented on #10533
How such a basic feature does not get more attention? I don't get it. No solution since 2019? ... @dimaip

[2022-04-07 06:53] delyriand opened #13838 "Database isn't sync with mapping for Sylius 1.11"
**Sylius version affected**: 1.11

**Description**

After a new installation of Sylius 1.11, the database schema isn't in sync with the current mapping file. Because the length of column queue_name [has changed from 255 to 190](https://github.com/symfony/doctrine-messenger/blob/5.4/Transport/Connection.php#L437) and missing two indexes on queue_name and available_at columns.
The [Sylius migration

[2022-04-07 08:20] #13800 closed

[2022-04-07 09:20] vvasiloi commented on #10533
@xEndLe You can upload files with separate requests using `Content-Type: multipart/form-data`  HTTP request header.
AFAIK this is the most practical solution.

[2022-04-07 09:49] xEndLe commented on #10533
@vvasiloi thanks for your reply.
But if we make a separate request, how do we assign this image to the specific product we want?

[2022-04-07 10:09] vvasiloi commented on #10533
@xEndLe You make a `PUT /api/v1/products/{code}` request.

[2022-04-07 10:28] coldic3 commented on #12064
Hey @moafred,
I see why it can be misleading but I'm not sure we should change it. @CoderMaggie can you add your opinion?

[2022-04-07 10:32] coldic3 commented on #12094
Hey @akrick,
I can't reproduce this bug. I guess the issue can be closed. Feel free to reopen it if you still have this issue :woman_dancing:

[2022-04-07 10:32] #12094 closed

[2022-04-07 10:36] Ferror commented on #13838
@delyriand that's a nice catch. Wanna create MR/PR?

[2022-04-07 10:47] coldic3 commented on #12225
Hey @diimpp,

thanks for raising an issue. I've reviewed [mentioned PR](https://github.com/Sylius/Sylius/pull/13237). For sure it's a bug and it'll be nice to fix it but we have to keep current route paths to avoid BC breaks.

[2022-04-07 10:54] coldic3 commented on #12343
Hey, @Kyngo
I see it was fixed in the meantime. Feel free to reopen if you still have this issue :dancer:

[2022-04-07 10:54] #12343 closed

[2022-04-07 11:06] coldic3 commented on #12449
Hey @franzwilding,
thanks a lot for raising an issue :dancer: Sylius 1.9 is not supported. I've tried to reproduce this bug on [demo.sylius.com](https://demo.sylius.com) but don't see this SQL error message. Could you write the scenario for your issue if you still have this error in version 1.10 or higher?

[2022-04-07 11:06] #12449 closed

[2022-04-07 12:01] delyriand commented on #13838
i can create a PR with a migration like other migration in CoreBundle ;)

[2022-04-07 13:11] Geolim4 opened #13845 "Javascript data form collection for rules/actions is broken because of harcoded "sylius_promotion" selector"
**Sylius version affected**: 1.10.05

**Description**
I'm working on a custom entity/resource that use the same mecanism of rules/actions than the promotion entity.
Doing that I copied and changed name of classe/Namespace for my personal use case.
It work great except that the "actions" bloc does not show the sub-configuration field(s).

It is mostly caused by the harcoded "sylius_promotion" selec

[2022-04-07 13:27] Geolim4 commented on #13845
Just saw that this code has been completely rewritten in 1.11.

But why did you completely hardcoded the "sylius_promotion" in the Javascript ?

This completely block developers of reusing this form component for doing a custom actions/rules mechanism.

[2022-04-09 15:59] Prometee opened #13854 "Warning: Undefined array key "/api/v2/shop/product-images/{id}""
**Sylius version affected**: 1.11.3

**Description**
We are steal using the old `/new-api` to preserve some legacy API calls, while loading the page `/new-api` on a web browser to get the swagger page this error is displayed :

[code]

**Steps to reproduce**
Change the parameter value of `sylius.security.new_api_route` to a different value like `/new-api` or `/my-api`

**Possible Solution**

1. Us

[2022-04-12 10:08] regexp1987 commented on #13532
Hi mates, any news  about the fix?

[2022-04-14 09:49] rimas-kudelis opened #13871 "RequestResetPasswordToken message is not being validated and its handler may cause internal server error"
**Sylius version affected**: 1.11 and master

**Description**
When requesting a password reset, the email address in the deserialized message is not being validated. However,the handler of this message has an assertion that the email is valid and a user exists: https://github.com/Sylius/Sylius/blob/98d1141e7fa43d3e19c3ee165885d822bc10e625/src/Sylius/Bundle/ApiBundle/CommandHandler/Account/RequestR

[2022-04-14 10:08] rimas-kudelis opened #13872 "RegisteredUser constraint is named incorrectly"
**Sylius version affected**: master

**Description**
Typically constraints are named by what then enforce as opposed to what they prevent, e.g.:
- ShopUserNotVerified causes a violation if a given shop user is already verified
- ShopmentAlreadyShipped causes a violation if a shipment is not yet shipped
- OrderNotEmpty causes a violation if an order is empty

However, the RegisteredUser constraint

[2022-04-14 13:41] #13123 closed

[2022-04-15 09:30] sanderquirynen opened #13880 "Dropdown at the bottom of a table adds a scrollbar"
**Sylius version affected**: 1.11.0

**Description**
If you open a dropdown menu at the bottom of a grid table, the dropdown adds a scrollbar to the entire table and is cut off by the table. This means a user has to scroll down in the table to see that a menu has opened and new options have appeared.

**Steps to reproduce**
On https://demo.sylius.com/admin/products/
1. Click 'Manage variants' in t

[2022-04-19 12:31] petrjuraseko opened #13883 "[Admin][Cart Promotions] Coupons based - generate coupons - error message not showing the correct limit."
**Sylius version affected**: 1.11.3

**Description**
Generate cart promo actions with coupons based
Generate coupons enter `Code length` with number 1024.
I see error message:

Coupon code must not be longer than {{ limit }} characters.

The limit is not specified. Not sure what the limit is.

**Steps to reproduce**
Generate cart promo actions with coupons based
Generate coupons enter `Code length

[2022-04-19 12:59] sabat24 opened #13884 "MoneyIntToLocalizedStringTransformer ignores comma separated numbers in Catalog Promotions Fixed Discount type field"
**Sylius version affected**: 1.1.11

**Description**
[Here](https://github.com/Sylius/Sylius/commit/cb69b221c0a82f40c96cc8108cd412b705e47d97#diff-70d1ea3d00703668498eb0b1c89c84bc4dd19bc53e73cb5a2ed53ce7c628aea8) you added transformer to the `amount` field. In Polish locales all numbers are formatted with comma as decimal separator. When user enters any amount with decimal part for example `10,10`

[2022-04-20 09:39] sabat24 commented on #13884
Yes and in my opinion someone just copied `is_numeric` check from `transform` method into `reverseTransform` method which is incorrect.

For both transformers `Sylius\Bundle\PromotionBundle\Form\DataTransformer\PercentFloatToLocalizedStringTransformer` and `Sylius\Bundle\PromotionBundle\Form\DataTransformer\MoneyIntToLocalizedStringTransformer` the `$value` check in `reverseTransform` method shoul

[2022-04-20 09:54] vvasiloi commented on #13884
@sabat24 I don't know all the implications. I have to review the uses cases and the tests to recommend or endorse a solution.
I'm sure it can't just return the casted value from the parent transformer because it can be null, which will be cast to int as 0.
I'm all for propagating the exceptions, but it will probably require additional handling up the call chain.

[2022-04-20 10:22] sabat24 commented on #13884
@vvasiloi You are right about the casted value. I just copied original implementation from commit presented here and just change that "checking" condition.

I took a look how it's implemented in Symfony and they propose following solution:

[code]

I edited my code above with the corrected return.

[2022-04-25 10:14] ernestWarwas commented on #13883
Hi @petrjuraseko, could you provide us a working behat scenario for that like `features/promotion/managing_coupons/coupon_generate_validation.feature` 🚀

[2022-04-25 10:29] ernestWarwas commented on #13872
Hi @rimas-kudelis, thanks for your proposition. Please open a PR with a proposed solution and ping us on slack or if you want us to prioritize this one open a support ticket 🤖

[2022-04-25 10:34] ernestWarwas commented on #13871
Hi @rimas-kudelis, thanks for describing the issue. Your proposition is good for the 1.12 (master) version because on lower versions we support SF 4.4. Please open a PR with a proposed solution or open a support ticket 🚀

[2022-04-25 10:36] ernestWarwas commented on #13880
Hi @sanderquirynen, thanks for describing the issue. We need frontend power cc @kulczy

[2022-04-25 10:45] ernestWarwas commented on #13713
Hi @kgonella, thanks for describing the issue. We will merge #13874 in the upcoming sprints 💃

[2022-04-25 10:48] ernestWarwas commented on #13707
Hi @Tragllk, thanks for the issue. Could you give us more information about your configuration (like: server configuration, DB config, etc.? 🚀

[2022-04-25 10:55] ernestWarwas commented on #13726
Hi @tsogoo. I think it's not an issue if you want help with customization Sylius, please join us here and ask for help: https://sylius-slackin.herokuapp.com/ 🚀

[2022-04-25 10:55] #13726 closed

[2022-04-25 11:01] ernestWarwas commented on #13826
Hi, @mamazu thanks for describing the issue. If you want us to take over and prioritize please open a support ticket 💃

[2022-04-25 14:54] #13854 closed

[2022-04-26 16:17] jakubtobiasz opened #13900 "[UI/FrontEnd] Remove gulp"
**Describe the proposed solution**
<!-- A clear and concise description of what you want to happen. --!>
I think it's high time to get rid of gulp. Gulp in terms of Sylius is our technological debt. I've performed a fresh installation of Sylius 1.11 and the first things I've faced are missing images.
<img width="1160" alt="CleanShot 2022-04-26 at 6 13 03@2x" src="https://user-images.githubusercont

[2022-04-27 11:15] gabiudrescu commented on #9689
note to future self that arrives here from Google SERPS: the implementation in pre v1.x it is available here: https://github.com/Sylius/Sylius/blob/v0.19.0/src/Sylius/Component/Core/Promotion/Action/AddProductAction.php

in case someone wants to port this to the newer versions of Sylius :)

[2022-04-29 12:16] Floriansalducci opened #13910 "An exception has been thrown during the rendering of a template ("There is no "admin" asset package.")."
Hi everyone,
When installing the boostrap theme and trying to connect to the admin panel I get this as an error, do you have an idea?

`An exception has been thrown during the rendering of a template ("There is no "admin" asset package.").`

[2022-04-29 12:32] piotrkardasz opened #13911 "[BC break][Serializer] Wrong priority for date_time_normalizer during DateTime normalization"
**Sylius version affected**: 1.11

**Description**

After a change from https://github.com/Sylius/Sylius/commit/1c5d8c678ff95671062c87cb3a489b00b6c396f9 which added a new instance of DateTime normalizer `src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml:74`

This change breaks whole flow of priorities because `date_time_normalizer` is handled with `priority: 0` by default and S

[2022-05-01 08:01] gigamarr opened #13915 "[Docs][Cookbook][Payments] In "How to integrate a Payment Gateway as a Plugin" tutorial yaml example for plugin action service registration is missing a parameter"
**Sylius docs version**: 1.x / latest

**Description**

https://docs.sylius.com/en/1.11/cookbook/payments/custom-payment-gateway.html

[code]

It should be declared as `public` otherwise it won't work. I will submit PR later

[2022-05-01 13:25] gigamarr opened #13916 "If customer adds a product that has multiple variants to their cart neither `product_name` or `variant_name` get inserted into `sylius_order_item` table"
**Sylius version affected**: 1.11.4

**Description**
If customer adds a product that has multiple variants to their cart neither `product_name` or `variant_name` get inserted into `sylius_order_item` table

**Steps to reproduce**
Add any of multiple variants of a product into cart and check presence of `product_name` and `variant_name` values in `sylius_order_item` table for that order item instan

[2022-05-03 15:23] gabiudrescu opened #13922 "Sylius Plus installation guideline"
**Sylius docs version**: latest

**Description**
When installing Sylius Plus, there is this guideline step:

There is a catch in here: if you already have template customizations, doing this approach can break your app. or not doing this will put you in the situation where you don't have access to some features because there are missing customizations.

eg. a form is missing a row because the temp

[2022-05-03 15:28] gabiudrescu commented on #12521
any updates?

[2022-05-03 15:29] gabiudrescu commented on #10528
any updates?

[2022-05-03 19:38] JonatanCz opened #13923 "Zone member cannot be the same as a zone."
**Sylius docs version**: latest (1.11.0)

**Description**
I have installed Sylius following the [documentation](https://docs.sylius.com/en/1.11/getting-started-with-sylius/installation.html) (added some changes as described in #12893) and now I'm trying to setup zones. This is what I get after submitting the data:

![image](https://user-images.githubusercontent.com/29522138/166552048-cb5e738e-8229

[2022-05-04 06:28] loevgaard commented on #10528
I am implementing an Algolia plugin for those interested: https://github.com/Setono/SyliusAlgoliaPlugin. It certainly is a worthy contestant to Elasticsearch. Imo it's better for 95% of the cases.

The plugin will be done in the next three months.

[2022-05-04 07:36] vvasiloi commented on #13923
There is a fix for that, but it's stale... I also have to rebase it now, since 1.9 is no longer maintained: https://github.com/Sylius/Sylius/pull/12868

[2022-05-04 07:38] vvasiloi commented on #13923
I will close this as there's already an issue for it: https://github.com/Sylius/Sylius/issues/11881

[2022-05-04 07:38] #13923 closed

[2022-05-04 10:02] rimas-kudelis commented on #13871
Hmm, I don't see how SF version is relevant here.

[2022-05-04 10:07] rimas-kudelis commented on #13871
Anyways, until a proper PR is created, here are my classes for quick reuse:

`ShopUserExists.php:`
[code]

`ShopUserExistsValidator.php:`
[code]

[2022-05-04 11:21] lchrusciel commented on #13911
As Symfony has already decided on some default DateTime format (from what I learned from Piotr it is RFC3339) there is not a big gain to struggle with it. It is worth noticing, that we may define date with time anyway on catalogue promotions (which is the source of breaking change).

Therefore, @piotrkardasz can you remove our "custom" Symfony serializer and adjust tests to make them green? Perhap

[2022-05-04 13:12] mmenozzi commented on #10528
There's also [Meilisearch](https://www.meilisearch.com/) that's seems interesting. It's open-source and there's also the Symfony bundle.

[2022-05-04 13:16] vvasiloi commented on #13923
@JonatanCz great news, it was already merged! Watch for the next patch release.

[2022-05-04 13:17] vvasiloi commented on #11881
Fixed by #12868

[2022-05-04 13:17] #11881 closed

[2022-05-04 13:18] loevgaard commented on #10528
Yes, I also looked at that, but chose Algolia (at least for now) mostly because it's a production ready solution with all the features you'd love and expect from a search experience.

[2022-05-04 17:15] pierredup commented on #12521
From Payum's perspective, we are busy working on a V2 release, which will include a lot of internal changes to the library (adding more strict types, dropping support for PHP 7.x etc). You can follow some of the discussions and plans at https://github.com/Payum/Payum/issues/928 and https://github.com/Payum/PayumBundle/issues/539

Unfortunately, I don't have any definitive timelines on when V2 will

[2022-05-05 13:53] oussj opened #13931 "Unable to deploy on platform.sh"
**Sylius version affected**: 1.11

**Description**
I'm unable to deploy sylius on platform.sh. I followed step by step the [documentation](https://docs.sylius.com/en/1.11/cookbook/deployment/platform-sh.html) and I get an error systematically during the composer install.

**Steps to reproduce**
Just follow the documentation above.

[code]

[2022-05-05 20:45] oussj commented on #13931
Actually the .platform.app.yaml file was missing two things :
- the sodium extension
- use of composer 2
- I solved both by looking in the documentation of platform.sh
I did a PR with it here. : https://github.com/Sylius/Sylius/pull/13932

[2022-05-09 15:09] lchrusciel commented on #13257
Hey folks, I know that a long time passed, but we were considering it really, really much. As I'm falling with @mbabker here, we cannot afford to list only the given versions. The question remains open, how should we list versions on Sylius-Standard, but flex is still optional dependency for Symfony and not everyone is using it.

[2022-05-09 15:20] mbabker commented on #13257
As the standard repo is a template repo, I personally would just build and lock it with the latest supported Sylius + Symfony versions (and have the CI lint the app code on the lowest supported PHP version and run the tests on the highest supported version, no need to go too in-depth with the test suite there as downstream users generally won't be building for multiple PHP versions, the lint build

[2022-05-10 10:20] TheMilek commented on #13916
Hi @gigamarr ✌🏽
If I understand correctly it is working as it should be.
These values are gonna be filled when the checkout is completed, so i'm closing this issue.
Feel free to reopen it if needed 💃🏽

[2022-05-10 10:20] #13916 closed

[2022-05-10 10:47] TheMilek commented on #13675
Hi @benjaminmal 💃🏽
I'm not not sure if it is a bug or problem with your customization.
Please ask about this problem on our slack 🚀
sylius.com/slack
Otherwise feel free to reopen this issue with more details

[2022-05-10 10:47] #13675 closed

[2022-05-10 10:49] SirDomin commented on #13201
Hey @acornforth I checked out your PR, added behat scenario and it will be merged as soon as its green 💃

[2022-05-10 10:51] TheMilek commented on #13505
Hi @stloyd 💃🏽
Could you please open PR with proper migration? 🚀

[2022-05-10 10:53] acornforth commented on #13201
@SirDomin Amazing, thanks for that. any idea how long before it's included in a public release?

[2022-05-10 10:59] SirDomin commented on #13201
@acornforth i changed branch to 1.10, so probably with new release of 1.10+ versions it will be updated

[2022-05-10 11:00] TheMilek commented on #13503
Hi @Looouuu 💃🏽
Thank you for your issue.
I've reproduced this problem and it exists, but for now We are focused on Shop context of API.
Nevertheless We are looking up to repair it in future.
Feel free to open PR with solution 🚀

[2022-05-11 17:49] #13524 closed

[2022-05-13 13:21] mickael-naturopera commented on #9364
thank you very mutch you are the best

[2022-05-16 07:55] vvasiloi commented on #13532
Finally, I submitted a fix.

[2022-05-16 12:13] xelaris opened #13988 "DB migration fails due to existing indexes in messenger_messages"
**Sylius version affected**: 1.11.5

**Description**
After upgrading to Sylius 1.11.5 our deployment fails because the migrations don't run successfully.

[code]

This happens, because the table wasn't initially created by the migration provided by Sylius, but by our own migrations. The initial Sylius migration `Version20220203115813`, which creates the schema, skips the creation, if the schema ex

[2022-05-16 14:49] lchrusciel commented on #13257
thanks for the opinion, seems convincing to me. The only problem I have with this approach is that it will blow up if the customer will try to install Sylius on the lower stack, than the one used to generate `composer.lock` from what I remember. Since support for PHP8 only it shouldn't be that much of a problem, but it may happen anyway. Probably generating it for the lowest supported version woul

[2022-05-16 15:06] mbabker commented on #13257
It's a little riskier, but you can also not commit the `composer.lock` to that repo.  https://github.com/drupal/recommended-project is the only starter kit I could find on a quick search that actually commits a lock file.  The skeletons/starters for Symfony, Laravel, Sulu, Concrete CMS, and Winter CMS all don't have the lock file committed (probably for the same reason you've noted).

[2022-05-17 08:57] lchrusciel commented on #13257
The only possibility is to create starters for each node of the support matrix - that could be possible with subtree split and GitHub actions, but I don't want to go this way. Therefore, for now, I would close this discussion.

Feel free to contact me on slack if you would like to pickup discussion :)

[2022-05-17 08:57] #13257 closed

[2022-05-17 17:49] sad270 opened #13999 "Missing `slug` parameter in `products-by-slug` Api endpoint docs"
**Sylius version affected**: 1.11.4

**Description**
Missing `slug` parameter in api doc for `/api/v2/shop/products-by-slug/{slug}`

**Steps to reproduce**
* Go to https://master.demo.sylius.com/api/v2/docs
* Find and Open `/api/v2/shop/products-by-slug/{slug}`

<img width="1358" alt="Screenshot 2022-05-17 at 19 48 13" src="https://user-images.githubusercontent.com/5607440/168877610-6f666f4d-26ca-

[2022-05-17 18:58] sad270 commented on #13999
It's comming from `AcceptLanguageHeaderDocumentationNormalizer`  line 56 https://github.com/Sylius/Sylius/blob/4b78f55fecee3d2fe90808b04f3efd470f686b21/src/Sylius/Bundle/ApiBundle/Swagger/AcceptLanguageHeaderDocumentationNormalizer.php#L58

IDK why, it's happening only on `/api/v2/shop/products-by-slug/{slug}` path, if I dump the `'parameters'` before and after, the line (only for this path) like

[2022-05-17 19:06] sad270 commented on #13999
AH it's ok !!! I get it, it's because we unset `code` https://github.com/Sylius/Sylius/blob/66ee0bd53d56187b8f904b6ebe477bfdccbc3659/src/Sylius/Bundle/ApiBundle/Swagger/ProductSlugDocumentationNormalizer.php#L40

[2022-05-17 21:30] raneomik commented on #13988
Hello, we had similar issue in our CD where we already applied same messenger related migration before https://github.com/Sylius/Sylius/pull/13847 .

  We solved it doing the following :

- applied the following command on server : `bin/console doctine:migration:execute Sylius\\Bundle\\CoreBundle\\Migrations\\Version20220407131547 --down `  (if using [deployer](https://deployer.org),  in temporary

[2022-05-18 11:42] sabat24 opened #14003 "Can not extend CatalogPromotionRepository because of it's direct definition in sylius_fixtures.listener.catalog_promotion_executor"
**Sylius version affected**: 1.1.11

**Description**
I wanted to extend the resource related `CatalogPromotionRepository` class, to add some custom methods in it.
I created my custom repository class and I added proper entry to `config/packages/_sylius.yaml`

[code]

Then I received an error:

`The service "sylius_fixtures.listener.catalog_promotion_executor" has a dependency on a non-existent ser

[2022-05-18 12:33] maximehuran commented on #12227
Also check here :
https://github.com/monsieurbiz/SyliusRichEditorPlugin/issues/94#issuecomment-755333704
https://github.com/monsieurbiz/SyliusRichEditorPlugin/issues/94#issuecomment-755337656

@lchrusciel do you think we can remove this part from the documentation to remove locale from URLs ?
[code]

[2022-05-18 13:37] xelaris commented on #13988
@raneomik thank you for confirming this is an actual issue, not only in our setup. Indeed I raised this issue to find a solution, which doesn't involve manual steps. We worked around this issue by adding the migration manually. Something like
`php bin/console doctrine:migrations:version 'Sylius\Bundle\CoreBundle\Migrations\Version20220407131547' --add`

[2022-05-19 07:50] Nek- opened #14005 "Link between Promotion and Adjustment missing"
Just like the Shipment on the adjustment, we need a link between adjustment and promotion. This is especially important when it comes to complex calculation with very specific promotion type (which is authorized by the rest of the system and the ability to extends)

**Describe the proposed solution**

[code]

[2022-05-19 15:36] Chrysweel commented on #12182
Any news or forecast to include this in the roadmap?

We close the issue better?

[2022-05-20 08:44] sabat24 opened #14009 "[AdminBundle]: "Add rule" in shipping methods no longer opens full rule form"
**Sylius version affected**: 1.1.11

**Description**
Same bug as https://github.com/Sylius/Sylius/issues/13463 but for Shipping Methods.

**Possible Solution**

Add below code to `Resources/private/js/app.js` somewhere inside `$(document).ready(() => {`

[code]

**Side Note**

There should be more generic solution to handle such things not directly related to field names nor ids. It would help us

[2022-05-20 13:39] PILLOWPET opened #14010 "OrderItemQuantityModifier should call the processor in the `modify` method"
I'm working on a Sylius project in which we send requests to update the quantity of the items on the cart page.
Something I noticed is that most of the services/controllers that are using the Sylius `OrderItemQuantityModifier` call the processor right after calling the `modify` method.

**Describe the proposed solution**

The `modify` method of the `OrderItemQuantityModifier`  should call the orde

[2022-05-20 13:43] vvasiloi commented on #14010
OrderItemQuantityModifier can be called multiple times during a request and you don't want to call the processor every time.
If you have 20 products in cart and change the quantity of all of them, then the order will be processed 20 times. :)

[2022-05-20 15:51] PILLOWPET commented on #14010
Hum I see I guess this is specific to our implementation since we update the cart asynchronously every time a quantity is updated by the user.

However, the same can be said about the `OrderModifier`'s `'addToOrder` method , we could imagine that multiple articles get added to a cart in a single request (for instance in a reorder request).

[2022-05-20 16:04] vvasiloi commented on #14010
There is no such thing in Sylius out-of-the-box, you can only add one item at a time.

[2022-05-20 16:06] vvasiloi commented on #14010
Anyway, that's an argument in the other direction, i.e. remove the call to the order processor from the order modifier.

[2022-05-21 12:12] PILLOWPET commented on #14010
I agree, the argument is that the modifiers should be consistent in their behaviors and if one processes the order then all of them should too.

[2022-05-23 14:21] lchrusciel commented on #13988
hey folks, thanks for raising this issue and sharing a workaround for others.

if you have any proposals on how to fix it, any PR would be more than welcome.

[2022-05-24 10:58] gabiudrescu opened #14017 "Promotion prequalifiers"
**Describe the proposed solution**
I have a cart promotion that gives customers 15% discount on Books if they buy products worth of 100 EUR.

From a business POV, when someone adds a product from Book taxon worth of 80 EUR, I want them to see a banner in cart that says something like: add 20 EUR more from Books and get 15% discount

You cannot get that up & running now with Sylius out of the box.

[2022-05-25 07:39] Ferror commented on #14009
Hi @sabat24 ! thanks for the issue.

I looked at it and could not reproduce the issue under https://master.demo.sylius.com/admin/shipping-methods/ (maybe it's already fixed or sth) Do you mind sending us ex. loom video (https://www.loom.com/) 😄

[2022-05-25 07:48] Ferror commented on #14005
@Nek- I understand that this could be useful in your use case, but you can simply do it in your codebase, because as you mentioned `complex calculation with very specific promotion type` is probably not a very popular use case.

However, I'm looking forward to getting a little more detailed info about your problem and proposed solution. How do you think your proposal may improve the lives of other

[2022-05-25 07:52] Nek- commented on #14005
I think this is a piece of fundamental information missing. It's really like shipment relation, adding this is not trivial while it should actually be part of the model.

[2022-05-25 08:06] Ferror commented on #14005
Alright. So let me rephrase and ensure I understand it correctly. You state that `PromotionInterface` should be a part of the `Adjustment` model as it is probably the real/best representation of the current behavior?

[2022-05-25 08:08] Ferror commented on #13931
Thank you @oussj for the improvement <3

[2022-05-25 08:08] #13931 closed

[2022-05-25 08:17] Ferror commented on #13988
I think there is no better solution than marking the migration as already executed:
[code]

On one hand, we didn't make migration and got the issue that the database schema is not up to date, and on the other hand, we got the issue that if somebody fixed it then they got an error 😢

[2022-05-25 08:20] Ferror commented on #13922
Hi @gabiudrescu I get it that it may be frustrating, but arent we all use a control version system in any form that will tell you that something was overridden?

However, I'm really looking forward to your proposal on how we can improve that step <3

[2022-05-25 08:24] Ferror commented on #13915
@gigamarr you are right. The XML version actually defines the service as public:

[code]

[2022-05-25 08:37] Ferror commented on #13910
Hi @Floriansalducci please ensure you installed and configured https://github.com/SyliusCrafts/BootstrapTheme properly with the latest guide and your Sylius version.

If the issue will still appear I would recommend creating a more detailed issue in the SyliusCrafts/BootstrapTheme repository :)

[2022-05-25 08:41] Ferror commented on #12560
I'm closing the issue as we made it work https://github.com/Sylius/Sylius/pull/13419 <3

[2022-05-25 08:41] #12560 closed

[2022-05-25 08:50] Ferror commented on #11890
hi @kaushi5054 Access Denied seems like the lack of Bearer auth token. Please see the APi Platform docs :) https://api-platform.com/docs/core/jwt/

[2022-05-25 08:50] #11890 closed

[2022-05-25 08:56] Ferror commented on #11910
Hi! We are not maintaining Syliu 1.7 anymore, but if it fails in current Sylius version 1.11 do not hesitate to reopen this issue

[2022-05-25 08:56] #11910 closed

[2022-05-25 09:01] sabat24 commented on #14009
@Ferror

Go to https://master.demo.sylius.com/admin/shipping-methods/new and click on `Add rule` button. Then you will see

![obraz](https://user-images.githubusercontent.com/6381661/170224380-c0978489-441b-4843-932b-d76ac7c56777.png)

instead of

![obraz](https://user-images.githubusercontent.com/6381661/170224490-ae183e9c-1f1c-4dcd-bf42-0321a16a9171.png)

As you can see in first screenshot there

[2022-05-25 09:04] Ferror commented on #11892
Hi @mvriel Thanks for the issue. We do not support IE11.

[2022-05-25 09:04] #11892 closed

[2022-05-25 09:08] #11985 closed

[2022-05-25 09:33] Ferror commented on #12068
Hi! it seems like translations are already fixed. We are really looking forward to more translation propositions <3

[2022-05-25 09:33] #12068 closed

[2022-05-25 09:35] Ferror commented on #14009
Alright, now I see it. The first time it is chosen the input does not appear. Would you like to open a PR with the improvement?

[2022-05-25 09:45] Nek- commented on #14005
No, it looks like I was not clear enough. Let me explain a little bit more.

When you order a product with a promotion, the current process is to calculate all adjustments based on the shipment and the promotions. It's fine.

This is how adjustments are generated on the order:
[code]

After this process, you can calculate the total using only adjustments. You can also know to what shipment the adj

[2022-05-25 09:49] Ferror commented on #12080
Hi! These are dependencies we are not using directly, but other bundles/packages do. When updated these should disappear :)

[2022-05-25 09:49] #12080 closed

[2022-05-25 10:02] Ferror commented on #14017
@CoderMaggie FYI

[2022-05-25 10:10] Ferror commented on #14005
Hi! I just consulted with the Team and we won't add the promotion to the Adjustments, but there is another solution that may help you - you are able to get a promotion code via `$originCode` from Adjustment. However, if you need some more info about an order you can look into the `$details` property. (There is no promotion info at the moment, but you may add them if needed)

[2022-05-25 10:10] #14005 closed

[2022-05-25 10:15] Ferror commented on #14003
Hi @sabat24 I confirmed that the issue exists and we gonna fix it with the BUG status.

[2022-05-25 10:17] #13988 closed

[2022-05-25 10:20] Ferror commented on #13884
Hi! @sabat24 would you like to open PR with a recommended solution? We gonna look into it 😄

[2022-05-25 10:28] Ferror commented on #11913
Hi @Nyholm we gonna look into it (really XD)

We were waiting for GaufretteBundle 0.8.0 😄

[2022-05-25 10:28] #11913 closed

[2022-05-25 10:31] Ferror commented on #12042
Good news! We fixed it in 1.10.2 Sylius <3

Related PR: https://github.com/Sylius/SyliusAdminApiBundle/pull/9

[2022-05-25 10:31] #12042 closed

[2022-05-25 10:33] oussj commented on #13931
You're welcome !

[2022-05-25 10:33] esserj commented on #12042
<3

[2022-05-25 10:37] Ferror commented on #12061
Hi @ragdnatak you can toggle the keylock on the right side of the input and then the input will be editable.

<img width="850" alt="Screenshot 2022-05-25 at 12 36 53" src="https://user-images.githubusercontent.com/17534504/170243350-c5070ce3-0a7e-4ca9-89c6-bcafaeca4396.png">

<img width="841" alt="Screenshot 2022-05-25 at 12 37 07" src="https://user-images.githubusercontent.com/17534504/170243400-

[2022-05-25 10:37] #12061 closed

[2022-05-25 10:43] Ferror commented on #12102
Hi @LucaGallinari great idea! We are really looking forward to having it in our codebase. Would you like to open a PR with the additional `theme` property into `DefaultChannelFactory`?

[2022-05-25 10:47] sabat24 commented on #14009
Sure. Will do it in few days as soon as I write Behat tests for it.

[2022-05-25 10:48] Ferror commented on #12305
Hi @benlinkevicius we fixed it in the Sylius 1.11. Thanks for your issue <3

[2022-05-25 10:48] #12305 closed

[2022-05-25 10:51] Ferror commented on #12217
Hi @joenilson ! I checked it and it works properly in Sylius 1.11 <3

[2022-05-25 10:51] #12217 closed

[2022-05-25 10:54] sabat24 commented on #13884
I can try to go for it.

[2022-05-25 11:00] Ferror commented on #12330
@DieterHolvoet I tried to reproduce the issue with your steps on Sylius 1.11, yet I failed. It seems to be working as it should and the base currency field is not locked.

Please let me know if you are able still to reproduce the issue and maybe create a Loom video?

[2022-05-25 11:00] #12330 closed

[2022-05-25 11:23] Nek- commented on #14005
originCode looks perfect indeed, missed it! Thanks :) .

[2022-05-25 12:01] Ferror commented on #12864
Hi @GrzegorzKaczor it's been some time and the current Docker in Sylius-Standard looks a little bit different. Let me know if it is still an issue

[2022-05-25 12:01] #12864 closed

[2022-05-25 12:15] Ferror commented on #13074
Hi! In the latest Sylius-Standard, we have only two warnings left.

https://github.com/Sylius/SyliusMailerBundle/pull/131
[code]

https://github.com/Payum/Payum/issues/935
[code]

[2022-05-25 12:15] #13074 closed

[2022-05-25 12:17] #12989 closed

[2022-05-25 12:45] Ferror commented on #12573
Hi @morgan-blondellet we can test the latest Sylius version under Heavy Load, but let me know if you are still interested in it and what kind of load we are talking about.

[2022-05-25 12:46] Ferror commented on #12551
Hi @Loocos it seems like it is already fixed with the Sylius 1.11 <3

[2022-05-25 12:46] #12551 closed

[2022-05-25 12:48] Ferror commented on #11969
it is already done

[2022-05-25 12:48] #11969 closed

[2022-05-25 12:48] #11990 closed

[2022-05-25 12:51] #12129 closed

[2022-05-25 13:09] Ferror commented on #12531
HI @dantleech would you like to test graphql with the Sylius 1.11 I'm really looking forward to supporting it. Would you like maybe to create some tests that we will be able to run in pipeline regarding graphql?

[2022-05-25 13:14] Ferror commented on #11760
Hi! The issue should not appear in the latest Sylius version, also we are trying to run away from Gulp to Webpack :)

[2022-05-25 13:14] #11760 closed

[2022-05-25 13:15] Ferror commented on #13143
This would be great for Sylius 2.0 <3

[2022-05-25 13:22] Ferror commented on #13669
Hi! I'm not gonna get into this URL.

[2022-05-25 13:22] #13669 closed

[2022-05-25 13:27] #13413 closed

[2022-05-25 13:46] Prometee commented on #13074
Thank you very much for this PR @Ferror !

[2022-05-25 14:54] dantleech commented on #12531
hi, we've since switched to a completely custom API (usecase is not typical for Sylius) so not very close to this at the moment. I assume the above query can confirm that it woudl still be an issue on 1.1 though if there is a demo site with GQL enabled.

[2022-05-25 15:50] xelaris commented on #13758
Hello, we stumbled across the same issue after upgrading to 1.11. It seems as the behavior changed because of https://github.com/Sylius/Sylius/commit/ac0f191a797c60cd5057fb1796c7b2288234e5b3. I wonder about the purpose of the TaxonFilter in the first place. It's description says "Get a collection of product with chosen taxon". The implementation, on the other hand, clearly seems to intend to filte

[2022-05-25 18:32] Ferror commented on #12063
Hi @kaushi5054 I tried to reproduce this issue in the latest Sylius but failed. Would you like to test it again against 1.11 version?

[2022-05-25 18:32] #12063 closed

[2022-05-25 18:34] Ferror commented on #13674
Hi @JinbeiStudio we made some changes in Sylius 1.11 with calculating promotions. Would you like to test it against Sylius 1.11, as we do not maintain 1.10 anymore? <3

[2022-05-26 08:47] lruozzi9 opened #14019 "Increase PHPStan level"
PHPStan provides different rule levels: https://phpstan.org/user-guide/rule-levels. Each of these levels increases the strictness of code checks. Actually, [Sylius uses the level 1](https://github.com/Sylius/Sylius/blob/9b4b186f69ecce9cb6acefecc0f82eee72016e7c/phpstan.neon.dist#L5). This is a good starting point but for sure it is not the more reliable. It can cause some errors if you customize so

[2022-05-26 12:22] ahmed-bhs commented on #9686
Up!

[2022-06-03 08:50] lchrusciel commented on #11562
hey folks, I'm aware that you may be pissed off about my long response time, sorry about that. However, client generation was not our main goal at this stage. As we are finishing with the shop part, there are chances to finally fix it (probably this summer).

I have to check our API design and ensure that there always is GET for resource 👍

[2022-06-03 10:48] Ferror commented on #13254
@zairigimad it should be already fixed :)

[2022-06-03 10:48] #13254 closed

[2022-06-06 08:35] lruozzi9 commented on #14019
First [PR](https://github.com/Sylius/Sylius/pull/14053) is quite ready.

[2022-06-06 10:55] coldic3 commented on #13414
Hey @laurentdabbb. I come with a small update 💃 Recently we added GET methods for retrieving product attributes in the shop (here https://github.com/Sylius/Sylius/pull/13928). It's still not fully covered CRUD but maybe you find it useful :slightly_smiling_face: You can test it out on the master demo https://master.demo.sylius.com/api/v2 if you wish. These endpoints should appear in the next Syliu

[2022-06-07 11:40] coldic3 commented on #12432
Hey @robopuff,
I see it's already fixed and you should receive 422 code with a detailed message. We are aware of problems with 500 errors in the checkout. Feel free to open a new issue if you find a similar problem in a different place in the API :woman_dancing:

[2022-06-07 11:40] #12432 closed

[2022-06-07 11:53] coldic3 commented on #12433
Hey @flashlabs,

Request body has changed and you need just a product variant IRI and quantity. I guess this issue can be closed. Feel free to reopen if you still have this issue.

[2022-06-07 11:53] #12433 closed

[2022-06-07 12:10] coldic3 commented on #12428
Hey @morgan-blondellet,

I see the problem does not exist anymore. Feel free to reopen if you still have this issue.

[2022-06-07 12:10] #12428 closed

[2022-06-07 12:21] coldic3 commented on #13023
Hey @c4ll-m3-j4ck,

I see it's already fixed so I guess I can close this issue. Feel free to reopen if you still have this problem :woman_dancing:

[2022-06-07 12:21] #13023 closed

[2022-06-07 12:23] coldic3 commented on #12183
Hey @langziyang,

Thank you for raising the issue. We don't support Sylius 1.8 so I guess I can close this issue. Feel free to reopen if you have the same problem on Sylius 1.11 or higher.

[2022-06-07 12:35] coldic3 commented on #12361
Hey @wimulkeman,

I guess I can close this issue as we replaced `[PATCH] /new-api/shop/orders/{id}/remove` with `[DELETE] /api/v2/shop/orders/{tokenValue}/items/{itemId}`. Feel free to reopen it if you still have this issue while removing item in Sylius 1.11 or higher :woman_dancing:

[2022-06-08 16:17] Ferror commented on #13640
We don't support 1.10 anymore, but I checked and the fallback exists in Sylius 1.11 :)

[2022-06-08 16:17] #13640 closed

[2022-06-09 15:09] #13701 closed

[2022-06-10 08:42] SalvadorCardona commented on #11562
I'm use other library for generated a typescript interface, i'm use npx openapi-typescrip with this command :

[code]

After i'm use the library openapi-typescript-fetch for autocomplete all route api in typescript like this

<img width="685" alt="image" src="https://user-images.githubusercontent.com/18017015/173027048-f0deddff-71e7-456b-9fbe-7f5ca850cd54.png">

[2022-06-10 08:54] misaon commented on #11562
`npx openapi-typescript https://master.demo.sylius.com/api/v2/docs.json --output ./src/schema/app-api-schema.ts` works great thanks!

[2022-06-13 04:07] Zakirzhan commented on #12183
i have an error like this, I am using last version of sylius, v1.11.5

[2022-06-13 06:29] JoppeDC commented on #12641
Bump, maybe add an nvmrc file, or at least mention the version in the docs?

[2022-06-13 06:59] coldic3 commented on #12183
Do you have `stty` installed? I think it may be the root of the problem you have.

[2022-06-13 12:05] vvasiloi commented on #11250
Hello,
The Admin API also had endpoints for managing the customers ([docs](https://github.com/Sylius/SyliusAdminApiBundle/blob/master/docs/customers.md)).
Should it be added to the list?
It looks like it's not covered by Behat tests: https://github.com/Sylius/Sylius/tree/4e37f162c8fad574ef5a459ec7c941f1e6d20a7f/features/user/managing_customers

[2022-06-14 13:11] #11562 closed

[2022-06-15 07:38] andriusvo opened #14087 "Promotions channels are not validated then Promotion Coupon is applied"
**Sylius version affected**: All versions

**Description**
Promotions channels are not validated then Promotion Coupon is applied

**Steps to reproduce**
1. Create a Promotion with coupons
2. Disable all channels
3. Enter a promotion coupon code in cart
4. Promotion coupon code is applied to order (which is incorrect), but promotions are not distributed on items (which is correct)

<img width="113

[2022-06-21 08:25] SVillette opened #14097 "[Bug][Doctrine] Wrong schema update for PHP enum mapped property"
**Sylius version affected**: 1.11

**Description**
When PHP 8.1 enums are used with doctrine (`enumType`), the command `doctrine:schema:validate` returns an error as database does not correspond to mapping (only for Doctrine) and `doctrine:schema:update --dump-sql` always propose the changes for the enum column (e.g. `ALTER TABLE delivery_configuration CHANGE type type VARCHAR(255) NOT NULL;`).

*

[2022-06-21 10:04] ernestWarwas commented on #13649
Hi @petrjuraseko, can you provide us a PR with some contract tests? :dancer:

[2022-06-21 10:06] ernestWarwas commented on #13648
Hi @petrjuraseko, thanks for the issue. Can you provide us a PR with a fix and some contract tests? 💃

[2022-06-21 10:15] ernestWarwas commented on #13586
Hi @loic425, thanks for describing the issue. Can you provide a PR with a spec for that? :dancer:

[2022-06-21 10:37] #13554 closed

[2022-06-21 10:42] #13526 closed

[2022-06-21 14:40] Geolim4 commented on #9297
Hello, anyone working on this, I can confirm that it is a major flaw that needs to be patched at the root form type  `ResourceAutocompleteChoiceType` itself :(

[2022-06-23 08:55] ars-creo opened #14107 "Product Option Value Choice Type - price unavailable when we change form to expanded => true"
**Sylius version affected**: 1.11.0

**Description**
When I changed ProductOptionValueChoiceType to 'expanded' => true, price in product doesnt count properly instead we got price 'Unavailable' caused by jquery code.
![image](https://user-images.githubusercontent.com/15095069/175259504-a915e457-f5ee-4284-9808-a4cf5a89247b.png)

**Steps to reproduce**
Install Sylius 1.11.0 and extend ProductOptionV

[2022-06-27 15:36] sebheitzmann commented on #12541
The documentation is not clear about that. I Agree that the event should be triggered after a gateway payment validation

[2022-06-30 08:47] FilipJanousek commented on #13675
Hi, i have same problem, has anyone solved it?

[2022-06-30 12:23] elboletaire commented on #13250
Prestashop also supports this. In their case the variant field is increasing the base product price, but a lot of my clients use zero as product price, and then set that price increase to the real product's price.

I actually found this because I'm currently trying to convince some of my clients to migrate from prestashop to sylius, and this is a must for them.

[2022-07-01 05:39] #13713 closed

[2022-07-01 05:52] JanPietrzyk opened #14119 "Unable to add custom repository for ProductImage"
**Sylius version affected**: 1.11.0

**Description**
I was trying to add a custom repository for`product_image` according to the documentation (https://docs.sylius.com/en/latest/customization/repository.html). This results in an error,

**Steps to reproduce**
Try to add the following line to your `_sylius.yaml`

[code]
This will result in an configuration error, because the field `repository` is a

[2022-07-01 14:29] flochntrl commented on #13686
@GSadee Hi, the fix is not on the 1.11

[2022-07-04 10:58] vjandrea commented on #10882
Looks like this is still relevant on Windows, I just tried to create a new project using composer create-project , and I get a timeout while the script runs **cache:clear**:

[code]

[code]

[2022-07-05 07:42] jbcr commented on #14119
You can redefine the resource into the resource bundle configuration like:

[code]

[2022-07-05 10:16] Nek- opened #14127 "Event missing on /cart/"
Sylius is excellent in its event system (related to the ResourceController). But the cart route (`OrderController::sumarryAction`) has no event, this makes it impossible to hook on the process and enforce the need to override the route or use dirty hacks.

Having an event dispatched at this place would be nice, WDYT?

**Describe the proposed solution**
Adding an event on the cart route

**Addition

[2022-07-06 10:40] Geolim4 opened #14131 "Sorting links are not parametered on PromotionCoupon grid"
**Sylius version affected**: All

**Description**
The sorting is not working on PromotionCoupon grid because sorting link are not parametered.

**Steps to reproduce**
Go to PromotionCoupon grid, try to sort by any column

**Possible Solution**
Probable template issue related to `grid.parameter.all`

[2022-07-06 12:51] Geolim4 commented on #14131
After some investigation I came to the following conclusion:

This fixes the issue:
[code]

I investigated to the following vendor files by doing some comparisons:
`vendor/sylius/sylius/src/Sylius/Bundle/AdminBundle/Resources/config/grids/promotion.yml`
`vendor/sylius/sylius/src/Sylius/Bundle/AdminBundle/Resources/config/grids/promotion_coupon.yml`

And I found out that `promotion_coupon.yml` does

[2022-07-06 12:56] Geolim4 commented on #14131
@lchrusciel @Zales0123 if you want an easy fix for the next release ⬆️  :)

[2022-07-06 13:13] vvasiloi commented on #14131
Thanks, @Geolim4 for bringing it up.
@Jibbarth also noticed and mentioned it on Slack a month ago, but it remained there. 😄
IMO it should be fixed in the Grid Component / Bundle somehow.
Like when a field is marked as `sortable`, automatically add a default order for it.

/cc @loic425 our Resource and Grid warden

<details>
  <summary>Screenshot</summary>

![image](https://user-images.githubuserco

[2022-07-06 13:16] Geolim4 commented on #14131
@vvasiloi the bug may be fixed somewhere else but this is the immediate fix (maybe not the cleanest) I found for now.
But I think that the lack of sorting configuration in grid configuration should not make the parameters unbound from the URL.

[2022-07-06 13:22] Geolim4 commented on #14131
I also found another bug that's may related to DoctrinePaginator, but I'm unsure about that:

When you have an "optional" link to another entity on your grid if you sort by this entity field (ASC or DESC) all other rows that have this field set to null are filtered out of the query, not only sorted first or last.

This leads to a weird behavior: If you have only one entity that is linked to anothe

[2022-07-06 13:26] vvasiloi commented on #14131
That's probably also an issue in the Grid Bundle, which does some joins automatically.

[2022-07-06 13:31] vvasiloi commented on #14131
Reference: https://github.com/Sylius/SyliusGridBundle/blob/967a0ba01dd84fa84ed9d1d6950411ffb782391e/src/Bundle/Doctrine/ORM/ExpressionBuilder.php#L155-L160

[2022-07-07 17:55] codeDestroyerBcn opened #14137 "Catalog Promotion: Bug when submitting editing Catalog Promotion Action with Entity Associated with it"
**Sylius version affected**:

Observed on **1.11.0** and **1.11.6**

**Description**

In our company, in our implementation of Sylius, we have custom tags that are used in a form of **Cart Promotion** and **Catalog Promotion**.

We use the autocomplete **ResourceAutocompleteChoiceType**. Since each tag is indeed a entity that will be later be stored in the
configuration column of **_sylius_catalog

[2022-07-08 06:13] HeahDude commented on #14137
This call should be useless is `$formData` is an object modified by reference.

However this happens on `PRE_SUBMIT` (see https://github.com/Sylius/Sylius/blob/1.11/src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogPromotionActionType.php#L61), so it should not trigger the reported cycle.

I've searched a little and could not find a `PRE_SET_DATA` listener calling `$form->setData(...)`, which sho

[2022-07-08 09:09] HeahDude commented on #14137
Thanks @JoseGarciaCapitoleConsulting for your input.

Again with an object and unless I'm missing an explicit `by_reference => false` somewhere on such field, calling `$form->setData()` should be necessary.

Could you try to change the mentioned block to:
[code]

[2022-07-08 13:16] Nek- commented on #13467
@laurentdabbb no news here? It would be actually awesome

[2022-07-08 13:55] loevgaard commented on #13250
I am thinking `1.12`, @CoderMaggie, what are you thinking? 😉

[2022-07-11 09:08] ghost commented on #14137
Tried it, but the exception is still being raised, because the action that alters the data to the point of breaking is doing an `$formData->setConfiguration($data['configuration']);` in this context.

[2022-07-12 11:36] CoderMaggie commented on #13167
Hi @andrehoffmann30! I've left a comment on your PR 👋🏻

[2022-07-12 11:49] CoderMaggie commented on #13120
Hi, @andrehoffmann30 it seems you're trying to use this endpoint while you're not logged in and thus you're not able to access it due to that. I guess this endpoint should not be used this way, but on the other hand, if you force the user to log in to do that you could do it.

In order to get and display the previously chosen shipping method, you should try getting that from the serialized order d

[2022-07-12 11:49] #13120 closed

[2022-07-12 11:57] CoderMaggie commented on #12608
Hi, @titi60 sorry for the late response. It has been fixed in the most recent releases:
![image](https://user-images.githubusercontent.com/13198869/178484712-96a4b34d-24d9-4509-9ac5-de76cae5771a.png)

[2022-07-12 11:57] #12608 closed

[2022-07-12 12:08] CoderMaggie commented on #12865
Hi, @oliver-norden now it should work like charm 🎉  At least for the newest Sylius versions starting from 1.11. Remember to specify the channel pricing for each of your channels.

[code]

[2022-07-12 12:08] #12865 closed

[2022-07-12 12:16] CoderMaggie commented on #12484
Hi Damian!

It seems you might be misunderstanding where the adjustments are applied. The Taxes calculation should be using the data from Shipment instead of Order as this is where we hold all the adjustments related to the Shipment (including discounts).

The ShippingChargesProcessor is responsible for adding all the adjustments related to Shipments on the Shipment.

Could you elaborate more? Are

[2022-07-12 12:21] CoderMaggie commented on #12629
hiiiii @Tomsgu!

Even though it is possible to change that, as the Sylius Product Owner I must say that the ratio of effort to value is for me too low. We would have to process the whole Order to be able to display the discounted shipping price and we should do that for every shipping method. We will not be able to deliver that feature anytime soon, that's why I'm closing this issue.

Furthermore,

[2022-07-12 12:21] #12629 closed

[2022-07-12 12:27] CoderMaggie commented on #12576
I guess it is not relevant. The order confirmation email is sent when the order is placed, then things happen with its payments. That's why you're not able to modify the confirmation email after payment fails as it's already been sent :)

[2022-07-13 13:34] nicolalazzaro commented on #13023
I too get this error on a clean installation using version 1.11 with the sample database when I try to update the main taxon of a product

`{
  "code": 500,
  "message": "A circular reference has been detected when serializing the object of class \"Proxies\\__CG__\\App\\Entity\\Product\\ProductAttribute\" (configured limit: 1)."
}`

[2022-07-13 14:13] Zales0123 commented on #12577
Hello Rimas! First of all, sorry for such a long response time... We're making progress with being up-to-date with issues, but still fails from time to time 🖖

If I understood you correctly, this functionality seems to be working. I've created a new dummy calculator with an empty form type as a configuration type:

<img width="617" alt="Zrzut ekranu 2022-07-13 o 16 10 37" src="https://user-images.

[2022-07-13 14:36] rimas-kudelis commented on #12577
⁽ᴵ'ᵐ ⁿᵒᵗ ʷᵒʳᵏᶦⁿᵍ ʷᶦᵗʰ ˢʸˡᶦᵘˢ ᴬᵀᴹ⁾· If it works fine for you, feel free to close this ticket. Maybe you changed something after I reported it?

[2022-07-19 05:29] GSadee commented on #13677
Closing the issue, as it has been fixed by https://github.com/Sylius/Sylius/pull/14155

[2022-07-19 05:29] #13677 closed

[2022-07-20 14:16] nicolalazzaro commented on #13023
This comment helped me [https://stackoverflow.com/a/68298027/11741360](https://stackoverflow.com/a/68298027/11741360). Registering the `Entity/Product/ProductAttribute.php` entity as `ApiResource` the above call works, is anyone working on this issue?

[2022-07-20 19:33] vasilvestre opened #14171 "Missing route in admin bundle if shop is disabled"
**Sylius version affected**: 1.12

**Description**
Disabling Sylius shop lead to a missing route in the admin bundle. This is due to this line: https://github.com/Sylius/Sylius/blob/1.12/src/Sylius/Bundle/AdminBundle/Resources/views/Layout/_channelLinks.html.twig#L9

**Steps to reproduce**
If you remove the Sylius shop routing, there's an error because of the missing route.

**Possible Solution**

[2022-07-21 09:50] crydotsnake opened #14172 "[CLI FEATURE] admin create command"
**Describe the proposed solution**

Hello,

It would be cool to have a `sylius:user:create` command that creates an admin user account for the backend. I'm not quite sure, if this feature has been already asked (But I can well imagine that this has been asked before).

**Additional context**

It would be more helpful and save a lot of time.

And since it is already possible to create an admin user

[2022-07-21 14:28] WaleedaliAjeebi opened #14176 "Digital signature | General Reference | Alipay Docs"
https://global.alipay.com/docs/ac/gr/globalgs

[2022-07-22 07:17] oallain commented on #14172
Hello,

This is an interesting idea, which can surely help some people.
As for the name of the command `sylius:user:create` is too ambiguous, it should be something like `sylius:admin-user:create`.

Regards,

[2022-07-22 07:19] crydotsnake commented on #14172
Yes, I agree with you! @oallain

[2022-07-22 13:44] MrPogos opened #14185 "Remove attribute"
**Describe the proposed solution**
Hello,

Recently, I noticed the possibility of removing attributes even if a product has that attribute. With a small amount of products, it may not be noticeable, but what with databases that have 10,000 or 100,000+ products, it can kill the database. Maybe it would be worth using the solution that is with taxons, if some object uses this attribute, block the po

[2022-07-26 08:11] NoResponseMate commented on #14171
Hi @vasilvestre,
Thanks for the report, if you have time could you open a fix for this bug.
For reference it'll be the same way as in [this file](https://github.com/Sylius/Sylius/blob/1.12/src/Sylius/Bundle/AdminBundle/Resources/views/Product/_showInShopButton.html.twig).

[2022-07-26 08:20] NoResponseMate commented on #14019
Thanks for the issue @lruozzi9
The PR looks fine just need to fix the remaining errors.
Would you be able to continue the work or can it be taken over?

[2022-07-26 08:28] NoResponseMate commented on #14087
Thanks for noticing the issue @andriusvo 🍻

[2022-07-26 08:37] NoResponseMate commented on #14127
Hi @Nek-
Thanks for noticing that.
Would you be able to open a PR to fix it?

[2022-07-26 08:42] NoResponseMate commented on #14137
@codeDestroyerBcn
We're aware of this issue, and are researching possible solutions to be implemented in the future.

[2022-07-26 08:49] NoResponseMate commented on #12641
Hi @bram-pkg
The version of node changes quite a lot.
At the moment the best way would be to update the [requirement docs](https://docs.sylius.com/en/latest/book/installation/requirements.html).
Would you be able to do it?

[2022-07-26 08:51] lruozzi9 commented on #14019
Hi @NoResponseMate! Of course, I will complete ASAP this first PR, but to fix the remaining problems I need to have merged this PR: https://github.com/SyliusLabs/PolyfillSymfonyFrameworkBundle/pull/3 to avoid adding some rules to ignore this kind of problem 🥲

[2022-07-26 09:08] NoResponseMate commented on #12670
Hi @Nek-
It seems the same issue could be prevalent in other email subjects as well.
The solution would be to add `|raw` filter where the subject is rendered.
Could you open a PR with the fix?

[2022-07-26 09:10] NoResponseMate commented on #12681
Hello @acornforth
We can confirm the issue, and your proposed fix should do the trick.
Could you open a PR with it?

[2022-07-26 12:38] #11770 closed

[2022-07-28 15:03] gmichard opened #14198 "Error during sylius:install"
**Sylius version affected**: 1.11.7

**Description**
Error during `php bin/console sylius:install`.
More precisely, the error occurs during the `sylius:install:database` command.

**My configuration**
- OS : MacOS
- PHP version : `PHP 8.1.8`
- DBMS : MariaDB `mariadb  Ver 15.1 Distrib 10.8.3-MariaDB, for osx10.15 (x86_64)`

**Error output**
[code]

**Steps to reproduce**
[code]

---

Is it related

[2022-07-29 12:01] JeanDavidDaviet opened #14203 "ProductFilter use in_array strict when checking code"
**Sylius version affected**: 1.10.7

**Description**
When using a promotion with a promotion action of _item_percentage_discount_ and filtering by a specific product, the coupon isn't applied.
The filter check the getCode() function of the item which return a string in the **CodeAwareInterface**, but the products ids listed in the coupon are returned as integer.

**Steps to reproduce**
Create a pr

[2022-07-29 13:29] MateuszPekalaBB opened #14205 "Duplicate validation message in checkout."
Sylius 1.11.6

Description:
In the checkout if mail is incorrect and you click "Next" the validation message is duplicated.

![image](https://user-images.githubusercontent.com/105275171/181754584-c01ff275-8037-4b3e-8671-9c2073bd4c0e.png)

Steps to reproduce:
1. Add a product to cart.
2. Go to checkout.
3. Click "Next" button.

[2022-07-29 14:03] bellu opened #14206 "After creating a new channel in backend i got a ChannelNotFoundException"
**Sylius version affected**: 1.10.9

**Description**
After creating a new channel with a different hostname i got a ChannelNotFoundException in the frontend and in the backend.

**Steps to reproduce**
Create two channel in backend and the exception will throw.

[2022-07-30 04:55] kayue opened #14208 "Sylius Plus has two AvailabilityChecker"
**Sylius version affected**: 1.10

**Description**
After installing Sylius Plus, there will be two AvailabilityCheckerInterface available in the project

| Interface | Service | Function |
| ---------- | ----- | --- |
| Sylius\Component\Inventory\Checker\AvailabilityCheckerInterface | alias for "sylius.availability_checker.default" | Retrieve stock from variant.onHand entity |
| Sylius\Plus\Invent

[2022-07-30 16:06] crydotsnake commented on #14171
You mean this route defined in `config/routes/sylius_shop.yaml` am i correct?:

[code]

[2022-07-30 16:45] vasilvestre commented on #14171
No, `sylius_shop_homepage`

[2022-07-31 06:26] crydotsnake commented on #14171
The only thing i find is: `default_target_path: sylius_shop_homepage` in: `config/packages/security.yaml` if i remove this line i dont get any error message.

Please give me some more information on how to reproduce this issue :)

[2022-08-01 07:45] vasilvestre commented on #14171
On 1.12 branch, if you follow this https://syldocstest.readthedocs.io/en/latest/cookbook/configuration/disabling-shop-admin-api.html you will encounter my error.

[2022-08-01 08:22] crydotsnake commented on #14171
Thanks, i followed the steps!

Is this the error message you get?

[code]

[2022-08-01 13:08] vasilvestre commented on #14171
No it's not. Maybe you forgot https://syldocstest.readthedocs.io/en/latest/cookbook/configuration/disabling-shop-admin-api.html#how-to-disable-sylius-api imports part.

[2022-08-02 05:32] GSadee commented on #12064
Closing as it has been fixed in #14207

[2022-08-02 05:32] #12064 closed

[2022-08-02 07:57] #13197 closed

[2022-08-06 01:26] zpi12lmm opened #14218 "Error during logout"
**Sylius version affected**: 1.12.0-DEV

**Description**
I use 1.12.x-dev (install with docker), and when I try to logout I get this exception:

`An instance of "Symfony\Component\Security\Http\Logout\LogoutHandlerInterface" or "Symfony\Component\Security\Http\Logout\LogoutSuccessHandlerInterface" must be passed to "Symfony\Bundle\SecurityBundle\Security\LegacyLogoutHandlerListener::__construct",

[2022-08-06 22:12] Dragnucs opened #14219 "Cannot change order item quantity more than once via API"
| Q                | A      |
|------------------|--------|
| Bug report?      | yes |
| Feature request? | no |
| BC Break report? | no |
| RFC?             | no |
| Sylius version   | 1.11  |

Following [documentation](https://docs.sylius.com/en/latest/getting-started-with-sylius/using-api.html?highlight=place%20order#changing-product-quantity) to change a product quantity in a cart, only the fi

[2022-08-09 05:04] #14137 closed

[2022-08-09 11:07] Hlavos opened #14224 "Yarn build: sass error"
**Sylius version affected**: 1.11.7

**Description**
When installing the new Sylius, according to the documentation, I get an error in the "yarn build" phase.

[code]

**Steps to reproduce**
Clear installation Sylius on debian,
node v16.16.0
yarn 1.22.19

**Possible Solution**
In files
`src/Sylius/Bundle/AdminBundle/gulpfile.babel.js` and `src/Sylius/Bundle/ShopBundle/gulpfile.babel.js` change sas

[2022-08-09 12:30] #14185 closed, assigned to nobody

[2022-08-11 16:05] zpi12lmm commented on #14224
This problem has not been solved for quite a long time. I solved it in a hacky way, so if you are looking for a "here and now" solution, this may help you. You will need to create a shell script, and write commands there that will find the desired line and put the correct expression. For example, it might look like this:

[code]

Next, you will need to put this script before each executed command

[2022-08-12 01:02] mbabker opened #14229 "Frontend Cart Button Unusable w/ Large Carts"
**Sylius version affected**: 1.11

**Description**
With the Semantic UI popup plugin's behavior of not rendering a popup if it can't fit it onto the screen, the cart button on the frontend template becomes unusable with large carts (large being subjective, on a desktop it takes ~15 items with the demo store but on mobile in landscape orientation you can probably do it with 3 or 4 items).

**Steps

[2022-08-16 08:34] gigabites19 opened #14235 "[API][Feature] `minimumPrice` and `maximumPrice` API platform filters for getting product collection"
The ability to fetch products based on a price range is a common requirement for e-commerce applications

[2022-08-17 22:03] TELLO0815 opened #14241 "sylius_channel_pricing_catalog_promotions empty"
| Q                | A      |
|------------------|--------|
| Bug report?      | no/yes |
| Feature request? | no/yes |
| BC Break report? | no/yes |
| RFC?             | no/yes |
| Sylius version   | 1.11.7  |

With sync and async messenger...
Catalog Promotion is not working. sylius_channel_pricing_catalog_promotions empty.

With async I get the following message in the messages_message table:
`

[2022-08-18 11:10] TheMilek commented on #14087
Hi @andriusvo,
I'm closing this issue as it should be solved by https://github.com/Sylius/Sylius/pull/14237
Feel free to reopen if you need 💃🏽

[2022-08-18 11:10] #14087 closed