[2022-08-19 09:20] ehibes opened #14244 "Variant position does not affect frontend display"
**Sylius version affected**: 1.11.x

**Description**

When I create a new option (xs for size for example), I generate a new shirt variant with xs option and change its position to move it first.
On frontend, the variant select tag does not match backend positions.

**Steps to reproduce**

1. Add a new option
<img width="1048" alt="Capture d’écran 2022-08-19 à 10 59 16" src="https://user-images.

[2022-08-21 08:38] arti0090 commented on #12641
@NoResponseMate I think it might help it :wink:

[2022-08-22 09:16] #14205 closed, assigned to nobody

[2022-08-22 22:37] tdestro opened #14252 "Case sensitivity on postgres causes existing customers not to be recognized at checkout."
**Sylius version affected**: 1.11.0

**Description**

https://github.com/Sylius/Sylius/blob/30884eb1df74a2e6a48544936d0a4495f3c8785d/src/Sylius/Bundle/CoreBundle/Form/Type/Customer/CustomerGuestType.php#L50

The behavior of this line of code differs depending on what database you are using.

    Mysql makes case insensitive queries
    Postgres makes case sensitive queries

Under postgres, if an e

[2022-08-24 08:39] vygis900 opened #14259 "[ApiBundle] Bug with the ProductVariantNormalizer, while having ApiProperty readableLink: false"
**Sylius version affected**: 1.11.6

**Description**
Bug in ApiBundle.
While having a variable with `#[ApiProperty(readableLink: false)]` and  using `ProductVariantNormalizer` function `normalize` malfunctions, because it gives a string while it wants an array.
Specifically  `$data = $this->normalizer->normalize($object, $format, $context);`

The error is this

**Steps to reproduce**
Create a var

[2022-08-24 08:59] lack-of-gravitas opened #14260 "Docker Installation Instructions Don't Work"
**Sylius version affected**: 1.12

**Description**
Docker instructions do not work. Containers are started but localhost receives 502 Bad Gateway and localhost:8000 does not exist. MailHog works but nothing else does.

**Steps to reproduce**
0 - instructions here
https://docs.sylius.com/en/1.12/book/installation/installation_with_docker.html
1 - git clone https://github.com/Sylius/Sylius.git syliu

[2022-08-24 12:19] kkevindev commented on #11594
That would be a nice addition. @mikemix

[2022-08-24 15:29] athlonUA commented on #12606
Hello guys! Any news how to fix this?

[2022-08-26 10:05] tdestro opened #14266 "SalesDataProvider for Admin Dashboard produces non-standard sql which fails."
**Sylius version affected**: 1.12.0

**Description**
https://github.com/Sylius/Sylius/blob/641c8060cca41b4ed083f31991e74f4f2a4f8ae6/src/Sylius/Component/Core/Dashboard/SalesDataProvider.php#L43-L135

The following lines above produce non-standard sql which fails on postgres 12.

An exception occurred while executing a query: SQLSTATE[42703]: Undefined column: 7 ERROR:  column "sclr_1" does not exi

[2022-08-26 14:08] vvasiloi commented on #14266
This was fixed already fixed in https://github.com/Sylius/Sylius/pull/13432.

[2022-08-30 08:36] laurentdabbb opened #14268 "[API] disabling a subresource endpoint"
**Sylius docs version**: latest

[https://docs.sylius.com/en/1.12/customization/api/customizing_endpoints_using_yaml.html](https://docs.sylius.com/en/1.12/customization/api/customizing_endpoints_using_yaml.html)

Hi,

I use Sylius 1.11. I want to disable some subresource endpoints.

By overriding the subresourceOperation in my resource configuration file, I'm able to disable the Sylius subresource

[2022-08-31 12:55] loevgaard opened #14269 "Allow tagging of products"
Allow the tagging of products. This could help users easily select a distinct group of products in various scenarios, i.e. promotions, creating landing pages and much more.

[2022-08-31 14:21] vvasiloi commented on #14269
What would be the advantage over using taxons?

[2022-08-31 18:51] #14266 closed, assigned to nobody

[2022-08-31 21:01] TELLO0815 commented on #14241
Sorry I found it... The problem was that I left the minimum price equal to the original price!!!

[2022-09-01 06:25] Zales0123 commented on #14241
Great @TELLO0815 you've managed to make it work :) ☮️ 🖖

[2022-09-01 06:25] #14241 closed, assigned to nobody

[2022-09-01 08:02] wadjeroudi commented on #14269
I guess that taxons need to be displayed in the tree whereas tags won't.

[2022-09-01 09:37] loevgaard commented on #14269
There's the definitional difference (at least imo). '[Taxonomy](https://en.wikipedia.org/wiki/Taxonomy) is the practice and science of categorization or classification.' whereas I believe tagging _can_, but doesn't have to categorize or classify products.

But then there's the (imo) most important thing: The practical difference. In Sylius you use taxons as categories basically. You have the taxon

[2022-09-01 10:12] vvasiloi commented on #14269
You can create as many trees as you want, you don't have to use the category tree for tags.
Just create another tree called Tags. We can ship it with the default Sylius fixtures.
It seems redundant to me to introduce a new concept to solve this problem.
I have done this in the past and had no problems. Change my mind. 😄
![image](https://user-images.githubusercontent.com/7114562/187889791-bb68bc48-

[2022-09-01 10:21] loevgaard commented on #14269
I can only win this argument with using practical arguments, because I agree that _theoretically_ you're right. But here are a few scenarios for you :D

1. Create 5,000 tags and let me see you load that tree
2. Create 5,000 tags and let me see you add 20 tags to a product
3. Add 20 _new_ tags to a product easily and intuitively. It's not easy and intuitively if you have to 1) create those 20 tags

[2022-09-01 10:24] vvasiloi commented on #14269
The practical issues can be solved on top of the taxonomy.
1. That tree is lazy loaded I believe, isn't it?
2. and 3. Add a text input where you write keywords and hit Enter/Tab, with typeahead/autocomplete/suggestions.

You don't need a new concept, just some UI/UX adjustments.

[2022-09-01 10:27] vvasiloi commented on #14269
@loevgaard deep down I know that @CoderMaggie will say: just make a plugin. 😉

[2022-09-01 10:28] loevgaard opened #14271 "Product bundles in core?"
Would Sylius consider having product bundles in the core?

For reference a product bundle is a product that resembles multiple (sub) products. Here is an example. You have two products `TABLE`, `CHAIR`, but you want to offer your customer a 'family table' with some discount and you create a product (bundle) named `FAMILY_TABLE` having 1 x `TABLE` and 6 x `CHAIR` in it.

Here is an plugin doing it:

[2022-09-03 22:53] coldic3 commented on #14268
Hey @laurentdabbb, I've recently opened a PR with a fix for overriding XML configs https://github.com/Sylius/Sylius/pull/14236. Can you take a look if it's going to fix your problem? Also, it's fixed in API Platform 2.7 but the PR I've linked should fix it in lower versions including the current one :slightly_smiling_face:

[2022-09-03 23:24] coldic3 commented on #14268
And I forgot about a workaround that I have 🙃

Please try to add `%kernel.project_dir%/config/api_resource` (or any other dir name) to the `api_platform.mapping.paths` in `config/packages/api_platform.yaml` and put XML file you want to override into the `config/api_resource`.

[2022-09-03 23:44] coldic3 commented on #14260
Hey @lack-of-gravitas,

What's your operating system?
Additionally, could you paste the results of both `docker-compose logs app` and `docker-compose logs mysql`?

[2022-09-05 08:08] Zales0123 commented on #14271
Hello Joachim! Thank you for this idea. It's definitely a useful feature, but as far as I know, we do not have it in our development plans for the predictable future. cc @CoderMaggie just to be sure ;) Maybe someday! 🚀

I'm closing it, as it's not relevant for now, please reopen if you feel... it should be opened 😅

[2022-09-05 08:08] #14271 closed, assigned to nobody

[2022-09-05 08:16] Zales0123 commented on #14269
Hello Joachim! 😄 As usually - the idea is interesting, but a no-go for us in the nearest future. There are just other priorities we need to focus on :dancer:

Maybe such a discussion should happen in the [Discussions](https://github.com/Sylius/Sylius/discussions) tab? 🤔 We do not use it very much, but maybe it's a good idea to start using it.

cc @CoderMaggie

[2022-09-05 08:20] Zales0123 commented on #14259
Hello @vygis900! Thanks for the bug report. We will try to reproduce it and come back with some fix/comment. Or you can propose a fix by yourself, it would be great :D 🎉

[2022-09-05 08:23] Zales0123 commented on #14252
Hello Tony! Thank you for the bug report. Indeed we should probably canonicalize the email in this listener. Maybe you could propose a PR with a bug fix? That would be great! Thanks in advance 🚀 🖖

[2022-09-05 08:30] Zales0123 commented on #14244
Hello @ehibes! As far as I see, the problem is you have an option "Variant selection method" selected as "Options matching". It means, there is a set of **options** displayed to be selected instead of product **variants**. Obviously, the position of variants cannot influence the positions of options in any way. To see the result of your change, you would have to change the mentioned property to "V

[2022-09-05 08:30] #14244 closed, assigned to nobody

[2022-09-05 08:35] Zales0123 commented on #14235
Hello Giga! Indeed, it is 😄 We're focusing right now to cover all UI shop features in our new API, therefore such a functionality is not in our nearest plans (as we do not have it in UI as well :dancer:). Nevertheless, I strongly encourage you to propose such a feature if you would be customizing it in your application.

cc @CoderMaggie @lchrusciel for further prioritization information 🖖

[2022-09-05 08:43] Zales0123 commented on #14229
Yes! Indeed there is a bug there. On my resolution it's even for 10 items 😱 We definitely need to fix it, as in such a situation it's impossible to access the cart without typing the URL by yourself. There is a potential solution in [this issue on SemanticUI repo](https://github.com/Semantic-Org/Semantic-UI/issues/3004#issuecomment-171412709). @kulczy can you take a look? Thanks! 🖖

[2022-09-05 08:47] Zales0123 commented on #14224
@jakubtobiasz I know you've been working with gulp recently, can you take a look at it?

[2022-09-05 08:52] Zales0123 commented on #14219
Thanks for the report @Dragnucs, we will try to reproduce it and come back to you with some feedback. @lchrusciel can you take a look at it?

[2022-09-05 08:58] Zales0123 commented on #14208
Hello @kayue! As this is a potential bug in SyliusPlus, I suppose, please contact our Team through the support portal or some other Plus-relevant channel of communication :) Thanks!

[2022-09-05 08:58] #14208 closed, assigned to nobody

[2022-09-05 09:30] lruozzi9 commented on #14019
Still waiting for a new release of https://github.com/SyliusLabs/PolyfillSymfonyFrameworkBundle.

[2022-09-05 09:48] loevgaard commented on #14271
Yeah, just to clarify. Thank you, Mateusz :)

[2022-09-05 09:50] loevgaard commented on #14269
Thanks for the quick response, Mateusz :)

I will just close for now.

[2022-09-05 09:50] #14269 closed, assigned to nobody

[2022-09-05 10:01] laurentdabbb commented on #14268
Hi @coldic3,

Thank you for your answer.
I can confirm your fix is working👍
Now, I'm able to override full XML configuration and extend/add/remove endpoints in YAML at the same time : very nice 😊

Your workaround also works and I think I'll keep this approach as I find it more elegant :
- overriding full XML files in `%kernel.project_dir%/config/api_resources`
- extending endpoints with YAML in `%

[2022-09-05 14:27] NoResponseMate commented on #14019
Hi @lruozzi9! A [new tag](https://github.com/SyliusLabs/PolyfillSymfonyFrameworkBundle/releases/tag/v1.1.0) has just been released 🍻

[2022-09-05 14:29] lruozzi9 commented on #14019
Seen it 😎

[2022-09-05 14:36] Florian-Merle opened #14275 "Unused template"
**Sylius version affected**: 1.11

**Description**
I'm not 100% sure, but I think [src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/_menu.html.twig](https://github.com/Sylius/Sylius/blob/1.12/src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/_menu.html.twig)is not used anymore

[2022-09-05 16:29] lruozzi9 commented on #14019
[Level 2](https://github.com/Sylius/Sylius/pull/14053) is ready 😎🎆

[2022-09-06 07:40] coldic3 commented on #14268
I'm glad your problem is resolved!

Indeed, the YAML configuration should be able to remove subresources. We spent some time dealing with it and didn't find any elegant solution, but feel free to propose a solution for it if you have some and PRs are welcome as well. However, in [API Platform 3 subresources are completely reorganized](https://github.com/api-platform/core/blob/main/docs/adr/0000-su

[2022-09-06 07:40] #14268 closed, assigned to nobody

[2022-09-06 08:27] vvasiloi commented on #14275
I couldn't find a usage.

[2022-09-06 08:53] vvasiloi opened #14276 "[BUG] Error in product variant choice type when variant has no name"
https://github.com/Sylius/Sylius/blob/26139f237e699436a2cb0999f0c3049dff350e38/src/Sylius/Bundle/ProductBundle/Form/Type/ProductVariantChoiceType.php#L40

This was introduced in https://github.com/Sylius/Sylius/pull/13268.
Before that, it was using ProductVariant's `__toString`, which wasn't returning the variant's name but the product name and the options set.
The new code returns the variant's n

[2022-09-07 06:13] AymanGoT commented on #14260
@coldic3 ,
I have the same issue
i followed the installation and continued with docker and i just can access port 35729 and db but the port 9000 not accessible.

there is error in the node which say that port 35729 is used !
any idea what might be the issue ?

[code]
and this is the result when checking the processes on port 35729 on my machine just in case

[code]

[2022-09-07 08:26] AymanGoT commented on #14260
[code]

[2022-09-07 10:28] antiseptikk opened #14281 "Monthly statistics with an extra day"
**Sylius version affected**: 1.8+ ?

**Description**
I noted that the monthly statistics were calculated over a period including the 1st day of the following month.

I think this is confusing for sellers because they all asked me to change the behavior.

**Steps to reproduce**
Just navigate between month **with sales** in first day of following month

<img width="1464" alt="image" src="https://use

[2022-09-07 14:38] vladfilimon commented on #9987
This issue becomes more painful with Sylius Plus, when the website has multiple channels and you have a cli command that needs to check inventory of products for whatever reason. With Sylius Plus, one of the default filters when resolving inventory sources is `Sylius\Plus\Inventory\Application\Filter\EnabledChannelInventorySourcesFilter`. Instead of throwing an `ChannelNotFoundException`, it will

[2022-09-10 11:32] gigabites19 commented on #14235
Hi @Zales0123. Since opening this issue I have discovered that [APIP actually has range filter](https://api-platform.com/docs/core/filters/#range-filter) and it also allows [filtering on nested properties](https://api-platform.com/docs/core/filters/#filtering-on-nested-properties) but still having this configuration abstracted away in the core would be nice. I will gladly open a PR if the feature

[2022-09-10 15:34] elboletaire commented on #13250
Is this then planned for the upcoming 1.12? Or was just a thought? 😅

[2022-09-11 07:56] vvasiloi commented on #13250
@elboletaire https://github.com/Setono/SyliusCostPricePlugin

[2022-09-13 09:14] elboletaire commented on #14260
I cannot even get sylius installed using the given docker-compose file. In my case there are problems both in the dockerfile and the docker-compose. I'm running docker from an arch distro under WSL (windows); but this should not be a problem since we're using docker.

The Dockerfile fails because curl is not installed and is required in a following step. Just adding curl does not work because then

[2022-09-13 13:27] coldic3 commented on #14260
Just to clarify because I'm afraid we can mix contexts here – if you are going to run your app with Sylius you should use docker-compose from [Sylius/Sylius-Standard](https://github.com/Sylius/Sylius-Standard) as docker-compose in `Sylius/Sylius` is dedicated for contribution.

Therefore as far as I know you run docker containers configured in `Sylius/Sylius` but they don't deliver you ready-to-wo

[2022-09-14 11:32] skipper-henrik commented on #7180
**more than 3 (THREE) years later** I would like to move from prestashop to sylius.
But **still missing** the feature to sell PDFs and mp3s. (Music Education)

some more info?

[2022-09-14 11:38] skipper-henrik opened #14300 "Downloadable product #7180"
I don’t see why the proposal/request should be closed.

[Downloadable product #7180](https://github.com/Sylius/Sylius/issues/7180)

[2022-09-14 16:33] Ferror commented on #14260
@elboletaire @AymanGoT @lack-of-gravitas if you are developing a new project you have to first create a project from Sylius-Standard or clone the git repository `git clone git@github.com:Sylius/Sylius-Standard.git` then follow the installation instruction.

The Sylius/Sylius repository is the whole platform/framework for developing the Sylius you use in the business project.

[2022-09-15 08:23] ehibes opened #14308 "Product taxon position don't affect parent taxon"
**Sylius version affected**: 1.11

**Description**

On the demo store, when I change product position for women t-shirts in `t-shirts/women` taxon, the frontend is reorganized according to the chosen positions. If I make the same on `t-shirts` taxon, the frontend is not affected.
**Steps to reproduce**

<img width="1222" alt="Capture d’écran 2022-09-15 à 10 21 27" src="https://user-images.github

[2022-09-15 08:37] elboletaire commented on #14260
In my defense, reading the documentation I cannot know that: https://docs.sylius.com/en/1.12/book/installation/installation_with_docker.html

The only place where that "standard" version is shown is when installing using composer: https://docs.sylius.com/en/1.12/getting-started-with-sylius/installation.html

So IMHO, the documentation should be updated to show this.

[2022-09-15 08:39] loic425 commented on #14308
@ehibes Sorry, I've removed your screenshots. Could you add them again please?

[2022-09-15 08:44] elboletaire commented on #14260
Sorry I deleted the previous message instead of editing it 🤦🏼

I said that following the documentation I cannot know that.

Re-reading the docker documentation I can see it speaks about "sylius standard", but here in this thread is the first time I know the real difference between them two. Following the documentation I started [here](https://docs.sylius.com/en/1.12/getting-started-with-sylius/ins

[2022-09-15 13:57] ehibes commented on #14244
So @Zales0123, could we imagine the possibility of rearranging the option values ?

[2022-09-15 14:16] ehibes commented on #14244
#13467

[2022-09-15 14:54] elboletaire commented on #10347
This documentation really needs to be improved... I've been reading everything in the docs about fixtures (at least everything I could find), and none of the documented approaches worked, until I found the way here.

[2022-09-15 17:42] Ferror commented on #14260
@elboletaire I will add what's missing

[2022-09-15 17:57] #14260 closed, assigned to Ferror

[2022-09-19 09:09] elboletaire opened #14323 "There's no public/shop api call to retrieve taxon images, and they don't come with the /taxons call"
**Sylius version affected**: +1.11

**Description**
There's no way to retrieve taxon images using the /shop API. No specific call, and the `/taxons` call does not return their related images.

**Steps to reproduce**
Create a taxon with images on it. Call `/taxons` (after getting your JWT, ofc..), and you'll se a response without `images`.
![imatge](https://user-images.githubusercontent.com/153305/

[2022-09-19 12:29] #14275 closed, assigned to nobody

[2022-09-20 09:13] #14218 closed, assigned to nobody

[2022-09-20 22:21] coldic3 commented on #13233
Hey @zairigimad,

Flysystem will be a default one since Sylius 1.12. You can test it out on Sylius [1.12.0-ALPHA.1](https://github.com/Sylius/Sylius/releases/tag/v1.12.0-ALPHA.1) release 💃

[2022-09-20 22:21] #13233 closed

[2022-09-21 11:50] TheMilek commented on #14300
Hi @eltnap!
As far as I know, We have no plans to introduce it in the nearest future 💃🏽
You can look for solutions here: https://docs.sylius.com/en/1.11/book/products/products.html?highlight=virtual#virtual-product-variants-that-do-not-require-shipping

[2022-09-21 11:50] #14300 closed, assigned to nobody

[2022-09-21 12:05] TheMilek commented on #13667
Hi @gigamarr!
Thank you for your issue! 💃🏽
Have you tried using this endpoint with the locale in the header?
Since version 1.12 of Sylius, We are using headers to return data with the correct translation.
You can also try to use the same header as it's introduced in 1.12 and it should work.
ref: https://docs.sylius.com/en/latest/book/api/translations.html#translations
I'm closing this issue, but f

[2022-09-21 12:05] #13667 closed

[2022-09-21 12:16] TheMilek commented on #14206
Hi @bellu!
Have You checked if this problem occurs on the latest version of Sylius?
Are You using the correct channel hostname in Your browser?
Could You also provide more information about the problem?
cheers 🍻

[2022-09-21 12:26] vasilvestre opened #14340 "[1.12-BUG-HUNTING] Flysystem documentation leads to path error"
False issue, it was due to my own code

[2022-09-21 12:28] #14340 closed, assigned to nobody

[2022-09-21 12:29] TheMilek commented on #14119
Hi @JanPietrzyk!
I see the problem here
Can You let us know if the @jbcr solution works for you?
cheers 🍻

[2022-09-21 21:18] lvwuwei opened #14342 "# unable to fetch the response from the backend: malformed MIME header: missing colon: "#4 {main}""
# unable to fetch the response from the backend: malformed MIME header: missing colon: "#4 {main}"
SERVER issue with server callback error="unable to fetch the response from the backend: malformed MIME header: missing colon: \"#4 {main}\""
[Web Server ] Sep 21 21:16:24 |ERROR  | SERVER GET  (502) /admin ip="176.191.129.xxx"
[PHP-FPM    ] NOTICE: PHP message: PHP Fatal error:  Uncaught Error: Call

[2022-09-22 05:13] GSadee commented on #13662
Closing as it has been resolved by #13663

[2022-09-22 05:13] #13662 closed

[2022-09-22 13:50] vasilvestre opened #14347 "[1.12-BUG-HUNTING] Undefined method called in ImagesRemoveListener"
**Sylius version affected**: 1.12.0-alpha

**Description**
Some migration makes ImagesRemoveListener call `getObjectManager` method on `Doctrine\ORM\Event\OnFlushEventArgs` which doesn't exists anymore. `getEntityManager` is now used.

**Steps to reproduce**
Run sylius-standard migration, the Version20161209095131 fails

**Possible Solution**
Replace method getObjectManager with getEntityManager o

[2022-09-22 14:02] vasilvestre commented on #14347
https://github.com/Sylius/Sylius/pull/14346 should fix this

[2022-09-23 10:52] jakubtobiasz commented on #14347
Hi @vasilvestre 🙋🏼‍♂️!
Thanks for your report. This bug also affects `1.11` branch and #14346 is aimed to fix this :D.

[2022-09-23 14:17] UlrichHP opened #14353 "Wrong name in sylius_order state machine"
**Sylius version affected**: 1.10-1.12

**Description**
If you go to src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_order.yml at the line 95, there is a syntax error.
It should be `sylius_cancel_order` and not `sylis_cancel_order`.

[2022-09-23 14:35] UlrichHP commented on #14353
I didn't see the PR #13689. Will it be merged soon ?

[2022-09-25 14:13] tulik opened #14356 "Attempted to call an undefined method in Sylius 1.18"
**Sylius version affected**: 1.11.7

**Description**
When running `bin/console sylius:install` there is an error:
[code]

**Steps to reproduce**
A fresh Sylius installation doesn't show the error, but it occurs when additional plugins are installed.

**Possible Solution**
In ImagesRemoveListener.php line 40 replace
[code]
with
[code]

[2022-09-27 12:57] Rafikooo commented on #14308
Hello @ehibes,
thank you for reporting the issue. We confirm that the bug exists. Repair is not in our current priorities, so if you could, don't hesitate to contribute to Sylius. A behat scenario covering this case or even a PR with a solution would be welcome 🚀

[2022-09-27 13:44] Rafikooo commented on #14235
Hi @gigamarr, you can surely propose a solution. We're following this issue, so if you open a PR you should get feedback in a while. Just remember to test your code well 👍 🚀

[2022-09-27 13:55] Rafikooo commented on #14347
Since https://github.com/Sylius/Sylius/pull/14346 is already merged, we can close this issue. This change will be available once the new version of Sylius 1.12 will be tagged

[2022-09-27 13:55] #14347 closed, assigned to nobody

[2022-09-27 14:03] Rafikooo commented on #14356
Hello @tulik,
thank you for reporting the issue. It has already been fixed here:
https://github.com/Sylius/Sylius/issues/14347

Sylius 1.11 isn't tagged with this change yet, so if you need this change right now, just change the ORM version to `"doctrine/orm": "^2.13"`

Greetings 🚀

[2022-09-27 14:03] #14356 closed, assigned to nobody

[2022-09-27 16:15] Rafikooo commented on #9987
Hi @vladfilimon, indeed, it is as you said. We'll propose a solution in the future :)

[2022-09-27 16:28] Rafikooo commented on #14342
Hello @lvwuwei, if you have any problems with your app, do not hesitate to ask our Slack community for help:
https://sylius-devs.slack.com

Greetings 💃

[2022-09-27 16:28] #14342 closed, assigned to nobody

[2022-09-27 16:46] Rafikooo commented on #14323
Hello @elboletaire, that's right, we miss this feature. As we have other priorities now, we can't provide a solution in the near future, but if you feel up to doing it yourself, do not hesitate to open a PR 💃  🚀

[2022-09-27 17:08] Rafikooo commented on #13250
Hi Folks, just FYI, we do not plan this feature for Sylius 1.12, we'll see what the future holds 💃

[2022-09-27 17:18] Rafikooo commented on #10347
Hi folks, for now, as a complementary source, we encourage you to check these docs as well:
https://github.com/Sylius/SyliusFixturesBundle/blob/1.8/docs/index.md

[2022-09-27 19:14] Rafikooo commented on #14353
Hi @UlrichHP, since this topic has already been covered [here](https://github.com/Sylius/Sylius/issues/13688) we'll close this issue :)

[2022-09-27 19:14] #14353 closed, assigned to nobody

[2022-09-27 19:24] Rafikooo commented on #13688
Hi Folks! Yes, this typo hurts the eye, however, the problematic of the change due to the BC policy is too big compared to the benefit of no typo, so we decided to abandon this topic until the release of Sylius 2.0 💃

[2022-09-27 19:24] #13688 closed

[2022-09-28 06:58] SVillette commented on #13688
Hi, in my opinion, 2.0 is too far for an issue like this. In our project, it caused a bug where product onHand were updated twice because when we wanted to override this event, we fixed it thinking that the typo came from us.
So instead of overriding this event, we just duplicated it. I think this error can happen in other projects.

Once again a fix in 2.0 does not seem legit to me as it could be

[2022-09-29 10:27] petrjuraseko opened #14380 "[ApiBundle] Promotion coupon eligibility validator set a coupon on cart"
Sylius version affected: +1.9

Description:
Code smells
I think the validator should only validate. But there is in the validator set on the cart the promotion coupon, that could be a potentially a bug.

https://github.com/Sylius/Sylius/blob/3c48c38cd21eeca50d95c4f68db1061df6a29cf4/src/Sylius/Bundle/ApiBundle/Validator/Constraints/PromotionCouponEligibilityValidator.php#L52

[2022-09-29 12:04] #10997 closed

[2022-09-29 16:47] Prometee commented on #13681
@Ferror this also mean that this feature is not yet tested, right ?
BTW I think this issue must be mentioned in the 1.12 version because it still exists.

[2022-09-29 18:16] achraflamhamdi opened #14383 "Error in installing node-sass"
**Sylius version affected**: 1.10.0

**Description**
I'm trying to install node-sass modules with npm but getting this :

$ npm install node-sass
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated stable@0.1.8: Modern JS already guarantees Array#sort() is a stable sort, so this library is deprecated. See the compatibility table on

[2022-09-30 07:44] loevgaard commented on #13250
Thank you for the update. Looking forward to 1.13 then ;)))

[2022-09-30 09:57] vasilvestre opened #14391 "API errors are not handled as intented in API Platform"
**Sylius version affected**: 1.10.x, 1.12-alpha

**Description**
I'm working on Sylius 1.12 and APIP 2.6 (ATM, will update soon) and I can't have **some** errors shown.
The constraints list errors works, ApiPlatform\Core\Exception\ItemNotFoundException do not work.

`api_platform.yaml`
[code]
`Handler.php`
[code]

And my API response is :
[code]
I can't manage to have error message. The HTTP code

[2022-10-01 17:23] dennisgon commented on #14252
Hi can propose a PR for this bug?

[2022-10-03 11:48] elboletaire opened #14399 ""Latest" version in docs points to 1.12, which is under development"
**Sylius docs version**: latest

**Description**
When accessing https://docs.sylius.com the version shown by default is the latest stable one (1.11), but the `latest` button in the menu directs to the current in-development version (1.12).

![imatge](https://user-images.githubusercontent.com/153305/193569691-28da8b60-561f-49cd-b17e-5211c60c5ee8.png)

I think version 1.12 should also be shown as a

[2022-10-03 11:57] Zales0123 commented on #13274
I've upgrade the issue description with `Final fixes left` section - we're really close to reach the goal 💪 🚀

[2022-10-03 13:12] elboletaire opened #14401 "Some missing and wrong information in "How to migrate from Gulp to Webpack""
**Sylius docs version**: 1.12 / latest

**Description**
- In [How to migrate from Gulp to Webpack](https://docs.sylius.com/en/latest/cookbook/frontend/migrating-to-webpack.html), despiste the great improvement in the section, there's no indication about installing the webpack encore package:

[code]

- The section where it says to remove some packages, one of them is `gulpfile.js`, but I think tha

[2022-10-03 17:31] mbabker opened #14404 "Add support for conditionally eligible shipping methods"
**Describe the proposed solution**
A method to conditionally report if a shipping method is eligible for use with a shipment

**Describe alternatives you've considered**
Haven't figured it out yet

**Additional context**
Loosely, this ties in with my pain points described in #11873 (sorry, I haven't really gotten back to a core solution for this yet), maybe this can help with #7178 in some way.

R

[2022-10-03 19:48] vvasiloi commented on #14404
@mbabker does this include the [shipping method rules](https://github.com/Sylius/Sylius/pull/10434)? It introduced a composite eligibility checker, so you can chain some complex custom logic there in addition to the rule system.

[2022-10-03 21:33] mbabker commented on #14404
I actually did try an eligibility checker, that was the one that ended up with us adding items to a cart and no shipment being created because none of the shipping methods were available for use yet (and I'd have to spend some time working through our code to make sure everything works right when there aren't any shipments on an order, we do have some stuff that hard aborts if `$order->getShipment

[2022-10-04 10:35] elboletaire commented on #14323
Hey @Rafikooo I'll gladly make a PR myself, just a small question I cannot find in the docs: the API calls are tested? And if so, how? If they're tested I'd like to add the proper tests for the new properties.

[2022-10-05 06:31] David-Crty commented on #10729
Does someone manage to handle this issue on a live project?
I'm surprised that very few peoples have this issue has it look to be a common e-commerce issue?

[2022-10-05 08:44] Rafikooo commented on #14281
Hi Thomas, I've checked your submission and unfortunately cannot reproduce it. I've tried both locally and on our demos and it looks to be working fine. You can try to do this [here](https://master.demo.sylius.com/admin/) by yourself.
I wonder if you have introduced any custom configuration into your app that affects this component?

[2022-10-05 09:12] vvasiloi commented on #10729
@David-Crty the order is not completed if the payment fails, only the checkout is completed. When the payment fails, businesses usually allow the customer to retry the payment in a more proactive way than Sylius currently does.

[2022-10-05 10:04] Pablossoo opened #14412 "Override validation address"
Sorry, I haven't found information about this anywhere.

I need to overwrite the custom address validation, especially the first and last name, which should not be required ... I have disabled html5 validation, but there is still a request validation after clicking the submit button ... What I should override yet?

[2022-10-06 09:50] jakubtobiasz commented on #14412
Hi 🙋🏼‍♂️!
Have you tried [this guide](https://docs.sylius.com/en/1.11/customization/validation.html)?

[2022-10-06 10:15] jakubtobiasz commented on #14323
Hi @elboletaire 🙋🏼‍♂️!

I believe in this concrete case PHPUnit tests should be enough. You can find example tests [in this directory](https://github.com/Sylius/Sylius/tree/1.12/tests/Api).

[2022-10-06 12:04] #10347 closed

[2022-10-06 12:12] jakubtobiasz commented on #14235
Hi 🙋🏼‍♂️!

As we are not planning to implement this in the nearest future I am closing this issue. If you decide to implement this on your own feel free to mention this issue and ping us.

[2022-10-06 12:12] #14235 closed, assigned to nobody

[2022-10-06 12:19] jakubtobiasz commented on #13688
Hi 🙋🏼‍♂️!

If you are able to provide a solution not breaking BC policy feel free to contribute, but we decided to leave it as is until Sylius 2.0.

[2022-10-06 12:33] CoderMaggie commented on #14399
It's always been configured like that. The `latest` was pointing to `master` when it was named so, it is the default configuration of read the docs. We've recently changed the default version to which the `docs.sylius.com/` redirects and it is the latest stable version - 1.11 for now. :)

[2022-10-06 12:33] #14399 closed, assigned to nobody

[2022-10-06 12:47] #14176 closed

[2022-10-06 12:47] #13900 closed

[2022-10-06 12:53] jakubtobiasz commented on #14383
Hi 🙋🏼‍♂️!

Unfortunately, we do not support Sylius 1.10, but probably python3 is your problem. If installing python2 doesn't solve your problem feel free to join [our Slack](https://sylius.com/slack).

[2022-10-06 12:53] #14383 closed, assigned to nobody

[2022-10-07 08:59] TheMatto opened #14418 "Can't install SymfonyMakerBundle due to conflict with some packages"
**Sylius version affected**: 1.11.9

**Steps to reproduce**
-Install Sylius
-Require SymfonyMakerBundle: composer require --dev symfony/maker-bundle

[2022-10-07 09:49] elboletaire commented on #14399
Cool, at least it won't confuse anyone. Having the latest development documentation in a different version (let's say "dev", although I named it "1.12-dev" previously) wouldn't be a bad idea either.

[2022-10-07 11:53] #13274 closed

[2022-10-07 18:28] sabat24 commented on #14276
We fixed that in our project by introducing a new method in `ProductVariant` entity:

[code]

We added it directly to the entity, because we use it widely in Twig's.

[2022-10-08 21:46] duchnoun opened #14423 "Add a product and specify channel(s)"
**Sylius docs version**: 1.x / latest

How on api (v2) we can create a product and specify the channel ? (one or multiple)
I've try :
[code]

But channels seem to be read only ?

Thanks

[2022-10-09 19:47] duchnoun commented on #14423
Maybe it's not possible ? an idea?

[2022-10-10 09:26] Romaixn commented on #14198
Hello @gmichard ! It seems that the database was not empty, did you check if it did not already exist? (With data from another installation for example)

[2022-10-10 11:25] markbeazley commented on #14252
I think this is a duplicate of #13201 which has a potential fix in this PR #13202

[2022-10-10 14:03] achraflamhamdi opened #14428 "Error in installing Sylius with Docker in Swiftmailerbundle class"
**Sylius version affected**: 1.12

I'm about starting learning Sylius, but when I follow docs for installation with Docker, In running "docker compose up -d" command, the steps don't complete so normal and an error shows up, it says that Swiftmailerbundle class is not found, it's shown as bellow

I reproduced the error many time and it persists

[code]

[2022-10-10 15:15] huyta888 commented on #14428
Hi,
You can fix it by:
- Remove "Symfony\Bundle\SwiftmailerBundle\SwiftmailerBundle::class => ['all' => true]," in /config/bundles.php
- Remove "swiftmailer.yaml" in /config/packages/

[2022-10-11 14:02] achraflamhamdi commented on #14428
thanks ! that worked

[2022-10-11 14:02] #14428 closed, assigned to nobody

[2022-10-11 14:06] achraflamhamdi opened #14429 "Nginx container failed to connect to localhost in Sylius project on Docker"
**Sylius version affected**: 1.12

I tried to work on sylius project with docker, and after all passed fine, an error in nginx container faced me, it says (as mentioned bellow) that connection with the local host is refused

[code]

[2022-10-12 08:28] duchnoun commented on #14423
Hope to get some help :'( Please :'(

[2022-10-12 08:44] GSadee commented on #14423
It looks like we are not serializing channels while creating the product yet:
<img width="946" alt="image" src="https://user-images.githubusercontent.com/6140884/195293632-c2930f8b-71b8-4dfe-9873-6ad7ce8f0d6a.png">

We will probably add it in the future, but developing admin API is not the highest priority right now. However, you can contribute to the Sylius by adding this field to the serializati

[2022-10-12 08:44] #14423 closed, assigned to nobody

[2022-10-12 11:03] AndreasA opened #14436 "PHP 8.1 with migration Version20201208105207 can result in type error"
**Sylius version affected**: 1.11 & 1.12 (probably older versions as well)

**Description**
Due to the a change in PHP 8.1 PDO behavior regarding integer values being returned as integers and not strings anymore, see:
https://github.com/doctrine/dbal/issues/5228
and https://www.php.net/manual/en/migration81.incompatible.php#migration81.incompatible.pdo.mysql

The migration Version20201208105207 fa

[2022-10-13 09:18] duchnoun opened #14441 "Behat test bug"
When i try to launch Behat test ;

'ive got this error :

Running fixture "locale"...
2022-10-13T09:16:08.360469400Z Running fixture "currency"...
2022-10-13T09:16:08.370259800Z Running fixture "geographical"...
2022-10-13T09:16:08.399221700Z Running fixture "taxon"...
2022-10-13T09:16:08.450576900Z Running fixture "channel"...
2022-10-13T09:16:08.465744000Z Running fixture "payment_method"...
202

[2022-10-14 07:34] CoderMaggie commented on #14198
@gmichard 👋🏻 Please try finding help with installation on our [Slack channel](http://sylius.org/slack). If the problem is a bug, please reopen this issue.

[2022-10-14 07:34] #14198 closed, assigned to nobody

[2022-10-14 07:36] #14206 closed, assigned to nobody

[2022-10-14 07:40] #14119 closed

[2022-10-14 07:46] bellu commented on #14206
I checked my hostname more than one time in browser, in the end i had to write my own ContextChannel switcher.

[code]

[2022-10-14 07:52] CoderMaggie commented on #12040
Hi @igormukhingmailcom
It's been almost 2 years, are you still experiencing this issue?
You can also try opening the issue on https://github.com/Sylius/SyliusFixturesBundle

We will try to reproduce it in the meantime.

[2022-10-14 07:56] CoderMaggie commented on #14323
Hi, @elboletaire assuming from your reaction to the comment above it seems that you've found a solution to this issue. I'm closing it, please reopen it if you still need some help.

[2022-10-14 08:02] CoderMaggie commented on #14281
It's been a few days and we did not get a response from you. As we did not manage to reproduce it I'm closing the issue. Please reopen if needed 🖖🏻

[2022-10-14 08:02] #14281 closed, assigned to nobody

[2022-10-14 08:08] CoderMaggie commented on #14418
Yes, indeed there is a problem with our dependencies. Thank you for reporting @TheMatto, we're on it!

[2022-10-14 08:12] CoderMaggie commented on #14441
**Sylius** issues should be used to report bugs, propose new features, and discuss new functionalities. For quick help please use our [Slack channel](http://sylius.org/slack).

@Ferror as it is Docker related, will you have a moment to look at it?

[2022-10-14 08:15] CoderMaggie commented on #14429
@Ferror docker related - this one's for you 📫

[2022-10-14 08:21] CoderMaggie commented on #14203
As 1.10.x is a no longer supported version you can try reproducing this issue on 1.11.

I did not manage to reproduce it therefore I'm closing this issue. Please reopen if needed.

[2022-10-14 08:21] #14203 closed, assigned to nobody

[2022-10-14 08:41] CoderMaggie commented on #14412
**Sylius** issues should be used to report bugs, propose new features, and discuss new functionalities. For everything else, please, use our [Slack channel](http://sylius.org/slack).

[2022-10-14 08:41] #14412 closed, assigned to nobody

[2022-10-14 08:46] elboletaire commented on #14323
This is still an issue, not a question.

[2022-10-14 09:39] GSadee commented on #13272
I'm closing this issue as it should be fixed by https://github.com/Sylius/Sylius/pull/14384

[2022-10-14 09:39] #13272 closed

[2022-10-14 09:40] GSadee commented on #13681
I'm closing this issue as it should be fixed by https://github.com/Sylius/Sylius/pull/14384

[2022-10-14 09:40] #13681 closed

[2022-10-15 14:16] lchrusciel commented on #14391
We need to dig up where the problem lays and if it is in Sylius (probably yes)

[2022-10-16 18:56] Ferror commented on #14429
@achraflamhamdi What OS do you use? What is Docker, and Docker Compose Version?

I can tell you straight away if that's windows I won't be able to help you 😢

[2022-10-16 22:35] achraflamhamdi commented on #14429
@Ferror I'm sorry to hear that from you but indeed, I do use Windows as OS
 For the rest of your questions, I'm using 20.10.17 Docker version, and 2.10.2 Docker Compose version.

[2022-10-17 13:15] vasilvestre opened #14451 "Staging configuration still reference swiftmailer"
**Sylius version affected**: 1.12.x

**Description**
There's still a swiftmailer configuration file while mailer is now used by default.
https://github.com/Sylius/Sylius/blob/56dd3a490a47ff9468496cf2f2e8d0f3e63eefbd/config/packages/staging/swiftmailer.yaml#L1

**Steps to reproduce**
It exists

**Possible Solution**
Remove it

[2022-10-17 18:17] Rayzen-dev opened #14455 "Error when trying to add step to sylius_order_checkout state machine"
When I try to customizing checkout process to add a step, I got this error : `Unable to generate a URL for the named route "sylius_order_index" as such route does not exist`. I have a correct flow to access my custom step, the action update my cart correctly BUT I can't go to the next step. So I have this config:
[code]

[code]
I tried to do [this solution](https://stackoverflow.com/a/60184895) bu

[2022-10-18 07:21] nicolalazzaro opened #14456 "The cart created by a customer is incorrectly marked as created by a guest"
**Sylius version affected**: 1.11.9

**Description**
The cart created by a customer authenticated via access token is correctly related to the customer but the created_by_guest column is true, it should be false in this case.

**Steps to reproduce**
Create a customer, obtain an access token, authenticate, create a new cart.

[2022-10-18 19:11] DeH4eG commented on #14224
@Hlavos did you find this error with `"gulp-sass": "^4.0.1"` ?

Because for me this error occurs if i change `gulp-sass` to `5.x.x` version, because from the 5 version `gulp-sass` started to use `dart sass` instead of `node sass`

[2022-10-19 15:20] jakubtobiasz commented on #12132
Hi @floriangosse!
Thanks for your suggestion; we are testing this solution :). I will let you know when we finish.

[2022-10-19 15:26] Florian-Merle opened #14460 "500 when deleting the first root taxon"
**Sylius version affected**: 1.12

**Description**
When deleting the first root taxon (in my example below, it would be "test"), we get a 500 error.

![image](https://user-images.githubusercontent.com/20768914/196714110-a6044a94-6d9f-4c44-8b5d-74b97836658f.png)

In dev, we get the following error

![image](https://user-images.githubusercontent.com/20768914/196714334-e695e035-7909-46ee-a930-a4695bd

[2022-10-19 16:42] jakubtobiasz commented on #14401
Hi @elboletaire!
Thanks for your feedback! I hope #14461 will do the work :). Feel free to participate in reviewing!

[2022-10-19 19:40] elboletaire commented on #14401
Are the `app` prefixed manifest imports required? They were bugging both my front and my admin, making most actions unresponsive (or glitchy, like I had to click multiple times because there were scripts duplicated).

[2022-10-19 19:47] jakubtobiasz commented on #14401
@elboletaire, we use them to separate Sylius' admin and shop part from the app's one to allow override of every possible thing. Can you tell me in which places the bug occurs, your OS, web browser, and other useful stuff which can help me debug it?

[2022-10-19 19:52] elboletaire commented on #14401
AFAIR, I was using sylius 1.11. An example of issues I was having: in the taxons menu, trying to open the context menu to edit a taxon, wouldn't properly show it. Instead, it would show and hide immediately.

My OS is Windows and my browser is Firefox; the dev host/server is an Arch linux tho.

Maybe I should try again with a fresh install, but I can't recall changing anything related to styles ot

[2022-10-19 21:47] jakubtobiasz commented on #14401
It might be caused by `.` between `app` and `shop`. I will replace it with an underscore, and it should do the work.

[2022-10-20 13:26] jakubtobiasz commented on #14418
Hi @TheMatto!
I'm checking if we can remove the conflicting package. As a workaround, you can run `composer require symfony/maker-bundle:~1.39.0` command.

[2022-10-20 21:38] lchrusciel commented on #14380
Hey @petrjuraseko,

thanks a lot for ticket submission 👍 I couldn't agree more, that what you found is a code smell. However, due to this fragment:

https://github.com/Sylius/Sylius/blob/1.12/src/Sylius/Component/Promotion/Checker/Eligibility/PromotionSubjectCouponEligibilityChecker.php#L36

this setter is required to exist in validator. Perhaps, we could improve this implementation by holding pre

[2022-10-24 06:25] waveywaves opened #14475 "Investigate increasing Maintainer Productivity with Pull Requests Environments"
I would like to make life easier for Sylius maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) previews.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi)
Uffizzi is a Open Source full stack previews engine and is completely free for Sylius (and all open source projects). This will provide maintainers with previews of their PRs in the cloud, allow

[2022-10-24 11:23] coldic3 commented on #12040
Hey,
I've checked it on both Sylius 1.11 and 1.12 and can confirm the problem still exists. The same happens when `associated_products` is set to `null` or even `~` in the YAML config file.

[2022-10-25 09:50] GSadee commented on #14308
Hi @ehibes, I've just wanted to let you know that we will take care of it 😃

[2022-10-25 09:59] ehibes commented on #14308
I just searched a bit on my side, and it seems that the query returns duplicate products with different positions.
It must come from writing joins, but I'm not expert enough 😄
![image](https://user-images.githubusercontent.com/487124/197743953-a28e9853-b336-4287-9519-c09e7613cf8e.png)

[2022-10-25 10:02] #14380 closed, assigned to lchrusciel

[2022-10-25 10:11] GSadee commented on #14460
Hi @Florian-Merle,
thank you for reporting an issue 😃 I've reproduced that on our demo and it seems not to be working as it should, so we will try to fix it in the nearest future 💃🏻

[2022-10-25 10:20] GSadee commented on #14455
Hi @Rayzen-dev,
thank you for reporting an issue, but I have probably not enough information to reproduce that, I would encourage you to join to [our Slack](https://sylius-slackin.herokuapp.com/) and find help there as it is most probably the problem with your customization. Feel free to open a new issue if you find a problem with Sylius codebase.

[2022-10-25 10:20] #14455 closed, assigned to nobody

[2022-10-25 10:26] Prometee commented on #14455
Hello @Rayzen-dev,

You covered all your needs with the state machine config, the resolver config and the addition of the service tag, maybe you didn't clear the cache after trying to add the additional tag.

Some tips though :

- All Symfony bundle configurations are merged at the end of the process, meaning you don't need to add the config already defined.
- Be aware of the fact that you can't r

[2022-10-25 10:28] GSadee commented on #14451
I'm closing the issue as the entire staging configuration has been already removed 😃

[2022-10-25 10:28] #14451 closed, assigned to nobody

[2022-10-25 10:33] GSadee commented on #14475
Hi @waveywaves,
thank you for introducing Uffizzi, but we are not looking for such a solution currently.

[2022-10-25 10:33] #14475 closed, assigned to nobody

[2022-10-25 18:18] Rayzen-dev commented on #14455
Thanks for this help, adding the custom compiler pass to `Kernel::configureContainer` resolve this problem.

[2022-10-25 19:52] gmichard commented on #14198
@Romaixn  Not the cause here. :/
In fact, Sylius is able to create the database or erase the existing one if necessary (after confirmation). I tried both.

[2022-10-26 06:22] gmichard commented on #14198
More traces about the error that occurs during the first "ALTER TABLE" of the first migration script ("Version20161202011555").

- [logs-sylius-install.txt](https://github.com/Sylius/Sylius/files/9866684/install.txt)
- [logs-doctrine-migrate.txt](https://github.com/Sylius/Sylius/files/9866682/doctrine-migrate.txt)

It's probably more related to my environment than Sylius.
Keep this issue closed.
T

[2022-10-28 11:43] nicolalazzaro commented on #14219
Hi @Dragnucs, I reproduced what you described from a clean install of Sylius (1.11.10) but the quantity update works fine. Can you tell us if you have made any changes that may have affected the behavior of this endpoint?

[2022-10-28 12:23] j92 opened #14487 "[API] Sorting products by price is not channel specific"
**Sylius version affected**: 1.12

**Description**
I want to sort my products by price on each channel. Right now the sorting takes all channel pricings in account, and not only the one from the current channel.

| Product  | Channel  | Price |
| ------------- | ------------- | ------------- |
| Sylius Con shirt  | Poland  | 25.00 |
| Sylius Con shirt  | Germany | 25.00 |
| Sylius Con stickers  |

[2022-10-30 20:18] dbalabka commented on #9507
@pjedrzejewski is it possible that the Open Source version will have the `returned` order status w/o any advanced RMA support?

[2022-10-31 07:39] coldic3 commented on #14456
Hey @nicolalazzaro,
thanks for raising the issue and for the PR that solves it! :slightly_smiling_face: I can confirm the problem exists. I've also checked it on `v1.12` and there `setCreatedByGuest` and `getCreatedByGuest` methods are deprecated in favor of `setCustomerWithAuthorization` and `isCreatedByGuest` so the problem exists only on `v1.11`.

[2022-10-31 08:23] loic425 opened #14493 "Add support for Symfony workflow"
### Catalog promotion

- [ ] State machine configuration

### Order

- [ ] State machine configuration

**Before Placed Order**
- [ ] sylius_assign_number
- [ ] sylius_assign_token

**After Placed Order**
- [ ] sylius_request_shipping
- [ ] sylius_request_payment
- [ ] sylius_create_payment
- [ ] sylius_create_shipment
- [ ] sylius_hold_inventory
- [ ] sylius_increment_promotions_usages
- [ ] syli

[2022-10-31 08:26] loic425 opened #14495 "Add support for Symfony workflow"
### Catalog promotion

- [ ] Sylius/Sylius#14494

### Order

- [ ] State machine configuration

**Before Placed Order**
- [ ] sylius_assign_number
- [ ] sylius_assign_token

**After Placed Order**
- [x] sylius_request_shipping
- [x] sylius_request_payment
- [x] sylius_create_payment
- [x] sylius_create_shipment
- [x] sylius_hold_inventory
- [x] sylius_increment_promotions_usages
- [x] sylius_save_

[2022-10-31 09:57] nicolalazzaro opened #14497 "[API] [Cart] A shipping method is automatically set even if there are no eligible ones for a zone"
**Sylius version affected**: 1.11.9

**Description**
When you create a cart, add one or more products and finally set the shipping and billing addresses automatically a shipping method is related, unfortunately the same does not consider whether the shipping address zone can use the shipping method. In fact, when the list of shipping methods eligible for the order is requested, in my case, no meth

[2022-11-01 10:08] kkevindev commented on #14097
Having the same problem here.

[2022-11-01 19:52] nicolalazzaro commented on #14497
The shipping method selected by default is re-evaluated later by selecting one from the eligible ones. `\Sylius\Component\Core\OrderProcessing\OrderShipmentProcessor::recalculateExistingShipmentWithProperMethod`

[2022-11-01 19:52] #14497 closed, assigned to nobody

[2022-11-01 19:55] #14456 closed, assigned to coldic3

[2022-11-01 20:14] ehibes commented on #14308
@Rafikooo @GSadee I made a failing behat scenario to explain the case...
https://github.com/ehibes/Sylius/tree/parent_taxon_product_position

[2022-11-01 20:35] nicolalazzaro opened #14506 "[API] [Cart] Find existing carts related to the customer even if they are empty"
**Describe the proposed solution**
I present a very common scenario when customers interact with the shop using the API, in detail the shopping cart. We have a component that is responsible for retrieving, based on the customer and the channel, an existing shopping cart or creating a new one if one does not exist. Too bad it only searches for shopping carts that have one or more products already i

[2022-11-03 09:13] jakubtobiasz commented on #14401
As the main problem is solved, I am closing this issue. I could not reproduce your second issue, and the new structure does not seem to affect this. Try to clear the browser cache, reinstall dependencies, check on other devices and open a new issue if needed 🖖🏻.

[2022-11-03 09:13] #14401 closed, assigned to jakubtobiasz

[2022-11-03 09:15] Nek- opened #14513 "[Sylius.com] Link to API demo down in French translation"
I already reported this but nobody seems to care, besides it affects a lot the image of Sylius IMO. So here I am pushing harder... Sorry for the noise, I think it's necessary.

![Capture d’écran 2022-11-03 à 10 13 16](https://user-images.githubusercontent.com/972456/199684122-cc5dbf64-c9a0-462a-ba97-63c9b9063efd.png)

[2022-11-03 09:17] jakubtobiasz commented on #14224
In terms of gulp, we recommend staying with `gulp-sass` on a version below five or (which I highly recommend) moving to Webpack.

👉🏼 https://docs.sylius.com/en/1.12/cookbook/frontend/migrating-to-webpack-1-11-or-earlier.html

[2022-11-03 09:17] #14224 closed, assigned to jakubtobiasz

[2022-11-03 09:24] coldic3 commented on #14010
Hey @PILLOWPET,
the issue seems resolved. I'm closing it for now but feel free to reopen it if you still have a similar problem :woman_dancing:

[2022-11-03 09:24] #14010 closed

[2022-11-03 09:28] coldic3 commented on #14097
Hey @kkevindev,
could you try using `doctrine/dbal:3.x` and check if it resolves your problem? Regarding @SVillette comment, it should be a solution.

[2022-11-03 09:35] coldic3 commented on #13922
Hey @gabiudrescu,
we've refactored templates in Sylius Plus recently and we use Template Events instead so I hope in the nearest future we'll be able to get rid of this step in the installation guide :dancer:

[2022-11-03 09:35] #13922 closed

[2022-11-03 11:47] DeH4eG commented on #14224
Thank you for the link

[2022-11-04 14:16] jakubtobiasz commented on #14513
Hi @Nek-!
Thank you for your report; I passed this information to the right person, so I hope it will work soon :).

[2022-11-04 14:18] jakubtobiasz commented on #14493
Hi @loic425!
Is it a duplicate of #14495? If yes - can we close it?

[2022-11-04 14:20] jakubtobiasz commented on #14513
And... I am back :D. The link is working correctly now, so I let myself close this issue 🖖🏻.

[2022-11-04 14:20] #14513 closed, assigned to nobody

[2022-11-04 14:44] Nek- opened #14517 "Refresh JWT"
When using the Sylius API with a frontend client it's currently required to record the user id/password to request a new JWT. This is because there is no route that allows refreshing a token.

I may have missed it but after a little search, it seems that there's no ticket about it so I just wanted to highlight the need for it in a dedicated issue.

[2022-11-04 17:17] jakubtobiasz commented on #14517
Hi @Nek-!

Yes, it isn't supported out-of-the-box. Maybe @lchrusciel might tell you if we plan to provide such support directly in Sylius, but for now you can use https://github.com/markitosgv/JWTRefreshTokenBundle as our JWT works on the lexik's bundle.

[2022-11-06 20:46] Nek- commented on #14517
Yes indeed the solution is to use this bundle, no doubt. I just wanted to create the issue to track that this is something missing, required, and to have your POV about it. (thanks for giving it)

[2022-11-07 07:13] #13201 closed

[2022-11-07 07:46] GSadee commented on #14252
I'm closing the issue as it should be fixed by https://github.com/Sylius/Sylius/pull/13202

[2022-11-07 07:46] #14252 closed, assigned to nobody

[2022-11-07 15:02] delyriand opened #14521 "Only one product attribute is saved when we add them one by one in the product edit page"
**Sylius version affected**: 1.10, 1.11

**Description**

In the admin, when we add attributes to a product one by one and then save it, only the first attribute added is registered.

**Steps to reproduce**

- Edit or create product
- Go to attributes tabs
- Choose an attribute in the select and add it
- Choose another attribute and add it
- Add attribute values and save the product

The first val

[2022-11-07 16:38] jakubtobiasz commented on #14521
Hi @delyriand!
Would you like to create a Behat scenario reproducing the bug and open a fixing PR?

[2022-11-07 17:20] maxmishyn commented on #11977
It looks like that the same issue is now is in the catalog promotions' percentage discounts. I found the reason of it there CoreBundle/CatalogPromotion/Calculator/PercentageDiscountPriceCalculator.php -> calculate method.
It simply casts result of the calculation to the int what just drops off decimal part.

[2022-11-08 07:42] delyriand commented on #14521
Hi @ jakubtobiasz,

I will try to create the behat scenario :D. Do you have an example?

First, i open a PR with the modified JS to be applied the patch to my project.

[2022-11-08 08:00] maxmishyn opened #14522 "Wrong Rounding of the prices in the percentage discount catalog promotions"
**Sylius version affected**: 1.11 and above

**Description**
Percentage discount in catalog promotions makes prices rounding not correct for edge case prices. I.e. new prices €1.205 is rounded to €1.20 instead of €1.21.

**Steps to reproduce**

1. Create product with the price of 10.50.
2. Create and apply catalog promotion with percentage discount of 15% to the product above
3. As a result the ne

[2022-11-08 09:13] jakubtobiasz commented on #14521
@delyriand here are some examples relating to this part of Admin Panel 👉🏼 https://github.com/Sylius/Sylius/blob/1.13/features/product/managing_products/adding_product_with_text_attribute.feature

[2022-11-09 06:43] GSadee commented on #14487
I'm closing this issue, as it has been fixed by #14489

[2022-11-09 06:43] #14487 closed, assigned to NoResponseMate

[2022-11-09 14:08] mbabker commented on #14517
IMO, I wouldn't actually include the JWT refresh token bundle with Sylius-Standard.  Even though it piggybacks off the LexikJWTAuthenticationBundle, the refresh token bundle's storage doesn't cope well with a multi-firewall environment like Sylius', and there are some gotcha's between the two bundles that make it difficult to ID what context things are running in.  https://github.com/markitosgv/JW

[2022-11-10 08:30] TheMilek commented on #14219
Hello @Dragnucs! 🚀
I must agree with @nicolalazzaro I could not reproduce the problem 🤷🏽‍♂️.
Could you provide some additional information as @nicolalazzaro said and also which exact Sylius version you are using?
cheers 🍻

[2022-11-10 11:37] ernestWarwas commented on #14436
Hello @AndreasA, thanks for describing an issue. I can confirm that this problem exists. If you want you can contribute and provide a PR with your solution 💃

[2022-11-10 12:15] ernestWarwas commented on #13000
Hi @gaetanbuellet, thanks for the issue but it seems to work fine so I close the issue 💃

[2022-11-10 12:15] #13000 closed

[2022-11-10 12:18] ernestWarwas commented on #11900
Hi, @bigboss86 thanks for the issue. Could you provide a PR with your solution? 🎸

[2022-11-10 13:08] jakubtobiasz commented on #10656
Some time has passed since this issue has been opened, but after 3 years I can close this issue as Sylius 1.12 fully supports Webpack 🎉. In case of any problems with new Webpack, I encourage you to open new issues and ping me there :).

[2022-11-10 13:08] #10656 closed

[2022-11-10 14:26] jakubtobiasz commented on #12132
After some testing, I can announce we released `sylius-ui/frontend` package 👉🏼 https://www.npmjs.com/package/@sylius-ui/frontend.

We are using it internally for our test applications in our plugins, but it works and will be added to Sylius-Standard and Sylius/Sylius soon. Recommended `package.json`:

[code]

I am closing this issue, in case of any problems with this package just open a new one an

[2022-11-10 14:26] #12132 closed

[2022-11-10 14:33] vvasiloi commented on #12132
@Ferror can we use this to remove one of the circular dependencies between js and php when building the docker images?

[2022-11-10 15:43] Ferror commented on #12132
Yea. As soon as I get my PRs merged and it's ported to Sylius-Standard I will start working on it :)

[2022-11-14 04:42] tsetsee opened #14533 "Symfony\Component\Console\Input\Input::escapeToken(): Argument #1 ($token) must be of type string, bool given"
**Sylius version affected**: 1.12.0

**Description**
Sylius install command gives error

**Steps to reproduce**
When I try to run console command `php bin/console sylius:install`

[code]

[2022-11-14 07:02] SoulPancake commented on #14522
@ernestWarwas Can I contribute to this? My suggestion would be to get the ceiling value for anything post 2nd decimal places, Is that a fair assumption for a solution approach?

[2022-11-14 09:49] maxmishyn commented on #14522
@Anuragkillswitch and  @ernestWarwas It rather should be round() rather than just ceil. Something like
`$price = (int) round($channelPricing->getPrice() - ($channelPricing->getPrice() * $action->getConfiguration()['amount']));`

I can make a PR as I already have this change locally.

[2022-11-15 13:46] Nek- opened #14539 "API tokenValue may be missing on new cart"
**Sylius version affected**: 1.11 / 1.12 / master

**Description**

Creating a cart on the website does not create a tokenValue besides it's used as ID with the API. When I try to get an already created cart using the API it does not return the tokenValue.

**Steps to reproduce**

1. Use the sylius website, login, and add 1 item to cart
2. Use the sylius API, login and use the token for further re

[2022-11-16 08:02] urimarti2610 commented on #14172
I have created a command that creates and admin using `app:admin:create`

You need to pass the email and the password in the command. Like this:
[code]

[Go to Git Command &raquo;](https://github.com/urimarti2610/sylius/commit/b69d3daba274aa221a656748b8d084f38374c2dd)

[2022-11-16 11:22] everwhatever commented on #14539
Hi @Nek-
Indeed, it would be great to do it :) However, we're currently focusing on other features, so it's not a priority for us now. However, if you would like to give it a try and open a PR with such a change, we would be happy to merge it and/or help with potential problems

[2022-11-16 11:25] Nek- commented on #14539
Thanks for considering this but it's not a feature it's a real bug since there's no solution. I will try to have a look for sure.

[2022-11-16 11:28] everwhatever commented on #14533
Hi @tsetsee
What is your PHP version?

And also check these two commands:
composer info symfony/framework-bundle
composer info symfony/console

[2022-11-16 11:32] everwhatever commented on #13668
Hi @gigamarr
Thank you for your report, it's not a priority for us now. However, feel free to change it

[2022-11-16 12:37] GSadee commented on #12985
I'm closing the issue as it has been fixed by #13187

[2022-11-16 12:37] #12985 closed

[2022-11-16 12:40] #14276 closed, assigned to nobody

[2022-11-17 05:55] tsetsee commented on #14533
PHP8.1

[2022-11-17 07:50] #12040 closed

[2022-11-17 07:54] #14436 closed, assigned to ernestWarwas

[2022-11-17 16:30] Nek- opened #14553 "Issues with the api documentation override"
## Problem

Because ApiPlatform uses final classes, you had to override entirely [the documentation controller](https://github.com/Sylius/Sylius/blob/1.13/src/Sylius/Bundle/ApiBundle/ApiPlatform/Bridge/Symfony/Bundle/Action/SwaggerUiAction.php) of the API. It's working. But last versions of ApiPlatform use a different way to get the documentation and they changed a lot their own controller.

Basic

[2022-11-17 19:22] diimpp commented on #14404
So you've implemented eligibility checker which communicates with 3rd party apis.

The case,
Given customer has valid card
when customer initiates checkout
and input invalid address at checkout/address step
then there should be no shipping methods to select at checkout/shipping step
and checkout should be blocked from completion.

So what's missing? Why do you need to `$order->getShipments()->coun

[2022-11-17 22:18] diimpp commented on #13883
While I do not reproduce your issue at fresh 1.12 installation,
![image](https://user-images.githubusercontent.com/870747/202566484-06a18a37-a1cf-446d-a9a0-0319e24791fc.png)
I'm getting symfony default `This value should be between {{ min }} and {{ max }}.` message instead of min,max messages.

Reason for that is `Range` constraint, which introduced new [notInRangeMessage](https://symfony.com/doc/

[2022-11-18 10:12] vvasiloi commented on #14404
@diimpp I think what @mbabker needs is having a way to make shipping methods (and why not also payment methods) be available, but disabled until some conditions are met.
They should be available as defaults (but with lower priority) for shipment and payments, but also shown in front-end together with their restrictions, so the customer know what's necessary to use those methods.
For example, you d

[2022-11-18 11:53] diimpp commented on #14404
I see now, this sounds very much like https://github.com/Sylius/Sylius/issues/14017 and what @gabiudrescu called `prequalifiers` -- A rule engine, which will evaluate cart and suggest actions to customer to get promotion or shipping method in this case.

I've had similar need when my company was doing free gift on black Friday, but only if certain category of products were added to cart.

Seems li

[2022-11-18 15:38] diimpp commented on #9987
I strongly concur with stateless approach, channel, currency, locale, user shouldn't be available in CLI as context.

Even if we're to skip messenger point and stateless as default approach, It's not uncommon to have background cli commands, which are specific to certain channels and which cannot accept any other channel as interchangeable. i.e. _different channels/currencies/locales/users to diff

[2022-11-18 15:44] vvasiloi commented on #9987
@diimpp I also agree that it should be stateless, but right now it's not possible as the stateful contexts are used all other the place in Sylius.
Even if the execution starts in a cli command, most likely down the execution patch there will be at least one Sylius service that uses a context.
Changing that requires a massive refactoring with tons of BC breaks.

[2022-11-18 15:59] diimpp commented on #9987
@vvasiloi While Sylius "sync" and stateful nature is undeniable, I was working with shop-api based ecommerce for 3 years now with extensive modifications and I can't say I ever encountered context related issues in such stateless and async environment.

It would be good to document at least several such context-bottleneck places and devise solution based on practical needs. If refactor is too much

[2022-11-18 18:17] diimpp commented on #14171
I've followed https://syldocstest.readthedocs.io/en/latest/cookbook/configuration/disabling-shop-admin-api.html and reproduced issue on the admin home page.
![image](https://user-images.githubusercontent.com/870747/202769876-3084d051-1881-4183-87be-ad9bafb014af.png)

@crydotsnake you probably have template override with fix for this issue, if you're not reproducing it.

This "View in your store" i

[2022-11-18 18:43] DjLeChuck opened #14557 "Use bigint for prices"
**Describe the proposed solution**
When using weak currency such as Ariary (currency of Madagascar), we encounter overflowed value in the database because `int` can not handle the inserted value. Changing concerned fields to `bigint` for prices related columns allowed to fix the issue without any problem (in our case, for our customer website, since 2 years. 😄 )

**Describe alternatives you've con

[2022-11-18 19:38] diimpp opened #14559 "[Docker] docker-compose.yml fails to build due missing curl"
**Sylius version affected**: 1.12

**Description**
`docker-compose.yml` fails to build due to missing curl.
Curl is originally removed at base image https://github.com/Sylius/Sylius-Docker-Standard/blob/596ea8a08f777dfaa878df82bc80b870ca14f50c/traditional/ubuntu/Dockerfile#L52
but not re-introduced at dev Dockerfile and used to install blackfire.

**Steps to reproduce**
docker-compose -f docker-co

[2022-11-20 23:46] TELLO0815 opened #14564 "Associated Products loaded without proofing if enabled for current channel"
**Sylius version affected**: 1.11.10

**Description**
If I have product enabled for channel 1 and 2.
There are associated products, but only enabled for channel 1 and I don't put price for channel 2.
All related products will be loaded, without check if enables for current channel. ERGO if no price ERROR.

**Possible Solution**
Check on query if product enabled for current channel.

[2022-11-21 09:06] jakubtobiasz commented on #14418
Hello @TheMatto.
Fixing it in Sylius 1.11 was too time-consuming, but we have resolved your issue in #14551 opened against 1.12 branch, so in the nearest patch release you will be able to use Maker Bundle without any issue 💃🏼. In case of further issues, please let me know, for now, I am closing this topic.

[2022-11-21 09:06] #14418 closed, assigned to jakubtobiasz

[2022-11-21 09:11] jakubtobiasz commented on #14097
Hello @SVillette!
I see no response from you, so I consider this issue as staled. If you still experience this problem, just reopen this issue and let me know :).

[2022-11-21 09:18] jakubtobiasz commented on #14533
Hello @tsetsee!
Can you download the latest Sylius-Standard and recheck if the problem still exists? If yes, please run the following commands:
[code]
and provide the output.

[2022-11-21 09:27] jakubtobiasz commented on #13668
Hello @gigamarr!
For example, needs it is fair for us to use any name for a field. If you find it helpful to rename them, feel free to contribute, but for now, I am closing this issue.

[2022-11-21 09:27] #13668 closed

[2022-11-21 09:31] SVillette commented on #14097
Hi @jakubtobiasz,
As I said in [this comment](https://github.com/Sylius/Sylius/issues/14097#issuecomment-1161950929), upgrading to `doctrine/dbal:3.x` without updating existing migrations will lead to errors when installing a new Sylius project (as `json_array` does not exist anymore).

I also asked if you (Sylius Core team), wanted me to submit a PR and I had no answer.
So I'm telling you again:

[2022-11-21 09:32] jakubtobiasz commented on #12200
Hello @DieterHolvoet.
We had a discussion on orders deleting here #5052. We don't think it is necessary to include such feature in the core, if you need, you can use `Archivable ` trait to adjust Sylius to your needs, as it is its stronger side 💪🏻.

[2022-11-21 09:32] #12200 closed

[2022-11-21 09:32] SVillette commented on #14097
Also, I don't think I can reopen this issue by myself

[2022-11-21 09:52] jakubtobiasz commented on #14097
@SVillette oh, I thought if you can answer the reopen is also possible :D. I am reopening then. We will take a look :).

[2022-11-21 10:11] Rafikooo commented on #13106
Hello @vvasiloi,
Thanks for creating the issue. I have reproduced this case on the stable demo which is Sylius 1.11 by the time of writing and confirm that the issue exists. However, on the master demo (Sylius 1.12) everything's fine. As API is in an experimental phase and maintenance of Sylius 1.11 is coming to an end, I will close this issue 📪

[2022-11-21 10:11] #13106 closed

[2022-11-21 10:17] vvasiloi commented on #13106
@Rafikooo do you know if there's a test for this, to prevent regretion?

[2022-11-21 10:30] Ferror commented on #14559
@diimpp would you like to open PR?

[2022-11-21 11:11] diimpp commented on #14559
Hello @Ferror, no, I will skip this one or I will end up refactoring it to my liking

One more point, I've seen this message during usage of ubuntu based image and I didn't see `apt autoremove` in dockerfiles, `apt-get clean` probably doesn't cover removal of those unnecessary packages.

[code]

[2022-11-21 11:17] tsetsee commented on #14533
I overwrote all files from github source and it's fixed. I guess the some of files were not upgraded at all.

[2022-11-21 11:17] #14533 closed, assigned to nobody

[2022-11-22 07:13] #14127 closed

[2022-11-22 18:38] diimpp commented on #12339
I've reproduced this bug with sylius 1.12 by following initial instructions.

1. Created new association type with numeric code `111111`
![image](https://user-images.githubusercontent.com/870747/203392496-17136a0d-8e91-49ab-bb7d-737817382cc4.png)
2. Opened random product edit page, selected one of the products under `Test association`.
![image](https://user-images.githubusercontent.com/870747/2033

[2022-11-22 21:11] jakubtobiasz commented on #12339
Hi @diimpp!
Thank you for bumping this issue, I added this issue to the agenda for our nearest meeting 🙂.

[2022-11-23 12:19] GSadee commented on #14460
I'm closing the issue as it should be fixed by https://github.com/Sylius/Sylius/pull/14548

[2022-11-23 12:19] #14460 closed, assigned to GSadee

[2022-11-23 13:52] GSadee commented on #14003
I'm closing the issue as it has been fixed by https://github.com/Sylius/Sylius/pull/14567

[2022-11-23 13:52] #14003 closed

[2022-11-23 19:09] jakubtobiasz commented on #14557
Hi @DjLeChuck!
Thank you for raising this topic and providing the potential solution. We'll discuss this internally in the nearest feature, and I will do my best to back to you with any feedback.

[2022-11-23 21:11] diimpp commented on #14441
Reproduced the same.

@Ferror this makes both docker-compose files in the project fully broken. :)
Might be a good idea to setup CI to build those images once in while.

[code]

[2022-11-23 21:31] diimpp commented on #14441
I was able to bypass this error by adding cache warmup to makefile, though I don't think this is a correct solution.

[code]

Note, that if `backend` step is interrupted, then already existing DB will block this step re-run.
Additional first step such as
[code]
solves the issue, though maybe there is more graceful solution.

[2022-11-23 22:18] nikkuexe commented on #13250
Shopify handles 'cost' as part of 'inventory', which is separate from 'product' logic. Not all stores use their online shop to manage inventory, so it makes sense to have inventory be part of an optional module.

https://shopify.dev/api/admin-rest/2022-10/resources/inventoryitem
https://shopify.dev/api/admin-rest/2022-10/resources/product

[2022-11-24 13:23] #14308 closed, assigned to coldic3

[2022-11-24 13:32] NoResponseMate commented on #14553
I'm all for it.
The controller has been overridden ages ago and is horribly out of date so using the supported way of modifying/extending docs would be a great improvement.

[2022-11-25 12:35] coldic3 commented on #11145
We are aware of this issue and we are going to try to fix it or provide a solution to overcome it in your application :dancer:

[2022-11-25 12:44] TheMilek commented on #14391
Hi @vasilvestre!
Thanks for reporting the issue, I reproduced the problem and we We are on it 💃🏽

[2022-11-25 13:00] coldic3 commented on #14539
Ok, I get the point now. We'll take a look at it.

[2022-11-25 13:10] coldic3 commented on #12204
Hey @Chrysweel,

you are right :+1: Would you like to create a PR that removes meta keywords from the product configuration and adds a meta title instead? Keep in mind it will be a BC break so it should be removed from UI only and the accessors themselves should be deprecated.

[2022-11-25 13:20] vvasiloi commented on #12204
If Google doesn't use meta keywords it doesn't mean it should be removed.
It can be used by other search engines, bots, open graph, 3rd party and in-house search engines and all kinds of project specific features.
Projects might use it, so you can't just remove it, not even from UI only.

[2022-11-25 15:41] kbond commented on #13621
Wow, this is a huge job! Let me know if there is anything I can do within Foundry to make it smoother :)

[2022-11-25 15:58] vvasiloi commented on #12204
Also, it's a duplicate of #9648

[2022-11-25 16:07] vvasiloi commented on #13621
@kbond you might regret saying that. 😅

[2022-11-25 16:08] gabiudrescu opened #14583 "vendor/sylius has over 70mb"
**Sylius version affected**: 1.x.y

**Description**
The folder `vendor/sylius` has over 70mb. This can be easily reduced by removing some stuff from git + compressing some assets.

**Steps to reproduce**
[code]

**Possible Solution**
https://github.com/Sylius/Sylius/blob/1.13/src/Sylius/Bundle/CoreBundle/Resources/fixtures/jeans/man/jeans_04.svg - this should not be an SVG
and preferably, it shoul

[2022-11-25 16:09] gabiudrescu commented on #14583
@loic425 is this related to yours as well? https://github.com/Sylius/SyliusResourceBundle/pull/503

[2022-11-25 16:16] vvasiloi commented on #13621
@kbond One of the main issues for us is that everything is static and it doesn't work well for us.
As an example, since we're providing a framework, we don't know what the model class is going to be in the end and it's resolved dynamically based on user configuration and stored in a DIC parameter like `sylius.model.product.class`.
But Zenstruck forces us to write:

[code]
So we had to do this as a

[2022-11-25 16:53] kbond commented on #13621
Ah, interesting work-around.

[2022-11-25 16:54] kbond commented on #13621
So is `Product` a base-class that your end users extend?

[2022-11-25 17:09] vvasiloi commented on #13621
@kbond yes, but it's not mandatory. In case of products, there's 2 classes we provide that the customer might use as-is or extend them:  `Sylius\Component\Product\Model\Product` and `Sylius\Component\Core\Model\Product` which extends the previous one.
In fact, it's the same for most of our models, but also with models provided by 3rd party plugins.
For example, our models are not configured as Doc

[2022-11-25 20:43] loic425 commented on #14583
@gabiudrescu And this one is linked too https://github.com/Sylius/SyliusGridBundle/pull/281

[2022-11-28 12:32] jakubtobiasz commented on #14391
Hello @vasilvestre!
Can you check what kind of exception is thrown? It should be an entry starting with `request.CRITICAL` in the prod.log file. I am getting 500, but the message is correct from what I see.

[2022-11-28 12:36] loevgaard commented on #13250
@nikkuexe: I see your point, but Sylius already has inventory in the core, i.e. not as a plugin :)

[2022-11-28 13:00] loic425 commented on #14583
@gabiudrescu Which version do you use for Sylius directory?
Cause there is already a first step here https://github.com/Sylius/Sylius/blob/1.12/.gitattributes

[2022-11-28 19:17] vasilvestre commented on #14391
My first message specify what api returns with the code provided

[2022-11-28 21:09] jakubtobiasz commented on #14391
OK, I have managed to reproduce the error. The overall behavior is expected as the returned code is 500

ref: https://api-platform.com/docs/v2.7/core/errors/

However, the problem does not occur on Sylius/Sylius repository, and it seems impossible to override the status code. I'll back to it tomorrow.

[2022-11-29 06:40] #13915 closed

[2022-11-29 07:06] #13649 closed

[2022-11-29 07:07] GSadee commented on #13648
I'm closing the issue as it has been fixed by https://github.com/Sylius/Sylius/pull/14573

[2022-11-29 07:07] #13648 closed

[2022-11-29 11:32] stefantalen opened #14590 "Deprecation for ProductVariantPriceCalculatorInterface but missing service"
**Sylius version affected**: >= 1.8

**Description**
As of Sylius 1.8 there is a deprecation warning for [`\Sylius\Component\Core\Calculator\ProductVariantPriceCalculatorInterface`](https://github.com/Sylius/Sylius/blob/1.8/src/Sylius/Component/Core/Calculator/ProductVariantPriceCalculatorInterface.php#L20)

It suggests using `\Sylius\Component\Core\Calculator\ProductVariantPricesCalculatorInterfa

[2022-11-29 11:51] jakubtobiasz commented on #14391
Hello @vasilvestre!

Quick fix:
1. Disable FOSRestBundle in `config/bundles.php`
2. Remove `config/packages/fos_rest.yaml` file
3. Clear the cache

From now, all exception to HTTP status code mapping should work. Currently, when IRI is for example "randomstring" it throws 500, and it should display "Internal Server Error" as all code `5xx` status codes have a generic name when `APP_DEBUG` is turne

[2022-11-29 14:59] mohamad-zbib opened #14592 "Can't Access Auth API"
I am trying to access the route `/api/v2/shop/authentication-token`, but it's not working

    {
        "code": 404,
        "message": "Unable to find the controller for path \"/api/v2/shop/authentication-token\". The route is wrongly configured."
    }

i figured that it's defined here `vendor/sylius/sylius/src/Sylius/Bundle/ApiBundle/Resources/config/routing.yml`, but not sure how to fix

[2022-11-30 10:27] vasilvestre commented on #14391
Doing this change the payload and break my tests, there's no `code` and `message` anymore about 403 errors. Just want to say there's BC doing this without notice :)

[2022-11-30 13:20] Rafikooo commented on #13106
It fixes the case that you described in Sylius 1.11. Then we should upmerge only the contract test as the code has been refactored from Sylius 1.12 upwards
https://github.com/Sylius/Sylius/pull/14596

[2022-11-30 13:37] Chrysweel commented on #12204
Yes of course, Google is not all the world.
Here the important thing is not to eliminate the meta keywords.
The most important thing is to include important tags that do not exist, such as the meta title.

PD: It would be good to refer to what type of search engine uses the keywords as well, because although Google is not the whole world, it is an html tag designed for search engines and currently

[2022-11-30 14:42] vvasiloi commented on #12204
Yandex and Baidu.

[2022-11-30 21:32] nikkuexe commented on #13250
@loevgaard For the scope of the discussion on cost, this is more similar to "inventory management" which is a function of a fulfillment center, not the online storefront.

Shopify gives a good explanation of this logic here: https://shopify.dev/api/admin-rest/2022-10/resources/inventorylevel

A product sold on a Sylius store could be fulfilled from one or more locations, and the cost per unit may